:root {
  --primaryColorRegular: #FF6000;
  --primaryColor300: #fa733d;
  --primaryColor400: #f6682d;
  --primaryColor500: #c93b02;
  --primaryColor600: #b43503;
  --seondaryColorRegular: #293a4a;
  --seondaryColor400: #273f61;
  --seondaryColor500: #0e1a2b;
  --thirdColorRegular: #FFDF95;
  --thirdColor400: #FFFBEC;
  --thirdColor500: #fad57f;
  --fourthColorRegular: #95E259;
  --fourthColor400: #9fec63;
  --fourthColor300: #a9ea76;
  --fourthColor500: #73ba3c;
  --signalColorErrorHigh: #F46565;
  --signalColorErrorHighLower: #fd9595;
  --signalColorErrorHighLowest: #fadbdb;
  --signalColorErrorMedium: #fdcb6e;
  --signalColorErrorMediumLower: #faefd9;
  --signalColorErrorLow: #2ecc71;
  --signalColorErrorLowLower: #74eaa6;
  --signalColorErrorLowLowest: #e0faec;
  --signalColorErrorNote: #f6e577;
  --navBarPrimaryBackground: #293a4a;
  --navBarSecondaryBackground: #262D37;
  --navBarPrimaryText: #b5bac2;
  --navBarPrimaryAccent: #262D37;
  --navBarPrimaryHighlight: #454545;
  --navBarSecondaryText: #aeb1bb;
  --navBarSecondaryAccent: #FF6000;
  --navBarSecondaryAccentText: #fcefeb;
  --navBarSecondaryLink: #baaeaa;
  --navBarSecondaryHover: #f8f3f2;
  --navBarSecondaryGroupHeader: #fff;
  --navBarSecondaryScoreText: #366FA3;
  --navBarSecondaryScoreTextHighlight: #fff;
  --navBarSecondaryBaseScoreBackground: #1f232e;
  --navBarIncidentText: #afb9c1;
  --navBarSeperator: #12151c;
  --checkProgressBackground: #293a4a;
  --checkProgressText: #fff;
  --loginTopBackground: #fff;
}
