:root {
  --primaryColorRegular: #03447e;
  --primaryColor300: #28aade;
  --primaryColor400: #37588a;
  --primaryColor500: #294571;
  --primaryColor600: #021940;
  --secondaryColorRegular: #17AE59;
  --secondaryColor400: #1cd46c;
  --secondaryColor500: #108142;
  --thirdColorRegular: #FFDF95;
  --thirdColor400: #FFFBEC;
  --thirdColor500: #fad57f;
  --fourthColorRegular: #F1C40F;
  --fourthColor400: #fcda60;
  --fourthColor300: #fae8ac;
  --fourthColor500: #926f04;
  --signalColorErrorHigh: #DC3545;
  --signalColorErrorHighLower: #fd9595;
  --signalColorErrorHighLowest: #fadbdb;
  --signalColorErrorMedium: #F4C63D;
  --signalColorErrorMediumLower: #faefd9;
  --signalColorErrorLow: #75D581;
  --signalColorErrorLowLower: #74eaa6;
  --signalColorErrorLowLowest: #e0faec;
  --signalColorErrorNote: #f6e577;
  --navBarPrimaryBackground: #303643;
  --navBarSecondaryBackground: #262D37;
  --navBarPrimaryText: #9ca3af;
  --navBarPrimaryAccent: #262d37;
  --navBarPrimaryHighlight: #9ca3af;
  --navBarSecondaryText: #9ca3af;
  --navBarSecondaryAccent: #004f8d;
  --navBarSecondaryAccentText: #dff1fd;
  --navBarSecondaryLink: #687584;
  --navBarSecondaryHover: #d1d5db;
  --navBarSecondaryGroupHeader: #fff;
  --navBarSecondaryScoreText: #366FA3;
  --navBarSecondaryScoreTextHighlight: #fff;
  --navBarSecondaryBaseScoreBackground: #1f232e;
  --navBarIncidentText: #fff;
  --navBarSeperator: #12151c;
  --checkProgressBackground: #1f232e;
  --checkProgressText: #fff;
  --loginTopBackground: #fff;
}
