.topFrameWrapper {
    font-size: 13px;
}

.license-information {
    margin: 0 0.769em;
}

ul.navigationLinks li a img.logo {
    height: 28px;
}

.secure img {
    vertical-align: baseline;
}

.content-wrapper {
    padding-right: 5px;
    padding-top: 20px;
}

.checkout-step-inner {
    position: relative;
    opacity: 0.5;
    border: 1px solid #333;
    font-size: 12px;
    min-height: 180px;
    text-align: center;
    padding-top: 28px;
}

.checkout-step-inner {
    padding-top: 28px;
}

.checkout-step-pending-icon,
.checkout-step-success-icon {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

html[dir="rtl"] .checkout-step-pending-icon,
html[dir="rtl"] .checkout-step-success-icon {
    left: 5px;
    right: auto;
}

.checkout-step-current:not(.checkout-step-completed)
    .checkout-step-pending-icon {
    display: inline-block;
}

.checkout-step-icon {
    text-align: center;
    margin-bottom: 5px;
}

.checkout-step-inner > .content-wrapper {
    padding: 8px 8px 0 8px;
}

.checkout-step-current .checkout-step-inner {
    opacity: 1;
    border-width: 2px;
    border-color: #000000;
}

.checkout-step-completed .checkout-step-inner {
    opacity: 1;
    border-color: #27ae60;
    background-color: #dff2d5;
}

.checkout-step-completed .checkout-step-success-icon {
    display: inline-block;
}

.checkout-provider {
    margin-bottom: 15px;
}

.checkout-provider-header-row {
    margin-bottom: 15px;
}

.checkout-provider-header-row > .content-wrapper {
    padding: 5px 0;
}

.checkout-provider-header-row .checkout-provider-header {
    margin: 0;
}

.cutoff_with_ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
