[%
    IF NOTICE.suspicious_user;
        CPANEL.locale.maketext('[_1] has a uid 0 account', NOTICE.suspicious_user );
    ELSE;
        CPANEL.locale.maketext('Possible root compromise detected' );
    END;
%]
