[%#
Variables passed in:

origin   - The system component from which the notification was requested.
service  - The name of the service that was updated
template - The file name of the local template.
errors   - Array of any encountered errors.

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates
-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";
    PROCESS "include/zebra_table.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';
    NOTICE.email_reason = CPANEL.locale.maketext('The system updated the “[_1]” service configuration on “[_2]”.' , NOTICE.service, NOTICE.host_server);
    err_table_title = CPANEL.locale.maketext('Local Configuration Template Errors');

    template_block_title = CPANEL.locale.maketext('Local Template Location');

    IF NOTICE.template.search('broken') || NOTICE.template.search('invalid');
        template_block_title = CPANEL.locale.maketext('The local configuration has been moved to a temporary file.');
    END;
%]

<p>[% CPANEL.locale.maketext('The system detected a local configuration template during the [_1] service’s update.', NOTICE.service.html) %]</p>
<p>[% CPANEL.locale.maketext('Check the local configuration template’s custom changes to confirm that they still work with the updated [_1] service.', NOTICE.service) %]</p>
[% IF NOTICE.errors.size %]
<p style="padding:10px;">
[% zebra_table(titles=err_table_title, items=NOTICE.errors) %]
</p>
[% END %]
<p style="padding:10px;">
[% zebra_table(items=NOTICE.template, titles=template_block_title) %]
</p>
[% END %]
