[%
  CPANEL.locale.maketext('The [output,abbr,SSL,Secure Sockets Layer] certificate for “[_1]” on “[_2]” expired.', NOTICE.service, NOTICE.hostname) _ " " _ CPANEL.locale.maketext('The system installed a new self-signed certificate to replace the expired certificate.');
%]
