[%-

  PROCESS "include/icons.tmpl";

-%][% MACRO blacklist_whitelist_table BLOCK %]
    <p style="padding-top: 10px">
    </p>
    [% IF blacklist_ips %]
        <table>
            <thead>
                <tr>
                    <th align="left">
                        [% get_icon(icon='blacklist') %]
                        [% CPANEL.locale.maketext('Use the following links to add the appropriate entry to the blacklist:') %]
                    </th>
                </tr>
            </thead>
            <tbody>
                [% FOREACH item IN blacklist_ips %]
                    <tr>
                        <td>
                            [% item.range %]: <a href="[% item.href %]">[% item.href %]</a>
                        </td>
                    </tr>
                [% END %]
            </tbody>
        </table>
    [% END %]
    [% IF whitelist_ips %]
        <table>
            <thead>
                <tr>
                    <th align="left">
                        [% get_icon(icon='whitelist') %]
                        [% CPANEL.locale.maketext('Use the following links to add the appropriate entry to the whitelist:') %]
                    </th>
                </tr>
            </thead>
            <tbody>
                [% FOREACH item IN whitelist_ips %]
                    <tr>
                        <td>
                            [% item.range %]: <a href="[% item.href %]">[% item.href %]</a>
                        </td>
                    </tr>
                [% END %]
            </tbody>
        </table>
    [% END %]
[% END %]
