[% MACRO code_inline BLOCK %]
    [% IF term %]
        <span style="font-size: 11px; font-family: [% mono_font_family %]; white-space: pre-wrap; white-space: -moz-pre-wrap !important; white-space: -pre-wrap; white-space: -o-pre-wrap; overflow-x: auto; word-wrap: break-word; word-break: break-all;">[% term FILTER html %]</span>
    [% END %]
[% END %]

[% MACRO code_inline_formatted BLOCK %]
    [% IF term %]
        <span style="font-size: 11px; font-family: [% mono_font_family %]; overflow-x: auto; word-wrap: break-word; word-break: break-all;">[% term %]</span>
    [% END %]
[% END %]
