[% MACRO code_standout BLOCK %]
    [%  IF !content_width %]
        [% SET code_standout_width = 600; %]
    [%  ELSIF in_list %]
        [% SET code_standout_width = content_width - 60; %]
    [% ELSE %]
        [% SET code_standout_width = content_width - 20; %]
    [% END %]
    [% IF command %]
        <table style="margin: 5px 10px; padding:0;" width="[% code_standout_width %]px" cellpadding="0" cellspacing="0" >
            <tr>
                <td style="background:[% light_gray %];font-family:[% mono_font_family %]; padding: 5px 10px 5px 10px; word-wrap: break-word; word-break: break-all;" align="left">
                    [% command %]
                </td>
            </tr>
        </table>
    [% END %]
[% END %]
