[% MACRO progress_bar BLOCK %]
    [% IF percent_full %]
    <table style="border: 2px solid [% cpanel_dark_blue_gray %]; margin: 1px; padding:0;" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="background-color: [% cpanel_orange %]; color: white;" align="center" width="[% percent_full %]%">
                [% percent_full %]%
            </td>
            <td style="background-color: [% white %];" width="[% 100 - percent_full %]%">
            </td>
        </tr>
    </table>
   [% END %]
[% END %]
