[%
    #REQUIRES USING Cpanel::iContact::Utils (); IN THE ASSOCIATED CALL
%]

[%
    PROCESS 'include/system_info_views.html.tmpl';
    PROCESS 'include/code_inline.tmpl';
    PROCESS 'include/icons.tmpl';
-%]

[% MACRO service_info_rows BLOCK %]
        [% IF NOTICE.notification_type %]
            [% system_info_table_zebra = !system_info_table_zebra %]
            <tr style="background-color:[% system_info_table_zebra? light_gray : white %]">
                <th align="left">[% CPANEL.locale.maketext('Notification Type') %]</th>
                <td>
                    [% NOTICE.notification_type %]
                    [% get_icon(icon=NOTICE.notification_type) %]
                </td>
            </tr>
        [% END %]
        [% system_info_table_zebra = !system_info_table_zebra %]
        <tr style="background-color:[% system_info_table_zebra? light_gray : white %]">
            <th align="left">[% CPANEL.locale.maketext('Server'); %]</th>
            <td>[% NOTICE.host_server %]</td>
        </tr>
        [% system_info_table_zebra = !system_info_table_zebra %]
        <tr style="background-color:[% system_info_table_zebra? light_gray : white %]">
            <th align="left">[% CPANEL.locale.maketext('Primary IP Address'); %]</th>
            <td>[% NOTICE.mainip %]</td>
        </tr>
        [% IF NOTICE.service_name %]
            [% system_info_table_zebra = !system_info_table_zebra %]
            <tr style="background-color:[% system_info_table_zebra? light_gray : white %]">
                <th align="left">[% CPANEL.locale.maketext('Service') %]</th>
                <td>[% NOTICE.service_name %]</td>
            </tr>
        [% END %]
        [% IF NOTICE.service_status %]
            [% system_info_table_zebra = !system_info_table_zebra %]
            <tr style="background-color:[% system_info_table_zebra? light_gray : white %]">
                <th align="left">[% CPANEL.locale.maketext('Service Status') %]</th>
                <td>[% NOTICE.service_status %]</td>
            </tr>
        [% END %]
[% END %]

