[%
    DEFAULT
        font_family         = "'Helvetica Neue',Helvetica,Arial,sans-serif",
        mono_font_family    = "'Courier New', Courier, monospace",
        total_width         = 680, # length needed for Iostat to fit
        left_padding        = 15,
        right_padding       = 15,
        content_width       = total_width - left_padding - right_padding;
%]
