[%
    #REQUIRES USING Cpanel::iContact::Utils (); IN THE ASSOCIATED CALL
%]

[%
    PROCESS 'include/system_info_rows.tmpl';
    PROCESS 'include/service_info_rows.tmpl';
-%]

[% MACRO system_info_table BLOCK %]
    [% SET system_info_table_zebra = 0; %]
    <table style="
        margin: 5px 10px;
        border: 2px solid [% medium_gray %];
        padding: 0;"
        cellpadding="5" cellspacing="0"
        width="[% content_width - 20 %]px">
        <tbody>
           [% service_info_rows() %]
           [% system_info_rows() %]
        </tbody>
    </table>
[% END %]

