[%

VIEW split_time_view;
    BLOCK text;
        SET time_split = CPANEL.split_time_dhms(item);
        SET uptime_list = [];

        IF time_split.0;
            uptime_list.push(
                CPANEL.locale.maketext('[quant,_1,day,days]', time_split.0),
            );
        END;

        IF time_split.1;
            uptime_list.push(
                CPANEL.locale.maketext('[quant,_1,hour,hours]', time_split.1),
            );
        END;

        IF time_split.2;
            uptime_list.push(
                CPANEL.locale.maketext('[quant,_1,minute,minutes]', time_split.2),
            );
        END;

        IF time_split.3;
            uptime_list.push(
                CPANEL.locale.maketext('[quant,_1,second,seconds]', time_split.3)
            );
        END;

        CPANEL.locale.list_and(uptime_list);
    END;
END;

-%]
