[%#
Variables passed in:

origin               - the system component from which the password change request originated
confirmation_code    - confirmation code by which to reset your password
ip_address           - the IP address from which the password change request originated
sent_to_root         - A default boolean flag sent to all templates that indicates if the message was sent to 'root'

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl'
        font_style          = font_style,
        NOTICE.email_reason = CPANEL.locale.maketext('Reset Password');
%]

<p>
    <p>[% CPANEL.locale.maketext('Your password reset security code is:') %]</p>
    <p style="border:1px solid #33333;margin:8px;padding:4px;[% font_style %];font-size:16px;width:250px;font-weight:bold">[% NOTICE.confirmation_code -%]</p>
    <p>[% CPANEL.locale.maketext('Someone recently requested to reset your account password for “[_1]”. Enter the above code into the “[_2]” field in your browser to complete the password reset.', NOTICE.user, CPANEL.locale.maketext('Security Code')) %]</p>
</p>

<p>
    [% CPANEL.locale.maketext('[output,strong,Note]: For your protection, the server sent this email to all of the contact email addresses that you associated with your account.') %]&nbsp;[% CPANEL.locale.maketext('If you did not initiate this request, contact your system administrator.') %]
</p>

[% END %]
