[%-
    IF NOTICE.status == 'aborted';
        CPANEL.locale.maketext('cPanel [output,amp] WHM update aborted');
    ELSE;
        CPANEL.locale.maketext('cPanel [output,amp] WHM update terminated');
    END;
-%]