<h1>[% locale.maketext('Change Password') %]</h1>
<div class="highlight"><p>
    [% result.changepw %]
    </p>
</div>

<div>
    [% IF result.changed %]
    <form action="/logout/" method="GET" target="_top">
        <button type="submit" class="btn-primary">Log In Again</button>
    </form>
    [% ELSE %]
    <form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="POST" target="_top">
        <input type="submit" value="Continue &gt;&gt;" class="input-button">
    </form>
    [% END %]
</div>
<div id="clearit" style="clear:both;">&nbsp;</div>
