@import (reference) "bootstrap/source/less/variables.less";

.provider-label-icon,
.provider-link-icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
    border: 1px solid #fff;
}

.provider-link-icon {
    width: 25px;
    height: 25px;
    margin: 3px 10px 3px 0;
}

.provider-label-icon,
.provider-link-icon-large {
    width: 35px;
    height: 35px;
    margin: 3px;
}

.checkColumn {
    width: 80px;
    text-align: left;
}

td.checkColumn input[type="checkbox"] {
    margin-left: 12px;
}

.authIconColumn {
    width: 40px;
}

.provider-not-configured-message {
    font-style: italic;
    color: red;
}

.client-configurations-block {
    margin-top: 8px;
    margin-left: 20px;
    border: 1px solid #000;
    padding: 8px;
}

textarea.redirect-uris-textarea {
    height: 6em;
}

.table > thead > tr > th.unlink-th {
    padding-left: 12px;
}

.modal-header {
    background-color: #333333;
    color: #ffffff;
    font-weight: 400;
    height: 40px;
    padding: 10px;
}
.modal-header h4 {
    margin: 0;
    padding: 0;
}
.modal-footer {
    height: 50px;
    padding: 12px;
}
.modal-dialog {
    max-width: 500px;
}
.modal-body {
    padding: 10px;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.external-auth-tab-nav {
    margin-bottom: 25px;
}

.view-disabled {
    opacity: 0.6;
    pointer-events: none;
}

.external-auth-btn {
    width: auto;
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
}

.external-auth-btn {
    width: 100%;
    margin-left: 0;
}

.external-auth-btn .external-auth-btn-label {
    display: inline-block;
}

.external-auth-icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 5px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: middle;
}

.external-auth-btn,
.external-auth-btn .external-auth-link {
    display: inline-block;
    pointer-events: none;
}

.external-auth-btn .external-auth-link {
    background-color: #179bd7;
    width: 100%;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    padding: 3px;
    border-radius: 4px;
}

.form-submit-section {
    margin-top: 15px;
}

.config-login-button-block {
    margin-top: 15px;
}

.button-config-fields {
    padding-top: 15px;
    padding-bottom: 15px;
}

.config-login-button-block {
    border-right: 1px solid #999;
}

.config-login-button-block:last-child {
    border-right: none;
}

.tab-edit-icon {
    padding-top: 10px;
    font-weight: bold;
}

.tab-block {
    padding: 5px;
    border-color: #999;
    border-style: solid;
    border-width: 1px 0 1px 0;
}

.whostmgrd-tab-block {
    background-color: #293a4a;
    color: #fff;
}

.webmaild-tab-block {
    background-color: #fff;
}

.cpaneld-tab-block {
    background-color: #f0eff0;
}

@media (max-width: 992px) {
    .tab-block {
        border: none;
    }
    .config-login-button-block {
        border-right: none;
    }
}
