@import (reference) "../libraries/bootstrap/source/less/variables.less";
@import "../css/ux-styles.less";

.label a,
.label a:active,
.label a:hover {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

.gear_column {
    text-align: right;
}

.gear_menu {
    text-align: left;
}

.checkbox label.text-muted {
    font-style: italic;
}

.fixed-width-table {
    table-layout: fixed;
}

.cutoff_with_ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.bottom-search-btn {
    vertical-align: top;
    margin: 0;
    box-shadow: none;
}

.table-link {
    display: inline-block;
    vertical-align: middle;
    padding-top: @padding-base-vertical;
    padding-right: @padding-base-horizontal;
    padding-bottom: @padding-base-vertical;
    padding-left: 0;
}

.table-controls-row {
    margin-bottom: 10px;
}

.animate-show-hide {
    position: relative;
    top: 0;

    &.ng-enter {
        transition: 0.25s linear all;
        opacity: 0;

        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        display: none;
    }
}

.animate-show-hide-slide {
    left: 0;

    &.ng-enter {
        left: -25vw;
        &.ng-enter-active {
            left: 0;
        }
    }

    &.ng-leave {
        left: 0;

        &.ng-leave-active {
            left: -25vw;
        }
    }
}

.domain-suggestion-list-group {
    .list-group-item {
        padding: 0;
    }
}

.segmented-list {
    display: flex;

    input[type="radio"] {
        display: none;
    }

    .list-group-item {
        display: inline-block;
        flex: 1;
        margin-bottom: 0;
        margin-left: -4px;
        margin-right: 0;

        &:first-child {
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-left-radius: 0;
        }
    }

    .list-group-item[disabled="disabled"] {
        cursor: default;

        &:hover,
        &:focus {
            background-color: #fff;
        }

        .list-group-item-content {
            font-style: italic;
        }
    }
}

.domain-chosen-selector {
    width: 100%;
    vertical-align: middle;
}

.chosen-container {
    vertical-align: middle;
    margin-top: 4px;
    width: 100% !important;
}

.return-to-list-link {
    text-align: right;
}

.global-actions-row {
    text-align: left;
}

.domain-lister-view td a.btn:first-child {
    padding-left: 0;
}

@media (max-width: @screen-md-min) {
    .responsive-table table {
        display: table;
    }
    .responsive-table thead {
        display: table-header-group;
    }
    .responsive-table tbody {
        display: table-row-group;
    }
    .responsive-table td,
    .responsive-table th {
        display: table-cell;
    }
    .responsive-table tr {
        display: table-row;
    }
    .submit-form-group {
        text-align: center;
        button {
            margin-bottom: 4px;
        }
    }
    .return-to-list-link {
        text-align: center;
    }

    .global-actions-row {
        text-align: left;
    }

    .break-on-mobile {
        word-break: break-all;
        white-space: normal;
    }
}

@media (min-width: @screen-sm-min) {
    .action-column {
        white-space: normal !important;
    }
}

.gear_column {
    width: 40px;
}

html[dir="rtl"] {
    .gear_column {
        text-align: left;
    }

    .gear_menu {
        text-align: right;
        left: 0;
        right: auto;
    }

    .extraInfoSection {
        padding-right: 80px;
    }
}

.action-bar .form-control {
    display: inline-block;
    width: auto;
}

#domainItemLister_items_table_th_batchSelect,
table#domainItemLister_items_table > tbody > tr > td.batchSelectTd {
    width: 30px;
    flex: none;
}

.btn.url-link {
    text-transform: none;
    text-align: left;
}

.row-expand-container {
    display: inline-block;
}

.extraInfoSection {
    padding-left: 80px;

    dt {
        font-weight: 600;
    }

    dd {
        margin-top: 3px;
        margin-bottom: 15px;
    }
}
