/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.table-action-button-label:focus {
  background-color: #d4d4d4;color: #333333;
}
.table-action-button-label:hover {
  color: #333333;background-color: #d4d4d4;box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);border: 1px solid #bbbbbb;
}
.info-block {
  margin: 0 0 5px 0;
}
label {
  margin: 0 0 5px 0;
}
.help-block {
  margin-top: 3px;
  font-size: 13px;
}
.validation-container {
  margin-top: 5px;
}
a.list-group-item {
  color: #428bca;
  cursor: pointer;
}
.form-group {
  margin-bottom: 25px;
}
.toggle-switch-label {
  font-style: italic;
  font-weight: bold;
}
.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
input.ng-invalid.ng-dirty {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.widget {
  padding: 0 10px 10px 10px;
  border-top: 2px solid #474747;
  margin-bottom: 40px;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.widget li {
  margin-bottom: 12px;
  line-height: 1.5;
}
.form-section {
  margin: 50px 0;
}
.form-section-last {
  margin-bottom: 0;
}
h4.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
  /* #474747;*/
}
h2.widget-title {
  margin-top: 0;
  margin-bottom: 0;
}
.storage-details {
  margin-top: 5px;
}
.widget-title {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
html[dir="rtl"] .widget-title {
  text-align: right;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
/* We used to display button text in ALLCAPS, so some localized phrases
may be improperly formatted (since the styling made it unimportant to have
proper Title Case). This ensures that any such phrases will continue to
display correctly. */
.btn {
  text-transform: capitalize;
}
.table > thead > tr > th {
  border-top: 1px solid #323232 !important;
}
.action-bar {
  margin-bottom: 10px;
}
th {
  font-weight: normal;
}
.action-column {
  padding-right: 20px !important;
  width: auto;
}
@media (min-width: 601px) {
  .action-column {
    width: 1%;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .action-column {
    white-space: nowrap;
  }
}
html[dir="rtl"] .action-column {
  text-align: left;
  padding-left: 20px !important;
}
@media (min-width: 601px) {
  html[dir="rtl"] .action-column {
    padding-left: 0 !important;
  }
}
.progress {
  height: 10px;
  border: 1px solid #b1b1b1;
}
.icon-arrow-up:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  position: relative;
  bottom: 0;
  left: 0;
}
.icon-arrow-down:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: relative;
  top: 0;
  left: 0;
}
.table-action-button-label {
  background: #eee;
  border-radius: 2px;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  margin: 0;
  padding: 6px 12px;
  margin-right: 15px;
}
.table-action-button-label input[type="checkbox"] {
  margin: 0;
}
html[dir="rtl"] .table-action-button-label {
  margin-right: 0;
  margin-left: 15px;
}
.table-action-button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.table-action-button-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}
.table-action-checkbox-label {
  padding: 5px;
  margin: 0;
}
.row-expand-container {
  display: table-cell;
  width: 40px;
}
.account-name {
  display: table-cell;
}
.list-panel {
  padding: 8px;
  overflow: hidden;
}
html[dir="ltr"] .list-panel {
  padding-left: 80px;
}
html[dir="rtl"] .list-panel {
  padding-right: 80px;
}
.table > tbody > tr > td.expand-panel-data {
  padding: 0;
  border: 0;
}
.wordbreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  white-space: normal;
}
.collapse-text {
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}
.expand-panel .expand-actions {
  text-align: left;
}
html[dir="rtl"] .expand-panel .expand-actions {
  text-align: right;
}
.expand-panel .expand-details dt {
  font-weight: 600;
}
.expand-panel .expand-details dd {
  margin-top: 3px;
  margin-bottom: 15px;
}
.info-spacing {
  padding-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .expand-actions button {
    display: inline-block;
  }
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
  .responsive-table > tbody > tr,
  .responsive-table > tbody > tr > td {
    border: 0;
  }
  .responsive-table > tbody > tr:nth-child(2n + 2) {
    border-bottom: 1px solid #ccc;
  }
}
@media only screen and (max-width: 600px) {
  /* Overwrites master-ltr.cmb.min.css default table styles */
  .responsive-table > thead > tr {
    position: initial;
  }
  .responsive-table > tbody > tr > td:before {
    padding: 0;
  }
  .responsive-table > tbody > tr > td.expand-panel-data:before {
    content: none;
  }
  th.name-column {
    width: 100%;
  }
  .responsive-table tr {
    display: flex;
  }
  .responsive-table .data-row td:nth-child(2) {
    flex: 1 auto;
  }
  .responsive-table td:first-child {
    flex: 1 auto;
  }
}
/* Ensure this gets priority */
.table > tbody > tr > td.info,
.table > tbody > tr.info > td {
  background-color: #d7edf9 !important;
}
.table > tbody > tr > td.active,
.table > tbody > tr.active > td {
  background-color: #e0e0e0 !important;
  color: #323232;
}
/* "odd" rows */
.table-striped-child > tbody > tr:nth-child(4n + 1) > td,
.table-striped-child > tbody > tr:nth-child(4n + 2) > td,
.table-striped-child > tbody > tr:nth-child(4n + 1) > th,
.table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #f1f1f1;
}
/* "even" rows */
.table-striped-child > tbody > tr:nth-child(4n + 0) > td,
.table-striped-child > tbody > tr:nth-child(4n + 3) > td,
.table-striped-child > tbody > tr:nth-child(4n + 0) > th,
.table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #f8f8f8;
}
.radio-inline label {
  font-weight: normal;
}
.table-inline-label-container {
  display: table-cell;
}
.label-offset {
  margin-left: 10px;
}
html[dir="rtl"] .label-offset {
  margin-left: 0;
  margin-right: 10px;
}
.expand-actions {
  padding: 10px 0 5px 0;
}
.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
  box-shadow: none;
}
.table > tbody > tr > td.warning,
.table > tbody > tr.warning > td {
  background-color: #fcf8e1 !important;
}
.table > tbody > tr > td.danger,
.table > tbody > tr.danger > td {
  background-color: #f2dede !important;
}
/* Delete Warning Mode */
.delete-question-mark {
  font-size: 45px;
  color: #f1be38;
  font-weight: 700;
  position: relative;
  top: 0;
  padding-right: 10px;
}
html[dir="rtl"] .delete-question-mark {
  padding-right: 0;
  padding-left: 10px;
}
.list-panel .delete-question-mark {
  position: relative;
  top: -14px;
}
.delete-warning {
  padding-top: 20px;
}
.delete-message {
  font-weight: bold;
}
.delete-warning p {
  padding-top: 10px;
}
.display-table-cell {
  vertical-align: top;
  display: table-cell;
}
.display-table {
  display: table;
}
.box {
  margin-bottom: 20px;
}
.text-warning {
  color: #e9aa0b;
}
.callout-heading {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  text-transform: capitalize;
}
.text-small {
  font-size: 85%;
}
.text-uppercase {
  text-transform: uppercase;
}
.callout {
  margin: 15px 0 15px 0;
  padding: 15px;
}
.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  white-space: nowrap;
}
html[dir="ltr"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="rtl"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="ltr"] .details-table td.check-column {
  padding-right: 0;
  width: 33px;
}
html[dir="rtl"] .details-table td.check-column {
  padding-left: 0;
}
.widget-item-description {
  margin-top: 30px;
}
.form-link {
  padding: 10px 0 0 0;
  text-transform: capitalize;
}
a,
a:active,
a:hover,
a:focus {
  cursor: pointer;
}
.page-title-section {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.page-title {
  display: block;
  font-size: 30px;
  text-transform: capitalize;
}
.pageSizeButtons {
  display: flex;
}
.pagination a {
  text-decoration: none;
}
.pagination > .disabled a,
.pagination > .disabled a:hover,
.pagination > .disabled a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
  text-decoration: none;
}
.panel-danger > .panel-heading {
  background: transparent;
  border: none;
}
.panel {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}
.panel-secondary,
.panel-secondary > .panel-heading,
.panel-secondary > .panel-footer,
.panel-secondary > .panel-body {
  border-color: #ddd;
  background-color: #fafafa;
}
.panel-secondary > .panel-heading {
  background-color: none;
}
.panel-secondary .list-group-item {
  background-color: #fafafa;
}
.stats-upgrade-link {
  text-align: center;
}
.list-section {
  margin: 15px 0 15px 0;
}
/* breadcrumb styles */
.breadcrumb .breadcrumb-separator {
  padding: 0 5px;
}
@-webkit-keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
/**
# cpanel - base/sharedcss/zone_editor.less         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
#emailRoutingConfigLink {
  padding: 0;
}
.dropdown-menu-right,
html[dir="rtl"] .dropdown-menu-left {
  right: 0;
  left: auto;
}
.dropdown-menu-left,
html[dir="rtl"] .dropdown-menu-right {
  left: 0;
  right: auto;
}
.actionBtn {
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
html[dir="rtl"] .actionBtn {
  text-align: right;
}
.actionBtn:hover {
  background: #eee;
}
.actionBtn.disabled {
  color: #999999;
  border: none;
  cursor: not-allowed;
  background: none;
}
/* WHAT WILL FOLLOW IS NOT A RECOMMENDED
IMPLEMENTATION, BUT INTENDS TO TEMPORARILY
BRING CONSISTENCY TO THIS APP UNTIL WHM APPS
PROPERLY BRING IN ALL STYLES */
#actionButtonDropdown {
  margin-right: 10px;
}
#emailRoutingConfigLinkMobile {
  padding: 0;
}
.txtSeparator {
  margin: 10px 0;
}
#buttonDropdownMobile {
  margin-top: 10px;
}
.btn-default {
  color: #333;
  text-align: center;
  background: #eee;
  cursor: pointer;
  border: 1px solid #ccc;
}
.btn-outline-primary {
  background: transparent;
  box-shadow: none;
  border-radius: 2px;
  margin: 2px 5px 2px 5px;
  border: 1px solid #428bca;
  color: #428bca;
}
.btn-outline-danger {
  background: transparent;
  box-shadow: none;
  border-radius: 2px;
  margin: 2px 5px 2px 5px;
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:focus {
  border: 1px solid #d03f00;
  color: #fff;
  background-color: #d03f00;
  box-shadow: none;
}
.btn-outline-danger[disabled],
.btn-outline-danger[disabled]:focus,
.btn-outline-danger[disabled]:active,
.btn-outline-danger[disabled]:hover {
  background: transparent;
  box-shadow: none;
  border-radius: 2px;
  margin: 2px 5px 2px 5px;
  color: #dc3545;
  border-color: #dc3545;
  pointer-events: inherit;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border: 1px solid #2a6496;
  color: #ffffff;
  background-color: #2a6496;
  box-shadow: none;
}
.btn-outline-primary[disabled],
.btn-outline-primary[disabled]:focus,
.btn-outline-primary[disabled]:active,
.btn-outline-primary[disabled]:hover {
  pointer-events: inherit;
  box-shadow: none;
  border-color: #ddd;
  background-color: #fff;
  color: #999;
}
/* END OF SECTION */
.view-title {
  margin-top: 0;
}
.modal-header {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  text-overflow: ellipsis;
}
.modal-header h4 {
  margin: 0;
  padding: 0;
}
.modal-footer {
  padding: 10px;
}
html[dir="rtl"] .modal-footer {
  text-align: left;
}
html[dir="rtl"] .txt-editor-label {
  margin-left: 5px;
}
.inset-radio-label {
  margin-bottom: 0;
}
.inset-radio-group,
.non-inset-radio-group {
  font-weight: normal;
  margin-bottom: 10px;
}
.non-inset-radio-group {
  position: relative;
  top: 2px;
}
html[dir="rtl"] .inset-radio-group {
  margin-right: 12px;
}
html[dir="ltr"] .inset-radio-group {
  margin-left: 12px;
}
html[dir="ltr"] .txt-editor-label {
  margin-right: 5px;
}
.dmarc_optional_params_show {
  padding-left: 0;
  padding-right: 0;
}
.dmarc_custom_editor .tab-content .form-group {
  margin-bottom: 5px;
}
.dmarc_custom_editor .form-inline {
  margin-bottom: 5px;
}
.recordInlineEditor .tab-content {
  background-color: white;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  padding: 8px;
}
.modal-dialog {
  margin-top: 70px;
  max-width: 500px;
}
.modal-body {
  padding: 10px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.last-paragraph {
  margin-top: 25px;
  margin-bottom: 0;
}
.record-property-label {
  font-weight: 600;
}
.potentially-really-long-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}
.zone-record-col {
  max-width: 400px;
}
.table-striped > tbody > tr.inline-form td {
  vertical-align: top;
}
html[dir="rtl"] .table-striped > tbody > tr.inline-form td {
  padding-right: 5px;
}
html[dir="ltr"] .table-striped > tbody > tr.inline-form td {
  padding-left: 5px;
}
div.form-group.last {
  margin-bottom: 0;
}
html[dir="ltr"] #actionsHeader {
  padding-left: 22px;
}
html[dir="rtl"] #actionsHeader {
  padding-right: 22px;
}
th#nameHeader,
th#nameInlineEditor {
  width: 350px;
}
th#ttlHeader,
td#ttlInlineEditor {
  width: 130px;
}
th#recordHeader,
td#recordInlineEditor {
  width: 400px;
}
.class-display {
  position: relative;
  top: 7px;
}
html[dir="rtl"] #classDisplayField > .class-display {
  right: 3px;
}
html[dir="ltr"] #classDisplayField > .class-display {
  left: 3px;
}
.record_elements {
  display: table;
  width: 100%;
}
.record_element {
  display: table-row;
}
.record_subelement {
  display: table-cell;
}
div.block-view,
div.block-view > div.record_subelement {
  display: block;
}
div.block-view > div.subelement_label {
  width: auto;
}
div.record_subelement.subelement_label {
  width: 125px;
  vertical-align: middle;
  margin-bottom: 0;
}
div.record_subelement.subelement_label label {
  margin-bottom: 0;
}
div.record_subelement.subelement_input {
  width: 325px;
}
.record_txt_data {
  width: 100%;
  height: 100%;
}
.mfei-content {
  width: 100%;
}
li.disabled a {
  color: #aaaaaa;
}
html[dir="ltr"] .record_manipulation_buttons {
  padding-left: 22px;
}
html[dir="rtl"] .record_manipulation_buttons {
  padding-right: 22px;
}
html[dir="ltr"] .add-record-btn span.fas.fa-plus {
  padding-right: 5px;
}
html[dir="rtl"] .add-record-btn span.fas.fa-plus {
  padding-left: 5px;
}
html[dir="rtl"] .text-right.flip {
  text-align: left;
}
html[dir="rtl"] .text-left.flip {
  text-align: right;
}
html[dir="rtl"] .pull-right {
  float: left !important;
}
.btn-margin {
  margin-bottom: 20px;
}
.validation-row {
  min-height: 21px;
}
.table-form-label {
  display: none;
}
@media only screen and (max-width: 768px) {
  .zone-record-col {
    max-width: 100%;
  }
  .table-form-label {
    display: inline-block;
  }
  .class-display {
    display: block;
  }
  .record_elements {
    display: block;
  }
  .record_element {
    display: block;
  }
  .inner_record {
    padding-top: 8px;
  }
  .first_inner_record {
    padding-top: 0;
  }
  .record_subelement,
  div.block-view,
  div.block-view > div.record_subelement {
    display: block;
  }
  div.record_subelement.subelement_label {
    width: 100%;
    vertical-align: middle;
    margin-bottom: 0;
  }
  div.record_subelement.subelement_label label {
    margin-bottom: 5px;
  }
  div.record_subelement.subelement_input {
    width: 100%;
  }
  th#nameInlineEditor {
    width: 100%;
  }
  td#ttlInlineEditor {
    width: 100%;
  }
  td#recordInlineEditor {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .table > tbody > tr.info > td {
    box-shadow: inset 2px 0 #2980b9;
  }
  html[dir="rtl"] .table > tbody > tr.info > td {
    box-shadow: inset -2px 0 #2980b9;
  }
  .responsive-table > tbody > tr > td {
    border-bottom: 0;
  }
}
.btn-group.dropdown {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.loading-error-pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* ------------------------------------------------------------------------------ */
/* DNSSEC view styles
/* ------------------------------------------------------------------------------ */
.digest-list-item {
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}
.action-column {
  text-align: right;
}
html[dir="rtl"] .action-column {
  text-align: left;
}
.dnssec-table-cell-warning-icon {
  padding-left: 4px;
  padding-right: 4px;
}
@media only screen and (max-width: 600px) {
  /* Re-apply the default table styles for the non-dnssec views */
  .domain-selection-view .responsive-table > thead > tr,
  .manage-view .responsive-table > thead > tr {
    display: none;
  }
  .domain-selection-view .responsive-table > tbody > tr,
  .manage-view .responsive-table > tbody > tr {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
  }
  .domain-selection-view .responsive-table > thead > tr,
  .manage-view .responsive-table > thead > tr {
    position: static;
  }
  .domain-selection-view .responsive-table > tbody > tr > td:before,
  .manage-view .responsive-table > tbody > tr > td:before {
    padding-bottom: 5px;
  }
  .domain-selection-view .responsive-table tr,
  .manage-view .responsive-table tr {
    display: block;
  }
  .domain-selection-view .responsive-table .data-row td:nth-child(2),
  .manage-view .responsive-table .data-row td:nth-child(2) {
    flex: unset;
  }
  .domain-selection-view .responsive-table td:first-child,
  .manage-view .responsive-table td:first-child {
    flex: unset;
  }
}
