[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";
    PROCESS "include/code_block.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';
        NOTICE.email_reason = CPANEL.locale.maketext('Action required to continue using calendars on account “[_1]”.', NOTICE.account);
%]

<p>[% CPANEL.locale.maketext('To continue using calendars on the account “[_1]”, you will need to reconfigure any calendar client(s) you have already connected to the server.', NOTICE.account); %]</p>
<p>[% CPANEL.locale.maketext('In your calendar or contacts client, remove the account, then re-add it. This will allow your previous calendar data to appear. [output,url,_1,Read more,target,_blank]', 'https://go.cpanel.net/reconfigureCalendarClients' ); %]</p>

[%
    END;
%]
