/*
# cpanel - base/webmail/jupiter/mail/spam/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/* Allows a disabled element to “receive” a click. */
.disabled-receive-click[disabled] {
    pointer-events: none;
}

.main-page-form {
    display: inline-block;
}

.main-page-form-content {
    display: inline-block;
    padding: 1em;
}

#spam_score_input {
    width: 3em;
}

.form-group:last-child {
    margin-bottom: 0;
}

.code {
    font-family: monospace;
}
