[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';

    NOTICE.email_reason = CPANEL.locale.maketext('Quotas were detected as non-functional and could not be repaired automatically.');

%]
<p>
    [% CPANEL.locale.maketext("The system was unable to find or install the kernel modules needed to support disk quotas."); %]
</p>
<p>
    [% CPANEL.locale.maketext('The top right corner of the [asis,WHM] interface will display a message until you resolve the issue.'); %]
</p>
<p>
    [% CPANEL.locale.maketext('For more information, read our [output,url,_1,documentation].', 'https://go.cpanel.net/fixquotas'); %]
</p>
[% END %]
