[%-
    IF NOTICE.status == 'full';
        CPANEL.locale.maketext('Disk Usage Warning: The user “[_1]” ([_2]) has reached their disk quota.', NOTICE.user, NOTICE.user_domain);
    ELSIF NOTICE.status == 'critical';
        CPANEL.locale.maketext('Disk Usage Warning: The user “[_1]” ([_2]) has nearly reached their disk quota.', NOTICE.user, NOTICE.user_domain);
    ELSE;
        CPANEL.locale.maketext('Disk Usage Warning: The user “[_1]” ([_2]) has almost reached their disk quota.', NOTICE.user, NOTICE.user_domain);
    END;
-%]
