[%-
    IF NOTICE.status == 'full';
        CPANEL.locale.maketext('WARNING: The “[_1]” email account is full.', NOTICE.box);
    ELSIF NOTICE.status == 'critical';
        CPANEL.locale.maketext('WARNING: The “[_1]” email account is nearly full.', NOTICE.box);
    ELSE;
        CPANEL.locale.maketext('WARNING: The “[_1]” email account is almost full.', NOTICE.box);
    END;
-%]
