/*
# cpanel - base/frontend/jupiter/stats/bandwidth.less
                                                   Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.success .progress-bar {
  background-color: #5cb85c;
}
.info .progress-bar {
  background-color: #5bc0de;
}
.warning .progress-bar {
  background-color: #f0ad4e;
}
.danger .progress-bar {
  background-color: #d9534f;
}
.progress {
  height: 4px;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  background: #c8c8c8;
}
@media (min-width: 576px) {
  .progress {
    width: 50%;
  }
}
.section table {
  width: 95%;
}
.bandwidth-section {
  margin-bottom: 10px;
}
