[%#
Variables passed in:

origin              - The system component from which the action originated
host_server         - This server's hostname
failure_message     - Message passed describing failure
update_version      - The version of cPanel the system attempted to change to

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%
    WRAPPER 'wrapper/main.html.tmpl';

    NOTICE.email_reason = CPANEL.locale.maketext('[asis,cPanel] [output,amp] [asis,WHM] failed to update server software.');
%]

<p>
    [% CPANEL.locale.maketext('The system failed to update the server software to the latest versions.') %]
</p>
<p>
    [% CPANEL.locale.maketext('For more information about this error and guidance on how to resolve the error, go to [output,url,_1,_1,_2].', 'https://go.cpanel.net/sysupfailed','_blank') %]
</p>

[% END %]
