  </array>
  <key>PayloadDescription</key>
  <string>%displayname%</string>
  <key>PayloadDisplayName</key>
  <string>%displayname%</string>
  <key>PayloadIdentifier</key>
  <string>cpanel.mail.org.%emailid%-%service%</string>
  <key>PayloadOrganization</key>
  <string>cpanel.mail.org.%emailid%</string>
  <key>PayloadRemovalDisallowed</key>
  <false/>
  <key>PayloadType</key>
  <string>Configuration</string>
  <key>PayloadUUID</key>
  <string>%org_uuid%</string>
  <key>PayloadVersion</key>
  <integer>1</integer>
</dict>
</plist>
