    <dict>
        <key>CardDAVAccountDescription</key>
        <string>%displayname%</string>
        <key>CardDAVHostName</key>
        <string>%inc_host%:%dav_port%</string>
        <key>CardDAVUseSSL</key>
        <%usessl_true_false%/>
        <key>CardDAVUsername</key>
        <string>%acct%</string>
        <key>PayloadDescription</key>
        <string>%displayname%</string>
        <key>PayloadDisplayName</key>
        <string>CardDAV</string>
        <key>PayloadIdentifier</key>
        <string>cpanel.mail.org.%emailid%</string>
        <key>PayloadOrganization</key>
        <string>%organization%</string>
        <key>PayloadType</key>
        <string>com.apple.carddav.account</string>
        <key>PayloadUUID</key>
        <string>%carddav_uuid%</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
    </dict>
