/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/accounts/createacct.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited

 */
.viewable {
  background-color: #ff6666;
}
.creatable {
  background-color: #66ff66;
}
#accountLimits {
  width: 600px;
  background-color: #fcf8e1;
}
.form {
  margin-bottom: 20px;
}
.form_action {
  width: 550px;
}
label {
  overflow-wrap: anywhere;
  cursor: pointer;
}
.align_right {
  text-align: right;
}
.tableWrapper {
  display: table;
}
.rowWrapper {
  display: table-row;
}
.cellWrapper {
  display: table-cell;
  vertical-align: middle;
}
.cjt_validation_error {
  margin-left: 5px;
  margin-right: 5px;
}
#nsTitle {
  display: table-cell;
  font-weight: bold;
  padding-right: 10px;
}
#nstouse {
  display: table-cell;
}
.resource-text {
  margin-right: 10px;
}
.createacct__w-100 {
  width: 100%;
}
ul.mxcheck_autolist {
  list-style-type: disc;
  margin-top: 0;
}
.mxcheck_autolist li {
  padding: 3px 0;
}
ul.mx_list {
  margin: 0 5px 15px;
  padding: 0;
}
ul.mx_list li {
  list-style: disc;
  padding: 0;
  margin: 3px 0 0 10px;
}
#mx_input_table_and_table label {
  font-size: 11px;
}
.label_wraps {
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.highlight-accordian-desc {
  padding-top: 5px;
}
#zone_template_controlled {
  display: none;
}
#spf_label.disabled + * + #zone_template_controlled {
  display: inline;
}
#spf_label.disabled {
  font-style: italic;
  color: graytext;
}
#spf_label.disabled + #default_spf {
  display: none;
}
#default_spf_string,
#zone_template_spf_string {
  font-family: monospace;
}
#digestauth-info {
  margin-top: 2px;
  text-align: center;
  cursor: help;
}
#password {
  float: left;
}
#password_strength {
  width: 150px;
  height: 20px;
  border: 1px solid black;
  float: left;
}
#pwStrengthContainer {
  display: table-row;
  border: 1px dotted blue;
}
#pwStrengthWidget {
  display: table-cell;
  vertical-align: middle;
}
#pwStrengthButton {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}
.tracePackage {
  padding-left: 5px;
}
.alert-message a.btn {
  text-decoration: none;
}
fieldset,
#accountLimits {
  padding: 10px 15px 5px;
}
fieldset.groupEditor {
  width: 100%;
}
.billing-solutions-notice {
  width: 600px;
}
.header-new-account div {
  display: inline-block;
}
.header-new-account form {
  float: right;
  margin: 0.5em 0;
}
.header-new-account .btn-submit {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header-new-account .btn-submit:hover {
  background-color: #3276b1;
  border-color: #285e8e;
}
.header-new-account hr {
  clear: both;
}
@media (max-width: 768px) {
  .header-new-account form {
    float: none;
    display: block;
    margin: 0 0 1em 0;
  }
}
label.disabled {
  color: #aaaaaa;
  cursor: not-allowed;
}
.link-server-node-callout p {
  margin-bottom: 0;
}
#noChildNodesInfoBlock {
  margin-top: 0;
}
.createacct__d-block {
  display: block;
}
.callout-breakword {
  overflow-wrap: break-word;
}
.externalLink:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
  display: inline-block;
  padding: 0 3px 0 3px;
}
