/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/accounts/listaccts.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/*-----------------------------------------------*/
/* http://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group {
  zoom: 1;
}
/* IE6 */
*:first-child + html .group {
  zoom: 1;
}
/* IE7 */
/*-----------------------------------------------*/
.yui-skin-sam #listaccts .yui-dt-liner a {
  padding: 0;
}
.yui-skin-sam #listaccts .yui-dt-liner {
  padding: 4px 15px 4px 0px;
}
.yui-skin-sam #listaccts {
  width: 1268px;
}
#acctlistblk {
  clear: both;
  padding: 0;
  padding-right: 20px;
  display: inline-block;
}
.pager-section {
  clear: both;
}
.pager-section-top {
  margin-top: 16px;
  margin-bottom: 4px;
  width: 1268px;
}
.pager-section-bottom {
  margin-top: 4px;
  margin-bottom: 16px;
  width: 1268px;
}
label.disabled {
  color: #ccc;
}
.editor-closer {
  float: right;
  padding-top: 2px;
  padding-right: 6px;
}
#page-size-selector {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  float: left;
}
#page-size-selector form input[type="text"] {
  line-height: normal;
}
.pgnum {
  width: 12px;
  float: left;
}
.pgitem {
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
}
.pgsel-disabled {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  margin-bottom: 2px;
  color: #ccc;
}
.pgsel {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  margin-bottom: 2px;
}
.pgaction {
  padding-left: 5px;
  padding-right: 5px;
}
.pgelipse {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #fff;
  float: left;
  margin-bottom: 2px;
}
.pgsel:hover {
  border-color: #2e6ab1;
}
.pgselected {
  border: 1px #000 dotted;
  background: #4c7edf;
  color: #ffffff;
}
.pgselected a,
.pgselected span {
  color: #ffffff;
}
tr.suspended {
  background-color: #f4c6cb;
}
tr.clicked {
  background-color: #ddf;
}
.activerow {
  background-color: #d9ffd9;
}
.exptxtbox {
  min-width: 160px;
  float: left;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 11px;
  padding-right: 5px;
}
/*------------------------------------------------------------------------*/
/* TODO: Should not have to do this here, should be in common style sheet. */
/*------------------------------------------------------------------------*/
table.sortable tr {
  border: 0;
}
table.sortable td {
  border-bottom: 1px solid #ccc;
}
/*------------------------------------------------------------------------*/
.controls {
  margin-right: 10px;
  margin-left: 10px;
  width: 0 auto;
  margin-top: 4px;
  float: right;
}
div.controls-bottom {
  margin-top: 0px;
}
.stats {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 2px;
  vertical-align: middle;
  white-space: nowrap;
  float: left;
}
#listaccts th {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
}
#listaccts td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  vertical-align: middle;
}
#listaccts td.number {
  text-align: right;
}
#listaccts td.nowrap {
  white-space: nowrap;
}
#listaccts td.control-col {
  vertical-align: middle;
}
#listaccts td.editor {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
#listaccts td a {
  text-decoration: none;
}
#search-bottom,
#search-top {
  clear: both;
  margin-right: 20px;
  margin-top: 10px;
  border: 1px solid #bbb;
  background-color: #f2f2f2;
  width: 850px;
  padding: 10px 0;
}
.clear {
  clear: both;
}
.sortable td,
.datatable td {
  padding: 5px !important;
}
.info-legend {
  padding-left: 17px;
  padding-top: 10px;
}
.advanced-search-title {
  font-size: 13px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.top-group,
.bottom-group {
  width: 1250px;
  padding-bottom: 10px;
}
#listaccts td.editor-cell {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f4f4f4;
  -webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 -2px 2px rgba(0, 0, 0, 0.2);
}
#listaccts td > a,
#listaccts td > span,
#listaccts td > img {
  vertical-align: middle;
}
.editor-container {
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 0px 0px #FFF;
  -moz-box-shadow: 0px 1px 0px 0px #FFF;
  -o-box-shadow: 0px 1px 0px 0px #FFF;
  box-shadow: 0px 1px 0px 0px #FFF;
  padding-bottom: 10px;
}
.editor-container label {
  display: block;
}
.editor-container label input {
  vertical-align: middle;
}
.editor-container label em {
  vertical-align: middle;
}
.editor-container .sub-form {
  margin-top: 2px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 300px;
}
.editor-container .password-form {
  border-right: 1px solid #ccc;
  -webkit-box-shadow: 1px 0px 0px 0px #FFF;
  -moz-box-shadow: 1px 0px 0px 0px #FFF;
  -o-box-shadow: 1px 0px 0px 0px #FFF;
  box-shadow: 1px 0px 0px 0px #FFF;
}
.enablemysql-loader-container img,
.enabledigestauth-loader-container img {
  vertical-align: middle;
  display: inline;
}
.enablemysql-container img,
.enabledigest-container img,
.localsuspension-container img,
.enablemysql-container input,
.enabledigest-container input,
.localsuspension-container input,
.enablemysql-container label,
.enabledigest-container label,
.localsuspension-container label {
  vertical-align: middle;
  display: inline;
}
.editor-container .email-form {
  padding-left: 18px;
}
.editor-container .suspend-form {
  padding-left: 18px;
  border-left: 1px solid #ccc;
}
.actions-container {
  padding-top: 4px;
}
.button-container {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.editor-cell .title {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.dlink {
  padding-bottom: 5px;
  display: inline;
}
.dlink a {
  white-space: nowrap;
}
.dlink a span {
  vertical-align: middle;
}
#enablemysql-info,
#enabledigest-info,
#prevent-unsuspend-info {
  margin-top: 2px;
  margin-left: 5px;
  text-align: center;
  cursor: help;
}
#enablemysql,
.enabledigest,
.enablemysql-loading,
.enabledigest-loading {
  margin-right: 5px;
}
html[dir="rtl"] #enablemysql,
html[dir="rtl"] .enabledigest,
html[dir="rtl"] .enabledigest-loading {
  margin-left: 5px;
}
.de-emphasized-label {
  font-weight: normal;
}
.form-horizontal .control-label {
  text-align: right;
}
/**
 * Wrap the Domain field in List Accounts
 */
.wordbreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  white-space: normal;
}
td.control-col + td {
  max-width: 320px;
  width: 30vw;
}
td.control-col + td a {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.full-domain {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
#listaccts td.child-account-msg {
  text-align: left;
  font-style: italic;
}
#listaccts td.upgrade-opportunities {
  text-align: left;
}
.upgrade-opportunity {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  /* list */
  padding-left: 5px;
  list-style: none;
}
