/*
These styles apply spacing to the content area to accommodate the fixed header
and main menu. This stylesheet should be loaded conditionally, only when the header
and main menu are rendered.

See hide_header and hide_main_menu settings in the main template wrapper.
*/
/*
* Configuration
* IMPORTANT NOTE: DO NOT change the section order. The order matters for overrides
*/
/*
---------------------------------------------------------
Bootstrap Functions - DO NOT change anything in here
---------------------------------------------------------
*/
/*
----------------------------------------------------------------------------
Custom Bootstrap SCSS Variable Overides - Override bootstrap SCSS Variables
----------------------------------------------------------------------------
*/
/*
* Color Overrides
*/
/*
* Body
* Settings for the `<body>` element.
*/
/*
* Font Overrides
*/
/*
* Spacer Overrides
*/
/*
* Spacer variables
*/
/*
* Border widths
*/
/*
* Border radius
*/
/*
* Spinner
*/
/*
* Toasts
*/
/*
-----------------------------------------------------------
Bootstrap Variables - DO NOT change anything in here
-----------------------------------------------------------
*/
/*
-----------------------------------------------------------
Bootstrap Maps - DO NOT change anything in here
-----------------------------------------------------------
*/
/*
-----------------------------------------------------------
Bootstrap Mixins - DO NOT change anything in here
-----------------------------------------------------------
*/
/*
----------------------------------------------------------------------------
Custom Bootstrap Map Overrides  - Override bootstrap SCSS Maps
----------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------
Bootstrap Utilities - DO NOT change anything in here
-----------------------------------------------------------
*/
/*
----------------------------------------------------------------------
Custom Bootstrap utilities Overrides - Override bootstrap utilities
----------------------------------------------------------------------
*/
/*
-------------------------------------------------------------------
cPanel Jupiter Custom Variables - Variables unrelated to Bootstrap

Note:
Variables should follow the `$component-state-property-size` formula for
consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
-------------------------------------------------------------------
*/
/*
-------------------------------------------------------------------
cPanel Jupiter Custom Mixins - Mixins unrelated to Bootstrap
-------------------------------------------------------------------
*/
/*
-------------------------------------------------------------------
cPanel Jupiter Custom Utilites - Utilities unrelated to Bootstrap
-------------------------------------------------------------------
*/
.cp-layout-page {
  height: 100%;
}

.cp-layout-main-menu {
  min-width: clamp(240px, 14.8vw, 320px);
  max-width: clamp(240px, 14.8vw, 320px);
  border-right: 0;
  z-index: 1032;
  /* Apply menu color to the empty main-menu container. Prevents a white flash before the menu component finishes rendering */
  background-color: var(--cp-tertiary, #202654);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .cp-layout-main-menu {
    display: none;
  }
}
.cp-layout-main-menu.cp-layout-main-menu--show {
  display: block;
}

.cp-layout-wrapper {
  margin-left: clamp(240px, 14.8vw, 320px);
  min-width: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 767.98px) {
  .cp-layout-wrapper {
    margin-left: 0;
  }
}

.cp-layout-header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1030;
  background: var(--cp-header-bg, #fff);
}

.cp-layout-main-content {
  padding: 0 var(--cp-spacer-6);
  flex-grow: 1;
}

.cp-layout-footer {
  padding: 0 var(--cp-spacer-6);
}

.cp-layout-main-content--with-header {
  padding-top: var(--cp-spacer-6);
}

.container-lg {
  /* had to mark these important to override bootstrap container-lg class */
  padding: 0 !important;
  margin-left: 0 !important;
}

.cp-layout-header,
.cp-layout-main-content,
.cp-layout-footer {
  flex-shrink: 0;
}

/*rtl:rename*/
.cp-layout-wrapper .alert-list-container.position-top-left,
.cp-layout-wrapper .alert-list-container.position-bottom-left {
  left: clamp(240px, 14.8vw, 320px);
}

.cp-layout-main-content {
  height: 100%;
}

/*# sourceMappingURL=main_content_spacing.css.map */