[%
    USE Whostmgr;
    USE JSON;

    SET PAGE_BASE = '/scripts5/backupmigration/';

    WRAPPER 'master_templates/master.tmpl'
        app_key       = 'backup_system_migration',
        header        = locale.maketext('Backup System Migration'),
        breadcrumburl = PAGE_BASE,
        base          = PAGE_BASE,
        stylesheets   = [
            Whostmgr.find_file_url('/templates/backup_migration/index.min.css')
        ],
        theme         = 'bootstrap';
%]
<section>
    <div class="row">
        <div class="col-xs-12">
            <div ng-view></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var PAGE = {
        NAME: "backup_migration",
        legacy_backup_status: [% legacy_backup_status %],
        backup_status: [% backup_status %]
    };
</script>
[% PROCESS 'master_templates/cjt2_header_include.tt' %]
[% END %]
