/**
# cpanel - whostmgr/docroot/master.less            Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/**
# cpanel - whostmgr/docroot/legacy_and_modern.less Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.whm-app-title__image {
  width: 48px;
  height: 48px;
}
/* Begin Master CSS */
body {
  font: 14px "Open Sans", Arial, sans-serif;
  line-height: 20px;
  *font-size: small;
  /* for IE */
  *font: x-small;
  /* for IE in quirks mode */
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #333333;
}
.errors {
  color: #ff0000;
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
}
h1 {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
}
h2 {
  font-size: 19px;
  color: #333333;
  font-variant: small-caps;
  border: none;
}
h2 a .little {
  font-size: 10px;
}
/* Table Styles */
table {
  font-size: inherit;
  font: 100%;
}
h1 > img {
  vertical-align: middle;
}
.sortable,
.datatable {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px 0;
}
.sortable caption,
.datatable caption {
  color: #000;
}
.sortable th,
.sortable .hdr,
.datatable th,
.datatable .hdr {
  background-color: #e5e5e5;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
}
.sortable th a,
.datatable th a {
  color: #000;
  padding: 4px;
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: none;
}
.sortable a:active,
.sortable th a:hover,
.datatable a:active,
.datatable th a:hover {
  color: #000;
  text-decoration: underline;
}
.sortable th a:visited,
.datatable th a:visited {
  color: #000;
  text-decoration: none;
}
.sortable a.sortheader,
.datatable a.sortheader {
  text-decoration: none;
  display: block;
}
table.sortable span.sortarrow,
table.datatable span.sortarrow {
  color: black;
  text-decoration: none;
}
table.sortable th .cell,
table.datatable th .cell {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}
.sortable tr,
.datatable tr {
  padding: 0;
}
.sortable td,
.datatable td {
  padding: 4px;
  border-right: 1px solid #ccc;
}
.sortable .cell-inner,
.datatable .cell-inner {
  border-right: 1px solid #666;
  padding: 3px;
}
.sortable .cell-inner-end,
.datatable .cell-inner-end {
  border-right: none;
  padding: 3px;
}
.sortable a,
.datatable a {
  color: #0088cc;
  text-decoration: none;
}
.sortable .cell,
.datatable .cell {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 4px;
}
.sortable .cell-end,
.datatable .cell-end {
  border-bottom: 1px solid #ccc;
}
.sortable .row-odd,
.datatable .row-odd {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px;
  background-color: #f3f3f3;
}
.sortable .row-even,
.datatable .row-even {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
}
.sortable .nobrd,
.datatable .nobrd {
  border-right: none;
}
.tdshade2 {
  padding: 5px 0 5px 0;
  background-color: #f3f3f3;
}
.layouttbl {
  margin-top: 12px;
}
.layouttbl th {
  background-color: #ffff;
}
/*End of table styles*/
.scellheader,
.scellheader a {
  font-weight: bold;
  font-color: #000000;
  color: #000000;
}
.sscellheader {
  font-weight: normal;
  font-color: #000000;
  color: #000000;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
.confeditbox {
  font: 12px "Andale Mono", "Courier New", Courier, monospace;
  border: 1px #000 dotted;
  display: block;
}
.redstatus {
  color: #ff0000;
}
.details,
.details-noscript,
.details_75,
.details_150,
.details_block {
  background-color: #ccc;
  padding: 8px;
  border: 1px #aaa solid;
  overflow: auto;
  display: none;
  font-weight: normal;
  width: 500px;
  margin: 0 auto;
}
.details-noscript {
  display: block;
  overflow: scroll;
}
.details_block {
  display: block;
}
.details_75 {
  height: 75px;
  overflow: scroll;
}
.details_150 {
  height: 150px;
  overflow: scroll;
}
.status {
  color: #68818f;
  font-weight: 700;
}
.description {
  margin: 3px 20px 8px 0;
}
.btn-primary,
.btn-secondary,
.btn-default {
  min-width: 110px;
  display: inline-block;
  padding: 6px 12px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 4px;
  text-decoration: none;
}
.btn-primary,
.btn-default {
  background-color: #428bca;
  border-color: #357ebd;
  color: #ffffff !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #666666;
  color: #333333;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  cursor: pointer;
  background-color: #3276b1;
  border-color: #285e8e;
  color: #ffffff !important;
  text-decoration: none;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  cursor: pointer;
  background-color: #ebebeb;
  border-color: #666666;
  color: #333333;
}
.btn-primary.disabled,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:hover,
button[disabled].btn-primary,
input[type="submit"][disabled].btn-primary,
input[type="button"][disabled].btn-primary,
input[type="reset"][disabled].btn-primary,
.btn-default.disabled,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled:hover,
button[disabled].btn-primary,
input[type="submit"][disabled].btn-default,
input[type="button"][disabled].btn-default,
input[type="reset"][disabled].btn-default {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-secondary.disabled,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled:hover,
button[disabled].btn-secondary,
input[type="submit"][disabled].btn-secondary,
input[type="button"][disabled].btn-secondary,
input[type="reset"][disabled].btn-secondary {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.btn-cancel {
  font-size: 13px;
  text-align: center;
  display: inline-block;
  padding: 4px;
  margin: 4px;
  color: #0088cc;
  cursor: default;
  text-decoration: none;
  border: none;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
  color: #0088cc;
  cursor: default;
  text-decoration: underline;
}
.boldit {
  font-weight: 900;
}
ul.icons li {
  float: left;
  list-style: none;
  margin: 5px;
  padding: 3px;
  border: 0px solid #000;
  text-align: center;
  width: 100px;
  height: 100px;
}
/* TopFrame CSS */
.container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.container {
  display: block;
  overflow: hidden;
}
#branding {
  background-color: #4c4c4c;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}
#logo {
  float: left;
  width: 180px;
}
#logo h1 {
  margin: 0;
  padding: 0;
}
#version {
  float: right;
  padding: 5px 10px 0 0;
  text-align: right;
  width: 385px;
}
#version p {
  margin: 0;
  padding: 0;
}
#version,
#version a {
  color: #ccc;
  text-decoration: none;
}
#whm_nav {
  background: #003c49;
  height: 30px;
}
#whm_nav ul,
#whm_nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#whm_nav ul li,
#whm_nav ul li a {
  float: left;
}
#whm_nav ul li a {
  color: #ccc;
  padding: 8px 10px 8px 15px;
}
#pageheader {
  padding-bottom: 10px;
}
.page-content {
  margin: 10px 20px;
}
#breadcrumbs p {
  background-color: #eaeaea;
  border-bottom-style: solid;
  border-bottom-color: #cecece;
  border-width: 1px;
  margin: 0;
  padding: 7px 12px;
}
#breadcrumbs p,
#breadcrumbs p a {
  color: #4c4c4c;
  text-decoration: none;
}
#breadcrumbs p a.active {
  font-weight: 700;
  color: #666;
  text-decoration: none;
}
#breadcrumbs p a:hover {
  color: #000;
}
#doctitle h1 {
  color: #333333;
  font-size: 21px;
  padding: 5px 20px;
}
#doctitle h1 img {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
}
.sortable .clickable {
  cursor: pointer;
  cursor: hand;
}
.formverifyfailed {
  background-color: #faa;
}
.accept {
  background: url(/images/accept.gif) no-repeat;
  width: 16px;
  height: 16px;
}
.reject {
  background: url(/images/reject.gif) no-repeat;
  width: 16px;
  height: 16px;
}
.cpanel_output_indent {
  width: 15px;
  display: inline-block;
}
.cpanel_output_color_bold {
  font-weight: 900;
}
.cpanel_output_color_blue {
  color: blue;
}
.statusmsg,
.warningmsg,
.errormsg,
.okmsg {
  font-weight: normal;
  margin: 0 0 0 15px;
  padding: 5px 0 5px 25px;
}
.warningmsg {
  background: transparent url(/yellow-status.gif) no-repeat scroll left center;
}
.errormsg {
  background: transparent url(/red-status.gif) no-repeat scroll left center;
}
.okmsg {
  background: transparent url(/green-status.gif) no-repeat scroll left center;
}
.yui-panel .hd {
  background-color: #4c4c4c;
  border: 0px;
}
/* End Master CSS */
/* Test to fix modal window pushing down the layout */
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
.yui-overlay,
.yui-panel-container {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}
.yui-panel {
  position: relative;
}
.yui-panel-container form {
  margin: 0;
}
.yui-dialog,
.yui-panel-container {
  z-index: 2000 !important;
}
.yui-panel-container.account-resource-help .hd {
  background-color: #4c4c4c;
  border: 0px;
}
.mask {
  z-index: 1999 !important;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mask.block-scrollbars {
  /*
        Application of "overflow:auto" prevents Mac scrollbars from bleeding
        through the modality mask in Gecko. The block-scollbars class is only
        added for Gecko on MacOS
    */
  overflow: auto;
}
/*
    PLEASE NOTE:

    1) ".masked select" is used to prevent <SELECT> elements bleeding through
       the modality mask in IE 6.

    2) ".drag select" is used to hide <SELECT> elements when dragging a
       Panel in IE 6.  This is necessary to prevent some redraw problems with
       the <SELECT> elements when a Panel instance is dragged.

    3) ".hide-select select" is appended to an Overlay instance's root HTML
       element when it is being annimated by YAHOO.widget.ContainerEffect.
       This is necessary because <SELECT> elements don't inherit their parent
       element's opacity in IE 6.

*/
.masked select,
.drag select,
.hide-select select {
  _visibility: hidden;
}
.yui-panel-container select {
  _visibility: inherit;
}
/*

There are two known issues with YAHOO.widget.Overlay (and its subclasses) that
manifest in Gecko-based browsers on Mac OS X:

    1) Elements with scrollbars will poke through Overlay instances floating
       above them.

    2) An Overlay's scrollbars and the scrollbars of its child nodes remain
       visible when the Overlay is hidden.

To fix these bugs:

    1) The "overflow" property of an Overlay instance's root element and child
       nodes is toggled between "hidden" and "auto" (through the application
       and removal of the "hide-scrollbars" and "show-scrollbars" CSS classes)
       as its "visibility" configuration property is toggled between
       "false" and "true."

    2) The "display" property of <SELECT> elements that are child nodes of the
       Overlay instance's root element is set to "none" when it is hidden.

PLEASE NOTE:

    1) The "hide-scrollbars" and "show-scrollbars" CSS classes classes are
       applied only for Gecko on Mac OS X and are added/removed to/from the
       Overlay's root HTML element (DIV) via the "hideMacGeckoScrollbars" and
       "showMacGeckoScrollbars" methods of YAHOO.widget.Overlay.

    2) There may be instances where the CSS for a web page or application
       contains style rules whose specificity override the rules implemented by
       the Container CSS files to fix this bug.  In such cases, is necessary to
       leverage the provided "hide-scrollbars" and "show-scrollbars" classes to
       write custom style rules to guard against this bug.

** For more information on this issue, see:

   + https://bugzilla.mozilla.org/show_bug.cgi?id=187435
   + SourceForge bug #1723530

*/
.hide-scrollbars,
.hide-scrollbars * {
  overflow: hidden;
}
.hide-scrollbars select {
  display: none;
}
.show-scrollbars {
  overflow: auto;
}
.yui-panel-container.show-scrollbars,
.yui-tt.show-scrollbars {
  overflow: visible;
}
.yui-panel-container.show-scrollbars .underlay,
.yui-tt.show-scrollbars .yui-tt-shadow {
  overflow: auto;
}
/*
   Workaround for Safari 2.x - the yui-force-redraw class is applied, and then removed when
   the Panel's content changes, to force Safari 2.x to redraw the underlay.
   We attempt to choose a CSS property which has no visual impact when added,
   removed.
*/
.yui-panel-container.shadow .underlay.yui-force-redraw {
  padding-bottom: 1px;
}
.yui-effect-fade .underlay,
.yui-effect-fade .yui-tt-shadow {
  display: none;
}
/*
    PLEASE NOTE: The <DIV> element used for a Tooltip's shadow is appended
    to its root element via JavaScript once it has been rendered.  The
    code that creates the shadow lives in the Tooltip's public "onRender"
    event handler that is a prototype method of YAHOO.widget.Tooltip.
    Implementers wishing to remove a Tooltip's shadow or add any other markup
    required for a given skin for Tooltip should override the "onRender" method.
*/
.yui-tt-shadow {
  position: absolute;
}
.yui-override-padding {
  padding: 0 !important;
}
.yui-panel-container .container-close {
  overflow: hidden;
  text-indent: 12px;
  text-decoration: none;
}
.yui-overlay.yui-force-redraw,
.yui-panel-container.yui-force-redraw {
  margin-bottom: 1px;
}
/* Validation Errors Panels */
.validation_error_panel .bd {
  background: none;
  border: 0;
}
.validation_errors_ul {
  background-color: #ffffff;
  padding: 2px 5px 2px 5px;
  border: 1px solid #eb6d59;
  margin: 0 0 0 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
span.cjt_validation_error {
  display: inline-block;
}
.cjt_validation_error img {
  vertical-align: middle;
}
.validation_errors_li {
  list-style-type: none;
}
.help_panel {
  background: #fff;
  border: 1px solid #aeaeae;
  padding: 0 0 5px;
}
.help_panel .bd {
  border-width: 0;
  padding: 8px 10px;
}
.help_panel .container-close {
  background: none !important;
  height: auto;
  padding: 0 0 5px 10px;
  position: static;
  text-indent: 0;
  width: auto;
}
.validation_errors_modal_box_title {
  display: block;
  font-weight: bold;
  padding: 6px 15px;
}
.validation_errors_modal_box_ul {
  list-style-type: disc;
  margin: 0 10px 15px 25px;
  padding: 0 10px;
}
.validation_errors_modal_box_actions {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}
.validation_errors_modal_box_actions * {
  margin-right: auto;
  margin-left: auto;
}
.help_panel .ft {
  border: 0;
  padding: 0 13px 3px 0;
}
.mask {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: #000;
}
/* Create / Generate Password Widget Styles - this is used globally */
#generate_password_table,
#generate_password_advanced_options {
  padding: 0 10px;
  width: 100%;
}
#generate_password_reload {
  margin: 0 0 7px;
}
#generate_password_body_div {
  padding: 10px;
}
#generate_password_action_div {
  text-align: right;
}
input#generate_password_input_field {
  font-size: 18px;
  padding: 3px;
}
span#generate_password_toggle_advanced_options {
  background: #eee;
  border-top: solid 1px #cfcfcf;
  padding: 5px;
  display: block;
}
#generate_password_body_div p {
  padding: 10px 0px 0px 10px;
}
#generate_password_advanced_options {
  background: #eee;
  padding: 5px 0;
  margin-bottom: 10px;
}
.button-group button.input-button {
  font: inherit;
  border-size: 1px solid #4c7edf;
  padding: 4px;
  width: inherit;
}
.button-group button.input-button:hover,
.button-group button.input-button.hover,
.button-group button.input-button:active {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-width: 1px;
}
.button-group button.input-button.disabled {
  background: #e1e1e1;
  text-shadow: none;
  box-shadow: none;
  border-color: #cccccc !important;
  border-style: solid;
  border-width: 1px;
  color: #a9a9a9 !important;
  cursor: not-allowed;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
/* Modify Account input */
input#searchinput,
input#searchinput2 {
  width: 95%;
}
/* In WHM this needs some special margins to be sure it looks ok. */
#cjt_pagenotice_container {
  margin: 20px 5px;
}
#maincommand table {
  width: 100%;
}
#maincommand table td {
  padding: 4px;
}
#maincommand ul.blocklist {
  margin-top: 0;
}
#maincommand tr.scellheader td {
  background-image: -moz-linear-gradient(#c5d5d9 0%, #aec1c5 1px, #b9cdd1 2px, #f0f4f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(0, #c5d5d9), color-stop(0, #aec1c5), color-stop(0, #b9cdd1), to(#f0f4f5));
  background-image: -o-linear-gradient(#c5d5d9 0%, #aec1c5 1px, #b9cdd1 2px, #f0f4f5);
  background-image: linear-gradient(#c5d5d9 0%, #aec1c5 1px, #b9cdd1 2px, #f0f4f5);
  border-top: 1px solid white;
  border-bottom: 1px solid #c5d5d9;
}
.yui-ac {
  white-space: nowrap;
}
.ui-term-reference {
  font-style: italic;
}
.alert_box {
  background-color: #f9d1d1;
  border: 1px solid #ccc;
  padding: 12px 5px 15px 5px;
  margin-bottom: 12px;
}
.cjt-notice-container .bd {
  position: relative;
}
.cjt_status_bar_countdown {
  display: inline-block;
  position: absolute;
  bottom: 2px;
  font-size: 8px;
}
html[dir="ltr"] .cjt_status_bar_countdown {
  right: 2px;
  text-align: right;
}
html[dir="rtl"] .cjt_status_bar_countdown {
  left: 2px;
  text-align: left;
}
.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
  top: 0px !important;
}
.childFrame {
  padding-top: 0;
}
#doctitle h1 {
  margin-top: 0;
}
.wbr:after {
  content: "\00200B";
}
/* cpu and mem are both used on the Process Manager */
.cpu,
.mem {
  white-space: nowrap;
}
.cpu div,
.mem div {
  display: inline-block;
  height: 10px;
}
/* Begin Legacy CSS */

.sortable .clickable {
cursor:pointer;
cursor:hand;
}

.greenstatus{
        color:#009900;
}
.doctitle {
        font-size:14px;
        text-align:center;
        font-weight: bold;
        color: #000000;
	padding-top:7px;
}
.layouttblstatus
{
        padding:20px;
        align:center;
	 backgound-color: #DDDDDD
}
.statuscelltext{
        align:right;
}
.statuscellbutton{
        align:left;
	font-size:11px;
}
.dialogheader {
   border-top: 2px #D4E4E8 solid;
   border-left: 2px #D4E4E8 solid;
   border-right: 2px #D4E4E8 solid;
   border-bottom: 2px #D4E4E8 solid;
   background-color: #C4D4D8;
   text-align: center;
   font-size: 11px;
   font-weight: bold;
   font-color: #000000;
   color: #000000;
   -moz-border-radius: 10px;
   -moz-background-clip: padding;
}
.dialogbg {
    background-color: #DFDFDF;
}
.dialogsubmit {
    background-color: #CCCCCC;
    text-align: center;
}
.tbl{
	font-size:12px;
}
.legendbg {
    background-color: #DDDDDD;
}
th {
    font-size: 13px;
}
.tablecomplex {
    background-color:#ffffff;
    /*border:2px #CCCCCC solid;*/
    text-align:center;
    margin: 0 auto;
}
.tablecomplex2 {
    text-align: center;
}
.tablecomplex th {
	font-size:12px;
}
.lightbg {
    background-color: #CCCCCC;
}
.mediumbg {
    background-color: #AAAAAA;
}
.heavybg {
    background-color: #DFDFDF;
}
.importanttext {
    font-color: #FF0000;
}
.tdredshade {
    background-color: #FF0000;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-size: 10px;
    font-weight: normal;
}
.b1, .b2, .b3 {
    font-size:11px;
    font-weight:bold;
}
.bu1 {
    font-weight:bold;
    text-decoration:underline;
}
.bu2 {
    font-weight:bold;
    text-decoration:underline;
}
.bu3 {
    font-weight:bold;
    text-decoration:underline;
}
.tableborder0, .tableborder0 td {
    border: 0px;
}
.tableborder1, .tableborder1 td {
    border: 1px solid #ccc;
}
.tableborder2, .tableborder2 td {
    border: 2px solid #ccc;
}
.tableborder3, .tableborder3 td {
    border: 3px solid #ccc;
}
.tableborder4, .tableborder4 td {
    border: 4px solid #ccc;
}
.layouttbldesc {
    padding:15px;
    width:300px;
}
table.tblheader{
   border-collapse:collapse;
}
tr.tblheader {
    background-color:#D0D0D0;
    border-bottom: 1px #ccc solid;
    font-weight: normal;
    color:#4C4C4C;
    padding:2px;
}
.tdshadeyellow {
   background-color: #FFFFAA;
   border-top: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshadered {
   background-color: #FFAAAA;
   border-top: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshade1,.tdshade1_noborder {
   background-color: #fff;
   border: 1px solid #CCCCCC;
   font-weight: normal;
}

.tdshade2,.tdshade2_noborder {
   background-color: #f3f3f3;
   border: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshade1_noborder, .tdshade2_noborder {
    border: 0;
}
.invis {
   display: none;
}
.accept{
            background:url(/images/accept.gif) no-repeat;
width:16px;
height:16px;
}
.reject{
            background:url(/images/reject.gif) no-repeat;
width:16px;
height:16px;
}
.yui-panel .bd p.validation_msg, .panel .bd p.validation_msg, .validation_msg {
background:url(/images/reject.gif) no-repeat left top;
color:#FF0505;
      border-bottom:solid 1px #eee;
      font-weight:bold;
padding:0px 0 10px 20px;
}

/* End Legacy CSS */
.searchbox {
    background-color:#CFCFCF;
border:1px solid #AAAAAA;
       font-family:Verdana,Arial,helvetica,sans-serif;
       font-size:12px;
       font-weight:normal;
}
.searchshow {

}
.searchhide {
    display:none;
}
.smalltext {
    font-size: 9px;
}
.jumptext {
    font-size:11px;
}
.smalltext a {
    background-color: #dddddd;
border: 1px #aaa outset;
}

.cjt-pagenotice-container .cjt-notice-content {
    font-family: helvetica, arial;
    font-size: 13px;
    padding-bottom: 15px;
}

.cjt-pagenotice-container .cjt-notice {
    margin-top: 5px;
}

.cjt-pagenotice-container .cjt-notice .bd {
    min-height: 35px;
    background: no-repeat;
    padding-right: 10px;
}

.cjt-pagenotice-container .bd div {
    display: inline-block;
}

.cjt-dynamic-pagenotice-close-button,
.cjt-dynamic-pagenotice-close-button:link,
.cjt-dynamic-pagenotice-close-button:visited {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    color: inherit;
}

.cjt-dynamic-pagenotice-close-button:hover {
    background-color: rgba(255, 255, 255, 0.65);
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cjt-dynamic-pagenotice-close-button:hover:active {
    box-shadow: none;
    top: 6px;
    right: 4px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button {
    left: 5px;
    right: auto;
}
html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover:active {
    left: 4px;
    right: auto;
}

.cjt-dynamic-pagenotice-close-link {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    font-size: 8px;
}

html[dir="ltr"] .cjt-dynamic-pagenotice-close-link {
    right: 2px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-link {
    left: 2px;
}

html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 15px 20px 15px 50px;
    background-position: 10px center;
    border: 1px solid #e6e0bc;
}

html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 15px 50px 15px 20px;
    background-position: 97% 45%;
    background-position: right 10px center;
    border: 1px solid #e6e0bc;
}

.cjt-pagenotice-container .cjt-notice-error .bd {
    color: #5a1918;
    outline-color: #ddbfbd;
    background-color: #f8e7e6;
    background-image: url(/images/error.png);
    background-size: 19px 19px;
}

.cjt-pagenotice-container .cjt-notice-warn .bd {
    color: #594e29;
    background-color: #fff6cf;
    background-image: url(/images/warning.png);
    background-size: 19px 19px;
}

.cjt-pagenotice-container .cjt-notice-success .bd {
    color: #40473e;
    outline-color: #d8e1ce;
    background-color: #e6f1db;
    background-image: url(/images/success.png);
    background-size: 19px 19px;
}

.cjt-pagenotice-container .cjt-notice-info .bd {
    color: #666666;
    outline-color: #dddddd;
    background-color: #f0f0f0;
    background-image: url(/cjt/images/info2.png);
    background-size: 20px 18px;
}
/**
# cpanel - whostmgr/docroot/templates/menu/top_frame.css
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

.topFrameWrapper {
    width: 100%;
    overflow: hidden;
    z-index: 999999;
}

.informationWrapper {
    width: 100%;
    height: 27px;

    background-color: #293a4a;
    min-width: 768px;
}

html[dir="rtl"] .infoContainer {
    float: left;
}

html[dir="ltr"] .infoContainer {
    float: right;
}

ul.serverInfo {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
}

ul.serverInfo li {
    color: #ffffff;

    display: inline-block;

    margin: 0 0 0 0;
    padding: 5px 6px 0 6px;

    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
}

html[dir="ltr"] ul.serverInfo li.lastChild {
    border-right: none;
    margin-right: 9px;
}

html[dir="rtl"] ul.serverInfo li.lastChild {
    border-left: none;
    margin-left: 9px;
}

ul.serverInfo li > span,
ul.serverInfo li a {
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

ul.serverInfo li a {
    color: #ffffff;
    text-decoration: none;
}

ul.serverInfo li a:hover,
ul.serverInfo li a:focus {
    text-decoration: underline;
    outline: none;
}

.navigationContainer {
    height: 50px;
    width: 100%;
    min-width: 768px;
    background-color: #293a4a;
}

html[dir="ltr"] .navigation {
    width: 100%;
    min-width: 768px;
    height: inherit;
}

html[dir="rtl"] .navigation {
    width: 100%;
    min-width: 768px;
    height: inherit;
}

ul.navigationLinks {
    margin: 0;
    height: inherit;
    float: left;
}

html[dir="ltr"] ul.navigationLinks {
    padding: 0 0 0 15px;
}

html[dir="rtl"] ul.navigationLinks {
    padding: 0 15px 0 0;
    float: right;
}

ul.navigationLinks li {
    display: inline-block;

    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;

    vertical-align: middle;

    padding-right: 10px;
    padding-top: 16px;
}

html[dir="rtl"] ul.navigationLinks li {
    padding-left: 10px;
    padding-right: 0;
}

ul.navigationLinks li a {
    color: #ffffff;
    text-decoration: none;
    height: 100%;
}

ul.navigationLinks li a:hover,
ul.navigationLinks li a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

#topFrameWarningsContainer {
    height: inherit;
    overflow-x: hidden;
}

li.productTypeBreadcrumb {
    color: #ffffff;
    margin: 0 0 0 -5px;
    font-weight: bold;
    font-style: italic;
}

html[dir="rtl"] li.productTypeBreadcrumb {
    margin: 0 -2px 0 0;
}

div.updateblock {
    padding-top: 10px; /* hack to make it virtical-align:middle */
    display: inline-block;
}

html[dir="ltr"] div.updateblock {
    float: right;
    padding-right: 10px;
}

html[dir="rtl"] div.updateblock {
    float: left;
    padding-left: 10px;
}

a.navLink {
    padding: 7px;
}

a.navLink:hover,
a.navLink:focus {
    background: #596b70;

    color: #ffffff;

    padding: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.warnings {
    padding: 5px 7px 5px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ddc530;
    background-image: linear-gradient(#ddc530, #eed540 15%, #aa9510);
    background-image: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(#ddc530),
        color-stop(15%, #eed540),
        to(#aa9510)
    );
    background-image: -moz-linear-gradient(#ddc530, #eed540 15%, #aa9510);
    box-shadow: 1px 1px 5px #333333;
    display: inline-block;

    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
    color: #222222;
    text-shadow: 0 1px 0 #afa04f;
}

.warnings > a,
.warnings > a:link,
.warnings > a:visited,
.warnings > a:active {
    color: #222222;
    text-shadow: 0 1px 0 #afa04f;
    text-decoration: underline;
    outline: none;
}

ul.navigationLinks li a img.logo {
    height: 40px;
    width: 100px;
}

ul.navigationLinks li:first-child {
    padding-top: 0;
}

html[dir="rtl"] ul.navigationLinks li:first-child {
    padding-right: 0;
}

.hidden {
    display: none !important;
}

/* CSS for WHM Layout */

#sidebar {
    display: table-cell;
    vertical-align: top;
    width: 218px;
    overflow: hidden;
    z-index: 99999;
    height: calc(100vh - 77px);
    -webkit-overflow-scrolling: touch; /* helps the scrolling behavior to be smoother on iphones */
}

#masterContainer {
    width: 100%;
    display: table;
    table-layout: fixed;
    padding: 0;
    position: relative;
    padding-bottom: 1.6rem;
}

#pageContainer {
    vertical-align: top;
    width: 100%;
}

#contentContainer {
    padding: 0 20px 20px 20px;
    position: relative; /* For legacy validation system to function properly with scroll */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; /* helps the scrolling behavior to be smoother on iphones */
}

body.nav-collapsed #pageContainer {
    margin-left: 0;
}

html[dir="rtl"] body.nav-collapsed #pageContainer {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 768px) {
    #sidebar {
        height: calc(100vh - 30px);
    }

    .navigationContainer {
        min-height: 30px;
        height: 30px;
    }

    .informationWrapper {
        display: none;
    }

    ul.navigationLinks li a img.logo {
        height: 22px;
        width: 80px;
    }

    a.navLink {
        padding: 2px;
        padding-right: 5px;
    }

    html[dir="rtl"] a.navLink {
        padding: 2px;
        padding-left: 5px;
    }

    html[dir="ltr"] ul.navigationLinks {
        padding: 0 0 0 5px;
    }

    html[dir="rtl"] ul.navigationLinks {
        padding: 0 5px 0 0;
    }

    ul.navigationLinks li {
        padding-top: 3px;
        padding-right: 2px;
    }

    ul.navigationLinks li:first-child {
        padding-top: 4px;
        padding-right: 10px;
    }

    html[dir="rtl"] ul.navigationLinks li {
        padding-left: 15px;
        padding-right: 0;
    }

    a.navLink:hover,
    a.navLink:focus {
        padding: 2px;
        padding-right: 5px;
    }

    html[dir="rtl"] a.navLink:hover,
    html[dir="rtl"] a.navLink:focus {
        padding: 2px;
        padding-left: 5px;
    }

    #contentContainer {
        padding: 0;
        margin: 0;
        max-width: 960px;
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #sidebar {
        height: calc(100vh - 31px);
    }

    /* FIXME: need to show update/warnings */
    div.updateblock {
        display: none;
    }

    li.productTypeBreadcrumb {
        margin: 0 0 -10px -15px;
    }

    html[dir="rtl"] li.productTypeBreadcrumb {
        margin: 0 0 -10px -15px;
    }
}

@media (min-width: 768px) {
    html[dir="rtl"] #masterContainer {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    html[dir="rtl"] #masterContainer {
        max-width: 100%;
    }
}
/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/* ------------------------------------------------------------------------------ */
/* Command (Left Frame)
/* ------------------------------------------------------------------------------ */
.sidebar {
  margin: 0;
  color: #666666;
  background-color: #fbfbfb;
}
.sidebar {
  /*We need to remove our default margin & padding in order to fill the entire width of the left frame */
  /* .hideMainCommand is used by <ul id="mainCommand"> to hide itself when all its
        child elements are hidden. Without hiding itself, it shows unwanted blank space. */
  /*commander list*/
  /*category sublist*/
  /* lighter orange FEA83F
       darker orange  f78e1e */
  /* Command Footer */
}
.sidebar .hide {
  display: none;
}
.sidebar .commandContainer,
.sidebar .commandContainer *,
.sidebar .commandContainer *:before,
.sidebar .commandContainer *:after {
  box-sizing: border-box;
  width: inherit;
}
.sidebar div.commandContainer {
  padding: 0;
  margin: 0;
  height: 100%;
  width: inherit;
  background-color: #fafafa;
  position: relative;
}
.sidebar .searchContainer {
  height: 69px;
  padding: 0 0 0 0;
  background-color: #eaeaea;
}
.sidebar .searchBox {
  width: 100%;
  padding: 4px 0 0 0;
  background: none;
  border: none;
  height: 42px;
}
.sidebar .quickJumpWrapper {
  width: 97%;
  padding: 0 1%;
  position: relative;
}
.sidebar #quickJump {
  width: 210px;
  height: 26px;
  font-size: 14px;
  border: 1px solid #ccc;
  overflow: visible;
  line-height: 26px;
  text-indent: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 1px #ccc;
  -moz-box-shadow: inset 0 0 1px #ccc;
  -o-box-shadow: inset 0 0 1px #ccc;
  box-shadow: inset 0 0 1px #ccc;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
.sidebar #quickJump:focus {
  border: 1px solid #91a8c2;
  -webkit-box-shadow: 0 0 6px #708eb0;
  -moz-box-shadow: 0 0 6px #708eb0;
  -o-box-shadow: 0 0 6px #708eb0;
  box-shadow: 0 0 6px #708eb0;
  outline: 0;
}
.sidebar .quickJumpIcon {
  width: 25px;
  height: 25px;
  background-color: #fb8115;
  position: absolute;
  top: 5px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.sidebar .quickJumpIcon.search {
  background: url(/themes/x/images/filter-search.png) no-repeat scroll 0 0;
}
.sidebar .quickJumpIcon.cancel {
  cursor: pointer;
  background: url(/themes/x/images/filter-cancel.png) no-repeat scroll 0 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  /* IE 5-7 */
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  /* Netscape */
  -moz-opacity: 0.7;
  /* Safari 1.x */
  -khtml-opacity: 0.7;
  /* Good browsers */
  opacity: 0.7;
}
.sidebar .quickJumpIcon.cancel:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}
.sidebar .collapseExpandContainer {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.sidebar a.collapseExpandButton {
  color: #666666;
  text-align: center;
  width: 109px;
  height: 27px;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  border: 1px solid #bebebe;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-color: #d0d0d0;
  outline: none;
}
.sidebar a.collapseExpandButton.expand {
  background-image: url(/themes/x/images/expand-all.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.sidebar a.collapseExpandButton.collapse {
  background: url(/themes/x/images/collapse-all.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.sidebar a.collapseExpandButton:hover,
.sidebar a.collapseExpandButton:focus {
  color: #444444;
  text-decoration: none;
  background-color: #dfdfdf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  border-color: #bebebe;
  border-color: rgba(0, 0, 0, 0.2);
}
.sidebar a.collapseExpandButton:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.03);
  border-color: rgba(0, 0, 0, 0.2);
}
.sidebar .mainCommandWrapper ul.hideMainCommand {
  display: none;
}
.sidebar .mainCommandWrapper {
  position: absolute;
  top: 69px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: inherit;
}
.sidebar #mainCommand {
  list-style: none;
  padding: 0;
  font-size: 12px;
  border-right: 1px solid #d0d0d0;
  margin: 0;
  width: 100%;
}
.sidebar ul#mainCommand > :first-child .categoryHeader {
  border-top: none;
  width: inherit;
}
.sidebar #mainCommand li.expanded > ul {
  display: block;
}
.sidebar #mainCommand li.collapsed > ul {
  display: none;
}
.sidebar #mainCommand > :first-child .categoryHeader {
  border-top: none;
}
.sidebar .categoryHeader {
  background-color: #eaeaea;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #cecece;
  position: relative;
}
.sidebar .categoryHeader a:hover {
  color: #000000;
  text-decoration: none;
}
.sidebar .expanded > .categoryHeader:hover {
  color: #000000;
  border-color: #999999;
  background-color: #c8c8c8;
}
.sidebar .collapsed > .categoryHeader:hover {
  color: #000000;
  border-color: #999999;
  text-shadow: 0 0 1px #e9e9e9;
  background-color: #e2e2e2;
}
.sidebar .categoryHeader.highlighted,
.sidebar .categoryHeader.highlighted:hover {
  background-color: #9d9d9d;
  border-color: #7b7b7b #9d9d9d #9d9d9d;
}
.sidebar .categoryHeader a,
.sidebar .categoryHeader a:link,
.sidebar .categoryHeader a:visited {
  display: block;
  color: #4c4c4c;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  width: 85%;
  word-wrap: break-word;
}
.sidebar .categoryHeader.highlighted a,
.sidebar .categoryHeader.highlighted a:hover,
.sidebar .categoryHeader.highlighted a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.sidebar .categoryHeader a:focus {
  outline: none;
}
.sidebar .categoryHeader a > img {
  position: absolute;
  top: 7px;
  width: 16px;
  height: 16px;
}
.sidebar .categoryHeader a > span {
  width: 100%;
  cursor: pointer;
  /* This explicit setting is needed for IE 7 */
}
.sidebar .categoryHeader .actionIconContainer {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
}
.sidebar .categoryHeader .actionIcon {
  width: 30px;
  height: 20px;
  margin: 5px auto;
  background: url(/themes/x/images/expand-sprite.png) no-repeat scroll transparent;
}
.sidebar .collapsed .categoryHeader.highlighted .actionIcon {
  background: url(/themes/x/images/expand-sprite.png) no-repeat scroll transparent;
}
.sidebar .expanded .categoryHeader .actionIcon {
  background: url(/themes/x/images/expand-sprite.png) no-repeat scroll transparent;
}
.sidebar .expanded .categoryHeader.highlighted .actionIcon {
  background: url(/themes/x/images/expand-sprite.png) no-repeat scroll transparent;
}
.sidebar ul.sub {
  color: #4c4c4c;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul.sub li {
  padding: 0;
  background-color: #fbfbfb;
  border-top: 1px solid #fbfbfb;
  border-bottom: 1px solid #fbfbfb;
}
.sidebar ul.sub li a {
  text-decoration: none;
  color: #4c4c4c;
  /*Entire li clickable*/
  display: block;
}
.sidebar ul.sub li:hover,
.sidebar ul.sub li a:hover {
  background-color: #f5f5f5;
  color: #000000;
}
.sidebar ul.sub li.highlighted {
  background-color: #656565;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.sidebar ul.sub li.highlighted:hover,
.sidebar ul.sub li.highlighted a:hover {
  text-shadow: none;
  background-color: #4c4c4c;
}
.sidebar ul.sub li.highlighted a {
  color: #ffffff;
  text-decoration: none;
}
.sidebar ul.sub li.highlighted a:focus {
  outline: 0;
}
.sidebar ul.sub li.even {
  background-color: #ededed;
}
.sidebar ul.sub li.activePage,
.sidebar .categoryHeader.activePage {
  border-top-color: #708b92;
  border-bottom-color: #708b92;
  background-color: #293a4a;
  transition: background-color 0.25s ease-in;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
}
.sidebar ul.sub li.activePage a,
.sidebar .categoryHeader.activePage > a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: none;
}
.sidebar ul.sub li.activePage:hover,
.sidebar ul.sub li.activePage a:hover,
.sidebar .categoryHeader.activePage:hover,
.sidebar .categoryHeader.activePage.highlighted,
.sidebar ul.sub li.highlighted.activePage {
  background: none;
  text-decoration: none;
  text-shadow: none;
  background-color: #293a4a;
}
.sidebar .categoryHeader.activePage.highlighted:hover,
.sidebar ul.sub li.highlighted.activePage a:hover {
  background-color: #708b92;
}
.sidebar .commandFooter {
  margin: 0 auto;
  font-size: 11px;
}
.sidebar .commandFooter .legal {
  padding: 4px 0 4px 0;
  text-align: center;
  background-color: #eaeaea;
  border-top: 1px solid #b1b1b1;
  border-right: 1px solid #d0d0d0;
}
.sidebar .commandFooter .legal a:link,
.sidebar .commandFooter .legal a:visited,
.sidebar .commandFooter .legal a:active {
  color: #4c4c4c;
  cursor: default;
  text-decoration: underline;
}
.sidebar .commandFooter .legal a:hover,
.sidebar .commandFooter .legal a:focus {
  color: #000000;
  cursor: pointer;
  text-decoration: underline;
}
.sidebar .commandFooter .copyright {
  display: block;
  margin: 0 0 4px 0;
  text-align: center;
}
.sidebar .jumpUp,
.sidebar .jumpUp:hover {
  border-color: #7b7b7b #9d9d9d #9d9d9d;
  border-right: 1px solid #d0d0d0;
}
.sidebar .wraptext {
  word-wrap: break-word;
  overflow: hidden;
  display: block;
}
.sidebar .categoryHeader a > img.backtotop {
  width: auto;
  height: auto;
}
.sidebar .trademark {
  padding: 0 5px 0 5px;
}
.sidebar .soloWrapper {
  align-content: center;
  width: 50%;
}
html[dir="ltr"] .sidebar #quickJump {
  padding: 3px 0 3px 3px;
}
html[dir="ltr"] .sidebar .quickJumpIcon {
  right: 0;
}
html[dir="ltr"] .sidebar .categoryHeader a {
  /*padding: 0.583em 0 0.583em 2.3em; */
  /*accommodate the icon's size*/
  padding: 6px 0 6px 30px;
}
html[dir="ltr"] .sidebar .categoryHeader a > img {
  left: 3px;
}
html[dir="ltr"] .sidebar .categoryHeader a > span {
  padding-right: 3px;
}
html[dir="ltr"] .sidebar .collapsed .categoryHeader a > span {
  border-right: 1px solid #dadada;
}
html[dir="ltr"] .sidebar .collapsed .categoryHeader.highlighted a > span {
  border-right: 1px solid #8c8c8c;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader a > span {
  border-right: 1px solid #bfbfbf;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader.highlighted a > span {
  border-right: 1px solid #8c8c8c;
}
html[dir="ltr"] .sidebar .categoryHeader .actionIconContainer {
  right: 0;
}
html[dir="ltr"] .sidebar .categoryHeader .actionIcon {
  right: 0;
  background-position: 2px -129px;
}
html[dir="ltr"] .sidebar .collapsed .categoryHeader.highlighted .actionIcon {
  background-position: 2px -179px;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader .actionIcon {
  background-position: 1px -29px;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader.highlighted .actionIcon {
  background-position: 1px -279px;
}
html[dir="ltr"] .sidebar ul.sub li a {
  padding: 4px 0 4px 10px;
}
html[dir="ltr"] .sidebar .categoryHeader.activePage .actionIcon,
html[dir="ltr"] .sidebar .categoryHeader.activePage:hover .actionIcon {
  right: 0;
  background-position: 2px -179px;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader.activePage .actionIcon {
  background-position: 1px -29px;
}
html[dir="ltr"] .sidebar .collapsed .categoryHeader.activePage a > span {
  border-right: 1px solid #ee7b00;
}
html[dir="ltr"] .sidebar .collapsed .categoryHeader.activePage:hover a > span,
html[dir="ltr"] .sidebar .collapsed .categoryHeader.activePage.highlighted a > span {
  border-right: 1px solid #596b70;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader.activePage a > span {
  border-right: 1px solid #ee7b00;
}
html[dir="ltr"] .sidebar .expanded .categoryHeader.activePage:hover a > span,
html[dir="ltr"] .sidebar .expanded .categoryHeader.activePage.highlighted a > span {
  border-right: 1px solid #596b70;
}
html[dir="rtl"] .sidebar #quickJump {
  padding: 3px 3px 3px 0;
}
html[dir="rtl"] .sidebar .quickJumpIcon {
  left: 0;
}
html[dir="rtl"] .sidebar #mainCommand {
  float: none;
  border-left: 1px solid #d0d0d0;
  border-right: none;
}
html[dir="rtl"] .sidebar .categoryHeader a {
  padding: 6px 30px 6px 0;
  width: 85%;
}
html[dir="rtl"] .sidebar .categoryHeader a > img {
  right: 9px;
}
html[dir="rtl"] .sidebar .categoryHeader a > span {
  padding-left: 3px;
}
html[dir="rtl"] .sidebar .collapsed .categoryHeader a > span {
  border-left: 1px solid #dadada;
}
html[dir="rtl"] .sidebar .collapsed .categoryHeader.highlighted a > span {
  border-left: 1px solid #8c8c8c;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader a > span {
  border-left: 1px solid #bfbfbf;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader.highlighted a > span {
  border-left: 1px solid #8c8c8c;
}
html[dir="rtl"] .sidebar .categoryHeader .actionIconContainer {
  left: 5px;
}
html[dir="rtl"] .sidebar .collapsed .actionIconContainer {
  left: 2px;
}
html[dir="rtl"] .sidebar .categoryHeader .actionIcon {
  left: 0;
  background-position: 0 -104px;
}
html[dir="rtl"] .sidebar .collapsed .categoryHeader.highlighted .actionIcon {
  background-position: 0 -154px;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader .actionIcon {
  background-position: -2px -29px;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader.highlighted .actionIcon {
  background-position: -2px -279px;
}
html[dir="rtl"] .sidebar ul.sub li a {
  padding: 4px 10px 4px 0;
}
html[dir="rtl"] .sidebar .categoryHeader.activePage .actionIcon,
html[dir="rtl"] .sidebar .categoryHeader.activePage:hover .actionIcon {
  left: 0;
  background-position: 0 -154px;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader.activePage .actionIcon {
  background-position: -2px -29px;
}
html[dir="rtl"] .sidebar .collapsed .categoryHeader.activePage a > span {
  border-left: 1px solid #ee7b00;
}
html[dir="rtl"] .sidebar .collapsed .categoryHeader.activePage:hover a > span,
html[dir="rtl"] .sidebar .collapsed .categoryHeader.activePage.highlighted a > span {
  border-left: 1px solid #596b70;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader.activePage a > span {
  border-left: 1px solid #ee7b00;
}
html[dir="rtl"] .sidebar .expanded .categoryHeader.activePage:hover a > span,
html[dir="rtl"] .sidebar .expanded .categoryHeader.activePage.highlighted a > span {
  border-left: 1px solid #596b70;
}
html[dir="rtl"] .sidebar .jumpUp,
html[dir="rtl"] .sidebar .jumpUp:hover {
  border-left: 1px solid #d0d0d0;
  border-right: none;
}
html[dir="rtl"] .sidebar .commandFooter {
  width: 100%;
}
html[dir="rtl"] .sidebar .commandFooter .legal {
  border-left: 1px solid #d0d0d0;
  border-right: none;
}
body.nav-collapsed #sidebar {
  display: none;
}
