/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/**
# cpanel - whostmgr/docroot/styles/legacy_yui_styles.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* ------------------------------------------------------------------------- */
/* This file consists of css used in legacy parts of WHM. Only include
/* styles that are missing which would affect the functionality of the page.
/* Once this all YUI stuff has been removed from WHM, we will no longer
/* need this file.
/* ------------------------------------------------------------------------- */
/* Test to fix modal window pushing down the layout */
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
.yui-overlay,
.yui-panel-container {
  visibility: hidden;
  position: absolute;
  z-index: 2;
}
.yui-panel {
  position: relative;
}
.yui-panel-container form {
  margin: 0;
}
.yui-dialog,
.yui-panel-container {
  z-index: 2000 !important;
}
.mask {
  z-index: 1999 !important;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mask.block-scrollbars {
  /*
        Application of "overflow:auto" prevents Mac scrollbars from bleeding
        through the modality mask in Gecko. The block-scollbars class is only
        added for Gecko on MacOS
    */
  overflow: auto;
}
/*
    PLEASE NOTE:

    1) ".masked select" is used to prevent <SELECT> elements bleeding through
       the modality mask in IE 6.

    2) ".drag select" is used to hide <SELECT> elements when dragging a
       Panel in IE 6.  This is necessary to prevent some redraw problems with
       the <SELECT> elements when a Panel instance is dragged.

    3) ".hide-select select" is appended to an Overlay instance's root HTML
       element when it is being annimated by YAHOO.widget.ContainerEffect.
       This is necessary because <SELECT> elements don't inherit their parent
       element's opacity in IE 6.

*/
.masked select,
.drag select,
.hide-select select {
  _visibility: hidden;
}
.yui-panel-container select {
  _visibility: inherit;
}
/*

There are two known issues with YAHOO.widget.Overlay (and its subclasses) that
manifest in Gecko-based browsers on Mac OS X:

    1) Elements with scrollbars will poke through Overlay instances floating
       above them.

    2) An Overlay's scrollbars and the scrollbars of its child nodes remain
       visible when the Overlay is hidden.

To fix these bugs:

    1) The "overflow" property of an Overlay instance's root element and child
       nodes is toggled between "hidden" and "auto" (through the application
       and removal of the "hide-scrollbars" and "show-scrollbars" CSS classes)
       as its "visibility" configuration property is toggled between
       "false" and "true."

    2) The "display" property of <SELECT> elements that are child nodes of the
       Overlay instance's root element is set to "none" when it is hidden.

PLEASE NOTE:

    1) The "hide-scrollbars" and "show-scrollbars" CSS classes classes are
       applied only for Gecko on Mac OS X and are added/removed to/from the
       Overlay's root HTML element (DIV) via the "hideMacGeckoScrollbars" and
       "showMacGeckoScrollbars" methods of YAHOO.widget.Overlay.

    2) There may be instances where the CSS for a web page or application
       contains style rules whose specificity override the rules implemented by
       the Container CSS files to fix this bug.  In such cases, is necessary to
       leverage the provided "hide-scrollbars" and "show-scrollbars" classes to
       write custom style rules to guard against this bug.

** For more information on this issue, see:

   + https://bugzilla.mozilla.org/show_bug.cgi?id=187435
   + SourceForge bug #1723530

*/
.hide-scrollbars,
.hide-scrollbars * {
  overflow: hidden;
}
.hide-scrollbars select {
  display: none;
}
.show-scrollbars {
  overflow: auto;
}
.yui-panel-container.show-scrollbars,
.yui-tt.show-scrollbars {
  overflow: visible;
}
.yui-panel-container.show-scrollbars .underlay,
.yui-tt.show-scrollbars .yui-tt-shadow {
  overflow: auto;
}
/*
   Workaround for Safari 2.x - the yui-force-redraw class is applied, and then removed when
   the Panel's content changes, to force Safari 2.x to redraw the underlay.
   We attempt to choose a CSS property which has no visual impact when added,
   removed.
*/
.yui-panel-container.shadow .underlay.yui-force-redraw {
  padding-bottom: 1px;
}
.yui-effect-fade .underlay,
.yui-effect-fade .yui-tt-shadow {
  display: none;
}
/*
    PLEASE NOTE: The <DIV> element used for a Tooltip's shadow is appended
    to its root element via JavaScript once it has been rendered.  The
    code that creates the shadow lives in the Tooltip's public "onRender"
    event handler that is a prototype method of YAHOO.widget.Tooltip.
    Implementers wishing to remove a Tooltip's shadow or add any other markup
    required for a given skin for Tooltip should override the "onRender" method.
*/
.yui-tt-shadow {
  position: absolute;
}
.yui-override-padding {
  padding: 0 !important;
}
.yui-panel-container .container-close {
  overflow: hidden;
  text-indent: -10000em;
  text-decoration: none;
}
.yui-overlay.yui-force-redraw,
.yui-panel-container.yui-force-redraw {
  margin-bottom: 1px;
}
.yui-panel {
  visibility: hidden;
  border-collapse: separate;
  position: relative;
  left: 0;
  top: 0;
  font: 1em Arial;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1;
  overflow: hidden;
}
.yui-panel .hd {
  background-color: #4c4c4c;
  border: 0px;
  color: #fff;
  font-size: 100%;
  line-height: 100%;
  font-weight: bold;
  padding: 4px;
}
.yui-panel .bd {
  overflow: hidden;
  padding: 4px;
}
.yui-panel .bd p {
  margin: 0 0 1em;
}
.yui-panel .container-close {
  position: absolute;
  top: 5px;
  right: 4px;
  z-index: 6;
  height: 12px;
  width: 12px;
  margin: 0px;
  padding: 0px;
  background: url(/yui/container/assets/close12_1.gif) no-repeat;
  cursor: pointer;
  visibility: inherit;
  text-indent: -10000em;
  overflow: hidden;
  text-decoration: none;
}
.yui-panel .ft {
  padding: 4px;
  overflow: hidden;
}
.yui-simple-dialog .bd .yui-icon {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  float: left;
}
.yui-simple-dialog .bd span.blckicon {
  background: url("/yui/container/assets/blck16_1.gif") no-repeat;
}
.yui-simple-dialog .bd span.alrticon {
  background: url("/yui/container/assets/alrt16_1.gif") no-repeat;
}
.yui-simple-dialog .bd span.hlpicon {
  background: url("/yui/container/assets/hlp16_1.gif") no-repeat;
}
.yui-simple-dialog .bd span.infoicon {
  background: url("/yui/container/assets/info16_1.gif") no-repeat;
}
.yui-simple-dialog .bd span.warnicon {
  background: url("/yui/container/assets/warn16_1.gif") no-repeat;
}
.yui-simple-dialog .bd span.tipicon {
  background: url("/yui/container/assets/tip16_1.gif") no-repeat;
}
.yui-dialog .ft,
.yui-simple-dialog .ft {
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: right;
}
.yui-dialog form,
.yui-simple-dialog form {
  margin: 0;
}
.yui-override-padding {
  padding: 0 !important;
}
/* ------------------------------------------------------------------------- */
/* Old anchor styles                                                         */
/* ------------------------------------------------------------------------- */
.action_link,
.fake_anchor {
  color: #0088cc;
  cursor: pointer;
  white-space: nowrap;
}
.fake_anchor:hover {
  color: #0088cc;
  text-decoration: underline;
}
/* ------------------------------------------------------------------------- */
/* Create / Generate Password Widget Styles                                  */
/* ------------------------------------------------------------------------- */
#generate_password_table,
#generate_password_advanced_options {
  padding: 0 10px;
  width: 100%;
}
#generate_password_reload {
  margin: 0 0 7px;
}
#generate_password_body_div {
  padding: 10px;
}
#generate_password_action_div {
  text-align: right;
}
input#generate_password_input_field {
  font-size: 18px;
  padding: 3px;
}
span#generate_password_toggle_advanced_options {
  background: #eee;
  border-top: solid 1px #cfcfcf;
  padding: 5px;
  display: block;
}
#generate_password_body_div p {
  padding: 10px 0px 0px 10px;
}
#generate_password_advanced_options {
  background: #eee;
  padding: 5px;
  margin-bottom: 10px;
}
#generate_password_table > tbody > tr > td {
  padding-top: 5px;
}
/* ------------------------------------------------------------------------- */
/* Old style button groups                                                   */
/* ------------------------------------------------------------------------- */
.input-button {
  display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-touch-callout: none;-khtml-user-select: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.button-group button {
  font: 100 76% verdana;
  text-decoration: none;
  background-color: #e4e4e4;
  color: #333;
  cursor: hand;
  vertical-align: middle;
  border: 2px solid #797979;
  border-top-color: #fff;
  border-left-color: #fff;
  margin: 2px;
  padding: 2px;
}
.button-group button.default {
  font-weight: bold;
}
.button-group button:hover,
.button-group button.hover {
  border: 2px solid #90a029;
  background-color: #ebf09e;
  border-top-color: #fff;
  border-left-color: #fff;
}
.button-group button:active {
  border: 2px solid #e4e4e4;
  background-color: #bbb;
  border-top-color: #333;
  border-left-color: #333;
}
.button-group button.input-button {
  font: inherit;
  border-size: 0.077em solid #4c7edf;
  padding: 4px;
  width: inherit;
}
.button-group button.input-button:hover,
.button-group button.input-button.hover,
.button-group button.input-button:active {
  border-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-width: 0.077em;
}
.button-group button.input-button.disabled {
  background: #e1e1e1;
  text-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #cccccc !important;
  border-style: solid;
  border-width: 0.077em;
  color: #a9a9a9 !important;
  cursor: not-allowed;
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
/* The yui styles below are overridden styles for buttons in yui dialog boxes.
* These styles are kept temporarily here. They can be removed
* once new styles are written for yui related html
*/
.button-group > button,
.button-group > button.default {
  background-color: #428bca;
  color: #ffffff;
  /* the below styles are borrowed from input-button
    * to make the the buttons in dialog box look like one of them.*/
  border-radius: 2px;
  border: solid 1px #357ebd;
}
.button-group > button:hover,
.button-group > button.hover {
  cursor: pointer;
  background-color: #3276b1;
  border-color: #285e8e;
  color: #ffffff;
}
.button-group > button:active {
  cursor: pointer;
  background-color: #3276b1;
  border-color: #285e8e;
  color: #ffffff;
}
/* ------------------------------------------------------------------------- */
/* Old Validation Styles                                                     */
/* ------------------------------------------------------------------------- */
.validation_error_panel .bd {
  background: none;
  border: 0;
}
.validation_errors_ul {
  background-color: #ffffff;
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 2px 5px 2px 5px;
  border: 1px solid #eb6d59;
  margin: 0 0 0 5px;
}
span.cjt_validation_error {
  display: inline-block;
}
.cjt_validation_error img {
  vertical-align: middle;
}
.validation_errors_li {
  list-style-type: none;
}
.help_panel {
  background: #fff;
  border: 1px solid #aeaeae;
  padding: 0 0 5px;
}
.help_panel .bd {
  border-width: 0;
  padding: 8px 10px;
}
.help_panel .ft {
  border: 0;
  padding: 0 13px 3px 0;
}
.help_panel .container-close {
  background: none !important;
  height: auto;
  padding: 0 0 5px 10px;
  position: static;
  text-indent: 0;
  width: auto;
}
.validation_errors_modal_box_title {
  display: block;
  font-weight: bold;
  padding: 6px 15px;
}
.validation_errors_modal_box_ul {
  list-style-type: disc;
  margin: 0 10px 15px 25px;
  padding: 0 10px;
}
.validation_errors_modal_box_actions {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}
.validation_errors_modal_box_actions * {
  margin-right: auto;
  margin-left: auto;
}
/* ------------------------------------------------------------------------- */
/* Form Fixes                                                                */
/* ------------------------------------------------------------------------- */
div.propertyValue label,
div.propertyCombined label {
  font-weight: normal;
}
/* ------------------------------------------------------------------------- */
/* Table Styles                                                              */
/* ------------------------------------------------------------------------- */
.yui-skin-sam th.yui-dt-asc,
.yui-skin-sam th.yui-dt-desc {
  background: #e5e5e5 !important;
}
.sortable,
.datatable {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px 0;
}
.fixedtable {
  table-layout: fixed;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px 0;
  width: 80%;
}
.fixedtable th:nth-of-type(1),
.fixedtable td:nth-of-type(1) {
  width: 50px;
}
.fixedtable th:nth-of-type(2),
.fixedtable td:nth-of-type(2) {
  width: 70px;
}
.fixedtable th:nth-of-type(3),
.fixedtable td:nth-of-type(3) {
  width: 600px;
}
.fixedtable th:nth-of-type(4),
.fixedtable td:nth-of-type(4) {
  width: 200px;
}
.fixedtable th:nth-of-type(5),
.fixedtable td:nth-of-type(5) {
  width: 200px;
}
.sortable caption,
.fixedtable caption,
.datatable caption {
  color: #000;
}
.sortable th,
.fixedtable th,
.datatable th {
  background-color: #e5e5e5;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30px;
  padding: 0px 4px 0px 4px;
}
.sortable th a,
.fixedtable th a,
.datatable th a {
  color: #000;
  padding: 4px;
  font-weight: bold;
  text-decoration: none;
}
.sortable a:active,
.sortable th a:hover,
.fixedtable a:active,
.fixedtable th a:hover,
.datatable a:active,
.datatable th a:hover {
  color: #000;
  text-decoration: underline;
}
.sortable th a:visited,
.fixedtable th a:visited,
.datatable th a:visited {
  color: #000;
  text-decoration: none;
}
.sortable a.sortheader,
.fixedtable a.sortheader,
.datatable a.sortheader {
  text-decoration: none;
  display: block;
}
table.sortable span.sortarrow,
table.fixedtable span.sortarrow,
table.datatable span.sortarrow {
  color: black;
  text-decoration: none;
}
table.sortable th .cell,
table.fixedtable th .cell,
table.datatable th .cell {
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
}
.sortable tr,
.fixedtable tr,
.datatable tr {
  padding: 0;
}
.sortable td,
.fixedtable td,
.datatable td {
  padding: 4px;
  border-right: 1px solid #ccc;
}
.sortable .cell-inner,
.fixedtable .cell-inner,
.datatable .cell-inner {
  border-right: 1px solid #666;
  padding: 3px;
}
.sortable .cell-inner-end,
.fixedtable .cell-inner-end,
.datatable .cell-inner-end {
  border-right: none;
  padding: 3px;
}
.sortable a,
.fixedtable a,
.datatable a {
  color: #0088cc;
  text-decoration: none;
}
.sortable .cell,
.fixedtable .cell,
.datatable .cell {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 4px;
}
.sortable .cell-end,
.fixedtable .cell-end,
.datatable .cell-end {
  border-bottom: 1px solid #ccc;
}
.sortable .row-odd,
.fixedtable .row-odd,
.datatable .row-odd {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px;
  background-color: #f3f3f3;
}
.sortable .row-even,
.fixedtable .row-even,
.datatable .row-even {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
}
.sortable .nobrd,
.fixedtable .nobrd,
.datatable .nobrd {
  border-right: none;
}
.tdshade2 {
  padding: 5px 0 5px 0;
  background-color: #f3f3f3;
}
.layouttbl {
  margin-top: 12px;
}
.layouttbl th {
  background-color: #fff;
}
.layouttbldesc {
  font-size: 11px;
}
/* ------------------------------------------------------------------------- */
/* Pagenotice Styles                                                         */
/* Used in IPv6 pages                                                        */
/* ------------------------------------------------------------------------- */
.cjt-pagenotice-container .cjt-notice {
  margin-bottom: 18px;
}
html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
  padding: 9px 45px 9px 45px;
}
html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
  padding: 9px 45px 9px 45px;
}
.cjt-pagenotice-container .cjt-notice-content ul {
  margin-bottom: 0;
}
.cjt-pagenotice-container .close {
  position: relative;
  top: 8px;
}
html[dir="ltr"] .cjt-pagenotice-container .close {
  float: right;
  right: 4px;
}
html[dir="rtl"] .cjt-pagenotice-container .close {
  float: left;
  left: 4px;
}
.cjt-pagenotice-container .cjt-notice {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px #999;
  -moz-box-shadow: 0 2px 2px #999;
  -o-box-shadow: 0 2px 2px #999;
  box-shadow: 0 2px 2px #999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#999999");
}
.cjt-pagenotice-container .cjt-notice .bd {
  background: none no-repeat scroll 0 0 transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 0;
  color: #fff;
}
html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
  background-position: 9px center;
  text-align: left;
}
html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
  background-position: 99% center;
  text-align: right;
}
.cjt-pagenotice-container .cjt-notice-content {
  font-size: 15px;
}
#content .cjt-pagenotice-container .cjt-notice .bd a:link,
#content .cjt-pagenotice-container .cjt-notice .bd a:active,
#content .cjt-pagenotice-container .cjt-notice .bd a:visited,
#pageContainer .cjt-dynamic-pagenotice a:link,
#pageContainer .cjt-dynamic-pagenotice a:active,
#pageContainer .cjt-dynamic-pagenotice a:visited {
  text-decoration: underline;
  color: #fff;
}
#content .cjt-pagenotice-container .cjt-notice .bd a:hover {
  text-decoration: none;
}
.cjt-pagenotice-container .cjt-notice-error {
  background-color: #dd5952;
  background: -moz-linear-gradient(top, #dd5952 0, #bc3e33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dd5952), color-stop(100%, #bc3e33));
  background: -webkit-linear-gradient(top, #dd5952 0, #bc3e33 100%);
  background: -o-linear-gradient(top, #dd5952 0, #bc3e33 100%);
  background: -ms-linear-gradient(top, #dd5952 0, #bc3e33 100%);
  background: linear-gradient(top, #dd5952 0, #bc3e33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd5952", endColorstr="#bc3e33", GradientType=0);
}
.cjt-pagenotice-container .cjt-notice-error .bd {
  background-image: url(/images/notice-error.png);
  border: 1px solid #900;
}
.cjt-pagenotice-container .cjt-notice-error .close {
  text-shadow: 0 1px 0 #900;
}
.cjt-pagenotice-container .cjt-notice-success {
  background-color: #6cbd58;
  background: -moz-linear-gradient(top, #6cbd58 0, #5fa74e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cbd58), color-stop(100%, #5fa74e));
  background: -webkit-linear-gradient(top, #6cbd58 0, #5fa74e 100%);
  background: -o-linear-gradient(top, #6cbd58 0, #5fa74e 100%);
  background: -ms-linear-gradient(top, #6cbd58 0, #5fa74e 100%);
  background: linear-gradient(top, #6cbd58 0, #5fa74e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cbd58", endColorstr="#5fa74e", GradientType=0);
}
.cjt-pagenotice-container .cjt-notice-success .bd {
  background-image: url(/images/notice-success.png);
  border: 1px solid #060;
}
.cjt-pagenotice-container .cjt-notice-success .close {
  text-shadow: 0 1px 0 #060;
}
.cjt-pagenotice-container .cjt-notice-info {
  background-color: #65b9d9;
  background: -moz-linear-gradient(top, #65b9d9 0, #4a9cbc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65b9d9), color-stop(100%, #4a9cbc));
  background: -webkit-linear-gradient(top, #65b9d9 0, #4a9cbc 100%);
  background: -o-linear-gradient(top, #65b9d9 0, #4a9cbc 100%);
  background: -ms-linear-gradient(top, #65b9d9 0, #4a9cbc 100%);
  background: linear-gradient(top, #65b9d9 0, #4a9cbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65b9d9", endColorstr="#4a9cbc", GradientType=0);
}
.cjt-pagenotice-container .cjt-notice-info .bd {
  background-image: url(/images/notice-info.png);
  border: 1px solid #3c829e;
}
.cjt-pagenotice-container .cjt-notice-info .close {
  text-shadow: 0 1px 0 #3c829e;
}
.cjt-pagenotice-container .cjt-notice-warn {
  background-color: #f6c167;
  background: -moz-linear-gradient(top, #f6c167 0, #f3b03b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6c167), color-stop(100%, #f3b03b));
  background: -webkit-linear-gradient(top, #f6c167 0, #f3b03b 100%);
  background: -o-linear-gradient(top, #f6c167 0, #f3b03b 100%);
  background: -ms-linear-gradient(top, #f6c167 0, #f3b03b 100%);
  background: linear-gradient(top, #f6c167 0, #f3b03b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6c167", endColorstr="#f3b03b", GradientType=0);
}
.cjt-pagenotice-container .cjt-notice-warn .bd {
  background-image: url(/images/notice-warning.png);
  border: 1px solid #da961f;
}
.cjt-pagenotice-container .cjt-notice-warn .close {
  text-shadow: 0 1px 0 #da961f;
}
.cjt-pagenotice-container .cjt-notice-closable {
  cursor: pointer;
}
.cjt-pagenotice-container .close {
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  -ms-filter: "alpha(opacity=20)";
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
}
.cjt-pagenotice-container .close:hover {
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
