/*
# cpanel - whostmgr/docroot/styles/structure.less  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/************************** Structure Style Sheet *********************************/
/* Description:
/*
/*********************************************************************************/
@import "mixins.less";
@import "responsive_grid.less";
@import "fluid_grid.less";
/* ------------------------------------------------------------------------------ */
/* LESS Code - Variables
/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* Typography
/* ------------------------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizelegibility;
}

h1 {
    font-size: 1.692em;
    line-height: 0.818em;
    margin-bottom: 0.818em;
}

h2 {
    font-size: 1.538em;
    line-height: 0.9em;
    margin-bottom: 0.9em;
}

h3 {
    font-size: 1.385em;
    line-height: 1em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.231em;
    line-height: 1.125em;
    margin-bottom: 1.125em;
}

h5 {
    font-size: 1.077em;
    line-height: 1.286em;
    margin-bottom: 1.286em;
}

h6 {
    font-size: 0.923em;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

p,
blockquote,
pre,
code {
    line-height: 1.385em;
    margin-bottom: 1.385em;
}

ul,
ol {
    padding: 0;
    margin: 0 0 0.693em 1.924em;
}

html[dir="rtl"] {
    ul,
    ol {
        margin: 0 1.924em 0.693em 0;
    }
}

ul li,
ol li {
    line-height: 21px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

ul.unstyled,
ol.unstyled {
    margin-left: 0;
}

dl {
    margin-bottom: 1.385em;
}

dd {
    margin-left: 0.693em;
    padding: 0 0 0.385em;
}

dt {
    padding: 0 0 0.385em;
}

hr {
    margin: 1.385em 0 1.385em 0;
    border: 0.077em 0 0.077em 0;
}

abbr {
    border: 0 0 0.077em 0;
}

label {
    padding: 0.077em;
}

/* ------------------------------------------------------------------------------ */
/* Forms
/* ------------------------------------------------------------------------------ */
form {
    margin: 0.385em 0 1.385em 0;
}

.form-container {
    border-width: 0.077em;
    .border-radius(0.308em);
}

legend {
    display: block;
    width: 100%;
    padding: 0.368em 0 0 0;
    margin: 0 0 0 0;
    text-indent: 3%;
    font-size: 1.462em;
    line-height: 1.789em;
}

form label {
    display: block;
    margin: 0.077em 0 0.154em 0;
    padding: 0.077em;
}

fieldset > div {
    margin: 0.154em;
    padding: 0.154em 0.77em 0.154em 0.77em;
}

.field {
    .displayInlineBlock;
    margin: 1% 1% 1% 1%;
    /*Without a width this element will move the next "line" on the page*/
}

form.simple fieldset div > .field {
    width: 96%;
}

form.complex fieldset div > .field {
    width: 48%;
}

.field p,
.field span {
    padding: 0.154em 0;
    margin: 0.154em 0.154em 0.385em 0.154em;
    width: 90%;
}

/*Used to display checkboxs/radio buttons inline*/
/* add "inline" to div.field */
fieldset div > div.inline label {
    .displayInlineBlock;
}

fieldset div > div.inline label:first-child {
    display: block;
}

.field-extra {
    .displayInlineBlock;
    vertical-align: top;
    margin: 1%;
    margin-bottom: 1.077em;
    padding: 0.385em;
    /*Without a width this element will move the next "line" on the page*/
    width: 45%;
}

fieldset {
    width: 100%;
    padding: 0 0 0.77em 0;
    border-top-width: 0.077em;
}

form legend:first-child {
    .border-radius-top(0.308em);
}

form legend:last-child {
    .border-radius-bottom(0.308em);
}

/*Field controls(options, checkboxs, etc.) styling*/
.field .controls label,
.field .controls input {
    .displayInlineBlock;
    margin: 0 0 0 0.154em;
}

/* ------------------------------------------------------------------------------ */
/* Input control styles
/* ------------------------------------------------------------------------------ */
input[type="text"],
input[type="password"] {
    height: 1.808em;
    width: 100%;
    min-width: 12.308em;

    line-height: 1.7em;

    border-width: 0.077em;
    .border-radius(0.154em);

    padding: 0.231em 0.077em 0.231em 0.231em;
}

input[type="text"]:focus,
textarea:focus,
a.button:focus,
select:focus,
input[type="file"]:focus,
input[type="password"]:focus {
    border-width: 0.077em;
}

select,
input[type="file"] {
    height: 2.308em;
    width: 100%;
    min-width: 12.308em;

    border-width: 0.077em;

    margin: 0.077em;
    padding: 0.308em;

    text-indent: 0.231em;

    .border-radius(0.231em);
    .box-sizing(border-box);
}

/*Fix for multi select height*/
select[multiple],
select[size] {
    height: auto;
}

textarea {
    width: 100%;
    min-width: 12.308em;

    border-width: 0.077em;
    .border-radius(0.154em);

    padding: 0.231em 0.077em 0.231em 0.231em;
}

select option {
    font-size: 0.924em;
}

select:focus,
textarea:focus {
    border-width: 0.077em;
}

input.watermark {
    font-size: 0.924em;
}

.listbox {
    min-height: 15.385em;
    max-height: 23.007em;
}

/* ------------------------------------------------------------------------------ */
/* Buttons
/* ------------------------------------------------------------------------------ */
.btn-primary,
.btn-secondary {
    min-width: 7.923em;
    min-height: 2em;
    display: inline-block;
    padding: 0 0.357em 0 0.357em;
    font-weight: normal;
    font-size: 1.077em;
    text-align: center;
    border-width: 0.077em;
    line-height: 2em;
}

button div.spinner {
    font-size: 13px;
    position: absolute;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: -6px;
    margin-top: 6px;
    display: none;
}

button div.button-text {
    white-space: nowrap;
}

button.loading div.spinner {
    display: block;
}

.btn-cancel {
    min-width: 7.923em;
    .displayInlineBlock;
    padding: 0 0.385em 0 0.385em;
    margin: 0.8em 0.308em 0.615em 0.308em;
    text-align: center;
    border: none;
}

/* ------------------------------------------------------------------------------ */
/* Table styles
/* ------------------------------------------------------------------------------ */
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;
    margin-bottom: 1.385em;
}

.table th,
.table td {
    padding: 0.615em;
    text-align: left;
    vertical-align: top;
    border-top-width: 0.077em;
}

.table thead th {
    vertical-align: bottom;
}

.table thead:first-child tr th,
.table thead:first-child tr td {
    border-top: 0;
}

.table tbody + tbody {
    border-top-width: 0.154em;
}

.tableCondensed th,
.tableCondensed td {
    padding: 0.308em 0.385em 0.308em 0.385em;
}

.tableBordered {
    border-width: 0.077em;
    border-collapse: separate;
    *border-collapse: collapsed;
}

.tableBordered th + th,
.tableBordered td + td,
.tableBordered th + td,
.tableBordered td + th {
    border-left-width: 0.077em;
}

.tableBordered thead:first-child tr:first-child th,
.tableBordered tbody:first-child tr:first-child th,
.tableBordered tbody:first-child tr:first-child td {
    border-top: 0;
}

/* ------------------------------------------------------------------------------ */
/* Page Elements
/* ------------------------------------------------------------------------------ */

.childFrame {
    padding-top: 0;
}

/* ------------------------- breadcrumb ----------------------------------- */
#navigation {
    width: 100%;
}

html[dir="rtl"] ul.navigationLinks {
    padding: 0 15px 0 0;
    margin: 0;
}

#breadcrumbsContainer {
    width: 100%;
    z-index: 2147483645;
    display: table-row;
}

@media (min-width: 769px) {
    #breadcrumbsContainer {
        min-height: 42px;
        height: 42px;
    }
}

@media (max-width: 768px) {
    #breadcrumbsContainer {
        min-height: 32px;
        height: 32px;
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 5px 0 0;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    line-height: 18px;
}

.breadcrumbs li {
    display: inline;
    padding: 3px 3px 3px 3px;
}

.breadcrumbs li .leafNode {
    color: #333333;
    .opacity(0.9);
}

.breadcrumbs a#docs-link img {
    width: 18px;
    height: 18px;
    color: black;
}

/* ------------------------------------------------------------------------------ */
/* Support menu
/* ------------------------------------------------------------------------------ */

.supportContainer {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.slideContainer {
    margin: 7px 20px 0 0;
    padding: 0;
    position: absolute;
    width: 220px;
    z-index: 99;
    -webkit-transition: width 0.5s ease-in;
    transition: width 0.5s ease-in;
    display: none;
}

.slideContainer.show {
    display: block !important;
}

@media (max-width: 768px) {
    .supportContainer {
        display: none;
    }
}

html[dir="ltr"] .slideContainer {
    right: 0;
}

html[dir="rtl"] .slideContainer {
    margin: 7px 0 0 20px;
    left: 0;
    right: auto;
}

.slideTab {
    display: table;
    position: relative;
    margin: 0 20px 0 0;
    width: 31px;
    height: 32px;
}

.slideTab a {
    padding: 5px;
    border: 1px solid #555253;
    color: #555253;
    border-radius: 3px;
    -ms-filter: "alpha(opacity=75)";
    filter: alpha(opacity=75);
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    display: table-cell;
    vertical-align: middle;
}

.slideTab.active a {
    cursor: pointer;
    border: 1px solid #ff6c2c;
    color: #ff6c2c;
}

.slideTab a:hover,
.slideTab a:focus {
    cursor: pointer;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* '.slideTabHover' css class is used by the image in slide tab
    to change the opacity "onfocus". Had to use this explicit class
    due to IE8 not supporting :focus selector for images.
*/
.slideTabHover {
    .opacity(1);
}

.slidePanel {
    background-color: #5c5c5c;
    margin: 0;
    padding: 9px;
}

html[dir="ltr"] .slidePanel {
    right: -32px;
    .border-radiuses(0, 0, 5px, 0);
}

html[dir="rtl"] .slidePanel {
    left: -32px;
    .border-radiuses(0, 5px, 0, 0);
}

.slidePanel a {
    display: block;
    padding: 4px;
    color: #ffffff;
    text-decoration: none;
    .opacity(0.7);
}

.slidePanel a:hover {
    color: #ffffff;
    .opacity(1);
    text-decoration: underline;
}

html[dir="ltr"] .slidePanel {
    .box-shadow(2px 2px 3px #4c4c4c);
}

html[dir="rtl"] .slidePanel {
    .box-shadow(-2px 2px 3px #4c4c4c);
}

/* ------------------------- page container  ---------------------------------- */
#contentContainer {
    overflow: hidden;
    margin: 0;
}

/* ------------------------- page description  ----------------------------- */
.pageDescription {
    max-width: 46.154em;
    padding: 0 0 1.154em 0;
}

/* ------------------------- section icons  ----------------------------- */

ul.icons {
    margin-top: 1.5em;
    margin-left: 0em;
}

ul.icons li {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.icons li {
    position: relative;
    border-width: 0.077em;

    .border-radius(0.154em);

    .displayInlineBlock;

    line-height: 1.6em;
    list-style: none outside none;
    text-align: center;
    vertical-align: middle;
    margin: 0.77em 1.538em 0.77em 0;
    max-width: 15.44em;
}

.sectionBackground {
    border-width: 0.077em;
    .border-radius(0.154em);

    padding: 0.385em;
}

.sectionHeading {
    font-size: 1.4em;
    font-weight: bold;

    padding: 0.154em 0 0.615em 0.154em;
    margin: 0.77em 0 0.77em 0;

    border-width: 0 0 0.154em 0;
}

ul.bulletStyle {
    display: block;
    padding: 0.385em;
    list-style-type: disc;
    list-style-position: inside;
}

ul.bulletStyle li {
    padding: 0.154em;
}

.helptext {
    font-size: 0.923em;
}

/**********     Row Styles for DataControls - Start **********/
.passwordStrength {
    .border-radius(0.231em);

    padding-left: 0.231em;
    border-width: 0.077em;

    height: 2.154em;
    width: 12.308em;

    text-align: center;
    vertical-align: middle;
}

/* page footer */
#footer {
    padding: 3em 0 0 0;
}

/* ------------------------------------------------------------------------------ */
/* Other
/* ------------------------------------------------------------------------------ */
.noWrap {
    white-space: nowrap;
}

.clear {
    clear: both;
}

.displayInlineBlock {
    display: inline-block;

    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
}

/* ------------------------------------------------------------------------------ */
/* trial and developer warning styles
/* ------------------------------------------------------------------------------ */
.callout {
    border-left-width: 3px;
    margin: 20px 0 0 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.callout .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

.callout button,
.callout a.btn {
    margin-top: 10px;
    vertical-align: baseline;
}

.trialLicenseWarning h1,
.developerLicenseWarning h1 {
    margin-bottom: 18px;
    margin-top: 0;
}

/* --------------------------------------------------------------------------------
**  Return links
** --------------------------------------------------------------------------------*/
.return-link {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

/* --------------------------------------------------------------------------------
**  Used for mono spaced output
** --------------------------------------------------------------------------------*/
.output-mono {
    overflow: auto;
    font-family: "Andale Mono", "Courier New", Courier, monospace;
}

/* ------------------------------------------------------------------------------ */
/* Notice Styles
/* ------------------------------------------------------------------------------ */
.cjt-pagenotice-container .cjt-notice {
    margin-bottom: 18px;
}
html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 9px 45px 9px 45px;
}
html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 9px 45px 9px 45px;
}
.cjt-pagenotice-container .cjt-notice-content ul {
    margin-bottom: 0;
}
.cjt-pagenotice-container .close {
    position: relative;
    top: 8px;
}
html[dir="ltr"] .cjt-pagenotice-container .close {
    float: right;
    right: 4px;
}
html[dir="rtl"] .cjt-pagenotice-container .close {
    float: left;
    left: 4px;
}

.cjt-dynamic-pagenotice {
    position: relative;
}

.cjt-dynamic-pagenotice-close-button,
.cjt-dynamic-pagenotice-close-button:link,
.cjt-dynamic-pagenotice-close-button:visited {
    position: absolute;
    top: 5px;
    right: 5px;
}

.cjt-dynamic-pagenotice-close-button:hover:active {
    box-shadow: none;
    top: 6px;
    right: 4px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button {
    left: 5px;
    right: auto;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover:active {
    left: 4px;
    right: auto;
}

.cjt-dynamic-pagenotice-close-link {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    font-size: 8px;
}

html[dir="ltr"] .cjt-dynamic-pagenotice-close-link {
    right: 6px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-link {
    left: 6px;
}

/*---------------------------------------
/* Validation Panels
----------------------------------------*/

input.validation_error,
select.validation_error,
textarea.validation_error {
    background-color: #ffb5b6;
    border: 1px solid #e26c6c;
}

input.validation_error[type="text"]:focus,
textarea.validation_error:focus,
select.validation_error:focus,
input.validation_error[type="file"]:focus,
input.validation_error[type="password"]:focus {
    border: 1px solid #e61212;
}

/*---------------------------------------
  Define the error panel
----------------------------------------*/
.validation_error_panel {
}

.validation_error_panel .bd {
    background: none;
    border: 0;
}

.validation_errors_div {
    max-width: 350px;

    background-color: #ffffff;

    margin-left: 5px;
    margin-right: 5px;
    padding: 0 5px 0 5px;

    line-height: 20px;

    border: 1px solid #e61212;

    .border-radius(2px);
    .box-shadows(0 1px 0 rgba(255,255,255,0.3), 0 1px 0 rgba(0,0,0,0.2));
}

.validation_errors_div ul.validation_errors_ul {
    margin: 0;
    padding: 2px 5px;
}

ul.validation_errors_ul li.validation_errors_li {
    margin: 0;
    list-style: none;
}

/*---------------------------------------
  CJT Specific overrides
----------------------------------------*/
.cjt_validation_error {
    width: 20px;
}

span.cjt_validation_error {
    display: inline-block;
}

.cjt_validation_error img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

/*---------------------------------------
  Validation Error Popup
----------------------------------------*/
#validation_errors_modal_box {
    width: 360px;
}

#validation_errors_modal_box .bd {
    max-height: 390px;
    overflow: auto;
}

#validation_errors_modal_box .bd .actionable {
    cursor: pointer;
    cursor: hand;
}

#validation_errors_modal_box .bd .actionable:hover {
    color: #0088cc;
    text-decoration: underline;
}

.validation_errors_modal_box_title {
    display: block;
    font-weight: bold;
    padding: 6px 15px;
}

.validation_errors_modal_box_ul {
    list-style-type: disc;
    padding: 0 10px;
    margin-bottom: 2px;
}

.validation_errors_panel_buttons {
    text-align: center;
}

.validation_errors_modal_box_actions {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.validation_errors_modal_box_actions * {
    margin-right: auto;
    margin-left: auto;
}

/*---------------------------------------
  Define the popup error panel
----------------------------------------*/
.help_panel {
    background: #fff;
    border: 1px solid #aeaeae;
    padding: 0 0 5px;
}

.help_panel .bd {
    border-width: 0;
    padding: 8px 10px;
}

.help_panel .container-close {
    background: none !important;
    height: auto;
    padding: 0 0 5px 10px;
    position: static;
    text-indent: 0;
    width: auto;
}

.help_panel .ft {
    border: 0;
    padding: 0 13px 3px 0;
}

/*---------------------------------------
  Define the mask for the modal version
  version of the error panel.
----------------------------------------*/
.mask {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #000;
}

/*--------------------------------------------------------------------*/

/* The yui styles below are overridden styles.
* These styles are kept temporarily here. They can be removed
* once new styles are written for yui related html
*/
.yui-panel .hd {
    background-color: #4c4c4c;
    border: 1px solid #4c4c4c;
}

.yui-dialog form,
.yui-simple-dialog form {
    margin: 0px;
    border: none;
}

.button-group button,
.button-group button.default {
    .gradient(#598fff, #5388f2);
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#598FFF",
            endColorstr="#5388F2",
            GradientType=0
        ); /* IE6-8 */

    color: #ffffff;
    border-color: #4c7edf;
    .text-shadow(0 -1px 0 rgba(0,0,0,0.2));
    border-width: 1px;
    font-weight: normal;
}

.button-group button:hover,
.button-group button.hover {
    border-color: rgba(0, 0, 0, 0.4);
    .box-shadows(0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.4));
    cursor: pointer;
}

.button-group button:active {
    .box-shadows(0px -10px 20px rgba(0, 0, 0, 0.07), 0px 3px 5px rgba(0, 0, 0, 0.2));
    border-color: rgba(0, 0, 0, 0.4);
}

h1 > img {
    vertical-align: middle;
}
