/**
# cpanel - whostmgr/docroot/styles/visual.less     Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/************************** Visual Style Sheet ***********************************/
/* Description:
/*
/*********************************************************************************/
@import "mixins.less";

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: bold;
}

hr {
    border-style: solid;
    border-top-color: #eeeeee;
    border-bottom-color: #ffffff;
}

abbr {
    text-transform: uppercase;
    border-style: dotted;
    border-color: #dddddd;
    cursor: help;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul.unstyled,
ol.unstyled {
    list-style: none;
}

dt {
    font-weight: bold;
}

a:link,
a:visited,
a:active {
    color: #0088cc;
    text-decoration: none;
    cursor: default;
}

a:hover,
a:focus {
    color: #0088cc;
    text-decoration: underline;
    cursor: pointer;
}

legend {
    color: #444444;
    text-shadow: 0 0.053em 0 #ffffff;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

input[type="text"],
input[type="password"],
textarea {
    color: #333333;
    border-style: solid;
    border-color: #d9d9d9;
    background-color: #ffffff;
}

input[type="text"]:focus,
textarea:focus,
a.button:focus,
select:focus,
input[type="file"]:focus,
input[type="password"]:focus {
    .box-shadow-inset(0 0.077em 0.231em rgba(192,192,192, 1));
    border-style: solid;
    border-color: #5e86f5;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
    background-color: #e1e1e1;
    color: #e1e1e1;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    background-color: #f5f5f5;
    border-color: #cccccc;

    border-style: solid;
}

input[disabled],
select[disabled],
textarea[disabled] {
    cursor: not-allowed;
}

select,
input[type="file"] {
    border-style: solid;
    border-color: #d9d9d9;
    background: #ffffff;
}

select:focus,
textarea:focus {
    border-style: solid;
    border-color: #0066cc;
}

/* ------------------------------------------------------------------------------ */
/* Buttons
/* ------------------------------------------------------------------------------ */
.btn-primary,
.btn-secondary,
.btn-default {
    border-style: solid;
    .border-radius(0.286em);
}

.btn-primary,
.btn-default {
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #666666;
    color: #333333;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    cursor: pointer;
    background-color: #3276b1;
    border-color: #285e8e;
    color: #ffffff;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    cursor: pointer;
    background-color: #ebebeb;
    border-color: #666666;
    color: #333333;
}

.btn-primary.disabled,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled:hover,
button[disabled].btn-primary,
input[type="submit"][disabled].btn-primary,
input[type="button"][disabled].btn-primary,
input[type="reset"][disabled].btn-primary,
.btn-default.disabled,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled:hover,
button[disabled].btn-primary,
input[type="submit"][disabled].btn-default,
input[type="button"][disabled].btn-default,
input[type="reset"][disabled].btn-default {
    cursor: not-allowed;
    .opacity(0.5);
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-secondary.disabled,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled:hover,
button[disabled].btn-secondary,
input[type="submit"][disabled].btn-secondary,
input[type="button"][disabled].btn-secondary,
input[type="reset"][disabled].btn-secondary {
    cursor: not-allowed;
    .opacity(0.5);
}

.btn-cancel {
    color: #0088cc;
    cursor: default;
    text-decoration: none;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active {
    color: #0088cc;
    cursor: default;
    text-decoration: underline;
}

button div.button-text {
    .opacity(1);
}

button.loading {
    background: #ffffff;
    border-color: #888888;
}

button.loading div.button-text {
    color: #888888;
    .opacity(0.2);
}

/* ------------------------------------------------------------------------------ */
/* Form styles
/* ------------------------------------------------------------------------------ */

.form-container {
    border-style: solid;
    border-color: #dcdfe3;
    background-color: #f3f3f3;
}

form label.title {
    font-weight: bold;
}

.helpText {
    color: #666666;
}

input.watermark {
    font-style: italic;
    color: #999999;
}

fieldset > a:link {
    color: #c76e6d;
}

fieldset > a:visited,
fieldset > a:hover,
fieldset > a:focus {
    color: #b94a48;
}

/* Field states(success, error) */
.field.success > label,
.field.success .helptext {
    color: #468847;
}

.field.success input,
.field.success select,
.field.success textarea {
    border-color: #468847;
    color: #468847;
}

.field.success input:focus,
.field.success select:focus,
.field.success textarea:focus {
    border-color: #356635;
    .box-shadow(0 0 0.6em #7aba7b);
}

/* Field error state */
.field.error > label,
.field.error .help-block,
.field.error .help-inline {
    color: #b94a48;
}

.field.error input,
.field.error select,
.field.error textarea {
    border-color: #b94a48;
    color: #b94a48;
}

.field.error input:focus,
.field.error select:focus,
.field.error textarea:focus {
    border-color: #953b39;
    .box-shadow(0 0 0.6em #D59392);
}

/* ------------------------------------------------------------------------------ */
/* Table styles
/* ------------------------------------------------------------------------------ */
thead {
    background-color: #e5e5e5;
}

.table {
    background-color: #ffffff;
}

.table th,
.table td {
    border-top-style: solid;
    border-top-color: #dddddd;
}

.table th {
    font-weight: bold;
}

.table tbody + tbody {
    border-top-style: solid;
    border-top-color: #dddddd;
}

.tableBordered {
    border-style: solid;
    border-color: #dddddd;
    .border-radius(0.308em);
}

.tableBordered th + th,
.tableBordered td + td,
.tableBordered th + td,
.tableBordered td + th {
    border-left-style: solid;
    border-left-color: #dddddd;
}

.tableBordered thead:first-child tr:first-child th:first-child,
.tableBordered tbody:first-child tr:first-child td:first-child {
    .border-radiuses(0.308em, 0, 0, 0);
}

.tableBordered thead:first-child tr:first-child th:last-child,
.table tbody:first-child tr:first-child td:last-child {
    .border-radiuses(0, 0.308em, 0, 0);
}

.tableBordered thead:last-child tr:last-child th:first-child,
.tableBordered tbody:last-child tr:last-child td:first-child {
    .border-radiuses(0, 0, 0, 0.308em);
}

.tableBordered thead:last-child tr:last-child th:last-child,
.tableBordered tbody:last-child tr:last-child td:last-child {
    .border-radiuses(0, 0, 0.308em, 0);
}

.tableStriped tbody tr:nth-child(odd) td,
.tableStriped tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th,
.table tbody tr:focus td,
.table tbody tr:focus th {
    background-color: #f5f5f5;
}

/* ------------------------------------------------------------------------------ */
/* Breadcrumbs
/* ------------------------------------------------------------------------------ */
#breadcrumbsContainer {
    width: 100%;
    display: table-row;
}

.muted {
    color: #999999;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 5px 0 0;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    line-height: 18px;
}

.breadcrumbs li {
    display: inline;
    padding: 3px 3px 3px 3px;
}

.breadcrumbs li .leafNode {
    color: #333333;
    .opacity(0.9);
}

.breadcrumbs a#docs-link img {
    width: 18px;
    height: 18px;
    color: black;
}

/* ------------------------------------------------------------------------------ */
/* Support menu
/* ------------------------------------------------------------------------------ */
.slideTab {
    display: table;
    position: relative;
    margin: 0 20px 0 0;
    width: 31px;
    height: 32px;
}

html[dir="rtl"] .slideTab {
    margin: 0 0 0 20px;
}

.slideTab a {
    padding: 5px;
    border: 1px solid #555253;
    color: #555253;
    border-radius: 3px;
    -ms-filter: "alpha(opacity=75)";
    filter: alpha(opacity=75);
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    display: table-cell;
    vertical-align: middle;
}

.slideTab.active a {
    cursor: pointer;
    border: 1px solid #ff6c2c;
    color: #ff6c2c;
}

.slideTab a:hover,
.slideTab a:focus {
    cursor: pointer;
    -ms-filter: "alpha(opacity=100)";
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* '.slideTabHover' css class is used by the image in slide tab
    to change the opacity "onfocus". Had to use this explicit class
    due to IE8 not supporting :focus selector for images.
*/
.slideTabHover {
    .opacity(1);
}

.slidePanel {
    background-color: #5c5c5c;
    margin: 0;
    padding: 9px;
}

html[dir="ltr"] .slidePanel {
    .box-shadow(0.195em 0.2em 0.3em #4c4c4c);
}

html[dir="rtl"] .slidePanel {
    .box-shadow(-0.195em 0.2em 0.3em #4c4c4c);
}

#pageContainer .slidePanel a:link,
#pageContainer .slidePanel a:visited,
#pageContainer .slidePanel a:active {
    color: #ffffff;
    text-decoration: none;
    .opacity(0.7);
}

#pageContainer .slidePanel a:hover,
#pageContainer .slidePanel a:focus {
    color: #ffffff;
    .opacity(1);
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------ */
/* Page container
/* ------------------------------------------------------------------------------ */

/* ------------------------- page description  ----------------------------- */

.pageDescription a:link,
.pageDescription a:visited,
.pageDescription a:active {
    color: #0066cc;
    text-decoration: underline;
}

.pageDescription a:hover,
.pageDescription a:focus {
    color: #0066cc;
    text-decoration: underline;
    cursor: pointer;
}

/* ------------------------- Icon Sea  ----------------------------- */
.sectionBackground {
    background-color: #f5f5f5;
    border-style: solid;
    border-color: #ededed;
}

.sectionHeading {
    border-style: solid;
    border-color: #cccccc;
}

.passwordStrength {
    background: #ffffff;
    .box-shadow-inset(0, 0.1em, 0.3em, #CCCCCC);
    .box-sizing(border-box);
    border-style: solid;
    border-color: #cccccc;
    color: #999999;
    font-style: italic;
}

#footer a:link,
#footer a:visited,
#footer a:active {
    color: #0066cc;

    text-decoration: underline;
    font-style: italic;
}

.callout {
    border-left-style: solid;
    border-left-color: #eeeeee;
}
.callout-warning {
    background-color: #fcf8e1;
    border-left-color: #f1c40f;
}

.callout-cpanel {
    background-color: #f5f5f5;
    border-left-color: #ff6c2c;
}

.callout .btn {
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#masterContainer .callout .btn-cpanel {
    color: #fff;
    background-color: #ff6c2c;
}

#masterContainer .callout .btn-cpanel:hover,
#masterContainer .callout .btn-cpanel:focus {
    background-color: #d03f00;
}

#masterContainer .callout .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* The yui styles below are overridden styles.
* These styles are kept temporarily here. They can be removed
* once new styles are written for yui related html
*/
.yui-panel .hd {
    background-color: #4c4c4c;
    border: 1px solid #4c4c4c;
}

.yui-dialog form,
.yui-simple-dialog form {
    margin: 0px;
    border: none;
}

.button-group button,
.button-group button.default {
    .gradient(#598fff, #5388f2);
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#598FFF",
            endColorstr="#5388F2",
            GradientType=0
        ); /* IE6-8 */

    color: #ffffff;
    border-color: #4c7edf;
    .text-shadow(0 -0.077em 0 rgba(0,0,0,0.2));
    border-width: 0.077em;
    font-weight: normal;
}

.button-group button:hover,
.button-group button.hover {
    border-color: rgba(0, 0, 0, 0.4);
    .box-shadows(0 0.077em 0 rgba(255,255,255,0.3), 0 0.077em 0.154em rgba(0,0,0,0.4));
    cursor: pointer;
}

.button-group button:active {
    .box-shadows(0px -0.769em 1.538em rgba(0, 0, 0, 0.07), 0px 0.231em 0.385em rgba(0, 0, 0, 0.2));
    border-color: rgba(0, 0, 0, 0.4);
}

/* ------------------------------------------------------------------------------ */
/* Notice Styles
/* ------------------------------------------------------------------------------ */
.cjt-pagenotice-container .cjt-notice {
    .border-radius(4px);
    .box-shadow(0 2px 2px #999999);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')"; /* For IE 8 */
    filter: progid:DXImageTransform.Microsoft.Shadow(
            Strength=2,
            Direction=135,
            Color="#999999"
        ); /* For IE 5.5 - 7 */
}

.cjt-pagenotice-container .cjt-notice .bd {
    background: none no-repeat scroll 0 0 transparent;
    .border-radius(4px);
    border: none;
    color: #ffffff;
}

html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    background-position: 9px center;
    text-align: left;
}

html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
    background-position: 99% center;
    text-align: right;
}

.cjt-pagenotice-container .cjt-notice-content {
    font-size: 15px;
}

#content .cjt-pagenotice-container .cjt-notice .bd a:link,
#content .cjt-pagenotice-container .cjt-notice .bd a:active,
#content .cjt-pagenotice-container .cjt-notice .bd a:visited,
#pageContainer .cjt-dynamic-pagenotice a:link,
#pageContainer .cjt-dynamic-pagenotice a:active,
#pageContainer .cjt-dynamic-pagenotice a:visited {
    text-decoration: underline;
    color: #ffffff;
}

#content .cjt-pagenotice-container .cjt-notice .bd a:hover {
    text-decoration: none;
}

.cjt-pagenotice-container .cjt-notice-error {
    .gradient(#DD5952, #BC3E33);
}

.cjt-pagenotice-container .cjt-notice-error .bd {
    background-image: url(/images/notice-error.png);
    border: 1px solid #990000;
}

.cjt-pagenotice-container .cjt-notice-error .close {
    text-shadow: 0 1px 0 #990000;
}

.cjt-pagenotice-container .cjt-notice-success {
    .gradient(#6cbd58, #5fa74e);
}

.cjt-pagenotice-container .cjt-notice-success .bd {
    background-image: url(/images/notice-success.png);
    border: 1px solid #006600;
}

.cjt-pagenotice-container .cjt-notice-success .close {
    text-shadow: 0 1px 0 #006600;
}

.cjt-pagenotice-container .cjt-notice-info {
    .gradient(#65b9d9, #4a9cbc);
}

.cjt-pagenotice-container .cjt-notice-info .bd {
    background-image: url(/images/notice-info.png);
    border: 1px solid #3c829e;
}

.cjt-pagenotice-container .cjt-notice-info .close {
    text-shadow: 0 1px 0 #3c829e;
}

.cjt-pagenotice-container .cjt-notice-warn {
    .gradient(#F6C167, #F3B03B);
}

.cjt-pagenotice-container .cjt-notice-warn .bd {
    background-image: url(/images/notice-warning.png);
    border: 1px solid #da961f;
}

.cjt-pagenotice-container .cjt-notice-warn .close {
    text-shadow: 0 1px 0 #da961f;
}

.cjt-pagenotice-container .cjt-notice-closable {
    cursor: pointer;
}

.cjt-pagenotice-container .close {
    color: #ffffff;
    cursor: pointer;
    font-size: 28px;
    .opacity(0.2);
}

.cjt-pagenotice-container .close:hover {
    .opacity(0.4);
}

.cjt-dynamic-pagenotice-close-button,
.cjt-dynamic-pagenotice-close-button:link,
.cjt-dynamic-pagenotice-close-button:visited {
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    color: inherit;
    width: 18px;
    height: 18px;
}

.cjt-dynamic-pagenotice-close-button:hover,
.cjt-dynamic-pagenotice-close-button:focus {
    background-color: rgba(255, 255, 255, 0.65);
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover,
html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:focus {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-error
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-error
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-error
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-error
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus {
    color: #990000;
}

#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-warn
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-warn
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-warn
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-warn
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus {
    color: #da961f;
}

#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-success
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-success
    .bd
    a.cjt-dynamic-pagenotice-close-button:hover,
#content
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-success
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus,
#pageContainer
    .cjt-pagenotice-container
    .cjt-dynamic-pagenotice.cjt-notice-success
    .bd
    a.cjt-dynamic-pagenotice-close-button:focus {
    color: #006600;
}

#content
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:link,
#content
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:active,
#content
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:visited,
#pageContainer
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:link,
#pageContainer
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:active,
#pageContainer
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:visited {
    text-decoration: none;
}

#content
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:hover,
#pageContainer
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:hover,
#content
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:focus,
#pageContainer
    .cjt-pagenotice-container
    .cjt-notice
    .bd
    a.cjt-dynamic-pagenotice-close-link:focus {
    text-decoration: underline;
}

/*---------------------------------------
/* Validation Panels
----------------------------------------*/

input.validation_error,
select.validation_error,
textarea.validation_error {
    background-color: #ffb5b6;
    border: 1px solid #e26c6c;
}

input.validation_error[type="text"]:focus,
textarea.validation_error:focus,
select.validation_error:focus,
input.validation_error[type="file"]:focus,
input.validation_error[type="password"]:focus {
    border: 1px solid #e61212;
}

/*---------------------------------------
  Define the error panel
----------------------------------------*/
.validation_error_panel {
}

.validation_error_panel .bd {
    background: none;
    border: 0;
}

.validation_errors_div {
    max-width: 350px;

    background-color: #ffffff;

    margin-left: 5px;
    margin-right: 5px;
    padding: 0 5px 0 5px;

    line-height: 20px;

    border: 1px solid #e61212;

    .border-radius(0.154em);
    .box-shadows(0 0.071em 0 rgba(255,255,255,0.3), 0 0.071em 0 rgba(0,0,0,0.2));
}

.validation_errors_div ul.validation_errors_ul {
    margin: 0;
    padding: 2px 5px;
}

ul.validation_errors_ul li.validation_errors_li {
    margin: 0;
    list-style: none;
}

/*---------------------------------------
  CJT Specific overrides
----------------------------------------*/
.cjt_validation_error {
    width: 20px;
}

span.cjt_validation_error {
    display: inline-block;
}

.cjt_validation_error img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

/*---------------------------------------
  Validation Error Popup
----------------------------------------*/
#validation_errors_modal_box {
    width: 360px;
}

#validation_errors_modal_box .bd {
    max-height: 390px;
    overflow: auto;
}

#validation_errors_modal_box .bd .actionable {
    cursor: pointer;
    cursor: hand;
}

#validation_errors_modal_box .bd .actionable:hover {
    color: #0088cc;
    text-decoration: underline;
}

.validation_errors_modal_box_title {
    display: block;
    font-weight: bold;
    padding: 6px 15px;
}

.validation_errors_modal_box_ul {
    list-style-type: disc;
    padding: 0 10px;
    margin-bottom: 2px;
}

.validation_errors_panel_buttons {
    text-align: center;
}

#validation_errors_modal_box {
}

.validation_errors_modal_box_actions {
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.validation_errors_modal_box_actions * {
    margin-right: auto;
    margin-left: auto;
}

/*---------------------------------------
  Define the popup error panel
----------------------------------------*/
.help_panel {
    background: #fff;
    border: 1px solid #aeaeae;
    padding: 0 0 5px;
}

.help_panel .bd {
    border-width: 0;
    padding: 8px 10px;
}

.help_panel .container-close {
    background: none !important;
    height: auto;
    padding: 0 0 5px 10px;
    position: static;
    text-indent: 0;
    width: auto;
}

.help_panel .ft {
    border: 0;
    padding: 0 13px 3px 0;
}

/*---------------------------------------
  Define the mask for the modal version
  version of the error panel.
----------------------------------------*/
.mask {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: #000;
}

/* The status messages for the legacy pages */

.cpanel_output_indent {
    width: 15px;
    display: inline-block;
}
.cpanel_output_color_bold {
    font-weight: 900;
}
.cpanel_output_color_blue {
    color: blue;
}
.statusmsg,
.warningmsg,
.errormsg,
.okmsg {
    font-weight: normal;
    margin: 0 0 0 15px;
    padding: 5px 0 5px 25px;
}
.warningmsg {
    background: transparent url(/yellow-status.gif) no-repeat scroll left center;
}
.errormsg {
    background: transparent url(/red-status.gif) no-repeat scroll left center;
}
.okmsg {
    background: transparent url(/green-status.gif) no-repeat scroll left center;
}

/*--------------------------------------------------------------------*/
