<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    <div class="alert-message">
        <strong class="alert-title">[% locale.maketext('Error:') %]</strong>
        <span class="alert-body">
            [% FOREACH err IN error_list %]
                [% err.html() %]
            [% END %]
        </span>
    </div>
</div>
