.page-scripts12-autossl {
    a.prominent {
        font-size: larger;
        font-weight: bold;
    }

    .form_area {
        margin: 20px auto;
    }

    .table {
        th.checkColumn {
            padding-left: 0;
            width: 80px;
        }

        td.checkColumn {
            padding-left: 13px;
        }
    }

    .score-details-table {
        &.collapsed {
            max-width: 400px;
        }
        .no-wrap-column {
            white-space: nowrap;
        }
        tfoot {
            font-size: 0.8em;

            tr,
            td {
                vertical-align: top;
            }
        }
    }

    form {
        display: inline-block;

        & .cp-form-waiting-wrapper > .cp-form-waiting-transclude {
            padding: 0 6px;
        }
    }
}
