/* IE 6 lacks position:fixed support */
.cjt_pagenotice_container {
    position: absolute;
    /* bottom: 0 */
    top: expression(0 - this.offsetHeight + (document.documentElement.clientHeight || document.body.clientHeight) +((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
    /* right: 0 */
    left: expression(0 - this.offsetWidth + (document.documentElement.clientWidth || document.body.clientWidth) + ((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');}
}

.cjt-notice-success .cjt-notice-content {
    /* PNG transparency support */
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/cjt/images/check.png', sizingMethod='crop');
    zoom: 1;

    /* min-height; this *must* use scrollHeight, or IE6 crashes */
    font-size: 5px;
    height: expression((this.scrollHeight) < 20 ? (20 - parseFloat(this.currentStyle.paddingTop) - parseFloat(this.currentStyle.paddingBottom))+"px" : "auto");
}
