/* --------------------------------------------------------------------------
   Contains static styles for the paginate.tmpl generated paginator control
   Additional visual styles were added to branding/x3.css and may be used
   in branding packages to create customization to the visual aspects of
   of the paginator.
----------------------------------------------------------------------------*/

.pager-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.pager-container span {
    display: inline-block;
}

.pager-page-size-selector {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.pager-page-size-selector input {
    vertical-align: middle;
    text-align: center;
    width: 30px;
}

.pager-page-item {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 16px;
    margin-top: 1px;
    margin-bottom: 1px;
    vertical-align: middle;
}

.pager-page-item-label {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}

.pager-page-select-disabled {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.pager-page-select {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.pager-page-action {
    padding-left: 5px;
    padding-right: 5px;
}

.pager-ellipse {
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.pager-page-selector a {
    vertical-align: middle;
}

.pager-page-selector a:focus {
    outline: none;
}

.pager-page-size-selector button {
    position: relative;
    top: -2px;
}

/*-------------------------------------------------------------------
**  Centering technique presented by:
**   http://www.tightcss.com/centering/center_variable_width.htm
**-------------------------------------------------------------------*/
.pager-c2 {
    float: left;
    left: -50%;
    position: relative;
}
.pager-c1 {
    float: left;
    left: 50%;
    position: relative;
}
.pager-container {
    overflow: hidden;
    position: relative;
}
