[%-
    IF NOTICE.update_available == 1;
        CPANEL.locale.maketext('[asis,cPanel amp() WHM] version ([_1]) will reach End of Life in [quant,_2,day,days]', NOTICE.starting_version, NOTICE.days_left);
    ELSE;
        CPANEL.locale.maketext('[asis,cPanel amp() WHM] version ([_1]) will reach End of Life soon.', NOTICE.starting_version);
    END;
-%]
