/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
#confirmDelete td {
  vertical-align: middle;
}
#confirmDeleteAlertIcon,
#confirmMessage {
  display: inline;
  margin-right: 5px;
}
.confirmMessage {
  font-size: 12px;
}
#confirmDeleteForm {
  max-width: none;
}
#confirmDeleteButtons {
  display: inline;
  margin-left: 3px;
  position: relative;
  top: -2px;
}
#confirmDeleteAlertIcon {
  font-size: 18px;
  color: #d9534f;
  position: relative;
  top: 2px;
}
#noticeBox {
  min-height: 60px;
  margin-bottom: 10px;
}
#globalSuccessMessage,
#globalFailureMessage,
#globalInfoMessage {
  margin-left: 18px;
  position: relative;
  top: 2px;
}
html[dir="rtl"] #globalSuccessMessage,
html[dir="rtl"] #globalFailureMessage,
html[dir="rtl"] #globalInfoMessage {
  margin-left: 0;
  margin-right: 18px;
}
#noLinksDefined td {
  background-color: #d9edf7;
  border: none;
}
.newRowIconHack {
  position: relative;
  left: -4px;
}
#noLinksDefined td.alert .glyphicon {
  position: relative;
  margin-right: 8px;
  top: 4px;
}
html[dir="rtl"] #noLinksDefined td.alert .glyphicon {
  margin-right: 0;
  margin-left: 8px;
}
html[dir="rtl"] th {
  text-align: right;
}
html[dir="rtl"] .close {
  float: left;
}
html[dir="rtl"] .alert > .glyphicon {
  left: auto;
  right: 8px;
}
