/*
# alerts.less                                        Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Alerts
/* ------------------------------------------------------------------------------ */

.alert-colors(@bg, @border, @box-shadow) {
    background-color: @bg;
    border: 1px solid @border;
    box-shadow: inset 41px 0 @box-shadow;

    html[dir="ltr"] & {
        box-shadow: inset 41px 0 @box-shadow;
    }

    html[dir="rtl"] & {
        box-shadow: inset -41px 0 @box-shadow;
    }

    > .glyphicon {
        color: @bg;
    }
}

.alert-danger {
    .alert-colors(@danger-bg, @danger-border, @danger-box-shadow);
}

.alert-success {
    .alert-colors(@success-bg, @success-border, @success-box-shadow);
}

.alert-warning {
    .alert-colors(@warning-bg, @warning-border, @warning-box-shadow);
}

.alert-info {
    .alert-colors(@info-bg, @info-border, @info-box-shadow);
}

.alert {
    position: relative;
    border-radius: @border-radius;

    html[dir="ltr"] & {
        padding: 10px 30px 10px 50px;
    }

    html[dir="rtl"] & {
        padding: 10px 50px 10px 30px;
    }
}

.alert > .glyphicon {
    top: 9px;
    position: absolute;
    font-size: 20px;

    html[dir="ltr"] & {
        left: 10px;
    }

    html[dir="rtl"] & {
        right: 10px;
    }
}

.alert-message {
    color: @alert-message-color;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.alert-message a {
    text-decoration: underline;
}

.alert .close {
    top: -2px;
    position: relative;

    html[dir="ltr"] & {
        right: -21px;
    }

    html[dir="rtl"] & {
        left: -21px;
    }
}
