/*
# callouts.less                                      Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------ */
.callout {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: #eeeeee;
    margin: 20px 0 20px 0;
    padding: 20px;
}

.callout-danger {
    background-color: @danger-bg;
    border-left: 3px solid @danger-border;
}

.callout-success {
    background-color: @success-bg;
    border-left: 3px solid @success-border;
}

.callout-warning {
    background-color: @warning-bg;
    border-left: 3px solid @warning-border;
}

.callout-info {
    background-color: @info-bg;
    border-left: 3px solid @info-border;
}

.callout-heading {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}