/*
# forms.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Forms
/* ------------------------------------------------------------------------------ */

.highlight-section {
    background: @highlight-section-bg;
    border-radius: @border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 20px;
    padding: 19px;
    border: 1px solid @highlight-section-border;
}

.section-heading {
    padding-top: 20px;
}

.section-body {
    border-top: 1px solid @section-body-border;
    padding: 10px 20px 10px 20px;
    border-radius: @border-radius;
}

.form-control {
    border-radius: @border-radius;
}

.input-group-addon {
    border-radius: @border-radius;
}

.help-block {
    margin-bottom: 0;
}

input[type="checkbox"]:disabled + span,
input[type="radio"]:disabled + span {
    opacity: 0.5;
    cursor: not-allowed;
}

.info-block {
    color: @info-block-color;
}

.info-block,
.help-block {
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 5px;
}

.form-info-sign:hover {
    cursor: pointer;
}

.has-success .help-block,
.has-error .help-block,
.has-warning .help-block {
    color: @help-block-color;
}
