/*
# label.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------ */
.label,
.badge {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.4px;
    font-weight: 600;
}

.label-danger {
    background-color: @danger-border;
}

.label-success {
    background-color: @success-border;
}

.label-warning {
    background-color: @warning-border;
}

.label-info {
    background-color: @info-border;
}

.badge-danger {
    background-color: @danger-border;
}

.badge-success {
    background-color: @success-border;
}

.badge-warning {
    background-color: @warning-border;
}

.badge-info {
    background-color: @info-border;
}
