/*
# layout.less                                        Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/* ------------------------------------------------------------------------------ */
/* Layout
/* ------------------------------------------------------------------------------ */

/* TODO: set px max widths on layout styles */
.layout-extra-small {
    width: 25%;
    max-width: 920px;
}

.layout-small {
    width: 50%;
    max-width: 920px;
}

.layout-medium {
    width: 75%;
    max-width: 920px;
}

.layout-large {
    width: 100%;
    max-width: 920px;
}

/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 320px) {
    .layout-extra-small,
    .layout-small,
    .layout-medium,
    .layout-large {
        width: 100%;
    }
}

@media only screen and (min-width: 321px) {
    .layout-extra-small,
    .layout-small,
    .layout-medium,
    .layout-large {
        width: 100%;
    }
}
