/*
# responsive_table.less                              Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Responsive Tables
/* ------------------------------------------------------------------------------ */

.search-page-container {
    padding: 5px 0 5px 0;
}

.pagination-container {
    text-align: right;
    white-space: nowrap;
}

.page-stats {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}

.page-stats .title {
    font-weight: 600;
}

.pagination-container .pagination {
    display: inline-block;
    margin: 0;
}

.pagination-container .page-size {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.page-size select {
    width: 75px;
    display: inline-block;
}

.page-size label {
    display: inline-block;
    font-weight: normal;
}

.page-size .form-group {
    margin: auto;
}

.table th.checkColumn {
    padding-left: 0;
    width: 100px;
}

/* Check box button group styles */
.checkbox-group > .check-box:first-child {
    margin-left: 0;
    border-radius: @border-radius;
    border-color: #cccccc;
    padding: 6px 8px;
}

.checkbox-group .btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    border-width: 1px;
    box-shadow: none;
}

.checkbox-group .btn-default:active {
    top: 0;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    table.responsive-table,
    .responsive-table table,
    .responsive-table thead,
    .responsive-table tbody,
    .responsive-table th,
    .responsive-table td,
    .responsive-table tr {
        display: block;
    }

    /* since it is not a table any more, hiding this makes sense */
    .responsive-table > thead > tr {
        display: none;
    }

    .responsive-table > tbody > tr {
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
    }

    .responsive-table > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        white-space: normal;
        text-align: left;
    }

    .responsive-table > tbody > tr > td:before {
        padding-bottom: 5px;
        display: block;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .responsive-table > tbody > tr > td:before {
        content: attr(data-title);
        border-left: none;
    }

    .responsive-table > tbody > tr.empty-row > td:before {
        width: 0;
    }

    .responsive-table > tbody > tr.empty-row > td {
        padding-left: 5px;
    }
}
