/*
# splash.less                                        Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/* ------------------------------------------------------------------------------ */
/* Splash
/* ------------------------------------------------------------------------------ */

.splash {
    display: none;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
}

[ng-cloak].splash {
    display: block !important;
}
