/*
# table.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Table
/* ------------------------------------------------------------------------------ */

.table > thead > tr > th {
    border-bottom: 2px solid @table-th-border;
}

.table > tbody > td.active,
.table > tbody > tr.active {
    border-left: 2px solid @table-td-active-border;
}

.table > tbody > tr > td.active,
.table > tbody > tr.active > td {
    background-color: @table-td-active-bg;
    color: @table-td-active-color;
}

.table > tbody > td.danger,
.table > tbody > tr.danger {
    border-left: 2px solid @danger-border;
}

.table > tbody > tr > td.danger,
.table > tbody > tr.danger > td {
    background-color: @danger-bg;
}

.table > tbody > td.info,
.table > tbody > tr.info {
    border-left: 2px solid @info-border;
}

.table > tbody > tr > td.info,
.table > tbody > tr.info > td {
    background-color: @info-bg;
}

.table > tbody > td.success,
.table > tbody > tr.success {
    border-left: 2px solid @success-border;
}

.table > tbody > tr > td.success,
.table > tbody > tr.success > td {
    background-color: @success-bg;
}

.table > tbody > td.warning,
.table > tbody > tr.warning {
    border-left: 2px solid @warning-border;
}

.table > tbody > tr > td.warning,
.table > tbody > tr.warning > td {
    background-color: @warning-bg;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}
