/*
# validators.less                                    Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "variables.less";

/* ------------------------------------------------------------------------------ */
/* Validation
/* ------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .validation-container {
        margin-top: 2px;
        margin-bottom: 0;
    }
}

.validation-container {
    background-color: @validation-container-bg;
    border: 1px solid @validation-container-border;
    padding: 5px;
    border-radius: @border-radius;
    list-style: none;
}

.validation-error {
    position: relative;
}

.validation-error > .glyphicon,
.validation-error > .fas {
    color: @validation-error-glyphicon-color;
    display: inline-block;
    position: absolute;
    top: 4px;
}

html[dir="ltr"] .validation-error > .glyphicon {
    left: 0;
}

html[dir="rtl"] .validation-error > .glyphicon {
    right: 0;
}

.validation-message {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
