[% PROCESS 'master_templates/_defheader.tmpl'
    header = locale.maketext('Upgrade Database Version (Step [numf,_1] of [numf,_2])', 5, 5)
    breadcrumburl = '/scripts/mysqlupgrade'
    theme = 'bootstrap'
-%]
<div id="content">
  <div id="success_container" class="alert alert-success" role="alert">
    <span id="success_icon" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
    <div id="success_message_container" class="alert-message">
        <p id="success_message">[% locale.maketext('Database Version Upgrade Completed.') %]</p>
    </div>
  </div>
</div>
[% PROCESS 'master_templates/_deffooter.tmpl' -%]
