[%
MACRO market_upgrade_options BLOCK;
	IF enabled_providers_count;
	    '<p>';
	        IF certificate.validation_type == "dv";
	            CPANEL.locale.maketext('To upgrade to an [output,abbr,EV,Extended Validation] or [output,abbr,OV,Organization Validated] certificate, navigate to the “[output,url,_1,SSL/TLS Wizard]” interface.', ssl_tls_wizard_url);
	        ELSIF certificate.validation_type == "ov";
	            CPANEL.locale.maketext('To upgrade to an [output,abbr,EV,Extended Validation] certificate, navigate to the “[output,url,_1,SSL/TLS Wizard]” interface.', ssl_tls_wizard_url);
	        END;
	    '</p>';
	END;
END;
%]