/*
# cpanel - base/frontend/jupiter/indexmanager/dohtaccess.less
                                                   Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
#example-index-files {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
}
#example-index-files li {
  display: inline-block;
}
#the-form .radio {
  margin-top: 5px;
  margin-bottom: 5px;
}
