/*
# cpanel - base/frontend/jupiter/indexmanager/index.less
                                                   Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.row {
  padding-bottom: 10px;
}
.description {
  padding-bottom: 10px;
}
.settings-select-extras {
  padding-top: 20px;
}
.fa-lock {
  color: #293a4a;
}
span.dirstack > .fa-lock {
  top: 0.3em;
}
#edit-current {
  margin-left: 13px;
  margin-right: 13px;
}
#files {
  max-width: 100%;
  /* Override smaller width */
}
.body-content {
  max-width: 1200px;
}
.current-privacy label {
  padding: 7px;
}
.current-privacy label {
  padding-right: 10px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}
td * {
  vertical-align: middle;
}
td.child {
  padding-left: 40px !important;
}
.empty-directory {
  background-color: transparent !important;
}
.row-controls {
  padding-bottom: 0;
  padding-top: 20px;
}
#example-index-files {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  margin-top: 0;
  padding-left: 10px;
}
#example-index-files li {
  display: inline-block;
}
