/* Reset browser default styles */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body {font:13px verdana,helvetica,clean,sans-serif;}
table {font-size:inherit;font:100%;}
select, input, textarea {font:99% verdana,helvetica,clean,sans-serif;}
pre, code {font:115% monospace;}
body * {line-height:1.22em;}
/* Clear and Hidden classes */
.clear:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clear {display: block; overflow: hidden;}
.hidden {position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden;}
/* Commonly used float styles */
.float-left {float: left;margin: 0 10px 10px 0;}
.float-right {float: right;margin: 0 0 10px 10px;}
/* Hide #skip navigation */
#skip {display: none;}

/* ------------------------------------
   Default elements
   ------------------------------------ */

a:link			{color: #4e4588;}
a:active		{color: #4e4588;}
a:visited		{color: #4e4588;}
a:hover 		{color: #7977a7;}

body {
	background: #fff;
	color: #333;
	}

h1,h2,h3,h4,h5,h6 {color: #993e0b; font-family: arial,helvetica, sans-serif; margin: 0 0 5px;}
h1 {font-size: 174%;}
h2 {font-size: 129%;}
h3 {
	font-size: 144%;
	margin: 15px 10px 5px;
	}
p {line-height: 1.6; margin: 5px 0 15px;}
ul,ol {margin: 5px 25px 15px;}
ul li, ol li {line-height: 1.5; padding: 2px 0;}
dl {margin: 10px 0 15px;}
dt {color: #000; font-weight: bold; padding: 2px 0 5px 5px;}
dd {padding: 2px 0 10px 15px;}

/* ------------------------------------
   =cpanel
   ------------------------------------ */

#doc {
	margin: 15px auto;
	width: 760px;
	}

#docnav {
	background: transparent url(../border.gif) repeat-x 0 100%;
	}

#docnav, #docnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#docnav li, #docnav li a {
	float: left;
	}
#docnav {
	padding: 0 10px;
	}
#docnav li a {
	display: block;
	font-weight: bold;
	margin-right: 5px;
	padding: 5px 8px;
	text-decoration: none;
	}
#docnav a {
	background: #fff;
	border: 1px solid #eee;
	border-width: 1px 1px 0;
	color: #666;
	}
#docnav .tabs-selected a {
    background: #fff;
	border: 1px solid #999;
	border-bottom: 1px solid #fff;
	color: #000;
	}
#docnav a:hover, #docnav a:focus, #docnav a:active {
    background: #fff;
	border: 1px solid #A7A37E;
	border-bottom: 1px solid #fff;
	color: #000;
	}

table {
	xborder: 1px solid #ccc;
	margin: 15px;
	}

table th {
	background: #E6E6E6;
	border: 1px solid #ccc;
	xborder-width: 1px 0;
	xborder-right: 1px solid #fff;
	xborder-bottom: 1px solid #ccc;

	padding: 5px 10px;
	}

table td {
	border: 1px solid #eee;
	font-size: 85%;
	padding: 5px 10px;
	}