ul.binary li {
    float: left;
    margin: 0 15px;
    text-align: center;
}

ul.binary li label {
    text-align: center;
}

td.label_and_help {
    padding-left: 20px;
}

td.controls,
th.controls {
    text-align: center;
    width: 200px;
    padding: 8px;
}

td.controls ul li input[type="radio"] {
    margin-left: 0;
    margin-right: 6px;
}

td.controls .default,
td.controls .pci {
    font-size:10px;
    font-style:italic;
    background-color: transparent;
    padding:0px;
}

ul.tweak_settings {
    text-align: left;
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
}

.range {
    font-style: italic;
    font-size: smaller;
}

#scrolling_tabs_container {
    margin: 0 0 0 0;
    padding: 0;
}

#scrolling_tabs ul {
    margin: 0;
    padding: 0;
}

.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
    height: 18px;
}
