.uniForm{
	font:normal 100%/100% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
	margin:0; padding:0;
	position:relative;
	width:100%;
	/* user prefs */
	padding:10px 0;
}

/* Some generals */
.uniForm fieldset{
	border:none;
	margin:0; padding:0;
	/* user prefs */
	margin:0 0 7px 0; padding:0 0 10px 0;
	border-bottom:1px solid #efefef;
}
.uniForm fieldset legend{
  color:#000; /* Reset IE */
  margin:0; padding:0;
  /* user prefs */
  margin:0 0 10px 0;
  font:bold small-caps 100%/100% "lucida grande", "lucida sans unicode", "trebuchet ms", arial, verdana, sans-serif;
  letter-spacing:.1em;
  color:#93b5be;
}

.ctrlHolder{ /* This is the main unit that contains our form "modules" */
  overflow:hidden;
  margin:0; padding:0;
  clear:both;
  /* user prefs */
  background:#f9f9f9;
  margin:0; padding:7px;
}
  .ctrlHolder span{
    position:relative;
  }

.buttonHolder{
  overflow:hidden;
  clear:both;
  /* user prefs */
  background:#f9f9f9;
  border:1px solid #ccc; border-width:1px 0;
  margin:10px 0 0 0; padding:10px 20px;
  text-align:right;
}
  .resetButton{
  }
  .submitButton{
  }

.uniForm .inlineLabel{
  width:auto;
  float:none;
  display:inline;
  /* user prefs */
  margin:0 2em 0 0;
  font-weight:normal;
}
  .uniForm .inlineLabel input{
  }

/* Highlighting the rows on input focus */
.focused{
  background:#FFFCDF url(img/uf_focused.png);
  border:1px solid #EFE795; border-width:1px 0;
  padding:6px 4px;
}


/* Styles for form controls where labels are in line with the input elements */
/* Set the class to the parent to .inlineLabels */
.inlineLabels .ctrlHolder{
	border:1px solid #dfdfdf; border-width:1px 0;
    margin-top:-1px;
}
  .inlineLabels span{
    display:block;
    overflow:hidden;
    width:100%;
  }

    .inlineLabels label,
    .inlineLabels .label{
      float:left;
      margin:.3em 0 0 0; padding:0;
      line-height:100%;
      /* user prefs */
      width:30%;
      font-weight:bold;
    }

    .inlineLabels .textInput{
      float:left;
      /* user prefs */
      width:68%;
      border:2px solid #dfdfdf;
    }

    .inlineLabels .selectInput{
      float:left;
      /* user prefs */
      width:69%;
    }

    .inlineLabels textarea{
      float:left;
      width:68%;
      /* user prefs */
      border:2px solid #dfdfdf;
      height:12em;
	  padding: 2px;
    }

  .inlineLabels .formHint{
    clear:both;
    /* user prefs */
    color:#333;
    margin:.5em 0 0 30%; padding:3px 0;
    font-size:80%;
  }

    /* inlineLabels esthetics */
    .inlineLabels .formHint strong{
      padding:0 0 0 14px;
      background:url(img/icon_alert.png) 0 50% no-repeat;
    }

	.inlineLabels .focused{
	    padding:7px;
	  }


/* ########################################################################## */

/* Styles for form controls where labels are above the input elements */
/* Set the class to the parent to .blockLabels */
.blockLabels .ctrlHolder{
}

  .blockLabels .ctrlHolder span{
    float:left;
    margin:0; padding:0;
    /* user prefs */
    width:60%;
  }

    .blockLabels label,
    .blockLabels .label{
      display:block;
      float:none;
      margin:.3em 0; padding:0;
      line-height:100%;
      /* user prefs */
      font-weight:bold;
      width:auto;
    }
    .blockLabels .label{
      float:left;
      margin-right:3em;
    }

    .blockLabels .textInput{
      display:block;
      float:none;
      /* user prefs */
      width:98%;
    }

    .blockLabels .selectInput{
      display:block;
      /* user prefs */
      width:99%;
    }

    .blockLabels textarea{
      display:block;
      clear:both;
      width:98%;
      /* user prefs */
      border:2px solid #dfdfdf;
	  font-family: monaco, "courier new", monospace;
	  padding: 2px 4px;
    }

  .blockLabels .formHint{
    float:right;
    margin:0;
    width:38%;
    clear:none;
    /* user prefs */
    color:#333;
    font-size:80%;
  }

  /* blockLabels esthetics */
  .blockLabels .ctrlHolder{
    border:1px solid #dfdfdf; border-width:1px 0;
    margin-top:-1px;
  }

  .blockLabels .focused{
    padding:7px;
  }

/* ########################################################################## */

/* Focus pseudoclasses */
.ctrlHolder .textInput:focus{
  border-color:#DFD77D;
}
div.focused .textInput:focus{
}
div.focused .formHint{
  color:#000;
}

/* Required asterisk styling, use if needed */
label em,
.label em{
  display:block;
  position:absolute; left:28%;
  font-style:normal;
  font-weight:bold;
}
.blockLabels label em,
.blockLabels .label em{
  position:static;
  display:inline;
}