[%#
Variables passed in:

origin              - the system component from which the change originated

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';

    NOTICE.email_reason = CPANEL.locale.maketext('[_1] is disabled.', CPANEL.locale.maketext('Digest Authentication'));
%]

<p>
    [% CPANEL.locale.maketext('[_1] is unavailable for your account. This occurred because it is associated with your username, which has changed from “[_2]” to “[_3]”.', CPANEL.locale.maketext('Digest Authentication'), NOTICE.olduser, NOTICE.newuser ); %]
</p>

<p>
    [% CPANEL.locale.maketext('If you access [asis,Web Disk] through [asis,Microsoft Windows®] over non-[output,abbr,SSL,Secure Sockets Layer] connections, you can restore [_1] with [asis,cPanel]’s [asis,Web Disk] Accounts interface (Home » Files » [asis,Web Disk] Accounts). Click “[_2]” next to your account name.', CPANEL.locale.maketext('Digest Authentication'), CPANEL.locale.maketext('Enable Digest Authentication') ); %]
</p>


[% END %]
