<h3 class="label--title">
[% locale.maketext('Enter the security code for “[_1]”', user) %]
</h3>
<form novalidate name="tfa_login_form" id="tfa_login_form" method="post" action="[% cp_security_token %]/">
    <div class="input-field-login icon token-container">
        <input name="tfatoken"
            id="tfatoken"
            class="std_textbox"
            type="text"
            placeholder="[% locale.maketext('Security code') %]"
            autofocus="autofocus"
            autocomplete="off"
            required>
    </div>
    <div class="controls">
        <div class="login-btn">
            <button type="submit" id="submit-button" class="input-button" />[% locale.maketext("Continue") %]</button>
        </div>
    </div>
</form>
