@import (reference) "../../libraries/base-styles/variables.less";

.configure-analytics-content-container {
    // Panel header styling
    .toggle-option {
        display: flex;
        align-items: flex-start;

        > :first-child {
            flex-grow: 1;
        }

        label {
            margin: 0;
        }

        .cjt2-toggle-switch {
            padding: 0;
            white-space: nowrap;

            html[dir="ltr"] & {
                text-align: right;
            }
            html[dir="rtl"] & {
                text-align: ltr;
            }
        }
    }

    p + .panel {
        margin-top: 20px;
    }

    // Panel body and footer styling
    .panel p:last-of-type {
        margin-bottom: 0;
    }

    .panel-footer {
        padding: 0;
        cursor: pointer;

        // Add slight hover effect
        transition: filter 400ms;

        &:hover {
            filter: invert(2%);
        }

        button {
            padding: 3px 15px;

            html[dir="ltr"] & {
                text-align: left;
            }
            html[dir="rtl"] & {
                text-align: right;
            }
        }

        // Get rid of underlined spaces
        button:hover,
        button:active,
        button:focus {
            text-decoration: none;

            .underline-on-hover {
                text-decoration: underline;
            }
        }
    }

    .fa-caret-up-rotated {
        transform: rotate(180deg);
    }

    .extended-description p:first-child {
        margin-top: 10px;
    }

    // Widget styles for the sidebar - copied from ux-styles.less
    .widget {
        padding: 0 10px 10px 10px;
        border-top: 2px solid #474747;
        margin-bottom: 40px;
    }

    .widget ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .widget li {
        margin-bottom: 12px;
        line-height: 1.5;
    }

    .widget-title {
        font-size: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 600;
    }

    // Constrain the overall content width
    div[ng-view] {
        max-width: 1200px;
    }
}
