/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.configure-analytics-content-container .toggle-option {
  display: flex;
  align-items: flex-start;
}
.configure-analytics-content-container .toggle-option > :first-child {
  flex-grow: 1;
}
.configure-analytics-content-container .toggle-option label {
  margin: 0;
}
.configure-analytics-content-container .toggle-option .cjt2-toggle-switch {
  padding: 0;
  white-space: nowrap;
}
html[dir="ltr"] .configure-analytics-content-container .toggle-option .cjt2-toggle-switch {
  text-align: right;
}
html[dir="rtl"] .configure-analytics-content-container .toggle-option .cjt2-toggle-switch {
  text-align: ltr;
}
.configure-analytics-content-container p + .panel {
  margin-top: 20px;
}
.configure-analytics-content-container .panel p:last-of-type {
  margin-bottom: 0;
}
.configure-analytics-content-container .panel-footer {
  padding: 0;
  cursor: pointer;
  transition: filter 400ms;
}
.configure-analytics-content-container .panel-footer:hover {
  filter: invert(2%);
}
.configure-analytics-content-container .panel-footer button {
  padding: 3px 15px;
}
html[dir="ltr"] .configure-analytics-content-container .panel-footer button {
  text-align: left;
}
html[dir="rtl"] .configure-analytics-content-container .panel-footer button {
  text-align: right;
}
.configure-analytics-content-container .panel-footer button:hover,
.configure-analytics-content-container .panel-footer button:active,
.configure-analytics-content-container .panel-footer button:focus {
  text-decoration: none;
}
.configure-analytics-content-container .panel-footer button:hover .underline-on-hover,
.configure-analytics-content-container .panel-footer button:active .underline-on-hover,
.configure-analytics-content-container .panel-footer button:focus .underline-on-hover {
  text-decoration: underline;
}
.configure-analytics-content-container .fa-caret-up-rotated {
  transform: rotate(180deg);
}
.configure-analytics-content-container .extended-description p:first-child {
  margin-top: 10px;
}
.configure-analytics-content-container .widget {
  padding: 0 10px 10px 10px;
  border-top: 2px solid #474747;
  margin-bottom: 40px;
}
.configure-analytics-content-container .widget ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.configure-analytics-content-container .widget li {
  margin-bottom: 12px;
  line-height: 1.5;
}
.configure-analytics-content-container .widget-title {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
.configure-analytics-content-container div[ng-view] {
  max-width: 1200px;
}
