/* TODO: Remove this once we can remove CJT/YUI. */
.yui-overlay {
    position: absolute;
}

#tlsWarning {
    #tlsWarningHeader {
        margin-top: 10px;
        font-size: larger;
        font-weight: bold;
    }

    .tlsWarningText {
        padding-bottom: 5px;
    }
}

#advancedOptions {
    display: none;
}

#sshDetailsContainer {
    button {
        padding-left: 0;
    }
}
