#ssltable {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 700px;
    border-collapse: collapse;
}

#csrform {
    margin-bottom: 20px;
}

/*------------------------------------------------------------*/
/* Setup the ability to add Required on right of title fields */
/*------------------------------------------------------------*/

html[dir="ltr"] label.title span.extra {
    float: right;
    font-weight: normal;
    max-width: 20%;
    display: inline;
    text-align: right;
}

html[dir="rtl"] label.title span.extra {
    float: left;
    font-weight: normal;
    max-width: 20%;
    display: inline;
    text-align: left;
}
/*------------------------------------------------------------*/
/*

Adding validation styles here to be removed when validation is updated to CJT2

*/

.yui-overlay,
.yui-panel-container {
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

.validation_error_panel .bd {
    background: 0;
    border: 0;
}

.validation_errors_div {
    max-width: 350px;
    background-color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    line-height: 20px;
    border: 1px solid #e61212;
    border-radius: 0.154em;
    background-clip: padding-box;
    box-shadow: 0 0.071em 0 rgba(255, 255, 255, 0.3),
        0 0.071em 0 rgba(0, 0, 0, 0.2);
}

.validation_errors_div ul.validation_errors_ul {
    margin: 0;
    padding: 2px 5px;
}

.validation_errors_div ul.validation_errors_ul li.validation_errors_li {
    margin: 0;
    list-style: none;
}
