ul.appconfig-head {
    margin: 0;
    padding: 0;
}
ul.appconfig-head li {
    display: inline;
    float: left;
    margin-right: 20px;
}
ul.appconfig-head ul li {
    display: block;
    float: none;
    list-style: none;
}

.appconfig-head h4 {
    margin-bottom: 5px;
}

.yui-skin-sam .yui-dt td {
    word-wrap: break-word;
}
