.table .table-inner {
    margin-bottom: 0;
    background-color: transparent;
}

.table-inner .table-inner__cell {
    border-top: none;
}

.table-inner .table-inner__cell--small {
    width: 50px;
    padding-left: 0;
}

html[dir="ltr"] .actions-column {
    padding-left: 16px;
}

html[dir="rtl"] .actions-column {
    padding-right: 16px;
}
