@validation_horiz_margin: 0.75em;

.checkbox-field-error {
    position: absolute;
}

html[dir="ltr"] {
    .checkbox-field-error {
        margin-left: @validation_horiz_margin;
    }
}

html[dir="rtl"] {
    .checkbox-field-error {
        margin-right: @validation_horiz_margin;
    }
}

div.installCert {
    margin-top: 40px;

    form {
        margin-top: 10px;
    }
}

table.batch-failure {
    border-spacing: 0;
    margin-top: 1em;

    td.service-name:after {
        content: ":";
    }
}

html[dir="ltr"] table.batch-failure td.error-text {
    padding-left: 5px;
}
html[dir="rtl"] table.batch-failure td.error-text {
    padding-right: 5px;
}

.reset-confirmation {
    max-width: 500px;
}
