.cpanel-table {
    border-spacing: 0;
    color: #000000;
}
.cpanel-table,
.cpanel-table tbody td,
.cpanel-table thead th {
    border: 1px solid #c1d0d3;
}
.cpanel-table tbody td,
.cpanel-table thead th {
    padding: 5px;
}
.cpanel-table tbody td {
    border-width: 1px 0 0 1px;
}
.cpanel-table tbody td:first-child {
    border-left-width: 0;
}
.cpanel-table tbody tr.shown-even td {
    background-color: white;
    word-wrap: break-word;
}
.cpanel-table tbody tr.shown-odd td {
    background-color: #f4f4f4;
}
.cpanel-table thead th {
    border-width: 0 0 0 1px;
    background-color: #d4ddde;
    color: #004c5f;
    text-shadow: 0 1px 0 white;
}
.cpanel-table thead th:first-child {
    border: 0;
}

/* override */
td.notes {
    font-style: normal;
}

/* "safe-sortable" so that we do not trip the sortable.js library */
.cpanel-table th.safe-sortable {
    cursor: pointer;
}
.cpanel-table th.sorted-asc .liner {
    background: url(/cjt/images/dt-arrow-up.png) no-repeat right;
}
.cpanel-table th.sorted-desc .liner {
    background: url(/cjt/images/dt-arrow-dn.png) no-repeat right;
}
.cpanel-table th.sorted-asc .liner,
.cpanel-table th.sorted-desc .liner {
    padding-right: 9px;
}
.cpanel-table {
    width: 100%;
}
.cpanel-table th {
    font-size: 11px;
}
.cpanel-table tr.hook-disabled {
    color: graytext;
}
.cpanel-table td.notes {
    max-width: 200px;
    word-wrap: break-word;
}
.cpanel-table td.toggle,
.cpanel-table td.actions,
.cpanel-table td.attributes {
    text-align: center;
    vertical-align: middle;
}
.cpanel-table td.attributes,
.cpanel-table td.actions {
    white-space: nowrap;
}
.cpanel-table td.attributes .attribute {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.cpanel-table td.toggle {
    padding: 0;
    width: 16px;
}
.toggle-link {
    padding: 5px;
    height: 100%;
    line-height: 100%;
    display: block;
}

.category-container {
    border: 1px solid white;
    outline: 1px solid #c1d0d3;
    background-color: #e0e9ea;
    width: 800px;
    margin-top: 20px;
}
.category-container .hd .header {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
.category-container .hd {
    border-bottom: 1px solid #c1d0d3;
    padding: 5px;
}
.category-container .bd {
    padding: 5px;
    border-top: 1px solid white;
}

.bottom-details-table {
    margin-bottom: 1em;
}
.details-table {
    border-spacing: 0;
    line-height: 16px;
}
.details-table td,
.details-table th {
    padding-left: 0;
}
.details-table th {
    text-align: left;
    font-size: 11px;
}
.details-table tr td p.details-description {
    margin: 0.5em 0 1em 0.5em;
}
.details-panel textarea {
    width: 369px;
}
.details-panel .cjt-pagenotice-container {
    margin-bottom: 10px;
}
.details-panel .cjt-pagenotice .bd {
    padding-top: 0;
    padding-bottom: 0;
}
.details-panel .attributes-header {
    font-weight: bold;
}
.details-panel .attribute {
    padding-left: 30px;
    min-height: 24px;
    line-height: 24px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
}
.details-panel .attribute-detail {
    margin-left: 20px;
    font-weight: bold;
}
.details-panel .attribute-value {
    font-weight: normal;
}

#hooks_section {
    margin-left: 20px;
    clear: left;
}
.code {
    font-family: monospace;
}

div.delete-prompt,
div.delete-prompt .yui-panel {
    max-width: 500px;
}

#expand_collapse {
    margin-top: 10px;
}

div.enabled-off .enabled-on,
div.enabled-on .enabled-off,
div.blocking-off .blocking-on,
div.blocking-on .blocking-off,
div.escalate-off .escalate-on,
div.escalate-on .escalate-off,
div.check-off .check-on,
div.check-on .check-off,
div.rollback-off .rollback-on,
div.rollback-on .rollback-off {
    display: none;
}

.anim-proxy {
    z-index: 2;
}

table.hooks-table {
    max-width: 900px;
}

div.hook-to-reorder {
    background-color: #dddddd;
    padding: 3px;
    cursor: move;
    font: 1em Helvetica;
}
div.hook-wrapper {
    margin-top: 5px;
}
div.hook-wrapper:first-child {
    margin-top: 0;
}

label {
    font-weight: bold;
}

.view-break {
    margin-top: 1em;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}

p.description {
    width: 600px;
}

#hook-event {
    position: relative;
    min-height: 45px;
}

.hook-event-detail {
    vertical-align: middle;
    max-width: 240px;
    display: inline-block;
    word-wrap: break-word;
}

.hook-movers {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
}

.cpanel-table td.attributes .enabled-off,
.details-panel .enabled-off {
    background-image: url(/images/hooks/hks-enabled-disabled.png);
}
.cpanel-table td.attributes .enabled-on,
.details-panel .enabled-on {
    background-image: url(/images/hooks/hks-enabled.png);
}
.cpanel-table td.attributes .blocking-off,
.details-panel .blocking-off {
    background-image: url(/images/hooks/hks-blocking-disabled.png);
}
.cpanel-table td.attributes .blocking-on,
.details-panel .blocking-on {
    background-image: url(/images/hooks/hks-blocking.png);
}
.cpanel-table td.attributes .escalate-off,
.details-panel .escalate-off {
    background-image: url(/images/hooks/hks-escalate-disabled.png);
}
.cpanel-table td.attributes .escalate-on,
.details-panel .escalate-on {
    background-image: url(/images/hooks/hks-escalate.png);
}
.cpanel-table td.attributes .rollback-off,
.details-panel .rollback-off {
    background-image: url(/images/hooks/hks-rollback-disabled.png);
}
.cpanel-table td.attributes .rollback-on,
.details-panel .rollback-on {
    background-image: url(/images/hooks/hks-rollback.png);
}
.cpanel-table td.attributes .check-off,
.details-panel .check-off {
    background-image: url(/images/hooks/hks-check-disabled.png);
}
.cpanel-table td.attributes .check-on,
.details-panel .check-on {
    background-image: url(/images/hooks/hks-check.png);
}

ul.hooks-head {
    margin: 0;
    padding: 0;
}
ul.hooks-head li {
    display: inline;
    float: left;
    margin-right: 20px;
}
ul.hooks-head ul li {
    display: block;
    float: none;
    list-style: none;
}

.hooks-head h4 {
    margin-bottom: 5px;
}

.legend-box {
    background-color: #f1f1f1;
    outline: 1px solid #c1d0d3;
    border: 1px solid #ffffff;
    display: block;
    min-width: 145px;
    min-height: 150px;
    padding: 0 10px 10px 10px;
}

ul.hooks-legend {
    margin: 0;
    padding: 0;
    line-height: 21px;
}

.hooks-legend li {
    display: inline-block;
}

.hooks-legend img {
    vertical-align: middle;
    margin-right: 5px;
}

.hooks-legend span {
    vertical-align: middle;
}

#Whostmgr-container {
    margin-bottom: 50px;
}

.up-link {
    display: block;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0x;
    border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    padding: 3px;
}
.down-link {
    display: block;
    border: 1px solid #cccccc;
    padding: 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -khtml-border-radius: 0 0 3px 3px;
}

.delete-highlight {
    font-weight: bold;
}

.code {
    font-weight: normal;
}

#no_hooks_match_message {
    margin-top: 20px;
}
