.nowrap {
    white-space: nowrap;
}

.off-cell {
    padding: 0 10px;
}
.slider-cell {
    white-space: nowrap;
    padding-left: 10px;
}

.slider-bg {
    position: relative;
    background: url(/yui/slider/assets/bg-fader.gif) 5px 0 no-repeat;
    height: 28px;
    width: 218px;
    display: inline-block;
    vertical-align: middle;
}

.slider-thumb {
    cursor: default;
    position: absolute;
    top: 4px;
}

#default_strength_area {
    background-color: #f2f2f2;
    border: 1px solid white;
    margin: 20px 7px;
    outline: 1px solid #dddddd;
    padding: 4px;
}
#default_strength_area .the-label {
    font-weight: bold;
    vertical-align: middle;
}

#application_strengths_table {
    margin: 0 5px;
    border-spacing: 0;
}
#application_strengths_table td {
    padding: 0 7px;
}
#application_strengths_table td.off-cell {
    white-space: nowrap;
    padding: 0 12px 0 8px;
}
#application_strengths_table td.slider-cell input,
#application_strengths_table td.slider-cell div.slider-bg {
    vertical-align: middle;
}
#default-slider-bg {
    margin-left: 8px;
}

#the_form {
    margin: 0 30px;
    display: inline-block;
    margin-bottom: 20px;
}

#application_strengths_table .odd-row td {
    background-color: #f2f2f2;
}

.topFrameWrapper,
#sidebar,
#navigation {
    position: relative;
    z-index: 100;
}
