.helpText {
    display: block;
    font-size: 0.923em;
    position: relative;
}

.validation_errors_ul {
    list-style-type: none;
    padding: 0 10px;
}

.cjt_validation_error {
    line-height: 30px;
}

.cjt_validation_error img {
    margin: 0;
    padding: 0;
}

input[type="file"] {
    height: inherit;
}

.formBody {
    background-color: #f3f3f3;
    border-color: #dcdfe3;
    border-style: solid;
    background-clip: padding-box;
    border-radius: 0.308em 0.308em 0.308em 0.308em;
    border-width: 0.077em;
    margin: 0.385em 0 1.385em;
}

form {
    background-color: inherit;
    border: 0 solid #ffffff;
}

.yui-overlay,
.yui-panel-container {
    position: absolute;
    max-width: 47%;
}

.validation_error_panel .bd {
    position: relative;
    top: 5px;
}

.show-scrollbars {
    overflow: inherit;
}

/*From Restore Updates:*/

#content {
    display: inline-block;
}

.cjt-pagenotice-container .cjt-notice-content {
    margin: 9px 0;
}

.selectTrustRadio {
    margin-top: -6px;
    position: absolute;
    top: 50%;
    left: 6px;
}

.selectTrustLabel {
    display: block;
    position: relative;
    padding: 5px 0;
}
.selectTrustDescription {
    margin: 0;
}

.selectTrustTitle {
    margin: 0;
    line-height: 1.5em;
}

.selectTrustContent {
    margin-left: 29px;
}

html[dir="rtl"] #selectUntrusted .selectTrustTitle {
    padding-left: 0;
    padding-right: 32px;
}

html[dir="rtl"] .selectTrustRadio {
    left: 0;
    right: 6px;
}

html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    background-position: 9px center;
    outline: 1px solid #dddddd;
    padding: 9px 45px;
    text-align: left;
}
.cjt-pagenotice-container .cjt-notice-info .bd {
    background-image: url("/cjt/images/info2.png");
    border: 1px solid white;
    background-color: #f0f0f0;
    color: #666666;
    outline: 1px solid #dddddd;
    border-radius: 0;
}

.cjt-pagenotice-container .cjt-notice-content {
    font-size: 13px;
}

#content .field-extra,
#content fieldset div.field,
#content fieldset div.inline {
    padding: 0 1%;
}

.groupedOptions {
    background-color: #ffffff;
    border: 1px solid #dcdfe3;
    border-radius: 4px 4px 4px 4px;
    margin: 0.154em 1.088em;
}

.warningBox {
    background-color: #ffffcf;
    border-color: #e0e000;
}

.disabled {
    color: #888888;
}

.comboBoxWrapper {
    position: relative;
}

.comboBoxWrapper ul {
    margin: 0;
    padding: 0;
}

.comboBoxWrapper ul li {
    list-style: none;
    padding: 0.231em 1em;
}

.comboBoxWrapper ul li:hover,
.comboBoxWrapper ul li:focus {
    background-color: #cccccc;
}

.comboBoxWrapper .yui-ac-content {
    background-color: white;
}

.comboBoxWrapper > a {
    display: inline;
    float: right;
    position: absolute;
    right: 6px;
    top: 7px;
    color: #000000;
}

html[dir="rtl"] .comboBoxWrapper > a {
    right: 0;
    left: 6px;
}

.comboBoxWrapper > a:hover {
    text-decoration: none;
}

.comboBoxWrapper .yui-ac-container .yui-ac-content {
    max-height: 150px;
    overflow-y: scroll;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #808080;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 9050;
}

.yui-ac-highlight {
    background-color: #426fd9;
    color: #ffffff;
    cursor: pointer;
}

.processing {
    background-image: url("/images/loading-arrows-16.gif");
    background-position: center;
    background-repeat: no-repeat;
}
