/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.delete-confirm {
  display: block;
  width: 100%;
}
.delete-confirm-message {
  position: relative;
  padding-top: 1rem;
}
html[dir="ltr"] .delete-confirm-message {
  padding-left: 5rem;
}
html[dir="rtl"] .delete-confirm-message {
  padding-right: 5rem;
}
.delete-confirm-message > strong {
  font-size: 1.4em;
}
.delete-dialog-icon {
  position: absolute;
  top: -10px;
  padding: 0;
  font-size: 7em;
  color: rgba(231, 76, 60, 0.22);
}
html[dir="ltr"] .delete-dialog-icon {
  left: -17px;
}
html[dir="rtl"] .delete-dialog-icon {
  right: -17px;
}
.callout {
  margin-top: 0;
  margin-bottom: 5px;
}
.delete-note {
  font-size: 0.95em;
  padding-top: 10px;
  display: block;
}
.delete-confirm {
  padding-left: 0;
  overflow: hidden;
}
.cancel-cert-block {
  padding-top: 15px;
  margin-top: 15px;
}
.modal-dialog {
  max-width: 500px;
}
.check-column input {
  margin-left: 15px;
}
.table .account-summary-table {
  background-color: transparent;
  margin-top: 8px;
}
.account-summary-error,
.account-summary-loading {
  margin-top: 8px;
  margin-bottom: 10px;
}
.global-action-buttons {
  margin-top: 15px;
}
.check-column-header {
  width: 100px;
}
@media only screen and (max-width: 800px) {
  /*
       We want the delete confirmation to take up the entire table width.
       Use important since this is an exception to the responsive table styles
       that indents things.
    */
  .delete-confirm-container {
    padding-left: 0 !important;
  }
}
