/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/**
# cpanel - whostmgr/docroot/templates/gsw/initial_setup/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/*
# cpanel - whostmgr/docroot/templates/eula.less    Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.license .list-spaced-items > li,
.license p.list-break {
  margin-top: 0.5em;
}
.license .list-decimal:not(.continue-counter),
.license .list-decimal-nested:not(.continue-counter),
.license .list-upper-alpha:not(.continue-counter),
.license .list-lower-alpha-parens:not(.continue-counter),
.license .list-lower-roman-parens:not(.continue-counter) {
  counter-reset: item 0;
}
.license .list-decimal > li,
.license .list-decimal-nested > li,
.license .list-upper-alpha > li,
.license .list-lower-alpha-parens > li,
.license .list-lower-roman-parens > li {
  list-style-type: none;
  counter-increment: item;
}
.license .list-decimal > li::before,
.license .list-decimal-nested > li::before,
.license .list-upper-alpha > li::before,
.license .list-lower-alpha-parens > li::before,
.license .list-lower-roman-parens > li::before {
  margin-right: 0.5em;
}
.license .list-decimal > li {
  list-style-type: decimal;
  padding-left: 0.5em;
}
.license .list-decimal-nested > li::before {
  content: counters(item, ".");
}
.license .list-upper-alpha > li::before {
  content: counter(item, upper-alpha) ".";
}
.license .list-lower-alpha-parens > li::before {
  content: "(" counter(item, lower-alpha) ")";
}
.license .list-lower-roman-parens > li::before {
  content: "(" counter(item, lower-roman) ")";
}
/* Common Styles */
html,
body {
  height: 100%;
}
body {
  background: #293a4a;
}
.cp-layout-wrapper {
  justify-content: center;
}
#masterContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pageContainer {
  color: #ffffff;
  max-height: 100%;
  overflow: auto;
}
@media (min-width: 768px) {
  #pageContainer {
    padding: 20px;
  }
}
#masterContainer #contentContainer {
  height: 100% !important;
  padding-bottom: 0;
}
.product-logo {
  font-size: 0;
  text-align: center;
  margin: 10px 0 35px 0;
}
@media (min-width: 768px) {
  .product-logo {
    margin-bottom: 45px;
  }
}
.product-logo path {
  fill: #ffffff;
}
.product-logo svg {
  width: auto;
  max-height: 50px;
}
.legal-container,
.info-container,
.trial-container,
.license-purchase-intro-container {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .legal-container,
  .info-container,
  .trial-container,
  .license-purchase-intro-container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .legal-container,
  .info-container,
  .trial-container,
  .license-purchase-intro-container {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.btn-link,
.btn-link:hover {
  color: #ffffff;
}
a.icon-link:hover,
a.icon-link:active,
a.icon-link:focus {
  text-decoration: none;
  color: #ffffff;
}
a.icon-link:hover span,
a.icon-link:active span,
a.icon-link:focus span {
  text-decoration: underline;
}
.footer {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: auto;
}
.footer button.footer-option {
  background: transparent;
  border: none;
}
.footer .footer-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
}
html[dir="rtl"] .footer .footer-option .fa-arrow-alt-circle-right {
  transform: scaleX(-1);
}
.footer .footer-option:hover,
.footer .footer-option:active,
.footer .footer-option:focus {
  text-decoration: none;
}
.footer .footer-option:hover span:last-child,
.footer .footer-option:active span:last-child,
.footer .footer-option:focus span:last-child {
  text-decoration: underline;
}
.footer .footer-option[disabled] {
  cursor: not-allowed;
}
.footer .footer-option[disabled] span:last-child {
  text-decoration: none;
}
.footer .footer-option .fa-stack {
  font-size: 1.5em;
}
.footer .footer-option .fa-stack-1x {
  font-size: 0.9em;
}
.alert-list-container {
  top: 0 !important;
}
/* Intro Animation view styles */
#intro-section {
  text-align: center;
  cursor: pointer;
}
#intro-section .product-logo {
  position: relative;
  margin: 0 0 20px 0;
  margin-bottom: 12px;
}
#intro-section .platform-of-choice {
  text-align: center;
  animation: 3s ease 0.5s 1 forwards fade-in;
  opacity: 0;
  position: relative;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  will-change: opacity;
}
#intro-section .animated-line {
  box-sizing: border-box;
  position: relative;
  height: 2px;
  width: 100%;
  margin: 4px auto;
  min-width: 20em;
  max-width: 470px;
}
#intro-section .animated-line::before {
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: -7%;
  position: absolute;
  background: linear-gradient(270deg, #ff6c2c 0%, #ff6c2c 40%, rgba(255, 108, 44, 0) 100%);
  will-change: width;
  animation: 400ms ease 2s 1 forwards expand, 30s linear 2.4s forwards expand-beyond;
}
#intro-section .animated-line::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -7%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 0 solid #ff6c2c;
  border-radius: 50%;
  animation: 2000ms infinite 2.4s forwards blink, 30s linear 2.4s 1 forwards track-expand-beyond;
}
#content {
  position: relative;
  overflow: hidden;
  min-height: 50vh;
}
#intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  opacity: 1;
  z-index: 20;
  will-change: transform, opacity;
}
#intro-section.fade-out {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 300ms, transform 800ms ease-in;
}
#main-section {
  opacity: 0;
  will-change: transform, opacity;
}
#main-section.fade-in {
  opacity: 1;
  transition: opacity ease-in 500ms 300ms;
}
@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes expand-beyond {
  0% {
    width: 95%;
  }
  10% {
    width: 105%;
  }
  50% {
    width: 115%;
  }
  100% {
    width: 125%;
  }
}
@keyframes track-expand-beyond {
  0% {
    left: 88%;
  }
  10% {
    left: 98%;
  }
  50% {
    left: 108%;
  }
  100% {
    left: 118%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  0%,
  30%,
  100% {
    border-width: 0;
  }
  15% {
    border-width: 3px;
  }
}
/* legal view styles */
.legal-container b.eff-date {
  display: block;
  margin-bottom: 10px;
}
.legal-container .panel {
  position: relative;
  margin: 0;
  box-shadow: inset 0px 3px 12px -2px rgba(0, 0, 0, 0.75);
}
.legal-container .panel-body {
  color: black;
  max-height: 50vh;
  overflow: auto;
  padding-top: 0;
}
@media (max-width: 767px) {
  .legal-container .panel-body {
    padding: 0 10px 10px 10px;
  }
}
.legal-container a#top-link {
  opacity: 0;
  position: absolute;
  top: 10px;
  transition: 200ms opacity;
}
html[dir="ltr"] .legal-container a#top-link {
  right: 10px;
}
html[dir="rtl"] .legal-container a#top-link {
  left: 10px;
}
.legal-container #table-of-contents h1 {
  margin-top: 0;
  padding-top: 15px;
}
.legal-container .agreement-content h1 {
  padding-top: 15px;
}
.legal-container .agreement-content ol {
  list-style: none;
  margin-top: 10px;
}
.legal-container .agreement-content hr {
  margin: 5px 0 15px;
  border-color: #aaa;
}
.legal-container .linked-schedules {
  margin: 20px 0;
}
.legal-container .privacy-policy,
.legal-container .pricing-and-term {
  /* This will avoid large tables in privacy policy to
        generate scroll bar on overall content area.
        Bootstrap .table-responsive style only works for
        screen sizes below 768px */
}
.legal-container .privacy-policy .table-responsive,
.legal-container .pricing-and-term .table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  border: 1px solid #ddd;
  min-height: 0.01%;
  overflow-x: auto;
}
.legal-container .privacy-policy .table-responsive > .table > thead > tr > th,
.legal-container .pricing-and-term .table-responsive > .table > thead > tr > th,
.legal-container .privacy-policy .table-responsive > .table > tbody > tr > th,
.legal-container .pricing-and-term .table-responsive > .table > tbody > tr > th,
.legal-container .privacy-policy .table-responsive > .table > tfoot > tr > th,
.legal-container .pricing-and-term .table-responsive > .table > tfoot > tr > th,
.legal-container .privacy-policy .table-responsive > .table > thead > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > thead > tr > td,
.legal-container .privacy-policy .table-responsive > .table > tbody > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > tbody > tr > td,
.legal-container .privacy-policy .table-responsive > .table > tfoot > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > tfoot > tr > td {
  white-space: normal;
  min-width: 250px;
}
.legal-container .privacy-policy .table-responsive > .table > thead > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > thead > tr > td,
.legal-container .privacy-policy .table-responsive > .table > tbody > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > tbody > tr > td,
.legal-container .privacy-policy .table-responsive > .table > tfoot > tr > td,
.legal-container .pricing-and-term .table-responsive > .table > tfoot > tr > td {
  vertical-align: top;
}
.legal-container .privacy-policy ol.decimal,
.legal-container .pricing-and-term ol.decimal {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
.legal-container .privacy-policy ol.decimal > li,
.legal-container .pricing-and-term ol.decimal > li {
  counter-increment: item;
  margin: 0.6em;
  font-weight: bold;
}
.legal-container .privacy-policy ol.decimal > li:first-child,
.legal-container .pricing-and-term ol.decimal > li:first-child {
  margin-top: 0.5em;
}
.legal-container .privacy-policy ol.decimal > li:before,
.legal-container .pricing-and-term ol.decimal > li:before {
  content: counters(item, ".") ".";
  padding-right: 0.6em;
}
.legal-container .privacy-policy li ol > li,
.legal-container .pricing-and-term li ol > li {
  margin: 0.5em 0;
  overflow-wrap: anywhere;
}
.legal-container .privacy-policy li ol > li:before,
.legal-container .pricing-and-term li ol > li:before {
  content: counters(item, "") "";
}
.legal-container .privacy-policy ol.decimal > li > ol.decimal > li,
.legal-container .pricing-and-term ol.decimal > li > ol.decimal > li {
  font-weight: normal;
  margin-left: 25px;
}
.legal-container .privacy-policy ol.decimal > li p,
.legal-container .pricing-and-term ol.decimal > li p {
  font-weight: normal;
}
.legal-container .privacy-policy ol.lower-alpha,
.legal-container .pricing-and-term ol.lower-alpha {
  list-style-type: lower-alpha;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.legal-container .privacy-policy li ol.lower-alpha > li:before,
.legal-container .pricing-and-term li ol.lower-alpha > li:before,
.legal-container .privacy-policy li ol.upper-alpha > li:before,
.legal-container .pricing-and-term li ol.upper-alpha > li:before,
.legal-container .privacy-policy li ol.lower-roman > li:before,
.legal-container .pricing-and-term li ol.lower-roman > li:before,
.legal-container .privacy-policy li ol.upper-roman > li:before,
.legal-container .pricing-and-term li ol.upper-roman > li:before {
  content: none;
}
.legal-container .privacy-policy ol.lower-roman,
.legal-container .pricing-and-term ol.lower-roman {
  list-style-type: lower-roman;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.legal-container .privacy-policy ol.upper-alpha,
.legal-container .pricing-and-term ol.upper-alpha {
  list-style-type: upper-alpha;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.legal-container .privacy-policy ol.upper-roman,
.legal-container .pricing-and-term ol.upper-roman {
  list-style-type: upper-roman;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.legal-container .privacy-policy a.url-break,
.legal-container .pricing-and-term a.url-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.legal-container .pricing-and-term ol,
.legal-container .pricing-and-term ul {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.legal-container .pricing-and-term ol li {
  margin-top: 15px;
  display: list-item;
  list-style-type: decimal;
}
.legal-container .pricing-and-term ol ul li {
  list-style-type: circle;
}
.legal-container .pricing-and-term .indent {
  padding-left: 20px;
}
html[dir="rtl"] .legal-container .pricing-and-term .indent {
  padding-left: 0;
  padding-right: 20px;
}
.legal-container .gdpr-updates .gdpr-decimal {
  counter-reset: item;
  list-style-type: decimal;
}
.legal-container .gdpr-updates .gdpr-decimal li {
  display: block;
}
.legal-container .gdpr-updates .gdpr-decimal li::before {
  counter-increment: item;
  content: counters(item, ".") "\00a0";
}
.legal-container .gdpr-updates .gdpr-nested-letter {
  counter-reset: letter;
  list-style-type: none;
}
.legal-container .gdpr-updates .gdpr-nested-letter li {
  list-style-type: none;
}
.legal-container .gdpr-updates .gdpr-nested-letter li::before {
  counter-increment: letter;
  content: "(" counter(letter, lower-alpha) ") \00a0";
}
@media only print {
  * {
    overflow: visible !important;
  }
  @page {
    size: landscape;
  }
  .no-print,
  .product-logo {
    display: none;
  }
  .panel {
    border: none;
  }
  .panel-body {
    max-height: inherit;
    height: auto;
    display: block;
  }
  .legal-container {
    max-width: inherit;
    width: auto;
  }
  .full-schedules {
    display: block;
    font-size: 11px;
  }
  .full-schedules h2 {
    page-break-before: always;
  }
  #contentContainer,
  #pageContainer {
    overflow: hidden;
    padding: 0;
    display: block;
  }
  #masterContainer {
    height: auto;
    display: block;
  }
  a[href]:after {
    content: none;
  }
  .legal-container .privacy-policy .table-responsive > .table > thead > tr > th,
  .legal-container .privacy-policy .table-responsive > .table > tbody > tr > th,
  .legal-container .privacy-policy .table-responsive > .table > tfoot > tr > th,
  .legal-container .privacy-policy .table-responsive > .table > thead > tr > td,
  .legal-container .privacy-policy .table-responsive > .table > tbody > tr > td,
  .legal-container .privacy-policy .table-responsive > .table > tfoot > tr > td {
    min-width: 200px;
  }
}
/* server setup view */
.info-container .info-block,
.info-container .help-block {
  color: #dddddd;
}
.info-container .help-block a {
  color: #dddddd;
}
.info-container .help-block a > span {
  text-decoration: underline;
}
.info-container .help-block a:hover,
.info-container .help-block a:active,
.info-container .help-block a:focus {
  color: #ffffff;
}
.info-container label {
  font-weight: 600;
}
.info-container .btn.disabled,
.info-container .btn[disabled],
.info-container fieldset[disabled] .btn {
  pointer-events: inherit;
}
.info-container .footer {
  margin-top: 100px;
}
.info-container .validation-container {
  color: #333333;
  margin-top: 2px;
}
html[dir="rtl"] .info-container .validation-error > .glyphicon {
  right: 0;
  left: auto;
}
html[dir="rtl"] .info-container .validation-message {
  margin-left: 0;
  margin-right: 20px;
}
/* trial license activation view */
.trial-container .validation-container,
.license-purchase-intro-container .validation-container {
  color: #333333;
  margin-top: 2px;
}
html[dir="rtl"] .trial-container .validation-error > .glyphicon,
html[dir="rtl"] .license-purchase-intro-container .validation-error > .glyphicon {
  right: 0;
  left: auto;
}
html[dir="rtl"] .trial-container .validation-message,
html[dir="rtl"] .license-purchase-intro-container .validation-message {
  margin-left: 0;
  margin-right: 20px;
}
.trial-container .button-loading,
.license-purchase-intro-container .button-loading {
  position: static;
}
.trial-container .button-loading .action-button-idle-icon,
.license-purchase-intro-container .button-loading .action-button-idle-icon {
  display: none;
}
.trial-container .button-loading .button-label,
.license-purchase-intro-container .button-loading .button-label {
  visibility: visible;
  display: inline-block;
}
.trial-container .button-loading-indicator,
.license-purchase-intro-container .button-loading-indicator {
  position: static;
  margin: 0;
}
.trial-container .panel-body,
.license-purchase-intro-container .panel-body {
  color: #333333;
}
.trial-container .panel-body > div,
.license-purchase-intro-container .panel-body > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trial-container .trial-heading,
.license-purchase-intro-container .trial-heading,
.trial-container .license-purchase-intro-heading,
.license-purchase-intro-container .license-purchase-intro-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.trial-container .margin-top-40,
.license-purchase-intro-container .margin-top-40 {
  margin-top: 40px;
}
.trial-container .email-verification-form,
.license-purchase-intro-container .email-verification-form {
  width: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .trial-container .email-verification-form,
  .license-purchase-intro-container .email-verification-form {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .trial-container .email-verification-form,
  .license-purchase-intro-container .email-verification-form {
    width: 70%;
  }
}
.trial-container .text-link,
.license-purchase-intro-container .text-link {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}
.trial-container .text-link:hover,
.license-purchase-intro-container .text-link:hover,
.trial-container .text-link:active,
.license-purchase-intro-container .text-link:active,
.trial-container .text-link:focus,
.license-purchase-intro-container .text-link:focus {
  text-decoration: none;
}
.trial-container .step-text,
.license-purchase-intro-container .step-text {
  font-size: 18px;
}
.trial-container .success-checkmark,
.license-purchase-intro-container .success-checkmark {
  color: #83b655;
}
.trial-container .failure,
.license-purchase-intro-container .failure {
  color: #d03f00;
}
.trial-container .footer,
.license-purchase-intro-container .footer {
  margin-top: 100px;
}
.trial-container .verify-email-alt-actions,
.license-purchase-intro-container .verify-email-alt-actions {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: -2em;
}
.trial-container .verify-email-alt-actions .btn-link .button-label,
.license-purchase-intro-container .verify-email-alt-actions .btn-link .button-label {
  border-bottom: 1px dashed #a1a1a1;
}
.trial-container .verify-email-alt-actions .btn-link:hover,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:hover,
.trial-container .verify-email-alt-actions .btn-link:active,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:active,
.trial-container .verify-email-alt-actions .btn-link:focus,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:focus {
  text-decoration: none;
}
.trial-container .verify-email-alt-actions .btn-link:hover .button-label,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:hover .button-label,
.trial-container .verify-email-alt-actions .btn-link:active .button-label,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:active .button-label,
.trial-container .verify-email-alt-actions .btn-link:focus .button-label,
.license-purchase-intro-container .verify-email-alt-actions .btn-link:focus .button-label {
  border-bottom: 1px solid #ffffff;
}
.trial-container .verify-email-alt-actions .btn-link .button-label span,
.license-purchase-intro-container .verify-email-alt-actions .btn-link .button-label span {
  white-space: normal;
}
.trial-container .verify-email-alt-actions .btn-link strong,
.license-purchase-intro-container .verify-email-alt-actions .btn-link strong {
  word-break: break-all;
}
.trial-container .icon-link-underline-fix-container:hover,
.license-purchase-intro-container .icon-link-underline-fix-container:hover,
.trial-container .icon-link-underline-fix-container:active,
.license-purchase-intro-container .icon-link-underline-fix-container:active,
.trial-container .icon-link-underline-fix-container:focus,
.license-purchase-intro-container .icon-link-underline-fix-container:focus {
  text-decoration: none;
}
.trial-container .icon-link-underline-fix-container:hover .icon-link-underline-fix-content,
.license-purchase-intro-container .icon-link-underline-fix-container:hover .icon-link-underline-fix-content,
.trial-container .icon-link-underline-fix-container:active .icon-link-underline-fix-content,
.license-purchase-intro-container .icon-link-underline-fix-container:active .icon-link-underline-fix-content,
.trial-container .icon-link-underline-fix-container:focus .icon-link-underline-fix-content,
.license-purchase-intro-container .icon-link-underline-fix-container:focus .icon-link-underline-fix-content {
  text-decoration: underline;
}
.trial-container .btn-default,
.license-purchase-intro-container .btn-default {
  border-color: transparent;
  background: rgba(232, 232, 232, 0.2);
  color: #ffffff;
}
.trial-container .btn-default:hover,
.license-purchase-intro-container .btn-default:hover,
.trial-container .btn-default:active,
.license-purchase-intro-container .btn-default:active,
.trial-container .btn-default:focus,
.license-purchase-intro-container .btn-default:focus {
  background: rgba(232, 232, 232, 0.15);
  border-color: #565656;
}
.trial-container .link-button,
.license-purchase-intro-container .link-button {
  color: #ffffff;
}
@media (max-width: 599px) {
  .trial-container .visible-xxs,
  .license-purchase-intro-container .visible-xxs {
    display: block !important;
  }
  .trial-container .hidden-xxs,
  .license-purchase-intro-container .hidden-xxs {
    display: none !important;
  }
}
/* Website creation view */
.create-account-container {
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .create-account-container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
  }
}
