div.jqplot-axis {
    white-space: nowrap;
}
div.jqplot-yaxis {
    margin-right: 10px;
}
div.jqplot-xaxis {
    margin-top: 10px;
}

.yaxis_title {
    position: absolute;
    left: -1.5em;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left;
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE */
}

.jqplot-xaxis-tick {
    text-align: center;
}

div.legend_block {
    float: left;
    border: 1px solid #666666;
    width: 1em;
    height: 1em;
    margin-right: 4px;
}

div.pie_container {
    width: 150px;
    height: 150px;
}
