[%
# this is used in the init quota page
#  - /scripts/dialog?dialog=quotas
# we cannot load/use CJT in this partial as this breaks the initial wizard layout
%]
[% IF needs_reboot_after_turning_on_quota_kernel %]
<div class="callout callout-warning">
        <strong>Warning</strong>: The operating system on this server does not always install kernel modules needed for quotas to function. You <em>may</em> need to reboot the server after you enable quotas, and the system is <strong>not</strong> always able to fix this issue automatically. See the <a href="https://go.cpanel.net/fixquotas" target="_blank">relevant documentation</a> for further information.
</div>
[% END %]
