[%
# this is used in the init quota page
#  - /scripts/dialog?dialog=quotas
# we cannot load/use CJT in this partial as this breaks the initial wizard layout
%]
[% IF needs_reboot_after_turning_on_quota_xfs %]
<div class="callout callout-warning">
        <strong>Warning</strong>: On servers that use the XFS® filesystem, you <strong>must</strong> reboot the server after you enable quotas.
</div>
[% END %]
