[%
# this is used in the init quota page
#  - /scripts/dialog?dialog=quotas
# we cannot load/use CJT in this partial as this breaks the initial wizard layout
%]
[% USE Whostmgr -%]
[%- IF Whostmgr.template_vars.envtype == 'virtuozzo' || Whostmgr.template_vars.envtype == 'vzcontainer' %]
<style type="text/css">
html[dir=rtl] .callout-info {
    border-left-color: transparent;
    border-right-color: #2980b9;
}
.callout-info {
    background-color: #d7edf9;
    border-left-color: #2980b9;
}
</style>
    <div class="callout callout-info">
        Your system uses Virtuozzo containers. For disk quotas to work, your hosting provider may need to enable quotas on the host node. More information is
        available in our <a target="_blank" href="https://go.cpanel.net/vzquotas">documentation</a>.
    </div>
[%- END %]

