@import (reference) "../../../libraries/base-styles/variables.less";

html[dir="rtl"] .text-right.flip {
    text-align: left;
}

.eol-callout {
    margin: 12px 0 36px 0;
    min-width: 300px;

    img {
        max-width: 300px;
        @media (max-width: @screen-xs-max) {
            max-width: 75%;
        }
    }

    div {
        margin: 12px 0;
    }

    .eol-callout-title {
        font-size: 36px;
        font-weight: bold;
        @media (max-width: @screen-xs-max) {
            font-size: 18px;
        }
    }

    .eol-callout-content {
        font-size: 22px;
        @media (max-width: @screen-xs-max) {
            font-size: 12px;
        }

        span {
            display: block;
        }
    }

    .eol-callout-dismiss-link {
        cursor: pointer;
        font-size: 12px;
        color: #333333;
        text-decoration: underline;
    }
}

.eol-banner {
    background-color: @cpanel-dark-blue-gray;
    color: #ffffff;
    border-radius: 10px;
    max-width: 780px;
    min-width: 300px;
    margin: 12px 0;
    padding: 12px 18px;
    display: flex;

    img {
        width: 100%;
        max-width: 100px;
        max-height: 100px;
        margin-inline-end: 20px;
    }

    .eol-banner-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.eol-callout-btn {
    width: 160px;
    margin: 4px;
}

.eol-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    p {
        @media (max-width: @screen-xs-max) {
            font-size: 12px;
        }
    }

    .modal-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .eol-modal-footer {
        padding-bottom: 12px;
    }

    @media (max-width: @screen-sm-max) and (orientation: landscape) {
        .modal-dialog {
            margin-top: 50px;
        }
    }
}
