/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
html[dir="rtl"] .text-right.flip {
  text-align: left;
}
.eol-callout {
  margin: 12px 0 36px 0;
  min-width: 300px;
}
.eol-callout img {
  max-width: 300px;
}
@media (max-width: 767px) {
  .eol-callout img {
    max-width: 75%;
  }
}
.eol-callout div {
  margin: 12px 0;
}
.eol-callout .eol-callout-title {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .eol-callout .eol-callout-title {
    font-size: 18px;
  }
}
.eol-callout .eol-callout-content {
  font-size: 22px;
}
@media (max-width: 767px) {
  .eol-callout .eol-callout-content {
    font-size: 12px;
  }
}
.eol-callout .eol-callout-content span {
  display: block;
}
.eol-callout .eol-callout-dismiss-link {
  cursor: pointer;
  font-size: 12px;
  color: #333333;
  text-decoration: underline;
}
.eol-banner {
  background-color: #293a4a;
  color: #ffffff;
  border-radius: 10px;
  max-width: 780px;
  min-width: 300px;
  margin: 12px 0;
  padding: 12px 18px;
  display: flex;
}
.eol-banner img {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  margin-inline-end: 20px;
}
.eol-banner .eol-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.eol-callout-btn {
  width: 160px;
  margin: 4px;
}
.eol-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
@media (max-width: 767px) {
  .eol-modal p {
    font-size: 12px;
  }
}
.eol-modal .modal-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}
.eol-modal .eol-modal-footer {
  padding-bottom: 12px;
}
@media (max-width: 991px) and (orientation: landscape) {
  .eol-modal .modal-dialog {
    margin-top: 50px;
  }
}
