/*
# cpanel - whostmgr/docroot/templates/server_profile/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "../../libraries/bootstrap/source/less/variables.less";

@media (min-width: @screen-md) {
    #pageContent {
        max-width: 90%;
    }
}

@media (min-width: @screen-lg) {
    #pageContent {
        max-width: 75%;
    }
}

@media (min-width: 1500px) {
    #pageContent {
        max-width: 70%;
    }
}

@media (min-width: 2000px) {
    #pageContent {
        max-width: 45%;
    }
}

@media (min-width: 2500px) {
    #pageContent {
        max-width: 40%;
    }
}

@media (min-width: 3000px) {
    #pageContent {
        max-width: 35%;
    }
}

@media (min-width: 3500px) {
    #pageContent {
        max-width: 30%;
    }
}

.currentProfile {
    color: green;
    font-weight: bold;
}

/* The 5px top padding is to make it even with the left-side label. */
.roleDescription {
    padding: 4px 0;
    display: inline-block;
}

label.profileLabel,
label.profileLabel span {
    vertical-align: middle;
}

p.footnote {
    margin-top: 10px;

    span {
        vertical-align: middle;
    }
}

label.profileLabel {
    font-weight: normal;
}

label.profileLabel.selected {
    font-weight: bold;
}

.loadingProfiles {
    margin-top: 20px;
}

@media (max-width: @screen-xs-max) {
    // This mimics cPanel’s custom rules for .col-xs-12:
    .role-select-table .cell {
        padding: 0 15px;
    }
}

@media (min-width: @screen-sm-min) {
    .role-select-table {
        /* A hack to prevent the widget’s default style
           from altering the vertical alignment. Without this
           there is a tiny discrepancy in the baselines of the
           two columns.
        */
        .cjt2-toggle-switch .toggle-switch-label {
            vertical-align: inherit;
        }

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            vertical-align: top;
        }

        .toggle-cell {
            white-space: nowrap;
        }
    }

    .profileDescription {
        padding-left: 36px;
    }
}
