/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/server_profile/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
@media (min-width: 992px) {
  #pageContent {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  #pageContent {
    max-width: 75%;
  }
}
@media (min-width: 1500px) {
  #pageContent {
    max-width: 70%;
  }
}
@media (min-width: 2000px) {
  #pageContent {
    max-width: 45%;
  }
}
@media (min-width: 2500px) {
  #pageContent {
    max-width: 40%;
  }
}
@media (min-width: 3000px) {
  #pageContent {
    max-width: 35%;
  }
}
@media (min-width: 3500px) {
  #pageContent {
    max-width: 30%;
  }
}
.currentProfile {
  color: green;
  font-weight: bold;
}
/* The 5px top padding is to make it even with the left-side label. */
.roleDescription {
  padding: 4px 0;
  display: inline-block;
}
label.profileLabel,
label.profileLabel span {
  vertical-align: middle;
}
p.footnote {
  margin-top: 10px;
}
p.footnote span {
  vertical-align: middle;
}
label.profileLabel {
  font-weight: normal;
}
label.profileLabel.selected {
  font-weight: bold;
}
.loadingProfiles {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .role-select-table .cell {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .role-select-table {
    /* A hack to prevent the widget’s default style
           from altering the vertical alignment. Without this
           there is a tiny discrepancy in the baselines of the
           two columns.
        */
  }
  .role-select-table .cjt2-toggle-switch .toggle-switch-label {
    vertical-align: inherit;
  }
  .role-select-table .row {
    display: table-row;
  }
  .role-select-table .cell {
    display: table-cell;
    vertical-align: top;
  }
  .role-select-table .toggle-cell {
    white-space: nowrap;
  }
  .profileDescription {
    padding-left: 36px;
  }
}
