/*
# cpanel - base/frontend/jupiter/notifications/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

.panel-widget {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    height: auto;
    border: none;
    margin-bottom: 15px;
    display: table;
    width: 100%;
    max-width: 100%;
}

.widget-heading {
    border: 1px solid #293a4a;
    background-color: rgba(41, 58, 74, 0.95);
    color: #ffffff;
    text-transform: uppercase;
}

.widget-heading .close {
    color: #ffffff;
    opacity: 1;
}

/* Notifications */
.alert-list {
    margin: 0;
    padding: 0;
}

.alert-item {
    padding: 0 8px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    zoom: 1;
}
