/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/easyapache4/index.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.ea4-view {
  padding-bottom: 20px;
}
.ea-prompt-hr {
  margin-top: 0;
  margin-bottom: 0;
}
/* Index view */
.top-links .btn-ea4-looking-updates {
  background-color: #d7edf9;
  border: 1px solid #2980b9;
  color: #31708f;
  -webkit-animation: btn-update-fade 2s infinite;
  animation: btn-update-fade 2s infinite;
}
.top-links .btn-primary {
  -webkit-animation: btn-update-transition 0.5s 1;
  animation: btn-update-transition 0.5s 1;
}
.top-links .btn-primary.disabled {
  -webkit-animation: btn-no-update-transition 0.5s 1;
  animation: btn-no-update-transition 0.5s 1;
}
@-webkit-keyframes btn-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes btn-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes btn-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes btn-no-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.65;
  }
}
@-moz-keyframes btn-no-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.65;
  }
}
@-ms-keyframes btn-no-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.65;
  }
}
@keyframes btn-no-update-transition {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.65;
  }
}
@-webkit-keyframes btn-update-fade {
  0% {
    background-color: #d7edf9;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #d7edf9;
  }
}
@-moz-keyframes btn-update-fade {
  0% {
    background-color: #d7edf9;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #d7edf9;
  }
}
@-ms-keyframes btn-update-fade {
  0% {
    background-color: #d7edf9;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #d7edf9;
  }
}
@keyframes btn-update-fade {
  0% {
    background-color: #d7edf9;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #d7edf9;
  }
}
/* Profile styles */
.profile-panel {
  border-radius: 0;
  border-top: 0 none;
  margin: 0;
  padding: 0;
}
.profile-panel:hover {
  background-color: #eeeeee;
}
.profile-panel.callout:hover {
  background-color: #fcf8e1;
}
.profile-panel .glyphicon-info-sign {
  cursor: pointer;
}
.profilesSection .profile-col:first-child > .profile-panel {
  border-top: 1px solid #dddddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.profilesSection .profile-col:last-child > .profile-panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.profile-title {
  font-weight: 600;
}
.profile-title .label {
  margin-left: 5px;
  position: relative;
  bottom: 2px;
}
.profile-panel > .panel-body .description {
  font-size: 13px;
  color: #666666;
}
.profile-panel button,
.profile-panel a.btn {
  margin-top: 0;
}
.contains-title {
  font-size: 12px;
  font-style: italic;
  margin-right: 2px;
}
.contains-item {
  font-size: 12px;
  font-weight: 600;
}
.text-dir {
  text-align: right;
}
.text-dir-right {
  text-align: right;
}
.text-dir-left {
  text-align: left;
}
.top-links {
  margin-bottom: 10px;
  float: right;
}
.ea-container {
  margin-top: 20px;
}
.currentPackageLabel {
  font-size: 18px;
}
.currentPackageLabel h3 {
  display: inline;
  font-size: 18px;
}
.getLiteSpeedPanel {
  margin-bottom: 10px;
}
.currentPackagePanel {
  border: 1px solid #428bca;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px rgba(36, 86, 130, 0.2);
  margin: 0;
}
.highlight {
  font-weight: 600;
  font-style: italic;
}
.section-header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 9px;
}
.label {
  display: inline-block;
}
.package {
  margin-left: 10px;
}
.ea-profile-category {
  border: none;
  padding: 0 10px;
}
.log {
  height: 500px;
}
.btn-group .dropdown-toggle > i {
  padding-right: 5px;
}
.dropdown-menu.open-opposite-side {
  right: 0;
  left: inherit;
}
/* Modal styles */
.modal-header {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  height: 40px;
  padding: 10px;
}
.modal-header h4 {
  margin: 0;
  padding: 0;
}
.modal-footer {
  height: 50px;
  padding: 12px;
}
.modal-dialog {
  max-width: 500px;
}
.modal-body {
  padding: 10px;
  -o-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.hyphens {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
/* Customize wizard styles */
.ea4-view .view-heading,
.ea4-view .callout {
  margin-top: 0;
}
.pkg-actions-group {
  margin-bottom: 10px;
}
.pkg-actions-group p {
  margin-bottom: 0;
}
.pkg-actions-group .res-pkg-item {
  font-weight: 600;
}
.p-under-list {
  display: inline-block;
  margin-top: 15px;
}
.PackageList {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  margin: 10px 0;
}
.PackageList > li {
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 15px;
}
.PackageList > li:last-child {
  border-bottom: 0;
}
.PackageList li.callout {
  background: none;
  margin: 0;
}
.no-callout {
  border-left: 3px solid transparent;
}
#apiErrorMessage {
  white-space: pre-line;
}
.nav-pills > li.done > a,
.nav-pills > li.done > a:hover,
.nav-pills > li.done > a:focus {
  background: #aaaaaa;
  color: #ffffff;
}
.quick-filters {
  margin: 0 0 15px 0;
}
.quick-filters > li > .checkbox-label {
  cursor: pointer;
  font-weight: 400;
  padding: 2px 5px;
  margin: 0;
}
.quick-filter-label {
  font-weight: bold;
  padding: 2px 5px;
  display: block;
}
.vhost-emphasis {
  font-weight: bold;
  font-size: 20px;
}
.reco-option-item {
  display: block;
}
.bullet > .fa-stack {
  display: inline;
  width: auto;
}
.bullet .fa-stack-2x {
  left: -27px;
  top: -5px;
}
.bullet .fa-stack-1x {
  left: -20px;
  top: -5px;
}
.bullet .bullet-item {
  padding-left: 5px;
}
li.reco-option-list-item {
  list-style-type: disc;
}
.reco-item {
  margin-top: 10px;
  color: #333333;
}
.reco-item h4 {
  font-size: 14px;
  font-weight: 700;
}
.foot-note {
  font-size: smaller;
  margin-top: 20px;
  color: #333333;
}
.reco-separator {
  margin-top: 5px;
}
.upload-popover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 4px 15px;
}
.pop-over {
  z-index: 1000;
  position: absolute;
}
.pop-over.top {
  top: -22px;
}
.pop-over.bottom {
  bottom: 0;
}
.pop-over.top-upload {
  top: 0;
}
.upload-btn {
  margin-bottom: 4px;
  margin-top: 14px;
}
.panel-heading h3 {
  font-size: 14px;
  margin: 0;
}
/* upload-field rules */
.upload-field .filename {
  max-width: 280px;
  vertical-align: middle;
  word-wrap: break-word;
}
.upload-field .btn-wrap {
  position: relative;
  display: inline-block;
}
/* stretch the underlying input[type=file] to cover the parent .btn transparently */
.upload-field input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
}
/* add hover and focus rules since the actual input is opacity 0 */
.upload-field input[type="file"]:focus + .btn {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.upload-field input[type="file"]:focus + .btn,
.upload-field input[type="file"]:hover + .btn {
  background: none;
  background-color: #ebebeb;
}
.animate-highlight {
  -webkit-animation: target-fade 2s 5;
  -moz-animation: target-fade 2s 5;
}
.php-extensions-list label {
  margin: 0 30px 10px 0;
}
@keyframes target-fade {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: inherit;
  }
}
@-webkit-keyframes target-fade {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: inherit;
  }
}
@-moz-keyframes target-fade {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: inherit;
  }
}
html[dir="rtl"] .top-links {
  float: left;
}
html[dir="rtl"] .text-dir {
  text-align: left;
}
html[dir="rtl"] .text-dir-right {
  text-align: left;
}
html[dir="rtl"] .text-dir-left {
  text-align: right;
}
html[dir="rtl"] .ea-profile-category {
  border: none;
  padding: 0 10px;
}
html[dir="rtl"] .package {
  margin-right: 10px;
}
html[dir="rtl"] .dropdown-menu.open-opposite-side {
  right: inherit;
  left: 0;
}
html[dir="rtl"] .bullet .bullet-item {
  padding-right: 5px;
}
html[dir="rtl"] .bullet .fa-stack-2x {
  left: 26px;
}
html[dir="rtl"] .bullet .fa-stack-1x {
  left: 20px;
}
html[dir="rtl"] .pop-over.right {
  left: 0;
}
html[dir="rtl"] .pop-over.left {
  right: 0;
}
html[dir="rtl"] .alert-warning .close {
  margin-left: 15px;
}
@media (max-width: 992px) {
  html[dir="rtl"] .top-links {
    position: initial;
    text-align: right;
    margin-top: 10px;
  }
}
html[dir="ltr"] .pop-over.right {
  right: 0;
}
html[dir="ltr"] .pop-over.left {
  left: 0;
}
@media (max-width: 992px) {
  .top-links {
    position: initial;
    text-align: left;
    margin-top: 10px;
  }
}
