/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.plugin-logo-ctr {
  width: 200px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}
.plugin-logo {
  display: inline-block;
  width: 150px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* Stupidly complex to center one thing against another … */
  position: absolute;
  top: 50%;
  left: 50%;
  /* IE11 chokes on: transform: translate( -50%, -50% ); */
  transform: translateX(-50%) translateY(-50%);
}
.plugin-logo-ctr,
.plugin-metadata-and-controls {
  display: inline-block;
  vertical-align: middle;
}
.plugin-controls {
  margin-top: 15px;
}
.plugin-ctr {
  padding-top: 10px;
  margin-top: 10px;
}
.plugin-ctr:not(:first-of-type) {
  border-top: 1px solid #aaa;
}
.plugin-info {
  display: flex;
}
.plugin-notice {
  display: inline-block;
  margin: 10px auto;
}
#content {
  margin-top: 30px;
}
.plugin-log {
  font-family: monospace;
}
.plugin-log-ctr {
  margin-top: 10px;
}
.plugin-log-entry {
  margin-bottom: 8px;
}
