// Copyright 2022 cPanel, L.L.C. - All rights reserved.
// copyright@cpanel.net
// https://cpanel.net
// This code is subject to the cPanel license. Unauthorized copying is prohibited
@cellPadding: 12px 8px 8px;

.fatBorder {
    border: 8px solid #dddddd;
    width: 600px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.fatBorder fieldset h3 {
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

fieldset.groupEditor {
    width: 568px;
    border: 1px solid #aaaaaa;
}

.commonCellProps {
    border-bottom: 2px solid #cccccc;
    padding: @cellPadding;
    display: table-cell;
    vertical-align: middle;
}

.propertyGroup {
    display: table;
    border: none;
    width: 100%;
}

.propertyEditor {
    display: table-row;
    padding-bottom: 8px;
}

.propertyEditor.hidden {
    display: none;
}

.propertyEditor:last-child .propertyLabel,
.propertyEditor:last-child .propertyValue,
.propertyEditor:last-child .propertyCombined {
    border-bottom: none;
}

.propertyLabel {
    .commonCellProps;
    font-weight: bold;
    width: 40%;
}

.propertyValue {
    .commonCellProps;
    padding-left: 15px;
    width: 60%;
}

.propertyCombined {
    .commonCellProps;
    width: 100%;
}

.multiOptionLabel {
    vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 0;
    margin-right: 5px;
}

input[type="checkbox"].packageOptionSelector {
    margin-left: 8px;
}

.pkgSelectorWrapper {
    font-size: 13px;
}
