/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/packages/pkgform.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
span.fixed {
  font-weight: bold;
  width: 230px;
  display: inline-block;
}
label span.fixed {
  float: none;
  display: inline-block;
}
input.resource-text {
  margin-right: 0;
}
.code {
  font-family: monospace;
}
#extensionDryDock {
  height: 0;
  overflow: hidden;
}
.packageOptions {
  display: block;
}
.pkgExtensionHeader {
  width: 615px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
#missingPackageError {
  width: 566px;
  margin: 5px 0 10px;
}
#missingExtensionsOption {
  text-align: center;
  margin-bottom: 10px;
}
.hidden {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
  height: 0;
}
.formButtons {
  padding: 8px;
}
.visible {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
  height: 100%;
}
input[type="submit"] {
  margin-top: 10px;
}
.addEditPkgTopNotice {
  width: 616px;
  margin-bottom: 16px;
}
#content fieldset ul li.first {
  border-top: none;
}
.bolded {
  font-weight: bold;
}
.pkgLabel {
  border-bottom: 1px solid #cccccc;
}
#paper_lantern_warning p {
  margin: 5px 0 5px;
  /* remove unneeded bottom margin from notice text */
}
#paper_lantern_warning a {
  color: #5b4c1e;
  /* 74% lightness of alert text */
}
.externalLink:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
  display: inline-block;
  padding: 0 3px 0 3px;
}
