/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.radio {
  margin-bottom: 5px;
  margin-top: 5px;
}
.alert-content {
  padding-left: 20px;
  padding-right: 20px;
}
.alert-mini {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: inline-block;
}
.headerSpinner {
  position: absolute;
  margin-left: 6px;
  margin-right: 6px;
}
.controls {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter-controls {
  margin-top: 10px;
}
.message-container {
  margin-top: 20px;
}
.filter-controls,
.form-group .navigation-controls,
.row .form-inline .form-group {
  margin: 20px 0 20px 0;
  vertical-align: top;
}
.btn-link[disabled],
.btn-link:disabled,
.btn-link[disabled]:active,
.btn-link[disabled] *,
.btn-link:disabled * {
  color: #848484;
}
.table > tbody > tr > td.vendor-action-confirm,
.table-condensed > tbody > tr > td.vendor-action-confirm {
  padding: 0;
}
td.vendor-action-confirm .callout {
  margin: 0;
}
span.in-use-stats {
  padding-left: 10px;
  white-space: nowrap;
}
html[dir="rtl"] span.in-use-stats {
  padding-right: 10px;
  white-space: nowrap;
}
th.vendor-provider,
td.vendor-provider {
  text-align: center;
}
.navigation-controls {
  margin-top: 15px;
}
.rule-actions button,
.navigation-controls button {
  margin: 0 0 5px 0;
}
.table.configs > tbody > tr > td {
  vertical-align: top;
}
.view-navigation {
  margin-bottom: 10px;
}
.btn-negative,
.btn-positive {
  background-color: #cccccc;
}
.btn-none {
  color: #cccccc;
}
.btn-negative.active {
  border-color: #adadad;
}
.action-group .spinner {
  position: relative;
  top: 6px;
}
.no-rulesets-enabled {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding: 5px 5px 5px 5px;
  margin: 5px 10px 5px 10px;
}
.no-rulesets-enabled .message {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}
.edit-spinner {
  position: absolute;
  left: 10px;
  top: -3px;
}
.position-anchor {
  position: relative;
}
button[disabled].btn {
  pointer-events: auto;
}
.btn-group-nowrap {
  cursor: not-allowed;
}
.btn-group-nowrap,
.btn-group-nowrap .btn {
  white-space: nowrap;
  float: none;
}
.btn-group-nowrap .btn + .btn,
.btn-group-nowrap .btn + .btn-group,
.btn-group-nowrap .btn-group + .btn,
.btn-group-nowrap .btn-group + .btn-group {
  margin-left: -5px;
}
/* Line up the sort arrow for the select sort */
.cp-select-sort > .form-control {
  width: 12em;
  display: inline;
  vertical-align: middle;
  font-weight: normal;
}
