/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.not-visited {
  color: #808080;
}
.panel {
  overflow: hidden;
}
.panel-heading div {
  display: inline-block;
}
.list-inline {
  margin-top: 5px;
  margin-bottom: 5px;
}
.list-inline li {
  margin: 0 10px;
}
.panel-body {
  margin-top: 15px;
}
.panel-footer {
  position: relative;
  height: 55px;
}
.right-button {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
}
.left-button {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 10px;
}
.pager {
  margin: 0;
}
.pager .step-status {
  line-height: 32px;
}
.previous-step,
.current-step {
  cursor: pointer;
  border-bottom: 2px solid #428bca;
  padding-bottom: 10px;
}
.current-step {
  border-style: none none dashed;
}
.clickable,
.clickable input {
  cursor: pointer;
}
/*animations!*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-view {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
}
@media screen and (min-width: 0) and (min-resolution: 0.001dpcm) {
  .animate-view {
    opacity: 1;
  }
}
.animate-view.ng-leave {
  display: none;
}
.view-disabled {
  opacity: 0.6;
  pointer-events: none;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
