:root {
  --primaryColorRegular: #004F8D;
  --primaryColor100: #ced8eb;
  --primaryColor300: #0075bd;
  --primaryColor400: #0067a7;
  --primaryColor500: #004377;
  --primaryColor600: #0094FF;
  --secondaryColorRegular: #17AE59;
  --secondaryColor400: #1cd46c;
  --secondaryColor500: #108142;
  --thirdColorRegular: #FFDF95;
  --thirdColor400: #FFFBEC;
  --thirdColor500: #fad57f;
  --fourthColorRegular: #F1C40F;
  --fourthColor400: #fcda60;
  --fourthColor300: #fae8ac;
  --fourthColor500: #926f04;
  --signalColorErrorHigh: #F46565;
  --signalColorErrorHighLower: #fd9595;
  --signalColorErrorHighLowest: #fadbdb;
  --signalColorErrorMedium: #fdcb6e;
  --signalColorErrorMediumLower: #faefd9;
  --signalColorErrorLow: #2ecc71;
  --signalColorErrorLowLower: #74eaa6;
  --signalColorErrorLowLowest: #e0faec;
  --signalColorErrorNote: #f6e577;
  --navBarPrimaryBackground: #303643;
  --navBarSecondaryBackground: #262D37;
  --navBarPrimaryText: #9ca3af;
  --navBarPrimaryAccent: #262d37;
  --navBarPrimaryHighlight: #9ca3af;
  --navBarSecondaryText: #9ca3af;
  --navBarSecondaryAccent: #004f8d;
  --navBarSecondaryAccentText: #dff1fd;
  --navBarSecondaryLink: #687584;
  --navBarSecondaryHover: #d1d5db;
  --navBarSecondaryGroupHeader: #fff;
  --navBarSecondaryScoreText: #366FA3;
  --navBarSecondaryScoreTextHighlight: #fff;
  --navBarSecondaryBaseScoreBackground: #1f232e;
  --navBarIncidentText: #fff;
  --navBarSeperator: #12151c;
  --checkProgressBackground: #1f232e;
  --checkProgressText: #fff;
  --loginTopBackground: #fff;
  --tsxup-brightest: #ffffff;
  --tsxup-brightest-darker: theme('colors.gray.200');
  --tsxup-darkest: theme('colors.gray.900');
  --tsxup-darkest-light: theme('colors.gray.600');
  --tsxup-signal-success: #4CA154;
  --tsxup-signal-error: #b73737;
  --tsxup-primary: #1E40AF;
  --tsxup-primary-light: #668bca;
  --tsxup-text: var(--tsxup-darkest);
  --tsxup-text-lighter: var(--tsxup-darkest-light);
  --tsxup-headline: var(--tsxup-darkest);
  --tsxup-button-color: var(--tsxup-brightest);
  --tsxup-button-bg: var(--tsxup-primary);
  --tsxup-button-color-hover: var(--tsxup-brightest);
  --tsxup-button-bg-hover: var(--tsxup-primary-light);
  --tsxup-selectField-border: var(--tsxup-brightest-darker);
  --tsxup-selectField-background: var(--tsxup-brightest);
  --tsxup-selectField-backgroundHover: var(--tsxup-brightest);
  --tsxup-selectField-backgroundDisabled: var(--tsxup-brightest-darker);
  --tsxup-selectField-color: var(--tsxup-darkest);
  --tsxup-selectField-selectedBackground: var(--tsxup-primary-light);
  --tsxup-selectField-selectedColor: var(--tsxup-brightest);
  --tsxup-option-highlight: #41b883;
  --tsxup-abox-success-bg: var(--tsxup-signal-success-lighter);
  --tsxup-abox-success-border: var(--tsxup-signal-success-light);
  --tsxup-abox-success-color: var(--tsxup-signal-success);
  --tsxup-abox-error-bg: var(--tsxup-signal-error-lighter);
  --tsxup-abox-error-border: var(--tsxup-signal-error-light);
  --tsxup-abox-error-color: var(--tsxup-signal-error);
  --tsxup-abox-info-bg: var(--tsxup-signal-info-lighter);
  --tsxup-abox-info-color: var(--tsxup-signal-info);
  --tsxup-abox-info-border: var(--tsxup-signal-info-light);
}
