[%-

  PROCESS "include/icons.tmpl";

-%][%
    CPANEL.locale.maketext('The “[_1]” service reached its memory limit while it accessed mail for the account “[_2]”.', NOTICE.service, NOTICE.account);
%]
