.table-column {
    &-restricted_available {
        text-align: center;

        .fa-check {
            color: #27ae60;
        }

        .fa-times {
            color: #e74c3c;
        }
    }

    &-summary .help-block {
        font-size: 12px;
    }
}
