<cpanelresult>
    <data>
        <result>0</result>
        <reason>[% locale.maketext('You have not changed your password in [quant,_1,day,days]. The current security policy requires that you change your password every [quant,_2,day,days] to prevent compromised accounts.',days_since_change,maxage) %]</reason>
    </data>
</cpanelresult>
