[% locale.maketext('You have not changed your password in [quant,_1,day,days]. The current security policy requires that you change your password every [quant,_2,day,days] to avoid your account being compromised.', days_since_change, maxage) %]
