[%
    # needed in the main template and this template
    # since we process both
    PROCESS "include/code_standout.tmpl";
%]

<p>
 [% CPANEL.locale.maketext('[asis,cPanel] [output,amp] [asis,WHM] detected a [asis,CloudLinux] license on the server “[_1]”.', NOTICE.hostname); %]
 [% CPANEL.locale.maketext('To install [asis,CloudLinux], you need to perform the following steps:') %]
 <ol>
    <li>
        [% CPANEL.locale.maketext('Execute the following command as the user “[_1]”:', 'root'); %]
        [% code_standout(command=NOTICE.cloudlinux_install_command, in_list=1); %]
    </li>
    <li>[% CPANEL.locale.maketext('After “[_1]” completes successfully, reboot the server.', 'cldeploy') %]</li>

    <li>[% CPANEL.locale.maketext('You can rebuild your webserver stack with [asis,EasyApache].') %]
    </li>
    <li>[% CPANEL.locale.maketext('Your [asis,cPanel] [output,amp] [asis,WHM] server now runs on [asis,CloudLinux].') %]</li>
 </ol>
</p>
