/**
 * share/libraries/cjt2/src/styles/alert.less         Copyright 2022 cPanel, L.L.C.
 *                                                           All rights reserved.
 * copyright@cpanel.net                                         http://cpanel.net
 * This code is subject to the cPanel license. Unauthorized copying is prohibited
 */

@import (reference) "libraries/base-styles/variables.less";

/**
 * The styles in this file apply specifically to the CJT2 alert directive, rather
 * than alerts in general. The base styles for alerts are in base-styles/alerts.less
 */

/**
 * Styles for sub-lists within alerts
 */

.alert .alert-message ul {
    margin-bottom: 0;
    padding: 0 30px;
}

.alert-warning .alert-message ul li {
    color: #8a6d3b;
    & > * {
        color: @alert-message-color;
    }
}

.alert-success .alert-message ul li {
    color: #3c763d;
    & > * {
        color: @alert-message-color;
    }
}

.alert-info .alert-message ul li {
    color: #31708f;
    & > * {
        color: @alert-message-color;
    }
}

.alert-danger .alert-message ul li {
    color: #a94442;
    & > * {
        color: @alert-message-color;
    }
}

/**
 * Styles for the "More" button
 */

.alert .btn-more {
    padding-top: 0;
}
