.page-header .breadcrumb {
    background: none;
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 14px;
}

.breadcrumb > li + li:before {
    padding: 0 0 0 5px;
}

html[data-style="dark"] {
    .page-header {
        .breadcrumb {
            background-color: transparent;
        }
    }
}
