span.bytes-input {
    & > input[type="number"].form-control {
        width: 120px;
    }
    input[disabled],
    button[disabled] {
        pointer-events: none;
    }
    ul.dropdown-menu,
    ul.dropdown-menu li {
        min-width: 0;
    }
}
