.date-picker-directive {
    & > .input-group {
        margin-bottom: 0;
        margin-right: 4px;
    }

    .uib-monthpicker,
    .uib-yearpicker,
    .uib-daypicker {
        .btn,
        .btn-default {
            box-shadow: none;
        }
    }
}

html[dir="rtl"] .date-picker-directive {
    .uib-datepicker-popup.dropdown-menu {
        right: auto;
    }
}
