.multi-field-editor-directive {
    .btn-link {
        text-transform: none;
    }
}
.multi-field-editor-item-directive {
    margin-bottom: 5px;

    .mfei-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .mfei-label-holder {
        padding: 0 5px;
        vertical-align: middle;
    }

    .mfei-transclude {
        flex-grow: 1;
        vertical-align: middle;
    }
}
