.quick-filters-nav {
    margin: 0 0 5px 0;

    & > .nav-pills {
        padding: 2px 5px 2px 0;
        margin: 2px 5px 2px 0;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
    }

    & > .nav-pills > li {
        a {
            padding: 2px 5px;
            margin: 2px 5px;
            font-size: 12px;
        }
        cursor: pointer;
    }

    & > .nav-pills > li.active {
        cursor: default;
    }

    .quick-filter-label {
        font-weight: bold;
        padding: 5px;
        display: inline-block;
        vertical-align: middle;
    }
}
