.user-domain-list-directive {
    .no-animate * {
        -webkit-transition: none !important;
        transition: none !important;
    }

    .no-results-msg {
        margin-top: 0;
    }

    .fixed-width-table {
        table-layout: fixed;
    }

    .edit-locked {
        font-style: italic;
        pointer-events: none;
    }

    .account-table-radio {
        width: 1%;

        & > input {
            margin: 0 4px;
        }

        .label {
            margin-right: 2px;

            & > a {
                color: #fff;
            }
        }
    }

    .account-table-panel-body {
        padding: 0;
        overflow: auto;
        height: 350px;

        & > .table {
            margin-bottom: 0;

            & > tbody {
                & > tr > td {
                    padding: 4px 8px;
                }

                & > tr:first-child > td {
                    border-top-width: 0;
                }
            }
        }
    }

    .account-summary-title {
        margin-bottom: 10px;
    }

    .strong {
        font-weight: bold;
    }

    .account-summary-email {
        margin: 3px 3px 0 0;
        white-space: nowrap;
    }

    .domain_row {
        cursor: pointer;
    }

    .plan-btn {
        padding: 0 0 0 0;
    }

    .table .account-summary-table {
        background-color: transparent;
        margin-top: 8px;
        max-width: 100%;
        margin-bottom: 0;
        font-size: 12px;
    }

    .account-summary-table .btn-link {
        padding: 0;
        border: 0;
        font-size: inherit;
    }

    .table .account-summary-table > thead > tr > th,
    .table .account-summary-table > tbody > tr > td {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .account-summary-error,
    .account-summary-loading {
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .quick-filter-container {
        margin-top: 5px;
    }

    .cutoff_with_ellipses {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
