[% IF Whostmgr.is_custom_os() -%]
   [% SET os_info = Whostmgr.get_os_info(); -%]
   [% SET docurl = os_info.experimental.docurl -%]
   [% SET major_whm_version = os_info.major_whm_version -%]
   [% SET os_name = os_info.os_name -%]

    <div class="callout callout-cpanel experimentalWarning">
       <h2>[% locale.maketext('Unsupported Operating System') -%]</h2>
       <div class="experimental-os-content">
       [% locale.maketext("[output,strong,Warning]: Your operating system is masquerading as “[output,em,_1]“. It is not recommended for production environments.", os_name) %]
       [% locale.maketext("We do [output,strong,not] provide support for your operating system.") %]
       </div>
   </div>
[% ELSIF Whostmgr.is_experimental() -%]
   [% SET os_info = Whostmgr.get_os_info(); -%]
   [% SET docurl = os_info.experimental.docurl -%]
   [% SET major_whm_version = os_info.major_whm_version -%]
   [% SET os_name = os_info.os_name -%]

    <div class="callout callout-cpanel experimentalWarning">
       <h2>[% locale.maketext('Experimental Operating System') -%]</h2>
       <div class="experimental-os-content">
       [% locale.maketext("[output,strong,Warning]: [asis,cPanel amp() WHM] v[_1], for [_2], is experimental software and is not recommended for production environments.", major_whm_version, os_name) %]
       [% locale.maketext("We do [output,strong,not] provide support for experimental operating systems.") %]
       [% locale.maketext("You will need to install on a [output,url,_1,supported version,_2] of a Linux distribution.", docurl, {"class" = "externalLink", "target" = "_blank" }) %]
       </div>
   </div>
[% END -%]
