[%
USE Whostmgr;

SET plugins_data = Whostmgr.plugins_data;

FOR plugin = Whostmgr.plugins_data;
    IF plugin.cgi;
        "<li searchtext='plugins ${plugin.showname}' data-page-type='feature'><a id='plugins_${plugin.uniquekey}' href='$cp_security_token/cgi/${plugin.cgi}' target='${plugin.target}' uniquekey='plugins_${plugin.uniquekey}'>${plugin.showname}</a></li>";
    END;
END;
-%]
