/*
# cpanel - base/webmail/jupiter/_assets/user_preferences.css
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.dropdown-menu > li {
    width: 100%;
    display: table;
}

.dropdown-menu > li > a.app-name {
    display: table-cell;
    width: 95%;
}

.dropdown-menu > li > a.app-fav {
    display: table-cell;
    width: 5%;
}

.dropdown-header {
    padding: 0;
    font-size: 13px;
    font-weight: bold;
}

.sub-menu-item {
    padding-left: 20px;
}

html[dir="rtl"] .sub-menu-item {
    padding-left: 0;
    padding-right: 20px;
}

#lnkUserPrefChangePwd:before {
    content: none;
}

#lnkUserPrefUpdateContactInfo:before {
    content: none;
}

@media (max-width: 450px) {
    #disk_usage_text {
        display: none;
    }
}

#lnkHeaderDiskUsage[data-quotausage^="8"] {
    color: #f1c40f; /* warning border, styleguide */
}

#lnkHeaderDiskUsage[data-quotausage^="9"] {
    color: #e74c3c; /* error border, styleguide */
}
