.oddrow {
    background-color: #ffffff;
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
}

.evenrow {
    background-color: #bbbbbb;
    border-top: 1px dotted #aaa;
    border-bottom: 1px dotted #aaa;
}

.acltd {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px dotted #aaa;
    padding-bottom: 1px;
    padding-top: 1px;
}

.daemon_list {
    width: 150px;
}

.access_list {
    width: 150px;
}

.action {
    display: inline-block;
    padding: 0;
    margin: 5px 1px 5px 1px;
}

.comment {
    width: 200px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

ol,
ul {
    list-style: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.autocmod {
    position: relative;
}

.autoccontainer {
    z-index: 9000;
    overflow: wrap;
    position: absolute;
    top: 1.7em;
    width: 100%;
}

input[text] {
    max-width: 170px;
}

input[text].action {
    top: 0;
}

.actioninputoddrow {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px dotted #aaa;
    background: #ccf;
}

.actioninputevenrow {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px dotted #aaa;
    background: #aaf;
}

.yui-skin-sam .yui-ac-input {
    position: relative;
    z-index: 0;
    width: auto;
    max-width: 170px;
}

.yui-skin-sam .yui-ac-content {
    overflow: wrap;
}

.action_maker {
    width: auto;
    position: relative;
}

.dragin {
    background: #afa;
    border: 1px solid #000;
}

.movehandle {
    cursor: move;
    cursor: hand;
}

.moveact {
    cursor: pointer;
}

.handle {
    height: 100%;
    cursor: move;
    cursor: hand;
    background: url(/images/handle.png) repeat;
}

table.example {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

div.controls {
    margin-top: 20px;
}
