[%# 'breadcrumburl' => opt
    'extrahtml' => opt, used when status is set to give HTML before the status
    'extrastyle' => opt
    'header' => opt
    'icon' => opt
    'image' => opt (DEPRECATED, use "icon" instead)
    'meta' => opt, hash or list of hashes
    'scripts' => opt, list or single value
    'status' => opt
    'statusapp' => opt
    'stylesheets' => opt, list or single value
-%]
[%# We need a newline to start this template to avoid errors, cf. case 34446 %]
[% USE Whostmgr -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WHM [[% Whostmgr.shorthostname() %]] [% header %] - [% Whostmgr.WHM_VERSION %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=[% locale.encoding() %]" />
</head>
