<script type="text/javascript">
SyntaxHighlighter.config.tagName = "div";
SyntaxHighlighter.defaults['toolbar'] = false;
SyntaxHighlighter.all();
</script>

<style>
    #broken_cfg_html { width: 80%; }
    #broken_cfg_html .syntaxhighlighter { height: 200px; border: 2px solid #000; }
</style>

[% data.exim_conf_html %]

<br />
