[% SET roles = [
    { value => 'standalone', label => locale.maketext('Standalone'), },
    { value => 'sync',       label => locale.maketext('Synchronize Changes'), },
    { value => 'write-only', label => locale.maketext('Write-only'), },
]; -%]

[% SET my_dnsrole = dnsrole || roles.0.value -%]

[% FOR role = roles -%]
    <option value="[% role.value FILTER html %]" [% IF my_dnsrole == role.value %]selected="selected"[% END %]>[% role.label FILTER html %]</option>
[% END -%]
