<style type="text/css">
.warning {
    font-weight: bold;
}
.notes {
    padding-top:5px;
}
h5 {
    font-size:14px;
    font-weight:bold;
    margin:0 !important;
    margin-top:20px !important;
}
.title {
    font-style:italic !important;
    font-weight: bold;
    }
</style>
<h5>[% locale.maketext("[asis,DNS] Role Notes:") %]</h5>
<div class="notes"><span class="title">[% locale.maketext("Synchronize Changes:") %]</span>
[% locale.maketext("All changes made on this server will propagate to any server in the cluster that is linked to this server. Synchronization is one-way: changes made on another server will not propagate to this server unless [output,class,Synchronize changes,title] is selected on the other server as well.") %]
</div>
<div class="notes"><span class="title">[% locale.maketext("Standalone:") %]</span>
[% locale.maketext("No changes made on this server will propagate to any other servers.") %]
</div>
<div class="notes"><span class="title">[% locale.maketext("Write-only:") %]</span>
[% locale.maketext("This server will write changes to the remote server. Changes to the remote server will not propagate back to this server.") %]
[% locale.maketext("[output,class,Warning:,warning] Two [output,class,Write-only,title] servers that attempt to write changes to a matching record on the same remote server will cause a conflict and may corrupt data.") %]
</div>
