[%# needs parameters:
    - username
-%]
<h3>[% locale.maketext("Email Routing for “[_1]” (The domain is owned by “[_2]”).", domain, username) %]</h3>
<div class="callout callout-warning">
    [% locale.maketext('The system has disabled changing the email routing settings for the “[_1]” account.', username.html()) %]
    [% locale.maketext('This is because the account uses a child node for its mail-related services.') %]
    [% IF hasroot %]
        [% locale.maketext('To change email routing settings for this account, you must first dedistribute the account in the “[output,url,_1,_2]” interface.', "$cp_security_token/scripts/edituser", locale.maketext("Modify an Account") ) %]
    [% ELSE %]
        [% locale.maketext('To change email routing settings for this account, you must first contact your server administrator to dedistribute the account.') %]
    [% END %]
</div>


