<div id="main_content">
    <p class="description">[% locale.maketext('This interface is unavailable because of an error:') %]</p>
    [% IF cfg.db_err.search('\n') %]
        <pre><code>[% cfg.db_err.html() %]</code></pre>
    [% ELSE -%]
        [% cfg.db_err.html() %]
    [% END -%]
</div>
