<script>
[% IF cfg.db_status.status == 'importing' -%]
    new CPANEL.widgets.Page_Notice( {
        container: "cjt_static_notice_container",
        level: "info",
        content: "[% locale.maketext('[output,strong,Note]: The rebuild of this database that started on [datetime,_1,date_format_short] at [datetime,_1,time_format_short] [asis,UTC] is still in progress. The process ID is “[_2]”. Search results may be incomplete until the rebuild finishes.', cfg.db_status.since, cfg.db_status.pid.html()) %]"
    } );
[% END -%]
</script>
