[% INCLUDE '_exim_queue_return.tmpl' %]

<script>
YAHOO.util.Event.onDOMReady(function() {
        if(window.opener && window.opener.mailqueuetbl) {
            window.opener.mailqueuetbl.updatedata();
        }
    });
</script>


