        <div id="dateSelect"></div>
        <div id="dates">
            <p><label for="startdate">Start Date:</label><input type="text" name="startdate" id="startdate"></p>
            <p><label for="starttime">Start Time:</label><input type="text" name="starttime" id="starttime" value="00:00:00"></p>
            <p><label for="enddate">End Date:</label><input type="text" name="enddate" id="enddate"></p>
            <p><label for="endtime">End Time:</label><input type="text" name="endtime" id="endtime" value="23:59:59"></p>
        </div>

