[%# "PROCESS" THIS TEMPLATE WITH THE src PARAMETER. -%]
[%
    IF src;
        IF ! LOADED;
            SET LOADED = [];
        END;

        SET src = CPANEL.get_js_localized_url( src );

        IF LOADED.grep('^' _ src _ '$').size == 0;
            "<script type='text/javascript' src='$src'></script>";
            LOADED.push(src);
        END;
    END;
-%]
