[%# "PROCESS" THIS TEMPLATE WITH THE appname PARAMETER. %]
[% PROCESS '_loadjs.tmpl' src='/js/statusbox.js' %]
<div id='sdiv'></div>
<script type='text/javascript'>whmappname='[% appname %]';</script>


