[% USE Whostmgr -%]
[%
    FOR var IN Whostmgr.FORM.keys;
        SET val = Whostmgr.FORM.$var;
        IF ref(val) == 'ARRAY';
            FOR subval = val;
-%]
<input type="hidden" name="[% var FILTER html %]" value="[% subval FILTER html %]" />
[%
            END;
        ELSE;
-%]
<input type="hidden" name="[% var FILTER html %]" value="[% val FILTER html %]" />
[%
        END;
    END;
-%]
