<script type="text/plain" id="pkg_hover_template">
<table>
<tbody>
<tr><td>[% locale.maketext('Bandwidth') %]</td><td>{BWLIMIT}</td></tr>
<tr><td>[% locale.maketext('CGI access?') %]</td><td>{CGI}</td></tr>
<tr><td>[% locale.maketext('cPanel Theme') %]</td><td>{CPMOD}</td></tr>
<tr><td>[% locale.maketext('Feature List') %]</td><td>{FEATURELIST}</td></tr>
[% USE Apache %]
<tr><td>[% locale.maketext('Shell access?') %]</td><td>{HASSHELL}</td></tr>
<tr><td>[% locale.maketext('Dedicated IP?') %]</td><td>{IP}</td></tr>
<tr><td>[% locale.maketext('FTP Accounts') %]</td><td>{MAXFTP}</td></tr>
<tr><td>[% locale.maketext('Email Lists') %]</td><td>{MAXLST}</td></tr>
<tr><td>[% locale.maketext('Email Accounts') %]</td><td>{MAXPOP}</td></tr>
<tr><td>[% locale.maketext('Databases') %]</td><td>{MAXSQL}</td></tr>
<tr><td>[% locale.maketext('Subdomains') %]</td><td>{MAXSUB}</td></tr>
<tr><td>[% locale.maketext('Quota') %]</td><td>{QUOTA}</td></tr>
</tbody>
</table>
</script>

<script>
if ( !("LEXICON" in window) ) LEXICON = {};
YAHOO.lang.augmentObject( LEXICON, {
    yes: "[% locale.maketext('Yes') %]",
    no:  "[% locale.maketext('No') %]"
} );
var LOADING_STRING = '<img style="vertical-align:middle" src="[% MagicRevision('/yui/treeview/assets/skins/sam/loading.gif') %]">&nbsp;[% locale.maketext('Loading …') %]';
</script>

[%# pre-load -%]
<img style="display:none" src="[% MagicRevision('/yui/treeview/assets/skins/sam/loading.gif') %]" />

<script src="[% MagicRevision('/js/pkg_hover.js') %]"></script>
