      <fieldset>
          <legend>
              [% locale.maketext('Security') %]
          </legend>
          <div class="alert alert-warning alert-message">
              <div class="checkbox">
                  <label>
                      <input  type="checkbox"
                              name="restricted"
                              id="restricted"
                              value="1"
                              [% IF restricted_by_default %]checked="checked"[% END %]/>
                      [% locale.maketext('Restricted Restore') %]
                  </label>
              </div>
              <div class="help-block">
                    <p>
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        [% locale.maketext('[output,strong,Note]: Restricted Restore performs additional security checks on the backup file. If a component of the backup file has a security issue, the system will not restore that portion of the backup.') %]
                    </p>
                    <p>
                        [% locale.maketext('Restricted Restore is experimental and should not be considered an effective security control at this time.') %]
                        [% locale.maketext('It is intended to allow restoring backups from untrusted sources in a future release.') %]
                        [% locale.maketext('[asis,cPanel, L.L.C.] strongly recommends that you do not restore data from anyone whom you would not trust with root access to the server.') %]
                    </p>
                    <p>
                        [% locale.maketext("To display a sortable and searchable list of all modules and whether they are available in Restricted Restore, click [output,url,_1,Restore Modules Summary].","$cp_security_token/scripts5/restore_modules_summary") %]
                        [% locale.maketext("This includes any custom modules located in the “[_1]” directory.", "/var/cpanel/perl/Whostmgr/Transfers/Systems/") %]
                    </p>
                    <p>
                        [% locale.maketext('For all other information, see: [output,url,_1,_1,_2,_3]', 'https://go.cpanel.net/insecurerestoreaccount', 'target', '_blank') %]
                    </p>
              </div>
          </div>
      </fieldset>
