[%# TAKES NO ARGUMENT, DOES THE WORK OF BOTH
    Whostmgr::UI::setstatusdone AND Whostmgr::UI::clearstatus -%]
[%- -%]...Done</pre></td>
<td width="30"><img align="absmiddle" src="[% MagicRevision('/cjt/images/icons/success.png') %]" /></td>
</tr>
</table>
<script type="text/javascript">
if ( self['clear_ui_status'] ) {
    clear_ui_status();
}
</script>
