[%# TAKES status AS AN ARGUMENT -%]
[%
    status = status || '';
    status = status.replace('\s', ' ');
-%]
<script type="text/javascript">
if ( self['update_ui_status'] ) {
    update_ui_status('[% status.replace('\'','\\\'') %]');
}
</script>
<table class="status" style="border-bottom: 1px #ccc dotted;">
<tr><td width="100%"><pre>[% status %]...[%- -%]
