[%# 'extrastyle' => opt,
    'stylesheets' => opt,
-%]
[% USE Whostmgr -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="[% locale.get_html_dir_attr() %]">
<head>
<title>WHM [[% Whostmgr.shorthostname() %]] [% header %] - [% Whostmgr.WHM_VERSION %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=[% locale.encoding() %]" />
<link rel="shortcut icon" href="[% MagicRevision('/favicon.ico') %]" type="image/x-icon" />
[%
    FOR src=Whostmgr.basic_css_urls();
        "<link rel='stylesheet' type='text/css' href='$src' />";
    END;

	FOR src=stylesheets.list();
	    "<link rel='stylesheet' type='text/css' href='" _ MagicRevision(src) _ "' />";
    END;
-%]
[% IF extrastyle -%]
<style type="text/css">
[% extrastyle -%]
</style>
[% END -%]

<!--[if IE]>
<style type="text/css">
h3{font-size:11px;}
</style>
<![endif]-->
</head>
