<style type="text/css">

.transfer-api__container {
    margin-top: 40px;
    line-height: 80px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background-color: #eaeaea;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
};
</style>

<footer class="transfer-api__container">
    <a target="_blank" href="https://go.cpanel.net/transferrestoreAPIguide">[% locale.maketext("Transfer System API Guide") %]</a>
</footer>
