<!-- THIS IS WHAT FELIPE CAME UP WITH TO MATCH WHAT /scripts/acctlist CURRENTLY DOES.
<style type='text/css'>
/* THIS IS IN style.css ON MY BRANCH ON FLUX. */
.brickcontainer { /* ACCOMPLISHES CENTERING */
	display: table;
     margin-left: auto;
     margin-right: auto;
}
.brickcontainer2 { /* EQUALIZES BRICKS' WIDTHS */
	display: table-cell;
}
</style>
<div class='brickcontainer'><div class='brickcontainer2'>
<table class="datatable brick">
<tr><th>Active Domains</th></tr>
<tr><td>[% data.activedomains.sort.join('<br />') %]</td></tr>
</table>
<br />

<table class="datatable brick">
<tr><th>Inactive Domains</th><tr>
<tr><td>[% data.inactivedomains.sort.join('<br />') %]</td></tr>
</table>
<br />

<table class="datatable brick">
<tr><th>Actions</th></tr>
<tr><td style="text-align: center"><a href="[% cp_security_token %]/scripts2/rebuildhttpdconf" style='font-weight: bold;'>Reactivate Inactive Domains</a></td></tr>
</table>
</div></div>
-->
[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
<h2>Active Domains</h2>
[% IF data.activedomains.size > 0 %]
<ul>
[% FOR domain = data.activedomains.sort %]
<li>[% domain %]</li>
[% END %]
</ul>
[% ELSE %]
None
[% END %]

<h2>Inactive Domains</h2>
[% IF data.inactivedomains.size > 0 %]
<ul>
[% FOR domain = data.inactivedomains.sort %]
<li>[% domain %]</li>
[% END %]
</ul>

<a href='[% cp_security_token %]/scripts2/rebuildhttpdconf'>Reactivate Inactive Domains</a>
[% ELSE %]
None
[% END %]
[% END #wrapper -%]
