[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/listparked'
-%]
[% IF ! data.valid_domain -%]
Sorry, that's an invalid domain.
[% ELSIF ! data.access -%]
Access denied to that account or domain.
[% ELSIF ! data.user_exists -%]
User does not exist on system.
[% ELSE -%]
<pre>
[% data.output -%]
</pre>
Added [% data.pdomain %] to [% data.user %]&rsquo;s cPanel config.
[% END -%]
[% END #wrapper -%]
