[% IF !data.popupbox;
    PROCESS 'master_templates/_defheader.tmpl'
    breadcrumburl = '/scripts2/addipform'
    theme="yui";
END; -%]
[% USE Encoder %]

[% IF data.status %]
<div class="okmsg">
[% ELSE %]
<div class="errormsg">
[% END %]

[% Encoder.safe_html_encode_str(data.statusmsg) %]
</div>


<div id="msgs">
[% FOR msg IN data.messages %]
<div class="statusmsg">[% Encoder.safe_html_encode_str(msg) %]</div>
[% END %]
</div>

<div id="errs">
[% FOR msg IN data.errors %]
<div class="errormsg">[% Encoder.safe_html_encode_str(msg) %]</div>
[% END %]
</div>
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" IF !data.popupbox -%]
