[servers]
[% FOREACH node IN nodes -%]
[%- IF node.role == 'server' -%]
[% node.name %] ansible_host=[% node.ip_address %][% IF node.ssh_key && node.ssh_key != 'cpsc' %] ansible_ssh_private_key_file=/root/.ssh/[% node.ssh_key %][% END %]
[% END %]
[%- END -%]

[agents]
[% FOREACH node IN nodes -%]
[%- IF node.role == 'agent' -%]
[% node.name %] ansible_host=[% node.ip_address %][% IF node.ssh_key && node.ssh_key != 'cpsc' %] ansible_ssh_private_key_file=/root/.ssh/[% node.ssh_key %][% END %]
[% END %]
[%- END -%]

[all:vars]
ansible_ssh_private_key_file=/root/.ssh/cpsc
