[% WRAPPER 'master_templates/master.tmpl'
theme="yui"
app_key='apache_status' -%]
[% IF data.litespeed_running && ! data.apache_running -%]
<h3 class="simpleheading">You are running LiteSpeed Web Server on [% data.hostname -%]</h3>
<br /><br /><div>Please visit the <a href="../cgi/lsws/lsws.cgi">LiteSpeed Web Console</a> for status.</div></body>
[% ELSE -%]
<h3 class="simpleheading">Apache server status for [% data.hostname -%]</h3>
[% IF data.status_html -%]
[% data.status_html %]
[% ELSIF ! data.connection -%]
<br /><br /><div class="errors">Failed to receive status information from Apache.
<br />Unable to connect to local httpd server.</div>
[% ELSE -%]
<br /><br /><div class="errors">Failed to receive status information from Apache.</div></body>
[% END -%]
[% END -%]
[% END -%]
