[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('[asis,AutoFixer]')
-%]

<form action="[% cp_security_token %]/scripts2/doautofixer" name="fmain">
   <table class="tableborder0" width="20%">
   <tr>
   <td>
      [% PROCESS '_brickstart.tmpl' bricktitle='AutoFixer Script Name Entry' -%]
      <table class="tableborder0">
         <tbody>
            <tr>
               <td>
                  <font class="med"><strong>Enter script name:</strong></font>
               </td>
            </tr>
               <td>
                  <font face="Arial">
                     <input maxLength="128" name="autofix" size="24" type="text" value>
                  </font>
               </td>
            </tr>
         </tbody>
      </table>
      <input type="submit" class="btn-primary" value="Submit">
      [% PROCESS '_brickend.tmpl' -%]
   </td>
   </tr>
   </table>
</form>
[% END #wrapper -%]
