[% brickalign = brickalign %]
[% brickpercent = brickpercent || '100%' %]
[% brickpadding = brickpadding || 5 %]
<table
    align="[% brickalign %]"
    [% IF brickpercent != "auto" %] width="[% brickpercent %]" [% END %]
    [% IF bootstrap %]class="table table-striped"
    [% ELSE %]class="datatable brick"[% END %]
    [% IF brickclass %]class="[% brickclass %]"[% END %]
    [% IF brickid %]id="[% brickid %]"[% END %]
    border="0"
    cellpadding="[% brickpadding %]"
    cellspacing="0"
>
<thead>
<tr><th align="left" colspan="100">[% bricktitle %]</th></tr>
</thead>
<tbody>
[% UNLESS norow -%]
<tr><td align="left" class="cell">
[% END -%]
