<div>
    <table>
        <tr>
            <td colspan="2">Are you sure you wish to restart this service?</td>
        </tr>
        <tr>
            <td colspan="2"><br /></td>
        </tr>
        <tr>
            <td>
                <form action="[% cp_security_token %]/scripts/[% data.prog %]">
                    <input type="hidden" name="confirm" value="1">
                    <input type="submit" value="Restart" class="btn-primary">
                </form>
            </td>
        </tr>
    </table>
</div>
