[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	header = locale.maketext('Select a theme to clone.')
-%]
<pre>
[% FOR theme=data.themes -%]
<a href="[% cp_security_token %]/scripts/clonetheme?theme=[% theme %]">[% theme %]</a>
[% END -%]
[% END -%]
