<div class="description">
    <p>
        Files from [% app_path %] selected below will be rotated based upon their size. The rotated files will be compressed and stored in [% app_path %]/archive/.
        The files are named to include the month in which they are rotated. Consequently, the file names <b>do not relate</b> in any way to the content of the file being rotated.
        [% IF dnsonly %]
            Files are only rotated when they grow larger than the Log&nbsp;Rotation&nbsp;Size&nbsp;Threshold setting or the default of 300MB.
        [% ELSE %]
            Files are only rotated when they grow larger than the <a href="../scripts2/tweaksettings?find=rotatelogs_size_threshhold_in_megabytes">Log&nbsp;Rotation&nbsp;Size&nbsp;Threshold</a> setting or the default of 300MB.
        [% END %]

        The archived log files are left in place indefinitely. Files not chosen here will not ever be rotated by cPanel software.
    </p>
</div>
<br />
<form method="post">
    <input type="hidden" name="action" value="save" />
