<script language="javascript" src="[% MagicRevision('/js/validate_optimized.js') %]"></script>



<script type="text/javascript">

function register_validators() {
    register_validator('match','ssl_chars',[document.mainform.SSLCipherList],'The TLS/SSL Cipher List must be defined using alphanumeric characters with regular expressions ! + _ @ ~ and use a colon (:) for a separator');
    realtime_validate_init('mainform');

}
YAHOO.util.Event.onDOMReady(register_validators);

</script>
<style type="text/css">

.ftpserversetup {
margin: 0 20px;
}

select.narrow {width: 300px;}
* html select.narrow {width: auto;}
*+html select.narrow {width: auto;}

#cpsrvdsetup {
    border: 5px solid #ddd;
    width: 570px;
}

#cpsrvdsetup td {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

#cpsrvdsetup .label_title {
    float: left;
    font-weight: bold;
    margin: 0 10px 0 0;
    width: 200px;
}

#cpsrvdsetup p {
    color: #444;
    line-height: 1.5;
    margin: 5px 0 5px 210px;
}
</style>


<div class="ftpserversetup">
<p>cPanel Web Services provide cPanel, WHM, and Webmail services over HTTP and HTTPS</p>
<p>This interface allows you to configure various aspects of cPanel Web Services' behavior.</p>

<form  onsubmit="return do_validate(this.id);" action="[% data.action %]" name="mainform" id="mainform" method="POST">
<table id="cpsrvdsetup" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <label class="label_title">TLS/SSL Cipher List</label>
            <input type="text" name="SSLCipherList" id="SSLCipherList" value="[% data.SSLCipherList %]" />
            <p>This is a standard format list of the TLS/SSL ciphers cPanel Web Services should use.  Typically this will only need to be adjusted for PCI compliance.</p>
        </td>
    </tr>
    <tr>
        <td>
            <label class="label_title">TLS/SSL Protocols</label>
            <input type="text" name="SSLVersion" id="SSLVersion" value="[% data.SSLVersion %]" />
            <p>This is a standard format list of the TLS/SSL protocols cPanel Web Services should use.  Typically this will only need to be adjusted for PCI compliance.</p>
        </td>
    </tr>
</table>
<p><input type="submit" value="Save" class="btn-primary" /></p>
</form>
</div>
