[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	header = locale.maketext('Select a theme to delete.')
%]
<pre>
[% FOR theme=data.themes.sort %]
<a href="[% cp_security_token %]/scripts/suredeltheme?theme=[% theme %]">[% theme %]</a>
[% END %]
<br /><br /><br /><ADDRESS>Note: Some providers have auto theme updates!<br />If you delete a theme and it reappears again;<br />You may want to consider removing /scripts/postupcp</ADDRESS>
[% END -%]
