[% WRAPPER 'master_templates/master.tmpl' theme="yui"
     header = locale.maketext('Remove Reseller Privileges')
     breadcrumburl = '/scripts2/resellerlist'
-%]
[% IF data.success %]
Reseller privileges have been removed from <span style='font-weight: bold;'>[% data.reseller %]</span>.
[% ELSE %]
Reseller privileges could not be removed from <span style='font-weight: bold;'>[% data.reseller %]</span>.
    [% IF data.reason -%]
        <br><span style='font-weight: bold;'>[% data.reason %]</span>
    [% END -%]
[% END %]
[% END -%]
