[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/sslmanager'
%]
<h3 class="simpleheading">Delete SSL Key/Crt</h3>

[% IF data.status %]
[%  SWITCH data.type;
        CASE 'crt';
            SET msg = locale.maketext('The certificate “[output,strong,_1]” was deleted successfully.', data.id.html());
        CASE 'csr';
            SET msg = locale.maketext('The [output,acronym,CSR,Certificate Signing Request] “[output,strong,_1]” was deleted successfully.', data.id.html());
        CASE 'key';
            SET msg = locale.maketext('The key “[output,strong,_1]” was deleted successfully.', data.id.html());
    END;
-%]
    <div class="okmsg">
        <div id="msgs">
            <div class="statusmsg">[% msg %]</div>
        </div>
    </div>
[% ELSE %]
    <div class="errormsg">
        <div id="msgs">
        <div class="statusmsg">[% data.error.html() %]</div>
        </div>
    </div>
[% END -%]

<div class="return-link">
<b>[</b> <a href="sslmanager">[% locale.maketext('Go Back') %]</a><b> ]</b>
</div>

[% END #wrapper -%]
