[% WRAPPER 'master_templates/master.tmpl' theme="yui" app_key="manage_demo_mode"-%]
[% IF data.has_cpuser; -%]
<form action="[% cp_security_token %]/scripts/dodemoacct">
<input type="hidden" name="user" value="[% data.user %]" />
Demo mode is currently <b>[% data.demo ? 'enabled' : 'disabled' %]</b> on [% data.xdomain %] ([% data.user %])
<input type="submit" class="btn-primary" name="act" value="[% data.demo ? 'Disable' : 'Enable' %]" />
[% ELSE -%]
<p>User <em>[% data.user %]</em> is not recognized.</p>
[% END -%]
[% END -%]
