[% IF data.domains.size %]
Updated the following zones to use '[% data.newttl.html %]' as the new TTL:
<ul>
    [% FOR domain = data.domains -%]
        <li>[% domain.html -%]</li>
    [% END -%]
</ul>
[% ELSE %]
No domains were modified!
[% END %]
<br />
<br />

