[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts/thememanager_landing'
-%]
[% IF data.invalid_app -%]
Invalid App.
[% ELSE -%]
Cloning of
<img src='/images/[% data.app.image %]' align='absmiddle' /> theme: [% data.theme FILTER html %]
<img src='/images/arrowto.gif' align='absmiddle' /> [% data.newtheme FILTER html %]<br />
Result:
<pre>
[% data.copy_output FILTER html -%]
</pre>
<pre>
[% data.update_output FILTER html -%]
</pre>
<b>Complete!</b>
[% END -%]
[% PROCESS '_returnlink.tmpl' url="$cp_security_token/scripts/thememanager?app=${data.themetype}" -%]
[% END -%]
