[% WRAPPER 'master_templates/master.tmpl' theme="yui"
           breadcrumburl = '/scripts/dbmapuserlist' -%]
    [% IF data.errors.size >= 1 %]
        [% FOREACH error IN data.errors %]
            <p>[% error %]</p>
        [% END %]
    [% ELSE %]
        <p>The user's dbmap has been updated</p>
    [% END %]
[% END %]
