[% USE Whostmgr -%]
[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/delegatemainip'
    app_key='manage_resellers_shared_ip'
-%]
[% IF data.result -%]
<h3 class="simpleheading">Shared (IP-less) IP for [% data.user %] is now [% data.ip %].</h3>
[% ELSE -%]
<h3 class="simpleheading">Failed to set shared (IP-less) IP for [% data.user %]: [% data.msg %]</h3>
[% END -%]
[% END -%]
