[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Theme Manager')
    breadcrumburl = '/scripts/thememanager_landing'
-%]
<h3 class='simpleheading'>Delete a [% data.appname %] Theme</h3>
[% END -%]
