[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/listsslhosts'
-%]
<h3 class="simpleheading">SSL Host Removal</h3>
Are you sure you want to delete the SSL host [% host FILTER html %]?
<form action="[% cp_security_token %]/scripts2/realdelsslhost" method="post">
<input type="hidden" name="host" value="[% host FILTER html %]" />
<input type="submit" class="btn-primary" name="action" value="Yes" />&nbsp;
<input type="button" class="btn-secondary" onclick="javascript:history.go(-1);" value="No" />
</form>
[% END -%]
