[% WRAPPER 'master_templates/master.tmpl' theme="yui" breadcrumburl='/scripts6/editremoteipslist' -%]

<div style="margin:0 20px;">
[% IF data.invalid_input -%]
<p id="invalid-input-error">Invalid input. Submitted values were not saved.</p>
[% ELSE -%]
<div id="mail-ip-save-confirmation-text">
[% IF data.written.remotemail -%]
<p><b>Saved remote mail server IP list:</b></p>
    <ul>[% FOREACH ip IN data.iplists.remotemail %]<li>[% ip %]</li>[% END %]</ul>
[% ELSIF data.written.remotemail.empty -%]
<p><b>The mail server IP list is empty.</b></p>
[% ELSE -%]
<p>Mail server IPs were unable to be saved.</p>
[% END -%]
</div>

<div id="nameserver-ip-save-confirmation-text">
[% IF data.written.remotedns -%]
<p><b>Saved remote name server IP list:</b></p>
    <ul>[% FOREACH ip IN data.iplists.remotedns %]<li>[% ip %]</li>[% END %]</ul>
[% ELSIF data.written.remotedns.empty -%]
<p><b>The name server IP list is empty.</b></p>
[% ELSE -%]
<p>Name server IPs were unable to be saved.</p>
[% END -%]
</div>

[% END -%]
</div>
[% END #wrapper -%]
