[% IF ! end -%]
[% PROCESS 'master_templates/_defheader.tmpl'
    header = locale.maketext('Package Installer')
    breadcrumburl = '/scripts2/installpackage'
    theme="yui"
-%]
[% IF data.no_packages -%]
No packages selected for installation.
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" -%]
[% ELSIF data.no_object -%]
System could not create a valid SysPkgs object to install a package.
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" -%]
[% ELSE -%]
<pre>
[% END -%]
[% ELSE #end -%]
</pre>
<span class="b2">Install complete.</span>
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" -%]
[% END -%]
