[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/mysqladdonhosts'
-%]
[% PROCESS 'warnings/_mysql_version.tmpl' %]
[% IF data.success -%]
<h3 class="simpleheading">Database access hosts saved.</h3>
[% ELSE -%]
Could not save access hosts.
[% END -%]

[% IF data.errors %]
    <h3 class="simpleheading">Invalid database hosts</h3>
    <ul>
    [% FOREACH host IN data.errors %]
        <li>[% host %]</li>
    [% END %]
    </ul>
[% END %]

[% END #wrapper -%]
