[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
[% IF data.valid_php -%]
<h3 class='simpleheading'>The php.ini has been written.</h3>
[% data.output -%]
<textarea cols='80' rows='30' style='width:100%; height: 80%;' readonly='readonly'>
[% data.php_ini.html -%]
</textarea>
[% ELSE -%]
<h3 class="simpleheading">Error setting directives!</h3>
[% END -%]
[% END -%]
