[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	breadcrumburl = '/scripts/resetresellers'
	app_key='reset_resellers'
-%]
[% IF data.action == 'resetpkgperms' -%]
Package permissions reset for:
<ul>
[% FOR res=data.resellers.sort -%]
<li>[% res.html %]</li>
[% END -%]
</ul>
[% ELSIF data.action == 'applyacls' -%]
[% IF data.acllist -%]
ACL list [% data.acllist %] applied to:
<ul>
[% FOR res=data.resellers.sort -%]
<li>[% res.html %]</li>
[% END -%]
</ul>
[% ELSE -%]
You must choose an ACL list before you can apply it.<br />
[% END -%]
[% ELSE -%]
Invalid action!
[% END -%]
[% END -%]
