[% USE Whostmgr -%]
[% WRAPPER 'master_templates/master.tmpl'
    app_key = 'modify_cpanel_whm_news'
    theme   = "bootstrap"
    header  = locale.maketext('Modify [asis,cPanel amp() WHM] News')
-%]
<div class="description">
    [% locale.maketext("To set custom messages that you want your users and resellers to see, enter your text in the following text boxes. Make certain to use HTML tags and a [output,lt]br[output,gt] to break lines.") %]
</div>

<form action="[% cp_security_token %]/scripts2/savenews" method="POST">
[% IF Whostmgr.hasroot() -%]
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="txtGlobalNews">
                [% locale.maketext("Global [asis,cPanel] News (displayed in all of your users[output,apos] [asis,cPanel] dashboards. This includes a reseller[output,apos]s customers.):") %]
                </label>
                <textarea id="txtGlobalNews" name="globalnews" rows="10" class="form-control">[% data.globalnews %]</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="txtWhmNews">
                [% locale.maketext("Global [asis,WHM] News (displayed in all of the resellers[output,apos] [asis,WHM] dashboards):") %]
                </label>
                <textarea id="txtWhmNews" name="whmnews" rows="10" class="form-control">[% data.whmnews %]</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="txtResoldNews">
                [% locale.maketext("Reseller Customer News (displayed in the [asis,cPanel] dashboards of all user accounts that are owned by resellers.):") %]
                </label>
                <textarea id="txtResoldNews" name="resoldnews" rows="10" class="form-control">[% data.resoldnews %]</textarea>
            </div>
        </div>
    </div>
[% END -%]
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label for="txtCpanelNews">
                [% locale.maketext("[asis,cPanel] News (displayed in the [asis,cPanel] dashboards of all of the accounts owned by your account.):") %]
                </label>
                <textarea id="txtCpanelNews" name="news" rows="10" class="form-control">[% data.news %]</textarea>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input id="btnSaveNews" type="submit" class="btn btn-primary" value='[% locale.maketext("Save News") %]'>
    </div>
</form>
[% END -%]
