[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key = 'configure_remote_service_ips'
    scripts => '/yui/tabview/tabview.js',
    stylesheets => '/yui/tabview/assets/skins/sam/tabview.css',
    extrastyle => '
	.yui-skin-sam .yui-navset .yui-content {
	background:#fff;
	}
	.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav {
	border-color:#00576A;
	}
'
-%]
</style>
<div id="block">
<form id="the_form" action="doeditremoteipslist" method="POST">
<div id="editremoteipslist" class="yui-navset" style="width:235px; margin-left:20px;">
    <ul class="yui-nav" style="width:613px">
        <li><a href="#remotemail" class="selected"><em>Remote Mail Server IPs</em></a></li>
        <li><a href="#remotedns"><em>Remote Name Server IPs</em></a></li>
    </ul>
    <div class="yui-content" style="width:585px;padding-left:20px">
        <div id="remotemail">
			<span style="display:block;margin:10px 0 0"><strong>Enter one IP address per line:</strong></span>
            <table style="border-collapse:collapse"><tr>
    		<td><textarea id="remotemail_text" rows="5" cols="26" name="remotemail">[% data.remotemail %]</textarea></td>
            <td><span id="remotemail_text_error"></span></td>
            </tr></table>
        	<div style="padding-top:10px;padding-bottom:20px;border-bottom:1px solid #ccc"><input type="submit" value="Save" class="btn-primary"></div>



<p><em>Mail servers whose IPs are in this list will be considered local mail exchangers when auto-detecting mail routing.</em>	</p>



        </div>
        <div id="remotedns">

        		<span style="display:block;margin:10px 0 0"><strong>Enter one IP address per line:</strong></span>
                <table style="border-collapse:collapse"><tr>
        		<td><textarea id="remotedns_text" rows="5" cols="26" name="remotedns">[% data.remotedns %]</textarea></td>
                <td><span id="remotedns_text_error"></span></td>
                </tr></table>
        		<div style="padding-top:10px;padding-bottom:20px;border-bottom:1px solid #ccc"><input type="submit" value="Save" class="btn-primary"></div>

				<p>
	        		<em>Users are permitted to add addon or parked domains only with nameserver IPs in this list.</em><br />
	        	</p>
        </div>
    </div>
</div>
</form>
</div>

<script type="text/javascript">
(function() {

var tabView = new YAHOO.widget.TabView('editremoteipslist');
tabView.selectTab(0);

tabView.getTab(0).addListener( 'click', function() {
    dns_validate.clear_messages();
    mx_validate.verify();
} );

tabView.getTab(1).addListener( 'click', function() {
    mx_validate.clear_messages();
    dns_validate.verify();
} );

function valid_ip_list(list_text) {
    list_text = list_text.trim();
    if ( list_text === "" ) return true;
    return list_text.split(/\s*\n\s*/).every(function (e) { return CPANEL.validate.ip(e) || CPANEL.validate.ipv6(e); });
};

function dns_validator_function() {
    return valid_ip_list( DOM.get('remotedns_text').value );
}
function mx_validator_function() {
    return valid_ip_list( DOM.get('remotemail_text').value );
}

var mx_validate = new CPANEL.validate.validator("Mail server IPs");
mx_validate.add("remotemail_text", mx_validator_function, "Invalid MX IP list.");
mx_validate.attach();

var dns_validate = new CPANEL.validate.validator("Nameserver IPs");
dns_validate.add("remotedns_text", dns_validator_function, "Invalid DNS IP list.");
dns_validate.attach();

mx_validate.verify();

YAHOO.util.Event.on('the_form','submit', function(e) {
    if ( !dns_validate.is_valid() || !mx_validate.is_valid() ) {
        YAHOO.util.Event.preventDefault(e);
    }
} );

})();
</script>
[% END -%]
