[%
    USE Whostmgr;

    IF data.resellers;
    SET header = locale.maketext('Email All Resellers');
    SET breadcrumburl = '/scripts/emailall?resellers=1';
    ELSE;
    SET header = locale.maketext('Email All Users');
    SET breadcrumburl = '/scripts/emailall';
    END;

    WRAPPER 'master_templates/master.tmpl'
        header = header
        app_key = app_key
        theme = 'bootstrap'
        breadcrumburl = breadcrumburl
        stylesheets = [
            Whostmgr.find_file_url('/styles/legacy_yui_styles.min.css')
        ];
-%]
<p class="description">
    [% IF data.resellers %]
    [% locale.maketext('Send an email to all resellers.') %]
    [% ELSE %]
    [% locale.maketext('Send an email to all registered users.') %]
    [% END %]
</p>
<form class="layout-medium"
    action="[% cp_security_token %]/scripts/doemailall"
    method="POST">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label for="fromname">
                    [% locale.maketext('Sender Name') %]
                </label>
                <input id="fromname"
                    name="fromname"
                    class="form-control"
                    type="text"
                    value="[% data.default_name.html %]" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="fromname_error" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label for="frommail">
                    [% locale.maketext('Sender Email') %]
                </label>
                <input id="frommail"
                    name="fromemail"
                    class="form-control"
                    type="text"
                    value="[% data.default_email.html %]" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="frommail_error" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label for="subject">
                    [% locale.maketext('Subject') %]
                </label>
                <input id="subject"
                    name="subject"
                    class="form-control"
                    type="text"
                    value="Updates"
                    size="50" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="subject_error" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label for="mailbody">
                    [% locale.maketext('Message Body') %]
                </label>
                <textarea id="mailbody"
                    name="body"
                    class="form-control"
                    cols="80"
                    rows="25"></textarea>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img id="mailbody_error" />
            </div>
        </div>
    </div>
    <input type="hidden" name="resellers" value="[% data.resellers.html %]" />
    [% IF data.resellers == '' %]
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>
                    <input id="sendall"
                        name="sendall"
                        type="checkbox"
                        value="1" />
                    [% locale.maketext("Send Email to Resellers[output,chr,8217] Customers as well.") %]
                </label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
    </div>
    [% END -%]
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input id="submit-button"
                    type="submit"
                    class="btn btn-primary"
                    value="[% locale.maketext('Send') %]" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            </div>
        </div>
    </div>
</form>
[% END -%]
<style type="text/css">
    .cjt_validation_error {
        visibility: hidden;
    }
    .validation_errors_div  {
        padding: 10px;
    }
    .validation_errors_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 18px;
        padding-left: 15px;
        color: #ec3f41;
        border: none;
        box-shadow: none;
    }
    .validation_errors_ul li:before {
        margin: 0 5px 0 -15px;
        content: "×";
    }
    .mask {
        -moz-opacity: 0.5;
        opacity: 0.5;
        filter: alpha(opacity=50);
        background-color: #000000;
    }
</style>
<script type="text/javascript">
//<![CDATA[
    var init = function() {
        var validation = new CPANEL.validate.validator("[% header %]");
        validation.add('fromname','min_length(%input%,1)', "[% locale.maketext('Please enter a sender name.') %]");
        validation.add('frommail', 'email', "[% locale.maketext('Please enter a valid return email address.') %]");
        validation.add('subject', 'min_length(%input%,1)', "[% locale.maketext('Please enter a subject.') %]");
        validation.add('mailbody', 'min_length(%input%,1)', "[% locale.maketext('The email body must not be empty.') %]");
        validation.attach();

        CPANEL.validate.attach_to_form("submit-button", validation);
    };
    YAHOO.util.Event.onDOMReady(init);
//]]>
</script>

