[%
USE DataURI;
USE JSON;
USE NVData;
USE Whostmgr;
WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key = app_key
    stylesheets = [
        Whostmgr.find_file_url('yui/assets/skins/sam/calendar.css')
        Whostmgr.find_file_url('/mail.css')
        Whostmgr.find_file_url('/cjt/css/wrapped-select.css')
    ]
    scripts = [
        '/yui/calendar/calendar-min.js'
        '/yui-gen/data/data-debug.js'
    ]
    extrastyle => '
        #contentContainer {
        position: relative;
        }
        #col_options {
            position: absolute;
            top: 0px;
            right: 0px;
        }
    '
;

SET spinner_url = '/images/whm-spinner.gif';
IF CPANEL.ua_is_ie && CPANEL.ua_is_ie < 8;
    SET spinner_url = MagicRevision(spinner_url);
    "<img src='$spinner_url' style='display:none'>";
ELSE;
    SET spinner_url = DataURI.datauri(spinner_url, 'image/gif');
END;

PROCESS '_loadjs.tmpl' FOR src=[
    '/cjt/datasource-min.js'
    '/sharedjs/emailstats_summary_optimized.js'
];

SET nvdata = NVData.get_page_nvdata();
%]

[% PROCESS '_ajaxapp_styles.tmpl' -%]
[% PROCESS '_ajaxapp_header.tmpl' -%]
<script>CPANEL.nvdata.initial = [% nvdata.json() || 'undefined' %];</script>

[% IF !cfg.db_err %]
<p class="description">[% description %]<br/>[% PROCESS _date_format_copy.tmpl -%]</p>

<div id="cjt_static_notice_container"></div>

<div id="main_content">
    <div class="option_box_small">
        <div>
            <div class="top-heading group">
                <div class="left_float"><h4>[% Whostmgr.page_name %]</h4></div>
                <div class="right_float" id="hide_inquiry"><a href="javascript:void(0)" onclick='toggle_inquiry()' id="toggle_inquiry_text">[% locale.maketext('Hide') %]</a></div>
            </div>
        </div>
        <div id='container_box'>
            <form action="javascript:void(0)" onsubmit="doupdate(); return false" name='search-fields' id="search-fields">
                <div class="option_contents" id='option_contents'>
                    <div class="form-contain group">
                        <div class="starts">
                            <div class="report-head">[% locale.maketext('Start Date:') %]</div>
                            <div class="group">
                                <input type="text" name="startdate" id="startdate" size="12" />
                                <span id='start_cal' onclick="show_start_cal()"><img src="[% MagicRevision('/images/calendar.png') %]" alt="select date" /></span>
                            </div>
                            <div id="startcal">
                                <div class="bd"><div id="cal1Container"></div></div>
                            </div>
                            <div class="time-wrap">
                                <div class="report-head">[% locale.maketext('Start Time:') %]</div>
                                <input type="text" name="starttime" id="starttime"/>
                            </div>
                        </div>
                        <div class="starts_small">
                            <div class="report-head">[% locale.maketext('End Date:') %]</div>
                            <div class="group">
                                <input type="text" name="enddate" id="enddate" size="12" />
                                <span id='end_cal' onclick="show_end_cal()"><img src="[% MagicRevision('/images/calendar.png') %]" alt="select date" /></span>
                            </div>
                            <div class="time-wrap">
                                <div class="report-head">[% locale.maketext('End Time:') %]</div>
                                <input type="text" name="endtime" id="endtime"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="the-button">
                    <span class="data90" style="margin-left: 5px;">[% locale.maketext("Data is retained for [quant,_1,day,days].", retention) %]</span>
                    <button type="submit" class="input-btn btn-primary" id="run-button" onclick="setSpinner(); doupdate(); return false">
                        <div id="spinner"><img src="[% spinner_url %]"/></div>
                        <div id="spinner-text">[% locale.maketext("Run Report") %]</div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="cjt_pagenotice_container"></div>

<a name="report"></a>
<div id='table_container'>
    <div class="latch">
        <div id='page-control'>
            <div class="results-output">
                <div class="results-header">
                </div>
                <div class="total-items">
                    <div id="results-header"></div>
                </div>
            </div>
            <div id="floater">
                <div id="top-page-nav"></div>
            </div>
        </div>
        <br style="clear: both" />
        <div id="option_header" style="display:none;">
            <div class="table-box">
                <div class="table-top group">
                    <form action="javascript:void(0)" class="input-with-button-wrapper" onsubmit="setSpinner(); doupdate()"><input id='quicksearch' type="text" placeholder="[% locale.maketext("Search …") %]" /><button type="submit">[% locale.maketext('Go') %]</button></form>
                    <span class="advanced"><img src="[% MagicRevision('/images/info.png') %]" id="Search_TT" style="cursor:help"/> </span>
                    <div style='float: right' id='toggle_col_options'>
                        <table cellspacing=0 cellpadding=0>
                            <tr>
                                <td valign="middle">
                                    <div style="padding-top: 4px; display:none" id="failoptions">
                                        <a href="javascript:void(0)" onclick="failview(true)" id="summarylink">[% locale.maketext("Current View") %]</a>
                                        |
                                        <a href="javascript:void(0)" onclick="failview(false)" id="detaillink">[% locale.maketext("Historical View") %]</a>
                                    </div>
                                </td>
                                <td>&nbsp;  <a href='javascript:void(0)' onclick='return toggle_options()'><img src="[% MagicRevision('/images/edit-table.png') %]" alt="table options" title="Table Options" /></a>
                                <div id="col_options">
                                    <div class="options-top group">
                                        <div class="options-header">[% locale.maketext('Table Options') %]</div>
                                        <div class="closeit"><a href='javascript:void(0)' title="[% locale.maketext('Close') %]" onclick='header_panel.hide(); return false'>X</a></div>
                                    </div>
                                    <div class="hd"></div>
                                    <div class="options-bd">
                                        <div class="info-blurb">[% locale.maketext("Select the columns you wish to display in the table.") %]</div>
                                        <div id="option_area">
                                        </div>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br style="clear:both" />
                </div>
                <div id="eximstatssummary" class='deliveryreport'></div>
            </div>
        </div>
        <div id='bottom-nav'>
            <div id='floater-bottom' style="float:right; padding:0px; margin:0px">
                <div id="bottom-page-nav"></div>
            </div>
            <br style="clear: both" />
        </div>
        <br style="clear: both" />
    </div>
</div>

<br />
<div id="emailreport"></div>
<div style="width: 1px; height: 1px; position:absolute; top:-999999px; left:-999999px;" id="printpanel"></div>
<div id="dateSelect" style="display:none"></div>

[% INCLUDE _calendar.tmpl %]
[% PROCESS '_ajaxapp_footer.tmpl' -%]

<script>
var TIMESELECTOR_STYLESHEET = [% MagicRevision('/cjt/css/timeSelector-whm.css').json() -%];
</script>
<script src="[% Whostmgr.find_file_url('sharedjs/email_ui_control_optimized.js') %]" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[

var faildefer = false;
var retention = [% retention || 'null' %];
if (/emailstats_faildefer_summary/i.test(document.location.href)) {
    faildefer = true;
    var from_nvdata = CPANEL.nvdata.initial && CPANEL.nvdata.initial.failview;
    if (from_nvdata) {
       default_initial_hidden_columns = ['FAILCOUNT','DEFERFAILCOUNT','SUCCESSCOUNT','DEFERCOUNT','TOTALSIZE','SENDCOUNT'];
       DOM.get('summarylink').style.fontWeight='bold';
       DOM.get('detaillink').style.fontWeight='normal';
    } else {
       default_initial_hidden_columns = ['REACHED_MAXEMAILS', 'REACHED_MAXDEFERFAIL'];
       DOM.get('summarylink').style.fontWeight='normal';
       DOM.get('detaillink').style.fontWeight='bold';
    }
    document.getElementById('failoptions').style.display='inline';
    resetColumns = { failview : from_nvdata };
}

default_minimum_columns = 0;
var failview = function (summary) {
    default_initial_hidden_columns = [];
    if (summary) {
        DOM.get('summarylink').style.fontWeight='bold';
        DOM.get('detaillink').style.fontWeight='normal';
        default_initial_hidden_columns = ['FAILCOUNT','DEFERFAILCOUNT','SUCCESSCOUNT','DEFERCOUNT','TOTALSIZE','SENDCOUNT'];
    } else {
        DOM.get('summarylink').style.fontWeight='normal';
        DOM.get('detaillink').style.fontWeight='bold';
        default_initial_hidden_columns = ['REACHED_MAXEMAILS', 'REACHED_MAXDEFERFAIL'];
    }
    CPANEL.nvdata.register("failview", function () {return summary;} );
    CPANEL.nvdata.save();
    var keys = eximstatstbl.deliveryreport.dt.getColumnSet().keys;
    for (var i=0; i< keys.length; i++ ) {
        var El = DOM.get('key_' + keys[i].key);
        if (El) {
            El.checked=true;
            for (var ii=0; ii < default_initial_hidden_columns.length; ii++) {
                if (default_initial_hidden_columns[ii].toLowerCase() == keys[i].key.toLowerCase()) {
                    El.checked=false;
                }
            }
        }
        filterHeaders(keys[i].key);
    }
}

var eximstatstbl = new CPANEL.EximStatsSummary( {
    [% deliverytype ? "deliverytype: '$deliverytype'," : '' -%]
    [% group ? "group: '$group'," : '' -%]
    [% initialsort ? "initialsort: '$initialsort'," : '' -%]
    columns: [% table_columns.json() %],
    starttime: "yesterday",
    useruri: "emailstats_search"
} );

var tt2= new YAHOO.widget.Tooltip("tt2", { context:"Search_TT", text: [% locale.maketext("This search persists until you clear it. Because searching updates the report, new data may appear after you click [output,class,Go,_1].",'ui-term-reference').json() %], autodismissdelay: 100000, xyoffset: [5,10]  });

//]]>
</script>

[% PROCESS '_emailstats_status_include.tmpl' -%]

[% ELSE %]
[% PROCESS '_emailstats_unavailable.tmpl' -%]
[% END %]

[% END -%]
