/*
# cpanel - whostmgr/docroot/templates/eula.less    Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

.license {
    // Add top spacing within the list
    .list-spaced-items > li,
    p.list-break {
        margin-top: 0.5em;
    }

    .list-decimal,
    .list-decimal-nested,
    .list-upper-alpha,
    .list-lower-alpha-parens,
    .list-lower-roman-parens {
        // Use .continue-counter to continue the count from the previous list.
        &:not(.continue-counter) {
            counter-reset: item 0;
        }

        & > li {
            list-style-type: none;
            counter-increment: item;
        }

        & > li::before {
            margin-right: 0.5em; // space between marker and li
        }
    }

    // number with single decimal even when nested ex. "1."
    .list-decimal > li {
        list-style-type: decimal;
        padding-left: 0.5em; // space between marker and li
    }

    // NOTE: For custom bullets, ::before is being used to add the content.
    //  When Safari supports content in ::marker, update all these to ::marker.
    //  This will treat the content as actual bullets with far nicer alignment and separation.

    // number with nested decimal and no trailing dot ex. "1.1"
    .list-decimal-nested > li::before {
        content: counters(item, ".");
    }

    // uppercase letter with dot ex. "A."
    .list-upper-alpha > li::before {
        content: counter(item, upper-alpha) ".";
    }

    // lowercase letter with surrounding parens ex. "(a)"
    .list-lower-alpha-parens > li::before {
        content: "(" counter(item, lower-alpha) ")";
    }

    // lowercase roman numeral with surrounding parens ex. "(i)"
    .list-lower-roman-parens > li::before {
        content: "(" counter(item, lower-roman) ")";
    }
}
