[%
    USE Whostmgr;

    SET breadcrumbdata = {
        previous = [
            {
                name = "Home",
                url  = "/scripts/command?PFILE=main",
            }
        ],
        name = 'EULA',
        url = '/scripts10/eula',
    };

    SET stylesheets = CPANEL.is_debug_mode_enabled() ?
        [ Whostmgr.find_file_url('/templates/eula.css') ]:
        [ Whostmgr.find_file_url('/templates/eula.min.css') ];

    WRAPPER 'master_templates/master.tmpl'
    skipheader = 1
    theme='bootstrap'
    extrastyle='ol { list-style: none }',
    stylesheets = stylesheets;
%]

<div id="agreement">
    <section>[% data.eula %]</section>
</div>
[% END %]