[% USE CPScalar -%]
[% USE JSON -%]
[% USE Encoder -%]
[% USE Whostmgr -%]
[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    inside_frame_or_tab_or_popup = in_tab
    skipheader = in_tab
    breadcrumburl = '/scripts2/displayeximconfforedit',
    extrastyle = '
/* Tab Style */
#pageContainer {
  margin: 0;
  padding: 0;
}

#contentContainer{
    max-width: inherit !important;
}

/* End Tab Style */

html[dir="rtl"] .sortable .cell,
html[dir="rtl"] .fixedtable .cell,
html[dir="rtl"] .datatable .cell{
    border-left: 1px solid #ccc;
}

html[dir="rtl"] .yui-panel .container-close{
    left: 4px;
    right: auto;
}

'
-%]

[% PROCESS '_exim_config_reset.tmpl' -%]

[% END #wrapper -%]
