[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key = 'force_password_change'
    extrastyle = '

.sortable {
margin: 10px 0 0;
}

.sortable th,
.sortable td {
border: 1px solid #dadada;
padding: 8px;
}

.sortable th {
padding: 0 8px;
}

td.checkbox_td { width: 60px; text-align: center; }
td.user   { width: 150px }
td.domain { width: 250px }

th { text-align: left }

tr.changed td {
    background-color: #f3ffff;
    font-weight: bold;
}
tr.changed.row-odd td {
    background-color: #e5f3f3;
}
'
    scripts = '/js/sorttable_optimized.js'
-%]

[% PROCESS '_ajaxapp_styles.tmpl' -%]
[% PROCESS '_ajaxapp_header.tmpl' -%]
<br />
[% IF data.userdomains.size -%]
<form id="force_password_change_form" onsubmit="return false" action="javascript:void(0)">
<button type="button" class="btn-secondary" onclick="select_all()">[% locale.maketext('Select All') %]</button>
<button type="button" class="btn-secondary" onclick="unselect_all()">[% locale.maketext('Unselect All') %]</button>
<!--
<button type="reset">[% locale.maketext('Reset') %]</button>
-->
<button type="button" class="btn-secondary" onclick="this.form.reset(); for (var c=0; c<checkboxes_count; c++) all_checkboxes[c].onclick()">[% locale.maketext('Reset') %]</button>
<table id="users_table" class="sortable">
<thead>
    <tr>
        <th>[% locale.maketext('User') %]</th>
        <th>[% locale.maketext('Domain') %]</th>
        <th class="sorttable_nosort">[% locale.maketext('Forced?') %]</th>
    </tr>
</thead>
<tfoot></tfoot>
<tbody id="force_password_change_tbody">
[% FOREACH userdomain = data.userdomains.sort('user'); -%]
[% SET checked = userdomain.is_forced -%]
[% SET class = loop.index % 2 ? 'row-odd' : 'row-even' -%]
    <tr class="[% class %]">
        <td class="user">[% userdomain.user FILTER html %]</td>
        <td class="domain">[% userdomain.domain FILTER html %]</td>
        <td class="checkbox_td">
            <input type="checkbox" [% IF checked; 'checked="checked"'; END %] onclick="sync_changed(this)"

            name="force_password_change-[% userdomain.user FILTER html %]" value="1" />
        </td>
    </tr>
[% END -%]
</tbody>
</table>
<br />
</form>
<button type="button" id="save_button" onclick="ajax_save()" class="btn-primary">[% locale.maketext('Submit') -%]</button>
[% ELSE -%]
<p>
There are no users on your system.
</p>
[% END -%]

[% PROCESS '_ajaxapp_footer.tmpl' -%]

[% END #wrapper %]
