[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
[% IF data.i_tag %]
   [% IF data.save_rc %]
      <p>The settings for '[% data.i_tag %]' have been updated.</p>
   [% ELSE %]
      <p class="error">Could not write to '[% data.path %]': [% data.errno %]</p>
   [% END %]
[% ELSE %]
  <p class="error">Invalid locale.</p>
[% END %]

<p><a href="[% cp_security_token %]/scripts9/locale_edit_options">Back</a></p>
[% END %]
