[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
[%# USE Encoder -%]
[% IF data.i_tag_is_valid %]
   <p>You are editing the configuration for the '[% data.i_tag %]'</p>

<form method="post" action="[% cp_security_token %]/scripts9/i_tag_configure_form_save">
  <input type="hidden" name="locale" value="[% data.formref.locale %]"/>
           <table border="0">
              <tr><td>Display Name</td><td><input type="text" name="display_name" value="[% data.formref.display_name %][%# Encoder.safe_html_encode_str(data.formref.display_name) %]"/></td></tr>
[%-
   selected_locale_orig = data.selected_locale
   data.selected_locale = data.formref.fallback_locale
-%]
              <tr><td>Fallback Locale</td><td><select name="fallback_locale"><option value="">Inherit (recommended)</option>[% PROCESS '_locale_option_tags.tmpl' %]</select></td></tr>
[%- data.selected_locale = selected_locale_orig -%]
              <tr><td>Number Formatting</td><td><select name="numf_type"><option value="">Inherit (recommended)</option><option [% IF data.formref.numf_type == '1' %]selected="selected" [% END %]value="1">Thousands separator: comma, Decimal: period</option><option [% IF data.formref.numf_type == '2' %]selected="selected" [% END %]value="2">Thousands separator: period, Decimal: comma</option></select></td></tr>
              <tr><td>Character Orientation</td><td><select name="character_orientation"><option value="">Inherit (recommended)</option><option [% IF data.formref.character_orientation == 'left-to-right' %]selected="selected" [% END %]value="left-to-right">Left To Right</option><option [% IF data.formref.character_orientation == 'right-to-left' %]selected="selected" [% END %]value="right-to-left">Right to Left</option></select></td></tr>
              <tr><td colspan="2"><input type="submit" value="Save" class="btn-primary" /></td></tr>
           </table>

</form>
[% ELSE %]
   <p class="error">Invalid locale.</p>
[% END %]

<p><a href="[% cp_security_token %]/scripts9/locale_edit_options">Back</a></p>
[% END %]
