[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Theme Manager')
    breadcrumburl = '/scripts/thememanager_landing'
-%]
<h3 class='simpleheading'>cPanel Theme Installer</h3>
<b>cPanel theme tarballs should have a directory structure similar to the one shown below:</b><br />

<pre>
theme.cptheme
|
\----logout.html
|
\----index.html
|
\----images
|    |
|    \-----webmail.jpg
|    |
|    \-----passwd.jpg
|    |
|    \-----edit.jpg
|    |
|    \-----delete.jpg
|
\----ETC
</pre>

<form method="POST" action="[% cp_security_token %]/scripts/uptheme" ENCTYPE="multipart/form-data">
Theme Tar Ball: <input name="theme" type="file"><input type="submit" class="btn-primary" value="Upload">
</form>
[% END -%]
