[% PROCESS '_loadjs.tmpl' src="/templates/iplist.js"; %]

<script type="text/javascript" src="[% MagicRevision('/js/sorttable.js') %]"></script>
<script type="text/javascript" src="[% MagicRevision('/js/statusbox.js') %]"></script>
<script type="text/javascript" src="[% MagicRevision('/js/popupbox.js') %]"></script>
<div id="popupboxcontainer"></div>
<div id="confirmDeletePanel">
    <div class="hd">[% locale.maketext("Confirm IP Address Removal") -%]</div>
    <div id="confirmDeleteBody" class="bd"></div>
    <div class="ft"><button id="confirmRemoveBtn" class="btn-primary btn-small" type="button">Remove</button><button id="cancelRemoveBtn" class="btn-secondary btn-small" type="button">[% locale.maketext('Cancel') -%]</button></div>
</div>
<div id="sdiv"></div>
