[% IF data.status %]
<blockquote>This next step will modify your servers’ configuration files.  Once this step has been started, it cannot be
reversed.  You will not be able to change the IP of
any account using the IP change function while the IP migration is in progress.
The entire process takes about 48 hours since DNS changes must propagate before the system can return to normal.</blockquote>

<form action="[% cp_security_token %]/scripts2/ipmigrate4">
<input type="submit" class="btn-primary" value="Continue">
</form>
<br />

<a href="[% cp_security_token %]/scripts2/ipmigratemap">Click here to download an IP translation matrix</a>
[% ELSE %]
<p class="error">Unable to create migration map.</p>
[% END %]

[% IF data.errors %]
[% FOR err IN data.errors %]
<p class="error">[% err %]</p>
[% END %]
[% END %]
