<p>Account Removal Status: [% data.result ? 'ok' : 'failed' %] ([% data.reason %])</p>
[% IF data.result %]
<blockquote>[% data.output %]</blockquote>
[% ELSE %]
<table width="100%">
<tr>
	<td>[% data.reason %]</td>
	<td width="30"><img src="/icons/error.gif" alt="error" /></td>
</tr>
</table>
[% END %]
