<tr><td colspan="3"><label><input type="checkbox" name="keepdns" value="1" /> Keep Dns Zone (needed if you have moved a domain between servers in the same dns trust relationship, and wish to remove the old domain)</label></td></tr>
