[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	header = locale.maketext('Select a [asis,cPanel] theme to download.')
%]
<pre>
[% FOR theme=data.themes.sort %]
<a href="[% cp_security_token %]/scripts/downtheme/[% theme %].cptheme">[% theme %]</a>
[% END %]
<b>Note</b>: If you want to open a theme in winzip, you must save it to disk and rename it to a .tar.gz file.
[% END -%]
