format:user,domain,ip,email,startdate,homedir,disklimit,spaceused,plan,theme,owner
[% FOR acct IN data.accts -%]
data:[% acct.user %],[% acct.domain %],[% acct.ip %],[% acct.email %],[% acct.startdate %],[% acct.homedir %],[% acct.disklimit %],[% acct.diskused %],[% acct.plan %],[% acct.theme %],[% acct.owner %]
[% END %]
