[% WRAPPER 'master_templates/master.tmpl'
    theme="yui"
    app_key='copy_a_locale' -%]
<link rel="stylesheet" type="text/css" href="/yui/container/assets/container.css" /><script type="text/javascript" src="/yui/utilities/utilities.js"></script><script type="text/javascript" src="/yui/container/container.js"></script>
<script type="text/javascript" src="/js/popupbox.js"></script>
<style type="text/css">
        .info_box {
            background-color:#FFFFCC;
            border:1px solid #666666;
            margin-left:20px;
            padding:5px;
            width:500px;
        }
        .info_box_transparent {
            font-weight: bold;
            border:1px solid #666666;
            margin-left:20px;
            padding:5px;
            width:500px;
        }
        .externalLink:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            content: "\f35d";
            display: inline-block;
            padding: 0 3px 0 3px;
        }
        .help-block {
            padding-top: 10px;
        }

</style>

<form method="post" action="[% cp_security_token %]/cgi/locale_duplicate.cgi">
   <input type="hidden" name="validate" value="1" />
   <table border="0" cellpadding="10">
     <tr valign="top">
        <td>Duplicate Locale</td>
        <td>
            <select name="locale">
                [% PROCESS '_locale_option_tags.tmpl' %]
            </select>
            <div class="help-block">
                [% user_feedback_text_for_more_locales() %]
            </div>
      </td>
    </tr>
    <tr valign="top">
       <td> into</td>
       <td>
[%-
   locale_menu_data_ar_orig = locale_menu_data_ar
   current_locale_dir_orig = current_locale_dir
   locale_menu_data_ar = locale.get_non_existent_locale_menu_arrayref()
   locale_menu_data_ar.2.$current_locale = current_locale_dir_orig
   selected_locale_orig = data.selected_locale
   data.selected_locale = data.formref.into_locale
-%]
         <fieldset id="standard_locale">
             <legend><input type="radio" id="radio1" name="into" value="locale"[% IF data.formref.into != 'i_tag' %] checked="checked"[% END %] /> Standard locale</legend>
             <select name="into_locale">[% PROCESS '_locale_option_tags.tmpl' %]</select>
         </fieldset>
or
[%-
   current_locale_dir = current_locale_dir_orig
   locale_menu_data_ar = locale_menu_data_ar_orig
   data.selected_locale = selected_locale_orig
-%]
           <fieldset id="custom_locale">
             <legend> <input type="radio" id="radio2" name="into" value="i_tag"[% IF data.formref.into == 'i_tag' %] checked="checked"[% END %] /> Non standard locale</legend>
           <table border="0">
              <tr><td>i_ tag [<a href="javascript:display_quickpopupbox('What is an i_ tag?','<p>Locales are identified by ISO standard language (and sometimes territory) codes.</p><p>Each locale has standard data defined in the CLDR (http://cldr.unicode.org/).</p><p>An \'i_\' tag is a standard way to create, identify, and work with a non-standard locale by prefixing the code with the letter \'i\' followed by an underscore.</p>')">?</a>] </td><td><input type="text" name="i_tag"  value="[% data.formref.i_tag %]" id="i_tag"/> <img src="" alt="" id="i_tag_error" /></td></tr>
              <tr><td>Display Name</td><td><input type="text" name="display_name" value="[% data.formref.display_name %]" id="display_name"/> <img src="" alt="" id="display_name_error" /></td></tr>
[%-
   selected_locale_orig = data.selected_locale
   data.selected_locale = data.formref.fallback_locale
-%]
              <tr><td>Fallback Locale</td><td><select name="fallback_locale"><option value="">Inherit (recommended)</option>[% PROCESS '_locale_option_tags.tmpl' %]</select></td></tr>
              <tr><td>Number Formatting</td><td><select name="numf_type"><option value="">Inherit (recommended)</option><option [% IF data.formref.numf_type == '1' %]selected="selected" [% END %]value="1">Thousands separator: comma, Decimal: period</option><option [% IF data.formref.numf_type == '2' %]selected="selected" [% END %]value="2">Thousands separator: period, Decimal: comma</option></select></td></tr>
[%- data.selected_locale = selected_locale_orig -%]
              <tr><td>Character Orientation</td><td><select name="character_orientation"><option value="">Inherit (recommended)</option><option [% IF data.formref.character_orientation == 'left-to-right' %]selected="selected" [% END %]value="left-to-right">Left To Right</option><option [% IF data.formref.character_orientation == 'right-to-left' %]selected="selected" [% END %]value="right-to-left">Right to Left</option></select></td></tr>
           </table>
           </fieldset>
       </td>
    </tr>
   <tr>
    <td>&nbsp;</td>
    <td>
      <input type="submit" value="Duplicate" id="submit_button" class="btn-primary" />
    </td></tr>
  </table>
</form>

<p><em>Comments:</em>
    <ul>
        <li>If a locale seems to be missing you may need to <a href="javascript:display_quickpopupbox('Compiling locale databases','<iframe height=90% width=100% src=[% cp_security_token %]/cgi/build_locale_databases.pl />')">rebuild the locale databases</a> in order to bring it into the system.</li>
    </ul>
</p>
[% END %]

<script type="text/javascript">
//<![CDATA[

    var validation = new CPANEL.validate.validator("Copy a Locale");
    var verify_once= false;

    var validate_form_required = function() {
        if ( !document.getElementsByName('into')[0].checked ) {
               if (!verify_once) {
                verify_once = true;
                setTimeout ("verify_once=false; validation.verify()",50);
            }
               var i_tag = document.getElementById('i_tag').value;
               var display_name = document.getElementById('display_name').value;
               if ( (i_tag=='') && ( display_name == '') ) return false;
        }
        return true;
    }

    var validate_form_itag = function() {
        if ( document.getElementsByName('into')[0].checked ) return true;
        var i_tag = document.getElementById('i_tag').value;
        if (i_tag=='') return true;
        return CPANEL.validate.sql_alphanumeric(i_tag);
    }

    var init = function() {
        validation.add("i_tag", validate_form_required, "i_tag or Display Name must have a value.");
        validation.add("i_tag", validate_form_itag, "Field can contain only alphanumeric characters and underscore.")
        validation.add("display_name", validate_form_required, "i_tag or Display Name must have a value.");
        validation.attach();

        CPANEL.validate.attach_to_form("submit_button", validation);
    }
    YAHOO.util.Event.onDOMReady(init);
    YAHOO.util.Event.addListener('radio1', 'click', function () { validation.clear_messages(); setTimeout("validation.clear_messages()",50);});
    YAHOO.util.Event.addListener('radio2', 'click', function () { validation.verify(); });
    YAHOO.util.Event.addListener('custom_locale', 'click', function() { document.getElementById('radio2').checked=true; validation.verify() });
    YAHOO.util.Event.addListener('standard_locale', 'click', function () { document.getElementById('radio1').checked=true; validation.clear_messages(); setTimeout("validation.clear_messages()",50);})
//]]>
</script>
