[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	header = locale.maketext('Repair Mailbox Permissions')
	breadcrumburl = '/scripts/dialog?dialog=repairmailboxperms'
-%]

<h3 class='simpleheading'>Rebuild Mail Databases and Fix Permissions</h3>

<pre>
[% data.output FILTER html %]
</pre>

<br /><span class="b2">Complete!</span>

[% END -%]
