/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/massmodify.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
#warning_banners {
  /* Try to contain the width of the banners. Especially for very wide screens. */
  width: 60vw;
  max-width: 900px;
  min-width: 600px;
}
#warning_banners > :not(:first-child) {
  /* Add margin to all subsequent banners that display after the first. */
  margin-top: 10px;
}
#paper_lantern_warning,
#unsupported_locale_warning {
  margin-top: 0;
  /* not needed on this page */
  margin-left: 10px;
  /* for alignment with table */
  padding: 0;
  /* main container has no padding so the close button can be in the upper-right corner */
}
#paper_lantern_warning_text,
#unsupported_locale_warning_text {
  padding: 20px;
  /* the usual callout padding */
}
#paper_lantern_warning button,
#unsupported_locale_warning button {
  margin: 0;
  float: right;
  font-size: 21px;
  border: 0;
  background: 0;
  padding: 5px;
  color: inherit;
}
.fa-exclamation-triangle {
  color: #f6c342;
}
td.themeName,
td.localeName {
  white-space: nowrap;
  /* prevent exclamation triangle (if present) from wrapping to next line */
}
.externalLink:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f35d";
  display: inline-block;
  padding: 0 3px 0 3px;
}
