[%
    USE JSON;
    USE Whostmgr;
    WRAPPER 'master_templates/master.tmpl'
        theme = 'bootstrap';

    SET newFeatureName = data.newFeature;
    SET redirectDelay  = 15; #seconds
    SET redirectTarget = data.redirectTarget;
-%]

<meta http-equiv="refresh" content="[% redirectDelay %];[% redirectTarget %]" />

<div class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span>
    <div class="alert-message">
        <p>
            [% locale.maketext("This feature and its functionality have been merged with “[output,strong,_1].” We will remove this page in a future version.", newFeatureName); %]
        </p>
        <p>
            [% locale.maketext('If you are not redirected in [_1] seconds, please [output,url,_2,click this link]', redirectDelay, redirectTarget) %]
        </p>
    </div>
</div>

[% END #wrapper -%]
