[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key = 'change_multiple_sites_ip_addresses'
    scripts = [ '/js/sorttable.js' ]
-%]

<form action="[% action %]" method="post">
    <table class="sortable" id="ipchg">
        <tr>
            <th nonsortable=true></th>
            <th><span class="b2">[% locale.maketext('Domain') %]</span></th>
            <th><span class="b2">[% locale.maketext('User') %]</span></th>
            <th><span class="b2">[% locale.maketext('Owner') %]</span></th>
            <th><span class="b2">[% locale.maketext('IP') %]</span></th>
        </tr>
[% FOR rec = data.accounts.sort('domain') -%]
        <tr>
            <td><input type="checkbox" name="acct-[% rec.user | html %]" value="1"></td>
            <td>[% rec.domain | html %]</td>
            <td>[% rec.user | html %]</td>
            <td>[% rec.owner | html %]</td>
            <td>[% rec.ip | html %]</td>
        </tr>
[% END -%]
    </table>

    <button type="submit" class="btn-primary">[% locale.maketext('Change IPs of Selected Accounts') %]</button>
</form>

[% END #wrapper -%]
