[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Hostname [asis,A] Entry Missing')
-%]
   <form action="[% cp_security_token %]/scripts2/addaforhost">
   The server was unable to lookup an an A entry for its hostname ([% data.hostname %]).
   This is generally because the entry was never added.   However this could also be the result of
   your nameserver(s) being down.   If you would like to attempt to automatically add the entry, <input type="submit" class="btn-primary" value="Click Here">.
   </form>
[% END -%]
