
<script type="text/javascript">
function notify_service_restart() {
    if (parent && (parent !== window) && parent.notify_service_restart)  {
        parent.notify_service_restart('[% tabid %]', [% timeout %]);
    }
}
notify_service_restart('[% tabid %]', [% timeout %]);
</script>
