[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key='change_ownership_of_an_account'
    meta = {
        'http-equiv' => 'refresh',
        'content'    => "5;url=$cp_security_token/scripts/edituser",
    }
-%]
<p>This functionality has been moved to the main
<a href="[% cp_security_token %]/scripts/edituser">Modify an Account</a>
screen.
This page will automatically redirect there in a few seconds.</p>
[% END -%]
