<div id="photobox">
<div class="hd"><div class="lt"></div><span id="photobox_title"></span><div class="rt"></div></div>
<div class="bd">
<img id="photobox_img" src="/images/blank.gif" width="250" height="300" />
</div>

</div>
</div>

