[% USE Whostmgr %]
[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    app_key = 'park_a_domain'
    header = locale.maketext('Park a Domain')
    breadcrumburl = '/scripts/prepark'
%]
<form action="[% cp_security_token %]/scripts/park" name="mainform" method="post">

      <table class="tablecomplex2">
      <tr>
      <td colspan="4" background="[% Whostmgr.getbggif() %]"  class="cellheader"><div>
      <b>Park</b></font></div></td>
      <td background="[% Whostmgr.getbggif() %]" align="right"><b><input type="submit" class="btn-primary"
      value="Submit"><input type="reset" class="btn-cancel" value="Reset"></b></td>
      </tr>

      <tr>
[% IF Whostmgr.hasroot() %]
<td class="heavybg">Domain to park on top of</td><td
         class="lightbg"><input type="text" name="txtdomain"> <br /> OR <br />
[% ELSE %]
         <td class="heavybg">Domain to park on top of</td><td
         class="lightbg">
[% END %]
      <table class="tablecomplex2">
      <tr>
      <td class="heavybg">Domain</td>
      </tr>
      <tr>
      <td class="lightbg">
      <select size="7" name="domain">
[% FOR domain=data.domains_maindomains.keys.sort %]
<option value='[% domain %]'>[% domain %] ([% data.domains_maindomains.$domain %])</option>
[% END %]
      </select>
      </td>
      </tr>
      </table>
</td>
      <td class="heavybg"><img src="/arrowr.gif"></td>
      <td class="heavybg">Domain to park</td><td
      class="lightbg"><input type="text" name="ndomain"></td>  </tr>
      </table>
      </form>

[% END -%]
