[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Submit a Support Request')
    meta = {
        'http-equiv' => 'refresh',
        'content' => "0;url=https://${data.ticketshostname}/submit/index.cgi?support=1&supportaccessid=${data.supportid}&sip=${data.ip}"
    }
    app_key = 'support_center'
-%]
Redirecting....
[% END -%]
