[% USE Whostmgr -%]
[% SET breadcrumburl = '/scripts/emailall'
    _ ( data.resellers ? '?resellers=1' : '' );
-%]
[%- IF data.invalid_fromemail -%]
[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
Invalid "From Email".
[% END -%]
[% ELSIF start -%]
[% PROCESS 'master_templates/_defheader.tmpl' theme="yui"-%]
<pre>
[% ELSIF data.email -%]
Sending mail to [% data.email.html %] ([% data.user.html %])...
[%- ELSIF error -%]
ERROR: [% error.html -%]
[%- ELSIF done -%]
Done.

[% ELSIF data.user -%]
Not mailing [% data.user.html %]: no contact email set.

[% ELSE #end -%]
</pre>
<br />
<b>Emails have been sent!</b>
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" -%]
[% END -%]
