[% USE Encoder %]
[% WRAPPER 'master_templates/master.tmpl'
    theme = 'bootstrap'
    header = locale.maketext("Rebuilding [asis,Apache] Configuration")
    breadcrumburl = data.breadcrumb_uri,
%]

[% IF data.rebuild %]
<h2>[% locale.maketext("Rebuilding [asis,httpd.conf] …") %]</h2>
<pre>
[% Encoder.safe_html_encode_str(data.rebuild) %]
</pre>
[% END %]

[% IF data.restart %]
<h2>[% locale.maketext("Restarting [asis,Apache] ([_1]) …", data.force ? "hard" : "soft") %]</h2>
<pre>
[% Encoder.safe_html_encode_str(data.restart) %]
</pre>
[% END %]

<p>[% locale.maketext("Done!") %]</p>
[% END -%]
