[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts/dialog?dialog=rebuildippool'
    header = locale.maketext('Rebuild the IP Address Pool')
%]
System has [% data.freeips %] free IP [% data.freeips == 1 ? 'address' : 'addresses' %].
[% END #wrapper -%]
