[% PROCESS 'master_templates/_defheader.tmpl'
    breadcrumburl = '/scripts/dialog?dialog=rebuildrpmdb'
    theme="yui"
-%]
<pre>
[% print_from_handle( fh ); -%]
</pre>
<span class="b2">Complete!</span>
[% PROCESS 'master_templates/_deffooter.tmpl' theme="yui" -%]
