[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Setup/Edit Domain Forwarding')
    breadcrumburl = '/scripts/domainfwd'
%]
[% IF data.error %]
Could not write to /var/cpanel/domainmap : [% data.error %]<br />
[% ELSE %]
<h3>Domain map saved.</h3>
[% END %]
[% END #wrapper -%]
