[% USE CPScalar -%]
[% USE JSON -%]
[% USE Encoder -%]
[% USE Whostmgr -%]
[% PROCESS 'master_templates/_defheader.tmpl'
    theme="yui"
    inside_frame_or_tab_or_popup = in_tab
    skipheader = in_tab
    breadcrumburl = '/scripts2/displayeximconfforedit'
    stylesheets = [ '/syntaxhighlighter/styles/shCoreDefault.css' ]
    scripts = [
        '/js/exim_tabs_optimized.js'
        Whostmgr.find_file_url('/syntaxhighlighter/scripts/shCore.js')
        Whostmgr.find_file_url('/syntaxhighlighter/scripts/shBrushPlain.js')
    ]
        extrastyle = '
#masterContainer{
  margin:0;
  padding:0;
}'
-%]

<script type="text/javascript">
SyntaxHighlighter.config.tagName = "div";
SyntaxHighlighter.defaults['toolbar'] = false;
SyntaxHighlighter.all();
</script>

<!-- live page for now -->



