[% WRAPPER 'master_templates/master.tmpl' theme="yui"
	breadcrumburl='/scripts/reservedip'
-%]
[% IF data.ips_saved -%]
<h3 class='simpleheading'>Reserved IPs saved</h3>
[% ELSE -%]
Reserved IPs were unable to be saved.
[% END -%]
[% IF data.freeips == 1 -%]
System has 1 IP address available.
[% ELSE -%]
System has [% data.freeips %] IP addresses available.
[% END -%]
[% END #wrapper -%]
