<script>
   function selectd() {
      for(var i=0;i<document.fmain.user.options.length;i++) {
         if (document.fmain.domain.options[i].value == document.fmain.user.options[document.fmain.user.selectedIndex].value) {
            document.fmain.domain.selectedIndex=i;
         }
      }
   }
   function selectu() {
      for(var i=0;i<document.fmain.domain.options.length;i++) {
         if (document.fmain.user.options[i].value ==
         document.fmain.domain.options[document.fmain.domain.selectedIndex].value) {
            document.fmain.user.selectedIndex=i;
         }
      }
   }

</script>
