<div class="table-responsive">
  <table role="table" class="table table-bordered table-condensed table-striped sortable" id="ftpserverconfig" width="80%" style="text-align:center;">
    <tr>
        <th style="width: 120px">[% locale.maketext('[asis,FTP] Server') %]</th>
        <th>[% locale.maketext('Advantages') %]</th>
        <th>[% locale.maketext('Disadvantages') %]</th>
        <th>[% locale.maketext('Notes') %]</th>
    </tr>
    <tr>
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_proftpd" value="proftpd" [% IF data.ftpserver == 'ProFTPD' %]checked[% END %]>
            <label for="ftpserver_proftpd">[% locale.maketext('[asis,ProFTPD]') %]</label>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    [% locale.maketext('Allows use of ”[_1]” files for per-directory access controls.','.ftpaccess') %]
                </li>
                [% IF data.supports_hostaccess %]
                <li>
                    [% locale.maketext('Supports [asis,TCPwrappers] based access controls.') %]
                </li>
                [% END %]
                <li>
                    [% locale.maketext('Highly configurable.') %]
                </li>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    [% locale.maketext('Uses more memory.') %]
                </li>
                <li>
                    [% locale.maketext('Login notifications are not available.') %]
                </li>
                <li>
                    [% locale.maketext('Brute force protection is not available.') %]
                </li>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    [% locale.maketext('This is recommended only if you require additional configuration flexibility.') %]
                </li>
           </ul>
        </td>
    </tr>
    <tr bgcolor="#f3f3f3">
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_pure_ftpd" value="pure-ftpd" [% IF data.ftpserver == 'Pure-FTPd' %]checked[% END %]>
            <label for="ftpserver_pure_ftpd">[% locale.maketext('[asis,Pure-FTPd]') %]</label>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    [% locale.maketext('Faster login time.') %]
                </li>
                <li>
                    [% locale.maketext('Uses less memory.') %]
                </li>
                <li>
                    [% locale.maketext('Better security model.') %]
                </li>
                <li>
                    [% locale.maketext('Allows virtual user quotas.') %]
                </li>
                <li>
                    [% locale.maketext('Better compatibility with software [asis,RAID] systems.') %]
                </li>
                <li>
                    [% locale.maketext('Support for brute force protection.') %]
                </li>
           </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
            </ul>
        </td>
        <td style="text-align:left;" valign="top">
            <ul>
                <li>
                    [% locale.maketext('Ideal for memory-constrained systems.') %]
                </li>
                <li>
                    [% locale.maketext('Does not support TLS 1.0.') %]
                </li>
           </ul>
        </td>


    </tr>
    <tr>
        <td>
            <input type="radio" name="ftpserver" id="ftpserver_disabled" value="disabled" [% IF data.ftpserver == 'Disabled' %]checked[% END %]>
            <label for="ftpserver_disabled">[% locale.maketext('Disabled') %]</label>
        </td>
        <td style="text-align:left;" valign="top">&nbsp;</td>
        <td style="text-align:left;" valign="top">&nbsp;</td>
        <td style="text-align:left;" valign="top">
      <ul>
                <li>
                    [% locale.maketext('Default on [asis,cPanel] systems.') %]
                </li>
                <li>
          [% locale.maketext('This option will disable the local [asis,FTP] server.') %]
          </li>
      </ul>

          </td>
    </tr>
  </table>
</div>
