[% WRAPPER 'master_templates/master.tmpl'
    theme="yui"
    app_key = 'remote_access_key'
-%]
[% IF ! data.key -%]
<h2>[% locale.maketext("Unable to retrieve key.") %]</h2>
[% ELSE -%]
<style type="text/css">
.main-content {
    margin-left: 20px;
}
.bold {
    font-weight: bold
}
textarea,
.code {
    font-family: monospace;
}
.access-key-area {
    float: left;
    margin-right: 50px;
}
form {
    width: 500px;
    float: left;
    overflow: visible;
}

.inner-description {
    font-style: italic;
    margin-top: 0;
}
#access-hash-deprecation-notice {
    border-radius: 4px;
    width: 100%;
    display: table;
}
.alert-row {
    display: table-row;
    border: 1px solid #f1c40f;
    width: 100%;
    border-radius: 4px;
}
html[dir=rtl] .alert-text {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
html[dir=ltr] .alert-text {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.alert-text {
    display: table-cell;
    background-color: #FCF8E1;
    border: 1px solid #f1c40f;
    vertical-align: middle;
    padding: 8px;
}
html[dir=ltr] .alert-icon {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
html[dir=rtl] .alert-icon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.alert-icon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background-color: #f1c40f;
    padding: 8px;
    border: 1px solid #f1c40f;
}
</style>
<p class="description">
[% locale.maketext('Remote access keys allow you to log in to your server without the need for a password.') %]
[% locale.maketext('You can use a remote access key (or access hash) to authenticate with WHM’s [output,url,_1,remote API,target,_2] or DNS clustering features.','https://go.cpanel.net/whmapi1','_blank') %]
[% locale.maketext("If you use a remote billing solution, you will need to set up a remote access key on all of your [asis,cPanel] [output,amp] WHM servers.") %]
[% locale.maketext('Read our [output,url,_1,documentation,target,_2] for specific information about how to use remote access keys.','https://go.cpanel.net/AuthAPI','_blank') %]
</p>

<div id="access-hash-deprecation-notice">
    <div class="alert-row">
        <div class="alert-icon"><img src="/images/notice-warning.png" alt="warning icon" /></div>
        <div class="alert-text">
            [% locale.maketext('[output,strong,Warning:] This interface is [output,url,_1,deprecated,_2] and will be removed in a future release.',
                'https://go.cpanel.net/depplan',
                { 'target' => '_blank' }
            ) %]
            [% locale.maketext('We strongly suggest that you use the [output,url,_1,_2] interface.',
                "$cp_security_token/scripts7/apitokens/home",
                locale.maketext('Manage [asis,API] Tokens')
            ) %]
        </div>
    </div>
</div>

<div class="main-content">
    <h4>[% locale.maketext('Access Key For User “[output,class,_1,_2]”', data.user, 'code') %]</h4>
    <div class="access-key-area">
        <textarea name="key" cols="35" rows="29" readonly="readonly">[% data.key.html() %]</textarea>
    </div>

    <form action="[% cp_security_token %]/scripts/setrhash" method="post">
        <fieldset>
        <legend>[% locale.maketext('Generate a new access key.') %]</legend>
            <input type="hidden" name="regen" value="1">
            <p class="inner-description">
                [% locale.maketext('You may generate a new access key here.') %]
                [% locale.maketext('When you generate a new remote access key, you will invalidate any existing remote access key. If you generate a new key, systems that use the existing key will no longer be able to connect.') %]
            </p><button type="submit" class="btn-primary">[% locale.maketext('Generate New Key') %]</button>
        </fieldset>
    </form>
    <br style="clear: both" />
    <h4>[% locale.maketext('Access Key Signature') %]</h4>
    <div class="access-key-area">
        <textarea name="key" cols="50" rows="1" readonly="readonly">[% data.signature.html() %]</textarea>
    </div>
</div>
[% END -%]

[% END #wrapper -%]
