[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts/edittime'
-%]
[% IF data.valid_tz -%]
Local timezone has been set to [% data.tz %].
[% ELSE -%]
Invalid timezone: [% data.tz %]
[% END -%]
[% END -%]
