[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    breadcrumburl = '/scripts2/setupresolvconf'
    app_key="resolver_configuration"
-%]
<h3 class="simpleheading">Step 2</h3>
<br />
<form action="[% cp_security_token %]/scripts2/setupresolvconf3">
<input type="hidden" name="main" value="[% data.main %]">
<table>
    <tr>
        <td colspan="2"><p>Enter the IP addresses of at least two nameservers that you will use for DNS resolution.
Your datacenter should be  able to provide you with at least one IP of a DNS server
you can access. If you do not know the IP address of your provider's local resolvers,
you should contact them.  It is very important that these nameservers are correct, or
your server will not function properly.  If you do not know what to put in the boxes
below and cannot contact your provider, please close this window and go though this
setup at a later time.  Your server should still function normally; however, connections
made to the server may be slower than normal.</p></td>
    </tr>
    <tr>
        <td><span class="b2">Primary Resolver</span></td>
        <td><input type="text" name="nameserver1" value="[% data.ns.0 %]"></td>
    </tr>
    <tr>
        <td><span class="b2">Secondary Resolver</span></td>
        <td><input type="text" name="nameserver2" value="[% data.ns.1 %]"></td>
    </tr>
    <tr>
        <td><span class="b2">Tertiary Resolver (optional)</span></td>
        <td><input type="text" name="nameserver3" value="[% data.ns.2 %]"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" class="btn-primary" value="Continue"></td>
    </tr>
</table>
[% END -%]
