[% WRAPPER 'master_templates/master.tmpl'
    theme="yui"
    app_key='resolver_configuration' -%]
[% IF data.has_cpanel -%]
&nbsp;You currently have one or more of cPanel.net's dns resolvers in your /etc/resolv.conf.
You will need to set these to your datacenter's local resolvers as these servers are
only intended for use during a cPanel install. If you continue to use them connections
to your server be <span class="b2">exceedingly slow</span> because of the time it
takes to complete a dns lookup.
[% END -%]
<br />
<form action="[% cp_security_token %]/scripts2/setupresolvconf2">
<table width="95%">
    <tr>
        <td>This wizard will guide you through setting up your resolver configuration (/etc/resolv.conf).</td>
    </tr>
    <tr>
        <td>
        [% has_cpanel %]
        </td>
    </tr>
    <tr>
        <td><input type="submit" class="btn-primary" value="Proceed"></td>
    </tr>
</table>
</form>
[% END -%]
