[%
    USE JSON;
    USE Whostmgr;
    WRAPPER 'master_templates/master.tmpl'
        header = data.header,
		breadcrumburl = data.breadcrumb,
        theme = 'bootstrap';

    SET warning_message = data.message;
    PROCESS '_ajaxapp.tmpl';
-%]

<div id="content" class="alert alert-danger">
    <span class="glyphicon glyphicon-remove-sign"></span>
    <div class="alert-message">
        <strong>Error:</strong> [% data.error_message %]
    </div>
</div>

[% END #wrapper -%]
