[% WRAPPER 'master_templates/master.tmpl' theme="yui"
    header = locale.maketext('Theme Manager')
    breadcrumburl = '/scripts/thememanager_landing'
-%]
<h3 class='simpleheading'>Delete a [% data.appname %] Theme</h3>
<img src="/images/[% data.appimage %]" align="absmiddle"> theme: [% data.theme FILTER html %]<br />
Are you sure you wish to delete this theme?
<div>
<br />
<br />
<a href="[% cp_security_token %]/scripts/dodeletetheme?theme=[% data.theme FILTER uri %]&themetype=[% data.themetype %]">Yes</a>
   |
   <a onclick="history.go(-1);return false" href="[% cp_security_token %]/scripts/deletetheme">No</a>

[% PROCESS '_returnlink.tmpl' url="$cp_security_token/scripts/thememanager?app=$data.themetype" -%]
[% END #wrapper -%]
