[% WRAPPER 'master_templates/master.tmpl'
    theme="bootstrap"
    header = locale.maketext('Time Synchronized')
    breadcrumburl = '/scripts/edittime'
%]
<pre>[% data.output %]</pre>
[% END #wrapper -%]
