[% USE Encoder %]
<div style="margin-left: 30px">
The template '[% Encoder.safe_html_encode_str(data.pagename) %]' has been reverted.
<br />
<br />
<a href="template_editor">go back</a>
</div>
</body>
</html>
