<div style="margin-left: 30px">
[% IF data.status %]
The template '[% data.pagename %]' has been saved.
<br />
<br />
[% ELSE %]
<p>Sorry, the selected template was not saved.</p>
<p>[% data.message %]</p>
[% END %]
<a href="template_editor">go back</a>
</div>
</body>
</html>
