[% USE Encoder %]

The template '[% Encoder.safe_html_encode_str(data.pagename) %]' has been updated for preview.
<br />
<br />
<br />

<b> [% previewurl %] </b>:<br />
<iframe width="800" height="600" src="[% previewurl %]"></iframe>
<div style="height: 15px"></div>

<div style="display: none">
    <form id="go_back_form" action="template_editor" method="get">
        <input type="hidden" name="pagename" value="[% Encoder.safe_html_encode_str(data.pagename) %]" />
        <input type="hidden" name="edittemp" value="1" />
    </form>

    <form id="save_changes_form" action="template_editor_save" method="post">
        <input type="hidden" name="pagename" value="[% Encoder.safe_html_encode_str(data.pagename) %]" />
        <input type="hidden" name="copytempreal" value="1" />
    </form>
</div>

<div style="width: 800px; text-align: center">
<a href="javascript:document.getElementById('go_back_form').submit()">go back</a> or <input id="save_changes" type="button" value="Save Changes" onclick="javascript:document.getElementById('save_changes_form').submit()" />
</div>
</body>
</html>
