[% USE Whostmgr -%]
[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
<br />
<br />
<div style="text-align: center"><h1>[% locale.maketext('The system automatically executes this function when [asis,DNS] clustering is enabled.') %]</h1></div>
[% END #wrapper -%]
