[% WRAPPER 'master_templates/master.tmpl'
     theme='bootstrap'
     app_key='ftp_server_selection'
-%]

<div>
This feature lets you choose your FTP server software, or disable FTP for your server.
</div>
<form action="[% cp_security_token %]/scripts2/dotweakftp">

[% INCLUDE service_ftpserver.tmpl %]

<input type="submit" value="Save" class="btn btn-primary" />

</form>
[% END -%]
