[% WRAPPER 'master_templates/master.tmpl' theme="yui"
app_key='locale_xml_upload' -%]
<style type="text/css">

        .highlight{
        width:550px;
        }

</style>

<div class="uniform_page_padding">
[% IF data.formref.error == 1 %]<p class="error">[% locale.maketext("Invalid locale. Choose one from the menu below.") %]</p>[% END %]
[% IF data.formref.error == 2 %]<p class="error">[% locale.maketext("Export failed. Try again.") %]</p>[% END %]

<p>[% locale.maketext("You can upload a locale in XML format via the [output,url,_1,Locale XML Download] feature or via the command line script `/scripts/locale_export --locale=locale_tag_here` (pass it --help for more information).",cp_security_token _ "/scripts9/download_locale_form") %] </p>


<div class="highlight">
<form method="post" action="[% cp_security_token %]/scripts9/upload_locale" enctype="multipart/form-data">


<strong>[% locale.maketext("Select Locale XML file") %]</strong> <input name="locale_xml_file" type="file"/>
<hr size="1" class="hr" />
<input type="submit" value="[% locale.maketext("Upload") %]"  class="btn-primary" />

</form>
</div>

<p>[% locale.maketext("If the locale does not exist on the server, all files are created.") %]</p>
<p>[% locale.maketext("If the locale already exists, the following happens:") %]
<ul>
   <li>[% locale.maketext("Core files: Only keys that are in the XML data that do not exist in the file system’s files are added.") %]</li>
   <li>[% locale.maketext("Local edit files: All keys that are in the XML data are added to or overwritten in the file system’s files.") %]</li>
</ul>
</p>

</div>
[% END %]
