    <?xml version="1.0"?>
    <!DOCTYPE wml PUBLIC "-//PHONE.COM//DTD WML 1.1//EN"
    "http://www.phone.com/dtd/wml11.dtd">

    <wml>


    <card title="Server Status">
    <p mode="nowrap">
    <b>WebHost Manager Server Status</b>
    </p>
    <p>[% data.hostname %]</p>
[% FOREACH service IN data.service_statuses.keys.sort %]
<p><small>[% service %] [% data.service_statuses.$file ? 'up' : '<b>failed</b>' %]</small></p>
[% END %]

<p><small>Load: [% (data.load > data.cpunum) ? '<b>$data.load</b>' : data.load %]</b> ([% data.cpunum %] [% (data.cpunum == 1) ? 'cpu' : 'cpus' %])</small></p>
<p><small>Memory used: [% data.mem_used_percent %]&#37;</small></p>
<p><small>Swap used: [% data.swap_used_percent %]&#37;</small></p>

[% FOREACH disk IN data.diskinfo.keys.sort %]
<p><small>Disk [% disk %] ([% data.diskinfo.$disk.mountpoint %]) [% data.diskinfo.$disk.used_percent %]&#37;</small></p>
[% END %]

</card></wml>
