<p class="description">[% locale.maketext('You are trying to access your account from an unrecognized IP address. Please enter the answers to your security questions to allow access.') %]</p>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="post" target="_top">
<input type="hidden" name="formaction" value="respondquestions">
<ol id="sec-ques">
<li><label for="ques_one">[% userquestion.1 | html %]</label>
<p><input class="security_question_answer" type="text" name="answer1" value="" autocomplete="off"></p>
</li>
<li><label for="ques_two">[% userquestion.2 | html %]</label>
<p><input class="security_question_answer" type="text" name="answer2" value="" autocomplete="off"></p>
</li>
<li><label for="ques_three">[% userquestion.3 | html %]</label>
<p><input class="security_question_answer" type="text" name="answer3" value="" autocomplete="off"></p>
</li>
<li><label for="ques_four">[% userquestion.4 | html %]</label>
<p><input class="security_question_answer" type="text" name="answer4" value="" autocomplete="off"></p>
</li>

</ol>
<div id="answer-submit">
<input type="submit" value="[% locale.maketext('Verify Answers') %]" class="input-button">
</div>
<div id="logout-container" class="logout-container" style="float: right;">
    <input type="button" value="[% locale.maketext('Log Out' ) %]" class="input-button" onClick="document.location.replace( '/logout' );">
</div>
</form>
