<script src="[% MagicRevision('/unprotected/yui-gen/utilities_container/utilities_container.js') %]"></script>
<script src="[% CPANEL.get_cjt_url() %]"></script>
<script>
CPANEL.icons.error_src = "[% MagicRevision('/unprotected/cpanel/images/security-policy-error.png') %]";
CPANEL.icons.success_src = "[% MagicRevision('/unprotected/cpanel/images/security-policy-success.png') %]";
CPANEL.icons.error = '<img src="_url_" alt="error" width="21" height="22" />'.replace(/_url_/,CPANEL.icons.error_src);
CPANEL.icons.success = '<img src="_url_" alt="success" width="21" height="22" />'.replace(/_url_/,CPANEL.icons.success_src);
</script>
[% PROCESS 'SourceIPCheck/_security_questions.tmpl' action="$cp_security_token/?key=$acct_randkey"; -%]
