<h2>[% locale.maketext("Confirm Security Questions and Answers") %]</h2>
<div class="highlight"><p>

    [% result.answerquestions %]

</p></div>

<div>
    <div class="response-container" style="float:right;">
        <form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="POST" target="_top">
            <input type="submit" value="[% locale.maketext("Continue") %]" class="input-button">
        </form>
    </div>
</div>
<div id="clearit" style="clear:both;">&nbsp;</div>

