<h2>[% locale.maketext('Confirm Security Questions and Answers') %]</h2>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="post" target="_top">
[% locale.maketext('Your security questions and answers have been saved.') %]
<div class="response-container">
    <input type="submit" value="[% locale.maketext("Continue") %]" class="input-button">
</div>
</form>

