<h2>[% locale.maketext('Confirm Security Questions and Answers') %]</h2>
<p class="description">[% locale.maketext('Please confirm your questions and answers are correct.') %]</p>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="post" id="mainform" target="_top">
<input type="hidden" name="formaction" value="setquestions" id="formaction">

<input type="hidden" name="q1ques" value="[% userquestion.1 | html %]">
<input type="hidden" name="q2ques" value="[% userquestion.2 | html %]">
<input type="hidden" name="q3ques" value="[% userquestion.3 | html %]">
<input type="hidden" name="q4ques" value="[% userquestion.4 | html %]">

<input type="hidden" name="q1answer" value="[% q1answer | html %]">
<input type="hidden" name="q2answer" value="[% q2answer | html %]">
<input type="hidden" name="q3answer" value="[% q3answer | html %]">
<input type="hidden" name="q4answer" value="[% q4answer | html %]">
<ol id="sec-ques">
<li><label for="ques_one">[% userquestion.1 | html %]</label>
<p>[% q1answer | html %]</p>
</li>
<li><label for="ques_two">[% userquestion.2 | html %]</label>
<p>[% q2answer | html %]</p>
</li>
<li><label for="ques_three">[% userquestion.3 | html %]</label>
<p>[% q3answer | html %]</p>
</li>
<li><label for="ques_four">[% userquestion.4 | html %]</label>
<p>[% q4answer | html %]</p>
</li>

</ol>
<div style="clear:both;">
<div style="float:left;">
    <a onClick="document.getElementById('formaction').value='main'; document.getElementById('mainform').submit(); return false;" href="[% cp_security_token %]/?key=[% acct_randkey %]">[% locale.maketext('Click here to change answers.') %]</a>
</div>
<div style="float:right;">
<input type="submit" value="[% locale.maketext('Save Answers') %]" class="input-button">
</div>
</div>
<br />
</form>

