[%#
Variables passed in:

email_reason - The reason for the email
hostname     - The hostname of the server

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";
    WRAPPER 'wrapper/main.html.tmpl';
    PROCESS "include/code_standout.tmpl";

    NOTICE.email_reason = CPANEL.locale.maketext('[asis,CloudLinux] Manual Installation Needed on: [_1]', NOTICE.hostname);

%]

  [% PROCESS "CloudLinux/includes/Update.body.html.tmpl" %]

[% END %]
