<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/sys_cpanel/boxtrapper-message/style.css" rel="stylesheet" type="text/css" />
<title>Message</title>
</head>

<body>
<div class="container">
<div class="logo"><img src="/sys_cpanel/boxtrapper-message/logo.png" width="131" height="35" alt="logo" /></div>
<div class="message-box">
<div class="message-icon"><img src="/sys_cpanel/boxtrapper-message/delivery-failure.png" width="80" height="81" alt="error" /></div>
<div class="message-content">
<h2 class="error">Delivery Failed!</h2>
<p>[% message %]</p>
</div>
<div class="clear"></div>
</div>
<div class="message-shadow"></div>
</div>
</body>
</html>
