<div id="addendum">
    [% locale.maketext(
        'To complete the upgrade, [output,url,_1,reboot your server].',
        '../scripts/graceful_reboot_landing'
    ) %]
</div>
<script>
    showSuccessAddendum();
</script>
