[% WRAPPER 'master_templates/master.tmpl' theme="bootstrap"
header = locale.maketext('[_1] purchase', data.product)
%]

[% USE Whostmgr %]

<link rel="stylesheet" type="text/css" href="[% Whostmgr.find_file_url('/templates/store/product_purchase.min.css') %]" />

<div id="purchase-failed" class="callout callout-danger finished">
    <div class="callout-heading">
        [% locale.maketext('Error') %]
    </div>
    <div id="purchase-error">
        [% data.error %]
    </div>
    <div id="purchase-error-detail" class="error-detail">
        [% data.error_detail.html() %]
    </div>
    <div id="purchase-error-recommendation">
        [% locale.maketext('If this problem persists, please [output,url,_1,open a Customer Service ticket,target,_blank], and reference the error above.', 'https://tickets.cpanel.net/submit/index.cgi?reqtype=cs') %]
    </div>
    <div class="go-back">
        <a id="error-return-to-origin" href="[% data.redirect_url.html() %]">[% locale.maketext('Go back') %]</a>
    </div>
</div>
[% END %]
