/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.error-detail {
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: monospace;
}
.go-back {
  margin-top: 10px;
}
