/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# label.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* ------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------ */
.label,
.badge {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.4px;
  font-weight: 600;
}
.label-danger {
  background-color: #d03f00;
}
.label-success {
  background-color: #83b655;
}
.label-warning {
  background-color: #f6c342;
}
.label-info {
  background-color: #179bd7;
}
.badge-danger {
  background-color: #d03f00;
}
.badge-success {
  background-color: #83b655;
}
.badge-warning {
  background-color: #f6c342;
}
.badge-info {
  background-color: #179bd7;
}
/*
# forms.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* ------------------------------------------------------------------------------ */
/* Forms
/* ------------------------------------------------------------------------------ */
.highlight-section {
  background: #faebcc;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  min-height: 20px;
  padding: 19px;
  border: 1px solid #faebcc;
}
.section-heading {
  padding-top: 20px;
}
.section-body {
  border-top: 1px solid #cccccc;
  padding: 10px 20px 10px 20px;
  border-radius: 2px;
}
.form-control {
  border-radius: 2px;
}
.input-group-addon {
  border-radius: 2px;
}
.help-block {
  margin-bottom: 0;
}
input[type="checkbox"]:disabled + span,
input[type="radio"]:disabled + span {
  opacity: 0.5;
  cursor: not-allowed;
}
.info-block {
  color: #737373;
}
.info-block,
.help-block {
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 5px;
}
.form-info-sign:hover {
  cursor: pointer;
}
.has-success .help-block,
.has-error .help-block,
.has-warning .help-block {
  color: #737373;
}
.acl-header {
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
.acl-group {
  font-weight: bold;
}
.indented {
  margin-top: 10px;
  margin-bottom: 10px;
}
html[dir="rtl"] .indented {
  padding-right: 20px;
}
html[dir="ltr"] .indented {
  padding-left: 20px;
}
.form-info-icon {
  cursor: pointer;
}
.acl-warning-icon {
  color: #f6c342;
  cursor: pointer;
}
.acl-warning {
  margin-top: 4px;
}
.acl-warning-message {
  word-break: normal;
}
.label-packageprivileges {
  background-color: #5bc0de;
  background-color: #179bd7;
}
.label-packageprivileges[href]:hover,
.label-packageprivileges[href]:focus {
  background-color: #31b0d5;
}
.label-standardprivileges {
  background-color: #5cb85c;
  background-color: #83b655;
}
.label-standardprivileges[href]:hover,
.label-standardprivileges[href]:focus {
  background-color: #449d44;
}
.label-globalprivileges {
  background-color: #ff6c2c;
}
.label-globalprivileges[href]:hover,
.label-globalprivileges[href]:focus {
  background-color: #f84b00;
}
.label-superprivileges {
  background-color: #293a4a;
}
.label-superprivileges[href]:hover,
.label-superprivileges[href]:focus {
  background-color: #172029;
}
.label-rootaccess {
  background-color: #d9534f;
  background-color: #d03f00;
}
.label-rootaccess[href]:hover,
.label-rootaccess[href]:focus {
  background-color: #c9302c;
}
.label-additionalsoftware {
  background-color: #999999;
}
.label-additionalsoftware[href]:hover,
.label-additionalsoftware[href]:focus {
  background-color: #808080;
}
.label-basicprivileges {
  background-color: #999999;
}
.label-basicprivileges[href]:hover,
.label-basicprivileges[href]:focus {
  background-color: #808080;
}
.acl-info {
  margin: 10px 0;
  padding: 10px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.limit_amount__input {
  display: inline-block;
  width: 100px;
}
html[dir="rtl"] .limit_amount__input {
  margin-left: 1.5rem;
}
html[dir="ltr"] .limit_amount__input {
  margin-right: 1.5rem;
}
