@import (reference) "bootstrap/source/less/variables.less";
@import (reference) "bootstrap/source/less/mixins.less";
@import (reference) "bootstrap/source/less/labels.less";
@import (reference)
    "/usr/local/cpanel/share/libraries/base_styles/src/variables.less";
@import "/usr/local/cpanel/share/libraries/base_styles/src/label.less";
@import "/usr/local/cpanel/share/libraries/base_styles/src/forms.less";

.acl-header {
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.acl-group {
    font-weight: bold;
}

.indented {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="rtl"] .indented {
    padding-right: 20px;
}

html[dir="ltr"] .indented {
    padding-left: 20px;
}

.form-info-icon {
    cursor: pointer;
}

.acl-warning-icon {
    color: @warning-border;
    cursor: pointer;
}

.acl-warning {
    margin-top: 4px;
}

.acl-warning-message {
    word-break: normal;
}

.label-packageprivileges {
    .label-info;
}

.label-standardprivileges {
    .label-success;
}

.label-globalprivileges {
    .label-variant(@cpanel-orange);
}

.label-superprivileges {
    .label-variant(@cpanel-dark-blue-gray);
}

.label-rootaccess {
    .label-danger;
}

.label-additionalsoftware {
    .label-default;
}

.label-basicprivileges {
    .label-default;
}

.acl-info {
    margin: 10px 0;
    padding: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.limit_amount__input {
    display: inline-block;
    width: 100px;
}

html[dir="rtl"] .limit_amount__input {
    margin-left: 1.5rem;
}

html[dir="ltr"] .limit_amount__input {
    margin-right: 1.5rem;
}
