<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
    <title>[% locale.maketext('[asis,cPanel] License Activation') %]</title>
    <link rel="stylesheet" href="/unprotected/lisc/error.css" type="text/css" media="screen,projection" title="Main Style" />
    <script type="text/javascript">
        function reloadthis() {
            if (window.location.reload) {
                window.location.reload();
            }
            else if (window.refresh) {
                window.refresh();
            }
            else {
                try {
                    window.location.reload();
                } catch(e) { }
            }
            return false;
        }
    </script>
    <style type="text/css">
        @media (min-width: 768px) {
            .additional-info-items ul li {
                width: 43%;
            }
        }
    </style>
    </head>
    <body>
        <div class="container">
            <section class="response-info">
                <span class="status-reason">[% error %]</span>
            </section>

            <section class="reason-text">
                [% locale.maketext('To access the interface, you must install the license and ensure that the license is active.') %]
            </section>
        </div>
        <section class="additional-info">
            <div class="container">
                <div class="additional-info-items">
                    <ul>
                        <li>
                            <img src="/img-sys/server_misconfigured.png" class="info-image" />
                            <div class="info-message">[% locale.maketext('This server does not have a valid license. To address this issue, you must contact your hosting provider.') %]</div>
                        </li>
                        <li>
                            <img src="/img-sys/server_moved.png" class="info-image" />
                            <div class="info-message">[% locale.maketext('After you successfully activate the license, wait a few minutes. Then, [output,url,_1,log in again]. This error page and this message will no longer display.','/') %]</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <a href="https://cpanel.net/?utm_source=cpanelwhm&utm_medium=cplogo&utm_content=logolink&utm_campaign=cpanelwhmreferral" target="cpanel" title="cPanel, L.L.C.">
                    <img src="/img-sys/powered_by_cpanel.svg" height="20" alt="cPanel, L.L.C." />
                </a>
                <div class="copyright"><a href="https://cpanel.net/?utm_source=cpanelwhm&utm_medium=cplogo&utm_content=logolink&utm_campaign=cpanelwhmreferral" target="cpanel" title="cPanel, L.L.C.">[% locale.maketext('Copyright©[output,nbsp][current_year] cPanel, L.L.C.') %]</a>
                    <br /><a href="https://go.cpanel.net/privacy" target="_blank">[% locale.maketext('Privacy Policy') %]</a></div>
            </div>
        </footer>
    </body>
</html>
