[%
 PROCESS "include/icons.tmpl";
 get_icon(icon='warning') _ " " _ CPANEL.locale.maketext('The system delayed the backup process for over [quant,_1,hour,hours] while it waited on statistics processing', 8);

%]
