html, body {
    height: 100%;
}

body {
    background: #293A4A;                                    // Same as WHM login
    font-family: 'Open Sans',helvetica,arial,sans-serif;    // Same as WHM login
}

#pageContainer {
    margin: auto;
    padding: 20px;
    max-width: 450px;
    color: #FFF;                                            // Same as WHM login

    .whm-logo {
        height: 50px;                                       // Same as WHM login
        margin-bottom: 50px;
        margin-top: 40px;
        path {
            fill: #FF6C2C; // cPanel Orange
        }
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    hr {
        margin: 5px 0 15px;
        border-color: #AAA;
    }

    #grant-access-form {
        text-align: center;

        .intro-text {
            margin: 0 auto 45px;
            font-weight: 200;

            p {
                text-align: justify;
            }
        }

    }

    #progress-view {

        .progress-icon {
            width: 2.5em;
            text-align: center;
            display: inline-block;
        }

        .progress-container {
            text-align: left;
        }

        .progress-container + .progress-container {
            margin-top: 10px;
        }

    }

}

.trialLicenseWarning,
.developerLicenseWarning {
    display: none;
}
