/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
html,
body {
  height: 100%;
}
body {
  background: #293A4A;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
#pageContainer {
  margin: auto;
  padding: 20px;
  max-width: 450px;
  color: #FFF;
}
#pageContainer .whm-logo {
  height: 50px;
  margin-bottom: 50px;
  margin-top: 40px;
}
#pageContainer .whm-logo path {
  fill: #FF6C2C;
}
#pageContainer h1 {
  text-align: center;
  margin: 0;
}
#pageContainer hr {
  margin: 5px 0 15px;
  border-color: #AAA;
}
#pageContainer #grant-access-form {
  text-align: center;
}
#pageContainer #grant-access-form .intro-text {
  margin: 0 auto 45px;
  font-weight: 200;
}
#pageContainer #grant-access-form .intro-text p {
  text-align: justify;
}
#pageContainer #progress-view .progress-icon {
  width: 2.5em;
  text-align: center;
  display: inline-block;
}
#pageContainer #progress-view .progress-container {
  text-align: left;
}
#pageContainer #progress-view .progress-container + .progress-container {
  margin-top: 10px;
}
.trialLicenseWarning,
.developerLicenseWarning {
  display: none;
}
