[%
  IF NOTICE.clustererror == "ERROR_INVALID_RESPONSE_LOGGED";
    CPANEL.locale.maketext('Invalid response from DNS Cluster Peer “[_1]”.', NOTICE.dnspeer);
  ELSIF NOTICE.clustererror == "ERROR_AUTH_FAILED_LOGGED";
    CPANEL.locale.maketext('Failed to authenticate to DNS Cluster Peer “[_1]”.', NOTICE.dnspeer);
  ELSIF NOTICE.clustererror == "ERROR_NO_PERMISSION";
    CPANEL.locale.maketext('Permission denied from DNS Cluster Peer “[_1]”.', NOTICE.dnspeer);
  ELSE;
    CPANEL.locale.maketext('DNS Cluster Error with peer “[_1]”.', NOTICE.dnspeer);
  END;
%]
