[%
    IF NOTICE.failed_peers.size > 1;
      CPANEL.locale.maketext('[asis,DNSSEC] key synchronization failures.');
    ELSE;
      CPANEL.locale.maketext('[asis,DNSSEC] key synchronization failure on “[_1]”.', NOTICE.failed_peers.0);
    END;
%]
