/*

# cpanel - base/frontend/jupiter/filemanager/editors/html_editor.css
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited

*/
.cpanelHide {
    display: none;
}

.cpanelShow {
    display: block;
}

.cke_button__cpanelsave_label {
    display: inline;
}

.cke_dialog_ui_input_file {
    height: 50px;
}

.cke_button__preview_label {
    display: inline;
}
