[%
    USE Whostmgr;
    USE JSON;

    SET PAGE_BASE = '/scripts7/YumUpdate/';

    WRAPPER 'master_templates/master.tmpl'
        app_key = 'system_update'
        header = locale.maketext('System Update'),
        breadcrumburl = '/scripts7/YumUpdate',
        base =  PAGE_BASE,
        stylesheets = [
            Whostmgr.find_file_url('/templates/yumupdate/index.min.css')
        ],
        theme='bootstrap'
        CJT2_EXCLUSIVE = 1;
%]
<section>
    <div class="row">
        <div class="col-xs-12">
            <cp-alert-list></cp-alert-list>
            <div ng-view></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var PAGE = PAGE || {};

    PAGE.NAME =  "yumupdate";

</script>
[% PROCESS 'master_templates/cjt2_header_include.tt' %]
[% END %]
