[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';
-%]

<p>[% CPANEL.locale.maketext('Dear Client,' ) %]</p>

<p>
    [% CPANEL.locale.maketext('We are in the process of testing our new messaging system designed to keep you updated on security threats.') %]
    <br>
    [% CPANEL.locale.maketext('It seems that the malware scan was not run for a long time on the server [_1] ([_2]). However, scanning for malware is crucial for ensuring security.',
        NOTICE.hostname, NOTICE.mainip) %]
    <br>
    [% CPANEL.locale.maketext('Would you please consider setting up a background scan at [output,url,_1,Malware scanner settings page,target,"_blank"]
        (in [asis,WHM]: Plugins » Imunify » Settings » Malware)? This precaution will help to keep your servers secure.',
        CPANEL.assemble_whm_url(NOTICE.base_url _ 'admin/settings/malware')) %]
</p>

[% PROCESS "Imunify/footer.html.tmpl" %]

[% END %]
