@import (reference) "../../libraries/base-styles/variables.less";

#current_info dd {
    margin-bottom: 8px;
}

.dl-horizontal dd {
    margin-left: 280px;
}

.additional-note {
    padding: 3px 0 3px 0;
}

.font-italic {
    font-style: italic;
}

.additional-version-details {
    margin-top: 10px;
}

a.reference:hover {
    text-decoration: none;
}

.grayed {
    color: #999999;
}

#cjt_pagenotice_container {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
}

#cjt_pagenotice_container div.cjt-notice-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

#dev-release-warning {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
}

#pageNotices {
    margin-top: 10px;
}

#clusterServersNotice {
    margin-top: 10px;
}

#current_info {
    margin-left: 5px;
    margin-bottom: 15px;
}

#showClusterResults,
#updateNowBtn {
    color: #428bca;
}

#likeThisFeature {
    left: 60px;
}

html[dir="rtl"] #likeThisFeature {
    right: 60px;
}

.help-block {
    line-height: inherit;
}

// Keep the icon on the same line as the text when the custom tier is invalid
.custom-tier-row .col3 label {
    white-space: nowrap;
}

#tierTable > thead > tr > td,
#tierTable > tbody > tr > td,
#tierTable > tfoot > tr > td {
    vertical-align: top;
}

.custom-tier-warning-row {
    .alert.alert-warning {
        margin-bottom: 0;
        display: inline-block;
    }

    td[colspan] {
        padding-top: 0;
    }
}

// This helps give the illusion that .custom-tier-row and .custom-tier-warning-row are one row.
// We have to use this long selector to override the bootstrap styles.
.table > tbody > tr.custom-tier-warning-row > td {
    border-top: 0;
}

// This dummy row just helps us work around the .table-striped alternating background colors
.custom-tier-warning-dummy-row {
    display: none;
}

/**
 * Overrides for WHM's outdated styles. This was stolen from cjt2/alertList.less
 */
.custom-tier-warning-row {
    [dir="ltr"] & .alert-message,
    [dir="rtl"] & .alert-message {
        margin: 0px;
    }

    [dir="ltr"] & .alert-message > .alert-title,
    [dir="rtl"] & .alert-message > .alert-title {
        padding: 0;
    }

    .alert-message {
        display: block;
    }

    @import "../../libraries/base-styles/alerts.less";
}
