<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <div class="alert-message[%IF classes%] [% classes %][%END%]" id="[% id | url %]">
        <strong>[% locale.maketext("Information:") %]</strong>
        [% message | html %]
    </div>
</div>
