<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <div class="alert-message[%IF classes%] [% classes %][%END%]" id="[% id | url %]">
        <strong>[% locale.maketext("Warning:") %]</strong>
        [% message | html %]
    </div>
</div>
