[% WRAPPER 'master_templates/master.tmpl' theme="yui" -%]
<div class="body-content">

[% IF data.success; THEN -%]

[% locale.maketext( 'You have successfully reset your security questions.' ) %]
[% ELSE -%]
[% locale.maketext( "Failed to reset the security questions." ) %]
[% END -%]

<div class="return-link"><b>[</b>&nbsp;<a href="edit_sourceipcheck">[% locale.maketext('Go Back') %]</a>&nbsp;<b>]</b></div>

</div>
[% END -%]
