/**
# cpanel - base/frontend/jupiter/css/base_overrides/variables/_colors.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "../../../shared/css/jupiter.less";

@primary-background: #ffffff;
@secondary-background: #f7f8fa;
@body-background: @secondary-background;

@primary: #3264fc;
@primary-dark: @jupiter-primary-dark;
@primary-light: @jupiter-primary-light;
@text-muted: #586376;

@link: #365aa2;
@link-hover: #2d5ef2;

@accent: #ff5e1a;

@shade-light: @jupiter-shade-light;
@shade-medium: @jupiter-shade-medium;
@shade-hard: @jupiter-shade-hard;

@box-shadow: @jupiter-box-shadow;
@box-shadow-active: @jupiter-box-shadow-active;

@icon: rgba(@primary-dark, 60%);
@icon-active: rgba(@primary-dark, 80%);
