/**
# cpanel - base/frontend/jupiter/css/base_overrides/variables/_main.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "../../../libraries/base-styles/variables.less";
@import (reference) "../../../shared/css/jupiter.less";
@import (reference) "_breakpoints";
@import (reference) "_colors";

@border-radius: @jupiter-border-radius;
@navbar-height: 50px;

@input-border: 1px solid @shade-medium;
@input-focus-border: 1px solid @shade-hard;

@input-background: @shade-light;
@input-focus-background: @primary-background;
