[% IF NOTICE.warn -%]
    [% CPANEL.locale.maketext('The account “[_1]” with primary domain “[_2]” on the server “[_3]” is about to exceed its bandwidth limit ([format_bytes,_4]/[format_bytes,_5])', NOTICE.user, NOTICE.user_domain, NOTICE.host, NOTICE.bwused, NOTICE.bwlimit) %]
[% ELSE -%]
    [% CPANEL.locale.maketext('The account “[_1]” with primary domain “[_2]” on the server “[_3]” exceeded its bandwidth limit ([format_bytes,_4]/[format_bytes,_5])', NOTICE.user, NOTICE.user_domain, NOTICE.host, NOTICE.bwused, NOTICE.bwlimit) %]
[% END -%]
