[%#
Variables passed in:

whm_login_url           - the url for WHM logins
cpanel_version          - the cPanel version that was/is being installed.
exim_backup_path        - the path to the saved config backup
log_preview             - an arrayref of file previews
previous_config_version - The previously installed configuration version
current_config_version  - The currently installed configuration version
new_config_version      - The new configuration version
is_whm                  - True if this message is being displayed in WHM
cf_and_replacecf_paths  - an arrayref of paths to cf and replacecf

PROCESS "include/code_block.tmpl";

-%]

[% IF NOTICE.exim_backup_path %]
  <p>
    [% CPANEL.locale.maketext("The system backed up the previous configuration to “[_1]”.", NOTICE.exim_backup_path); %]
  </p>
[% END %]
[% IF NOTICE.log_preview.1 %]
  <p>
      [% code_block(formatted_code=NOTICE.log_preview.1, title=CPANEL.locale.maketext('Preview of the configuration error:')) %]
  </p>
[% END %]
