[%#
Variables passed in:

whm_login_url           - the url for WHM logins
cpanel_version          - the cPanel version that was/is being installed.
exim_backup_path        - the path to the saved config backup
log_preview             - an arrayref of file previews
previous_config_version - The previously installed configuration version
current_config_version  - The currently installed configuration version
new_config_version      - The new configuration version
is_whm                  - True if this message is being displayed in WHM
cf_and_replacecf_paths  - an arrayref of paths to cf and replacecf
-%]

<p>
  [% CPANEL.locale.maketext("Your current configuration is not compatible with this version of [asis,cPanel] due to the existence of incompatible configuration insert blocks.") %]
  [% CPANEL.locale.maketext("This version of [asis,cPanel] has a critical update, and you must install it for your mail server to function.") %]
</p>
<p>
    [%
        CPANEL.locale.maketext(
            "To avoid any mail downtime, we have replaced the “[_1]” settings in the “[_2]” with the default configuration.",
            'Advanced Editor',  # Not translated
            CPANEL.locale.maketext('Exim Configuration Manager'),
        );
    %]
</p>
 [% PROCESS "Check/includes/EximConfig.ConfigAttached.html.tmpl" %]
<p>
  [% PROCESS "Check/includes/EximConfig.PreserveCustomizationsHeading.html.tmpl" %]
  <ul>
    [% IF !NOTICE.is_whm %]
      [% PROCESS "Check/includes/EximConfig.WHMLoginSteps.html.tmpl" %]
    [% END %]
    <li>
      [% CPANEL.locale.maketext("Use the “[_1]” to merge your previous configuration with the new configuration settings.", 'Advanced Editor') # Not translated %]
    </li>
  </ul>
</p>
