[%#
Variables passed in:

whm_login_url           - the url for WHM logins
cpanel_version          - the cPanel version that was/is being installed.
exim_backup_path        - the path to the saved config backup
log_preview             - an arrayref of file previews
previous_config_version - The previously installed configuration version
current_config_version  - The currently installed configuration version
new_config_version      - The new configuration version
is_whm                  - True if this message is being displayed in WHM
cf_and_replacecf_paths  - an arrayref of paths to cf and replacecf
-%]

<p>
  [% CPANEL.locale.maketext("Your current configuration is not compatible with this version of [asis,cPanel] due to incompatible configuration insert or replace blocks from [list_or_quoted,_1].", NOTICE.cf_and_replacecf_paths) %]
  [% CPANEL.locale.maketext("This version of [asis,cPanel] has a critical update, and you must install it for your email server to function.") %]
</p>
<p>
    [% CPANEL.locale.maketext("To avoid any mail downtime, the system removed the custom [list_or_quoted,_1] files that contain the incompatible settings.", ["cf","replacecf"]); %]
</p>

[% PROCESS "Check/includes/EximConfig.ConfigAttached.html.tmpl" %]

<p>
 [% PROCESS "Check/includes/EximConfig.PreserveCustomizationsHeading.html.tmpl" %]
 <ul>
    <li>
      [% CPANEL.locale.maketext("Update and re-create the previous custom files in [list_or_quoted,_1].", NOTICE.cf_and_replacecf_paths) %]
    </li>
  </ul>
</p>
