<p>
[%- IF NOTICE.is_remote_mysql -%]
[% CPANEL.locale.maketext('The system was unable to authenticate to the remote [asis,MySQL]/[asis,MariaDB] server on “[_1]” from the “[_2]” server.', NOTICE.dbhost, NOTICE.hostname) %]
[%- ELSE -%]
[% CPANEL.locale.maketext('The system was unable to authenticate to the local [asis,MySQL]/[asis,MariaDB] server on “[_1]”.', NOTICE.dbhost) %]
[%- END -%]
</p>
<p>
[% CPANEL.locale.maketext('The connection driver reported the following error: [_1]',  code_inline(term=NOTICE.error)) %]
</p>
<p>
[% CPANEL.locale.maketext('You can reset the [asis,MySQL]/[asis,MariaDB] root password in [asis,WHM]’s [_1] interface at: [output,url,_2,_2,target,_3]', CPANEL.locale.maketext('MySQL Root Password'), CPANEL.assemble_whm_url("scripts2/mysqlrootpass"),'_blank') %]
</p>
