[% PROCESS "Check/includes/MysqlConnection._unable_to_auth_error.html.tmpl" %]
<p>
  [% CPANEL.locale.maketext('The system automatically reset the [asis,MySQL]/[asis,MariaDB] root password in order to restore normal operations.') %]
</p>
<p>
[%- IF NOTICE.dbpassword -%]
[% CPANEL.locale.maketext('The system restored the password to the password in “[_1]”.',  NOTICE.root_my_cnf) %]
[%- ELSE -%]
[% CPANEL.locale.maketext('The system reset the password to a random string because there was no password in “[_1]”.',  NOTICE.root_my_cnf) %]
[%- END -%]
</p>
