[%-
    SET failed_icon = CPANEL.get_icon('failed');
    SET warn_icon = CPANEL.get_icon('warn');

    IF NOTICE.overall_state.error_is('missing');
        failed_icon _ " " _ CPANEL.locale.maketext('No configured [asis,DNS] resolvers');
    ELSIF NOTICE.overall_state.error_is('failed');
        failed_icon _ " " _ CPANEL.locale.maketext('[asis,DNS] resolver failure');
    ELSIF NOTICE.overall_state.error_is('unreliable');
        warn_icon _ " " _ CPANEL.locale.maketext('Partial [asis,DNS] resolver failure');
    ELSIF NOTICE.overall_state.error_is('slow');
        warn_icon _ " " _ CPANEL.locale.maketext('[asis,DNS] resolvers respond slowly');

    END;

-%]
