[%-
    PROCESS "include/icons.tmpl";

    IF NOTICE.highest_notice_type == 8;
        get_icon(icon='error') _ " " _ CPANEL.locale.maketext('New Security Advisor notifications with High importance');
    ELSIF NOTICE.highest_notice_type == 4;
        get_icon(icon='warn') _ " " _ CPANEL.locale.maketext('New Security Advisor notifications with Medium importance');
    ELSIF NOTICE.highest_notice_type == 2;
        CPANEL.locale.maketext('New Security Advisor notifications');
    END;

-%]
