[%-
    PROCESS "include/icons.tmpl";

    get_icon(icon='warn') _ " ";

    IF NOTICE.services.size == 1;
        CPANEL.locale.maketext('The server does not currently monitor the “[_1]” service.', NOTICE.services.0.display_name);
    ELSE;
        CPANEL.locale.maketext('The server has [quant,_1,unmonitored service,unmonitored services].', NOTICE.services.size);
    END;

-%]
