[%-

PROCESS "include/icons.tmpl";

get_icon(icon='warn') _ " ";

CPANEL.locale.maketext('[_1]: [asis,AutoSSL] certificate expiry on [datetime,_2,date_format_short] [asis,UTC]', NOTICE.vhost_name, 1 + NOTICE.certificate.not_after() );

-%]
