[%
-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';
-%]

<p>[% CPANEL.locale.maketext('[asis,AutoSSL] on “[_1]” has provisioned a new certificate for your dynamic [asis,DNS] domain “[_2]”. Install this certificate onto any devices that host [asis,TLS]-secured services from that domain.', NOTICE.base_domain.html(), NOTICE.domain.html()) -%]
</p>

<p>[% CPANEL.locale.maketext('To download your new certificate and its key, go to: [output,url,_1,_1]', NOTICE.download_url) %]</p>

[% END #wrapper -%]
