::-webkit-scrollbar {
    height: 8px;
}

.end_module {
    font-weight: 900;
    font-size: 11pt;
}

.start_module_header {
    font-weight: 900;
    font-size: 11pt;
}

.start_module_container {
    font-size: 10pt;
    padding-left: 20px;
}

.start_action_header {
    font-size: 10pt;
}

.start_action_container {
    font-size: 9pt;
    padding-left: 20px;
}

.modulestatus_contents {
    font-size: 10pt;
    padding-left: 20px;
}

.modulestatus {
    padding-left: 20px;
}

.warn,
.warn_source_local {
    font-weight: 900;
    color: #b58900;
}

.source_remote {
    background-color: #ccc;
}

.warn_source_remote {
    background-color: #b58900;
}

.failed,
.error,
.modulestatus_0,
.error_source_local {
    font-weight: 900;
    color: #dc322f;
}

.error_source_remote {
    background-color: #dc322f;
}

.success,
.modulestatus_1 {
    font-weight: 900;
}

.modulestatus_2 {
    font-weight: 900;
    color: #cb4b16;
}

.summarymsg {
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
}
