/*
# cpanel - base/webmail/jupiter/banners/banner.css
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
#mainBanner {
    border-right: 2px solid #eaeaea;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    border-left: 1rem solid #169bd6;
    border-radius: 1rem;
    min-height: 70px;
    margin-bottom: 2rem;
    justify-content: space-between;
    width: 100%;
    display: table;
}

.banner .dismiss_banner {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 1.4em;
}

.banner .btn-glass {
    border: 1px solid #169bd6;
    color: #169bd6 !important;
}

#infoContainer {
    display: table-row;
}

#infoLink {
    color: #169bd6;
}

#bannerLogo {
    margin: 0 1rem 0 0;
    display: table-cell;
    vertical-align: middle;
}

#bannerPurchaseAction {
    margin: 0.5rem;
    display: table-cell;
    vertical-align: middle;
}

#bannerText {
    margin: 0.5rem;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}

#bannerTextInner {
    display: table;
    padding: 0.5rem;
    width: 100%;
}

#bannerTextInner h1 {
    display: table-row;
}

#infoText {
    display: table-cell;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin-left: 5px;
    vertical-align: middle;
}

#priceText {
    display: table-cell;
    font-weight: 100;
    font-style: italic;
    margin-left: 2rem;
    text-align: right;
    vertical-align: middle;
}

#productLogo {
    height: 3rem;
    padding-right: 2rem;
    border-right: 2px solid #eaeaea;
}

#reqText {
    width: 80%;
    margin: 0.5rem;
    white-space: normal;
}

#purchaseLink a {
    text-decoration: none;
    color: #169bd6;
}

#bannerCart,
#responsiveText {
    display: none;
}

#cartLink {
    text-decoration: none;
    color: #169bd6;
}

.banner.row {
    margin: 0px;
}

.banner .modal-content {
    border-left: 1rem solid #169bd6;
}

.banner .modal-body {
    display: table;
    width: 100%;
    height: 100%;
}

.banner .the-title {
    display: table-cell;
    font-size: 5rem;
    color: #f6c342;
    height: 100%;
    padding-right: 2rem;
    vertical-align: middle;
}

.banner .modal-stuff {
    display: table-cell;
    height: 100%;
    width: 100%;
    border-left: 2px solid #eaeaea;
    padding-right: 2rem;
    vertical-align: top;
}

.banner .shadowed {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.banner .shadowed:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#troubleModal {
    display: none;
    max-width: 1500px;
    margin: 0 0 2rem 0;
}

.banner a:link,
.banner a:visited,
.banner a:active {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    #bannerText,
    #bannerPurchaseAction {
        display: none;
    }

    #responsiveText {
        display: inline;
        padding: 0.5rem 2rem 0px 2rem;
        display: table-cell;
        vertical-align: middle;
    }

    #bannerCart {
        display: table-cell;
        vertical-align: middle;
        font-size: x-large;
    }
}
