@import "mixins.less";

.balloon {
    .gradient(#65b9d9, #4a9cbc);
    .border-radius(4px);
    padding: 20px;
    position: relative;
    font-size: 14px;
}

.thumbsup {
    background-image: url("/images/thumbsupwhite.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    color: white;
    padding-left: 40px;
    min-height: 39px;
}

.thumbsup a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.thumbsup a:hover {
    color: #778899;
}

html[dir="rtl"] .thumbsup {
    background-position: right 5px center;
    padding-left: 0;
    padding-right: 40px;
}

.balloon .arrow {
    border-color: transparent transparent #65b9d9 transparent;
    border-style: solid;
    border-width: 10px;
    display: block;
    height: 0;
    left: 20px;
    position: absolute;
    top: -20px;
    width: 0;
}

html[dir="rtl"] .balloon .arrow {
    left: auto;
    right: 20px;
}

#clusterServerDetail {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #000000;
    border: 1px solid #999999;
}

#likeThisFeature {
    padding: 5px;
    max-width: 550px;
}

span#showClusterDetail,
span#hideClusterDetail {
    color: white;
    font-weight: normal;
}

a#showClusterServerResults:hover {
    color: white;
}

#clusterServerDetail table {
    border-collapse: collapse;
}

#clusterServerDetail thead td {
    font-weight: bold;
    padding: 5px;
    border-right: 0;
    border-left: 0;
}

#clusterServerDetail thead tr {
    border-bottom: 1px solid #000000;
}

#clusterServerDetail tbody td {
    font-weight: normal;
    padding: 5px;
    border: none;
}

#clusterServerDetail tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.statusCell {
    text-align: center;
}

.messageCell {
    width: 100%;
}

.clusterDetailHidden {
    display: none;
}

.likeThisHidden {
    visibility: hidden;
}

#showHideClusterDetail {
    margin-left: 3px;
    font-weight: normal;
    color: #ffffff;
}

#showClusterResults.warning,
#showHideClusterDetail.warning {
    color: #7c6829;
}

#showClusterResults,
#updateNowBtn {
    color: #ffffff;
    text-decoration: underline;
}

#showCResults:hover,
#updateNowBtn:hover {
    color: #08c;
}

.selection-wrapper {
    margin-top: 30px;
}

.staging-dir-form {
    padding: 10px 5px;
}

.staging-dir-form label {
    display: block;
    font-weight: bold;
}

.staging-dir-form .input-group {
    display: block;
}

.staging-dir-form .input-group input,
.staging-dir-form .input-group span {
    display: inline-block;
}

.staging-dir-form .input-group input {
    display: inline-block;
    width: 400px;
    margin: 5px 0;
}

.help-block {
    display: block;
    font-weight: normal;
    line-height: 0.9;
    margin: 5px 0;
    color: #737373;
}
.label-header {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 10px 5px;
}

.selection-col {
    width: 20px;
}

.partition-info {
    margin-top: 20px;
}

.partition-info table {
    border-collapse: collapse;
    margin-top: 5px;
}

.partition-info table tbody td {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #f0f0f0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.partition-info table thead th {
    text-align: center;
    background-color: #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333333;
    white-space: nowrap;
}

.partition-info table > tbody > tr:nth-child(odd) > td {
    background-color: #ffffff;
}
