/*
# cjt2.less                                        Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import "styles/variables.less";

/* ------------------------------------------------------------------------------ */
/* toggleSortDirective Styles
/* ------------------------------------------------------------------------------ */
a.sort-link {
    color: #428bca;
    white-space: nowrap;
}

a.sort-link:hover,
a.sort-link:focus,
a.sort-link:active {
    text-decoration: none;
    color: #428bca;
}

.sort-link span {
    color: #428bca;
}

.sort-link span:hover,
.sort-link span:focus,
.sort-link span:active {
    color: #428bca;
}

.sort-link span:first-child:hover {
    text-decoration: underline;
}

.icon-arrow-up,
.icon-arrow-down {
    font-style: normal;
}

.icon-arrow-up:after {
    content: "\25B2";
    position: relative;
    bottom: 0;
    left: 0;
}

.icon-arrow-down:after {
    content: "\25BC";
    position: relative;
    top: 0;
    left: 0;
}

/* ------------------------------------------------------------------------------ */
/* displayPasswordStrengthDirective Styles
/* ------------------------------------------------------------------------------ */
ul.strength {
    display: block;
    list-style: none;
    margin: 0;
    padding: 5px;
    font-size: 0;

    .point:last-child {
        margin-right: 0 !important;
    }

    .point {
        background: #ddd;
        border-radius: 2px;
        display: inline-block;
        height: 4px;
        margin-right: 2%;
        width: 18.4%;
    }
}

ul.strength .strength-0 {
    /* Worst */
    background-color: #f00;
}

ul.strength .strength-1 {
    background-color: #f90;
}

ul.strength .strength-2 {
    background-color: #ff0;
}

ul.strength .strength-3 {
    background-color: #9f0;
}

ul.strength .strength-4 {
    /* Best */
    background-color: #0f0;
}

@import "styles/growls.less";
@import "styles/angular-toggle-switch-bootstrap.less";
@import "styles/angular-toggle-switch.less";

/* overrides to fix angular-toggle switch style */
/* doing it here to keep the angular-toggle-switch.less bootstrap files intact */

/* prevents jiggle */
.cjt2-toggle-switch {
    height: 28px;
}

.cjt2-toggle-switch .toggle-switch {
    min-width: 35px;
    vertical-align: middle;
    height: 12px;

    overflow: visible;
    border-radius: 6px;
    background-color: #0677f9;
    border: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}
.cjt2-toggle-switch .toggle-switch-animate {
    height: 100%;
}
.cjt2-toggle-switch .toggle-switch span {
    height: 100%;
}
.cjt2-toggle-switch {
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 4px 4px 20px;
    display: inline-block;
    margin-left: -20px;
}
.cjt2-toggle-switch .knob {
    position: relative;
    background: none;
    border: none;
}
.cjt2-toggle-switch.disabled {
    cursor: not-allowed;
}
.cjt2-toggle-switch.disabled:focus {
    outline: none;
}
.cjt2-toggle-switch .toggle-switch-label {
    vertical-align: middle;
}

.cjt2-toggle-switch .toggle-switch-label-left {
    margin-right: 4px;
}

.cjt2-toggle-switch .toggle-switch-label-right {
    margin-left: 4px;
}

.cjt2-toggle-switch:focus {
    outline: none;
}

.cjt2-toggle-switch:focus .knob:after {
    box-shadow: 0 0 10px #428bca;
}

.cjt2-toggle-switch.disabled .toggle-switch-label {
    opacity: 0.5;
    font-style: italic;
}
.cjt2-toggle-switch.switch-off .toggle-switch,
.cjt2-toggle-switch.switch-off .knob:after {
    background-color: #ccc;
}
.cjt2-toggle-switch .toggle-switch-updating-indicator {
    margin-left: 8px;
}
.cjt2-toggle-switch .knob:after {
    content: "";
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: #005fcc;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    z-index: 99;
    border-radius: 50%;
}
.cjt2-toggle-switch .switch-left,
.cjt2-toggle-switch .switch-right {
    background: none;
    border: none;
}

.cjt2-toggle-switch.no-label {
    min-width: 75px;
}

.cjt2-toggle-switch.disabled .toggle-switch {
    cursor: not-allowed;
    pointer-events: none;
}

/* ------------------------------------------------------------------------------ */
/*  toggle-info-label directive                                                   */
/* ------------------------------------------------------------------------------ */
.toggle-info-label-container .form-info-sign {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        box-shadow: 0 1px;
    }
}

/* ------------------------------------------------------------------------------ */
/*  minor adjustment for input field in the password field/password generator     */
/*  settings panel.                                                               */
/* ------------------------------------------------------------------------------ */
html[dir="ltr"] .form-group-length label,
html[dir="ltr"] .form-group-length input {
    margin-left: 15px;
}

html[dir="rtl"] .form-group-length label,
html[dir="rtl"] .form-group-length input {
    margin-right: 15px;
}

@import "styles/alert.less";
@import "styles/alertList.less";
@import "styles/bytesInput.less";
@import "styles/formWaiting.less";
@import "styles/quickFilters.less";
@import "styles/user-domain-list.less";
@import "styles/multi-field-editor.less";
@import "styles/terminal.less";
@import "styles/callout.less";
@import "styles/stats.less";
@import "styles/breadcrumb.less";
@import "styles/date-picker.less";
