[%
    USE JSON;

    SET is_proxy = (Whostmgr.ENV.HTTP_PROXIED == 'proxy') ? 1 : 0;
    SET app_name = 'whostmgr';
    SET path = Whostmgr.get_base_filename();
    SET parts = path.split('/');
    SET file = parts.pop();
    SET app  = '/templates/' _ parts.join('/');

    SET requirejs_url_base = '';
%]

[% PROCESS 'libraries/cjt2/cjt2_header_include.tt' %]
