    [%  SET docsurl = "https://go.cpanel.net/whmdocs";
        IF breadcrumbdata.name;
            docsurl = docsurl _ breadcrumbdata.name.remove('\W+').uri;
        ELSE;
            docsurl = docsurl _ 'Home';
        END;
    -%]
    <div id="supportMenu">
    <a id="supportMenuHeader" href="javascript:void(0)">[% locale.maketext('Support') %]</a>
    <div id="supportMenuLinksContainer">
        <a href="https://go.cpanel.net/AllFAQ" target="_top">[% locale.maketext('[asis,cPanel] [output,amp] WHM FAQ') %]</a>
        <a href="http://forums.cpanel.net" target="_top">[% locale.maketext('Support Forums') %]</a>
        <a href="[% docsurl ~%]" tabindex="-1" target="_blank" id="docs-menu-item">[% locale.maketext('Documentation') %]</a>
        <a href="[% cp_security_token %]/scripts7/create_support_ticket">[% locale.maketext('Contact cPanel') %]</a>
    </div>
</div>
