/*
# cpanel - base/webmail/jupiter/css/calendar_ie678.css
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* As noted in IE9 bug 652599 (FB 48119), filter directives on table cells
   will clobber the cell border, even filter:none etc.
   The workaround is to put the cell contents into a liner div and apply the
   gradient to that div. Also noted in YUI 2 issue #2529320.
*/
.yui-skin-sam .yui-calendar td.calcell div.calcell-liner {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', endColorStr='#f4f4f4');
    zoom: 1; /* force hasLayout */
    padding: 1px;
}

.yui-skin-sam .yui-calendar td.calcell {
    padding: 0;
}

.yui-skin-sam .yui-calendar td.oom div.calcell-liner {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ececec', endColorStr='#cccccc');
    zoom: 1; /* force hasLayout */
}
