/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/api_tokens/index.less
                                                   Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/*
# label.less                                         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* ------------------------------------------------------------------------------ */
/* Callouts
/* ------------------------------------------------------------------------------ */
.label,
.badge {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.4px;
  font-weight: 600;
}
.label-danger {
  background-color: #d03f00;
}
.label-success {
  background-color: #83b655;
}
.label-warning {
  background-color: #f6c342;
}
.label-info {
  background-color: #179bd7;
}
.badge-danger {
  background-color: #d03f00;
}
.badge-success {
  background-color: #83b655;
}
.badge-warning {
  background-color: #f6c342;
}
.badge-info {
  background-color: #179bd7;
}
.navigation-control {
  margin-bottom: 10px;
}
.validation-container {
  margin-bottom: 0;
}
html[dir="rtl"] th.gear-column {
  text-align: left;
}
html[dir="ltr"] th.gear-column {
  text-align: right;
}
.alert-message {
  word-break: break-all;
}
.gear-menu {
  border: 1px solid silver;
  min-width: 54px;
}
.modal-header {
  background-color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  text-overflow: ellipsis;
}
.modal-header h4 {
  margin: 0;
  padding: 0;
}
.modal-footer {
  padding: 10px;
}
html[dir="rtl"] .modal-footer {
  text-align: left;
}
.modal-dialog {
  max-width: 500px;
}
.modal-body {
  padding: 10px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.top-item-added {
  margin-top: 0;
}
html[dir="rtl"] .text-right.flip {
  text-align: left;
}
html[dir="rtl"] .text-left.flip {
  text-align: right;
}
.animated {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.gear-menu-item.disabled {
  color: #333333;
  cursor: not-allowed;
  opacity: 0.65;
}
.gear-menu-item.disabled a {
  pointer-events: none;
}
.acl-warning-icon {
  color: #f6c342;
  cursor: pointer;
}
.acl-warning {
  margin-top: 4px;
}
.acl-warning-message {
  word-break: normal;
}
div.has-error #expiresDate input:first-child[type="text"] {
  border-color: #a94442;
}
/* Shamlessly lifted from animate.css (https://daneden.github.io/animate.css/) */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
html[dir="ltr"] .item-added-notice.ng-hide-remove {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
html[dir="ltr"] .item-added-notice.ng-hide-add {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}
html[dir="rtl"] .item-added-notice.ng-hide-remove {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
html[dir="rtl"] .item-added-notice.ng-hide-add {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}
/* Extra specificity here to override responsive-table styles */
td.checkbox-column {
  display: none;
}
#generateToken {
  width: 100%;
  margin-top: 8px;
}
.responsive-table > tbody > tr > td.gear-column {
  visibility: hidden;
  display: none;
}
html[dir="ltr"] td.actions-column button:first-child {
  padding-left: 0;
}
html[dir="rtl"] td.actions-column button:first-child {
  padding-right: 0;
}
@media (min-width: 801px) {
  td.checkbox-column {
    display: table-cell;
  }
  .responsive-table > tbody > tr > td.gear-column {
    visibility: visible;
    display: table-cell;
  }
  html[dir="ltr"] .actions-column-header {
    padding-left: 22px;
  }
  html[dir="rtl"] .actions-column-header {
    padding-right: 22px;
  }
}
@media (min-width: 768px) {
  #generateToken {
    width: auto;
    margin-top: 0;
  }
}
.label-packageprivileges {
  background-color: #5bc0de;
  background-color: #179bd7;
}
.label-packageprivileges[href]:hover,
.label-packageprivileges[href]:focus {
  background-color: #31b0d5;
}
.label-standardprivileges {
  background-color: #5cb85c;
  background-color: #83b655;
}
.label-standardprivileges[href]:hover,
.label-standardprivileges[href]:focus {
  background-color: #449d44;
}
.label-globalprivileges {
  background-color: #ff6c2c;
}
.label-globalprivileges[href]:hover,
.label-globalprivileges[href]:focus {
  background-color: #f84b00;
}
.label-superprivileges {
  background-color: #293a4a;
}
.label-superprivileges[href]:hover,
.label-superprivileges[href]:focus {
  background-color: #172029;
}
.label-rootaccess {
  background-color: #d9534f;
  background-color: #d03f00;
}
.label-rootaccess[href]:hover,
.label-rootaccess[href]:focus {
  background-color: #c9302c;
}
.label-additionalsoftware {
  background-color: #999999;
}
.label-additionalsoftware[href]:hover,
.label-additionalsoftware[href]:focus {
  background-color: #808080;
}
.label-basicprivileges {
  background-color: #999999;
}
.label-basicprivileges[href]:hover,
.label-basicprivileges[href]:focus {
  background-color: #808080;
}
.acl-info {
  margin: 10px 0;
  padding: 10px;
}
.bullet::before {
  content: "•";
  padding-right: 10px;
  font-weight: bold;
  font-size: larger;
}
.ip-column-cells {
  max-height: 100px;
  overflow-y: auto;
}
.ip-cidr-examples-title {
  margin-bottom: 10px;
  margin-top: 10px;
}
.ip-cidr-examples {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}
#whitelistIps {
  height: 6.5em;
}
