/*
# cpanel - whostmgr/docroot/templates/api_tokens/index.less
                                                   Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import (reference) "bootstrap/source/less/variables.less";
@import (reference) "bootstrap/source/less/mixins.less";
@import (reference) "bootstrap/source/less/labels.less";
@import (reference)
    "/usr/local/cpanel/share/libraries/base_styles/src/variables.less";
@import "/usr/local/cpanel/share/libraries/base_styles/src/label.less";

.navigation-control {
    margin-bottom: 10px;
}

.validation-container {
    margin-bottom: 0;
}

html[dir="rtl"] th.gear-column {
    text-align: left;
}

html[dir="ltr"] th.gear-column {
    text-align: right;
}

.alert-message {
    word-break: break-all;
}

.gear-menu {
    border: 1px solid silver;
    min-width: 54px;
}

.modal-header {
    background-color: #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    text-overflow: ellipsis;
}
.modal-header h4 {
    margin: 0;
    padding: 0;
}
.modal-footer {
    padding: 10px;
}

html[dir="rtl"] .modal-footer {
    text-align: left;
}

.modal-dialog {
    max-width: 500px;
}
.modal-body {
    padding: 10px;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.top-item-added {
    margin-top: 0;
}

html[dir="rtl"] .text-right.flip {
    text-align: left;
}

html[dir="rtl"] .text-left.flip {
    text-align: right;
}

.animated {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.gear-menu-item.disabled {
    color: #333333;
    cursor: not-allowed;
    opacity: 0.65;
}

.gear-menu-item.disabled a {
    pointer-events: none;
}

.acl-warning-icon {
    color: @warning-border;
    cursor: pointer;
}

.acl-warning {
    margin-top: 4px;
}

.acl-warning-message {
    word-break: normal;
}

div.has-error #expiresDate input:first-child[type="text"] {
    border-color: @validation-container-border;
}

/* Shamlessly lifted from animate.css (https://daneden.github.io/animate.css/) */
@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

html[dir="ltr"] .item-added-notice.ng-hide-remove {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

html[dir="ltr"] .item-added-notice.ng-hide-add {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

html[dir="rtl"] .item-added-notice.ng-hide-remove {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

html[dir="rtl"] .item-added-notice.ng-hide-add {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

/* Extra specificity here to override responsive-table styles */
td.checkbox-column {
    display: none;
}

#generateToken {
    width: 100%;
    margin-top: 8px;
}

.responsive-table > tbody > tr > td.gear-column {
    visibility: hidden;
    display: none;
}

html[dir="ltr"] td.actions-column button:first-child {
    padding-left: 0;
}

html[dir="rtl"] td.actions-column button:first-child {
    padding-right: 0;
}

@media (min-width: 801px) {
    td.checkbox-column {
        display: table-cell;
    }

    .responsive-table > tbody > tr > td.gear-column {
        visibility: visible;
        display: table-cell;
    }

    html[dir="ltr"] .actions-column-header {
        padding-left: 22px;
    }

    html[dir="rtl"] .actions-column-header {
        padding-right: 22px;
    }
}

@media (min-width: @screen-sm-min) {
    #generateToken {
        width: auto;
        margin-top: 0;
    }
}

.label-packageprivileges {
    .label-info;
}

.label-standardprivileges {
    .label-success;
}

.label-globalprivileges {
    .label-variant(@cpanel-orange);
}

.label-superprivileges {
    .label-variant(@cpanel-dark-blue-gray);
}

.label-rootaccess {
    .label-danger;
}

.label-additionalsoftware {
    .label-default;
}

.label-basicprivileges {
    .label-default;
}

.acl-info {
    margin: 10px 0;
    padding: 10px;
}

.bullet::before {
    content: "•";
    padding-right: 10px;
    font-weight: bold;
    font-size: larger;
}

.ip-column-cells {
    max-height: 100px;
    overflow-y: auto;
}

.ip-cidr-examples-title {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ip-cidr-examples {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
}

#whitelistIps {
    height: 6.5em;
}
