/*
# cpanel - base/frontend/jupiter/tools/dashboard.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/*
# variables.less                                     Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
/* ------------------------------------------------------------------------------ */
/* Global
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Icons
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Sections
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Validation
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Alert/callouts/status
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Panels
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Buttons
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Links
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Table
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Promotions
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* Responsive Breakpoints
/* ------------------------------------------------------------------------------ */
body[data-app-key="tools"] #boxes .panel-heading .group-header {
  font-weight: 600;font-size: 16px;
}
body[data-app-key="tools"] #boxes .panel-heading {
  padding: 15px;line-height: 18px;
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-icon {
  margin-right: 8px;
}
body[data-app-key="tools"] #boxes .itemImageWrapper {
  margin-right: 10px;
}
#stats a {
  color: #365aa2;
}
#stats a:hover {
  color: #2d5ef2;
}
#stats .panel-widget .widget-heading {
  background-color: #ffffff;
  color: #0a2540;
  border: none;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  padding: 22px 22px 10px 22px;
}
html[dir="rtl"] #stats .panel-widget .widget-heading {
  padding: 22px 22px 10px 22px;
}
#stats .panel-widget td {
  padding: 8px 24px;
}
#stats .panel-widget td .general-info-label {
  font-size: 12px;
  color: #586376;
}
#stats .panel-widget td .general-info-value {
  font-size: 14px;
}
#stats .panel-widget .app-stat-data .ssl-error-icon {
  color: #f1c40f;
  font-size: 18px;
}
#stats .panel-widget .app-stat-data .ssl-link-container {
  display: flex;
  justify-content: center;
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container {
  padding-right: 8px;
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container {
  padding-left: 8px;
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button {
  background-color: #e7ecfc;
  color: #365aa2;
  border: 1px solid #365aa2;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  margin: 9px 0 6px 0;
  padding: 6px;
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button:hover {
  text-decoration: none;
  color: #3264fc;
  border: 1px solid #2d5ef2;
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i {
  margin-right: 3px;
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i {
  margin-left: 3px;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child :hover {
  background-color: #f7f9fc;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td {
  padding: 0;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a {
  display: block;
  padding: 16px 24px 16px 24px;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  float: right;
  color: #8f9bb3;
}
html[dir="rtl"] #stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  float: left;
}
#stats #statsSection .app-name {
  color: #586376;
  font-size: 12px;
  font-weight: 600;
}
#stats #statsSection .warning > .app-stat-data,
#stats #statsSection .info > .app-stat-data,
#stats #statsSection .success > .app-stat-data,
#stats #statsSection .danger > .app-stat-data {
  background-color: transparent;
  box-shadow: none;
}
#stats #statsSection .limits-wrapper {
  display: flex;
}
html[dir="ltr"] #stats #statsSection .limits-wrapper {
  margin-right: 4px;
}
html[dir="rtl"] #stats #statsSection .limits-wrapper {
  margin-left: 4px;
}
#stats #statsSection .limits-data {
  flex: 1;
  font-size: 14px;
}
#stats #statsSection .stats-fix-icon {
  font-size: 25px;
  margin-top: -20px;
  display: block;
}
#stats #statsSection .stats-fix-icon.danger {
  color: #e74c3c;
}
#stats #statsSection .stats-fix-icon.warning {
  color: #f1c40f;
}
#stats #statsSection .error-wrapper {
  display: flex;
}
#stats #statsSection .error-name {
  flex: 1;
}
#stats #statsSection .stats-error-icon {
  font-size: 25px;
  color: #e74c3c;
  margin-top: -7px;
}
#stats #statsSection .link-button {
  background-color: #e7ecfc;
  color: #365aa2;
  border: 1px solid #365aa2;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  margin: 9px 0 6px 0;
  padding: 6px;
}
#stats #statsSection .link-button:hover {
  text-decoration: none;
  color: #3264fc;
  border: 1px solid #2d5ef2;
}
body[data-app-key="tools"] #boxes {
  /**
         * These sizes help keep text left (or right) aligned by taking the original indentation size
         * for the group header text from Basic, before the group images were added, and adding the
         * space allocated to the new group images and subtracting any padding on the text links.
         */
  margin-top: -10px;
}
body[data-app-key="tools"] #boxes .panel {
  background: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(10, 37, 64, 0.05);
  transition: box-shadow 0.5s;
}
body[data-app-key="tools"] #boxes .panel:hover {
  box-shadow: 0 3px 10px rgba(10, 37, 64, 0.25);
}
body[data-app-key="tools"] #boxes .icon-container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
@media (min-width: 576px) and (min-height: 576px) {
  body[data-app-key="tools"] #boxes .icon-container-body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 15px 5px 15px;
  }
}
body[data-app-key="tools"] #boxes .item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #e4e9f2;
  padding: 5px 15px;
}
@media (min-width: 576px) and (min-height: 576px) {
  body[data-app-key="tools"] #boxes .item {
    padding: 0;
    min-height: 3em;
    width: 250px;
    border-top: none;
    margin-bottom: 10px;
  }
}
body[data-app-key="tools"] #boxes .item:hover,
body[data-app-key="tools"] #boxes .item:active,
body[data-app-key="tools"] #boxes .item:focus {
  color: #2d5ef2;
}
body[data-app-key="tools"] #boxes .item:hover,
body[data-app-key="tools"] #boxes .item:active,
body[data-app-key="tools"] #boxes .item:focus {
  background: #f7f9fc;
}
@media (min-width: 576px) and (min-height: 576px) {
  body[data-app-key="tools"] #boxes .item:hover,
  body[data-app-key="tools"] #boxes .item:active,
  body[data-app-key="tools"] #boxes .item:focus {
    background: none;
  }
}
body[data-app-key="tools"] #boxes .itemImageWrapper {
  display: inline-flex;
  flex-shrink: 0;
  height: 48px;
  width: 48px;
  align-items: center;
}
html[dir="rtl"] body[data-app-key="tools"] #boxes .itemImageWrapper {
  margin-right: 0px;
  margin-left: 10px;
}
body[data-app-key="tools"] #boxes .itemTextWrapper {
  color: #365aa2;
}
body[data-app-key="tools"] #boxes .panel-heading {
  text-transform: none;
  border: none;
  border-radius: inherit;
  background: #ffffff;
  color: #0a2540;
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-icon {
  display: inline-block;
  vertical-align: middle;
}
html[dir="rtl"] body[data-app-key="tools"] #boxes .panel-heading .group-header-icon {
  margin-left: 8px;
  margin-right: 0;
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-title {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-indicator {
  display: inline-block;
  vertical-align: middle;
  color: #8f9bb3;
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-indicator.fa-minus:before {
  content: "\f077";
}
body[data-app-key="tools"] #boxes .panel-heading .group-header-indicator.fa-plus:before {
  content: "\f078";
}
@media (min-width: 576px) and (min-height: 576px) {
  body[data-app-key="tools"] #boxes .panel-body {
    border-top: 1px solid #e4e9f2;
  }
}
body[data-app-key="tools"] [class^="ri-"]:before,
body[data-app-key="tools"] [class*=" ri-"]:before {
  vertical-align: middle;
}
.panel-widget {
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  height: auto;
  border: none;
  margin-bottom: 15px;
  display: table;
  width: 100%;
  max-width: 100%;
}
.widget-heading {
  border: 1px solid #293a4a;
  background-color: rgba(41, 58, 74, 0.95);
  color: #ffffff;
  text-transform: uppercase;
}
.widget-heading .close {
  color: #ffffff;
  opacity: 1;
}
.widget-draggable {
  cursor: move;
}
.group-header-indicator {
  cursor: pointer;
  padding: 10px 20px;
}
html[dir="ltr"] .group-header-indicator {
  margin-right: -16px;
}
html[dir="rtl"] .group-header-indicator {
  margin-left: -16px;
}
html[dir="rtl"] .pull-right {
  float: left !important;
}
/* Notifications */
.alert-list {
  margin: 0;
  padding: 0;
  width: 100%;
}
.alert-item {
  padding: 0 8px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  float: left;
  zoom: 1;
  *display: inline;
}
html[dir="rtl"] .alert-item {
  float: right;
}
@media (max-width: 767px) {
  .alert-item {
    width: 100%;
    padding: 0 8px;
  }
}
/* Sea of icons widgets & Quick links */
.drag {
  opacity: 0.5;
}
.drag + .drag-over,
#content .drag-hidden {
  margin: 0;
  height: 0;
  outline-style: none;
}
.drag-over {
  outline-style: dashed;
  height: 80px;
  margin: 10px 0;
}
.drop-area {
  padding: 5px 0;
}
.icon-menu-section {
  margin-bottom: 5px;
}
@keyframes minimize {
  0% {
    max-height: 75000px;
  }
  1% {
    max-height: 1000px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes maximize {
  0% {
    max-height: 0;
  }
  99% {
    max-height: 1000px;
  }
  100% {
    max-height: 75000px;
  }
}
.panel-body.minimized {
  max-height: 0;
}
.panel-body.minimize {
  animation: minimize 0.4s;
}
.panel-body {
  padding: 15px;
  overflow: hidden;
}
.widget-collapsible {
  max-height: 75000px;
  padding: 0;
}
.widget-collapsible.maximize {
  animation: maximize 1.4s;
}
/* Stats */
@media (min-width: 992px) {
  html[dir="ltr"] #stats {
    padding-left: 0;
  }
  html[dir="rtl"] #stats {
    padding-right: 0;
  }
}
.app-name {
  text-transform: capitalize;
  padding: 0 0 5px 0;
  display: block;
  word-break: break-all;
}
.general-info-label {
  text-transform: capitalize;
  display: block;
}
.general-info-value {
  display: block;
}
.nginx-caching-info > button {
  margin: 10px 0 5px 0;
}
.progress {
  margin: 5px 0 5px 0;
}
.progress-bar-disabled {
  background-color: #b2b2b2;
}
.progress {
  height: 4px;
  border-radius: 0;
  box-shadow: none;
  background: #c8c8c8;
}
.progress .progress-bar {
  box-shadow: none;
}
.warning .app-stat-upgrade .fa-exclamation-triangle {
  color: #8a6d3b;
}
.danger .app-stat-upgrade .fa-exclamation-triangle {
  color: #a94442;
}
#sslStatusToolTip {
  text-transform: none;
}
.success .progress-bar {
  background-color: #5cb85c;
}
.info .progress-bar {
  background-color: #5bc0de;
}
.warning .progress-bar {
  background-color: #f0ad4e;
}
.danger .progress-bar {
  background-color: #d9534f;
}
#domainNameRow .general-info-value {
  word-break: break-all;
}
#domainNameRow td,
#statsSection tr.success.app-stat-row > td,
#statsSection tr.info.app-stat-row > td {
  box-shadow: none;
}
#domainNameRow td,
#statsSection tr.success td,
#statsSection tr.info td {
  background: none;
}
#domainNameRow .app-stat-upgrade,
#statsSection .app-stat-upgrade {
  width: 50px;
  padding: 0;
  line-height: 75px;
  text-align: center;
}
html[dir="ltr"] #statsSection .stats-parenthetical-percentage {
  display: inline-block;
  padding-left: 0.5em;
}
html[dir="rtl"] #statsSection .stats-parenthetical-percentage {
  display: inline-block;
  padding-right: 0.5em;
}
.app-stat-upgrade a {
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #428bca;
}
.warning > .app-stat-upgrade a i,
.danger > .app-stat-upgrade a i {
  vertical-align: middle;
}
.warning > .app-stat-upgrade a,
.danger > .app-stat-upgrade a {
  display: inline-block;
}
.updating-elements {
  display: inline-block;
}
/* styles specific to change style banner */
.change-style-alert .glyphicon {
  top: 16px;
}
.change-style-alert .btn-link-primary {
  font-weight: bold;
}
.change-style-alert .flex-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .change-style-alert .flex-box {
    flex-direction: row;
  }
}
.change-style-alert .btn-link {
  text-decoration: none;
}
.change-style-alert .btn-link:hover span,
.change-style-alert .btn-link:active span,
.change-style-alert .btn-link:focus span {
  text-decoration: underline;
}
.change-style-alert .close {
  top: -8px;
}
.long-text-fade-overflow {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.long-text-fade-overflow::before {
  content: "";
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(transparent -10px, white);
}
html[dir="rtl"] .long-text-fade-overflow::before {
  left: 0;
  right: auto;
}
.long-text-fade-overflow:hover {
  overflow: visible;
  text-decoration: underline;
}
.long-text-fade-overflow:hover::before {
  background: none;
}
.uuid-copy-container {
  color: #365aa2;
}
.uuid-copy-container:hover {
  color: #2d5ef2;
  cursor: pointer;
}
.gen-info__title_row {
  position: relative;
}
.gen-info__details-title {
  width: 50%;
  display: inline-block;
}
.copy-msg-container {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
}
html[dir="rtl"] .copy-msg-container {
  left: 10px;
  right: auto;
}
.show-copy-success {
  display: inline-block;
  -moz-animation: animateFadeOut 0s ease-in 3s forwards;
  /* Firefox */
  -webkit-animation: animateFadeOut 0s ease-in 3s forwards;
  /* Safari and Chrome */
  -o-animation: animateFadeOut 0s ease-in 3s forwards;
  /* Opera */
  animation: animateFadeOut 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  animation-duration: 0.35s;
}
@keyframes animateFadeOut {
  from {
    opacity: 1;
    display: inline-block;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes animateFadeOut {
  from {
    opacity: 1;
    display: inline-block;
  }
  to {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
  }
}
