/*
# cpanel - whostmgr/docroot/css/_gentweakpage.css  Copyright 2023 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
div.yui_tabview_scroll_tabs {
    position: relative; /* IE7 */
    overflow: hidden;
    white-space: nowrap;
}
div.yui_tabview_scroll_tabs ul.yui-nav {
    position: relative;
    border-bottom-width: 0 !important;
}
.scroll_button {
    background-color: #7697f0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 11px;
    padding: 0.35em 0.5em;
    height: auto;
    color: #ffffff;
    cursor: pointer;
    box-sizing: content-box;
}
.scroll_button:hover {
    background-color: #5677d0;
}
div.scroll_button.scrolling,
.scroll_button.scrolling:hover {
    background-color: #3657b0;
}
div.scroll_button.inactive {
    background-color: buttonface;
    color: graytext;
    cursor: default;
}
div.scroll_button.inactive:hover {
    background-color: buttonface;
}
div.scroll_button.hidden {
    visibility: hidden;
}

#left_scroll_button {
    float: left;
    margin: 1px 0.16em 0 0;
    height: 18px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}
#right_scroll_button {
    float: right;
    height: 18px;
    margin: 1px 0 0 0.16em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

#scrolling_tabs li.last {
    margin-right: 0 !important;
}

#alltweaks {
    clear: both;
    padding: 0;
}

div.help {
    margin: 12px 40px;
    float: none;
}

.changed_setting {
    width: 25px;
    height: 25px;
    background-image: url("/images/warning.png");
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
}

tr.disabled .changed_setting {
    background-image: none;
}

#alltweaks table.datatable.brick {
    width: 100%; /* override table.brick { width: 97% } from style_optimized.css */
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning {
    background-color: #fcf8e1;
    border: 1px solid #f1c40f;
}

*,
*::before,
*::after {
    box-sizing: content-box;
}
