.button-group button,
.input-button,
.create-button {
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#598FFF",
            endColorstr="#5388F2",
            GradientType=0
        ); /* IE6-8 */
    -cp-background-image: linear-gradient(#598fff, #5388f2);
    background-size: 100% 100%;
    behavior: url(/cjt/ie9gradients.htc);
}

.button-group button:active,
.input-button:active,
.create-button:active {
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#5388F2",
            endColorstr="#598FFF",
            GradientType=0
        ); /* IE6-8 */
    -cp-background-image: linear-gradient(bottom, #598fff, #5388f2);
}

.button-group button:not(old_ie),
.input-button:not(old_ie),
.create-button:not(old_ie) {
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
}
