/* ---- BEGIN WHM CANCELLATIONS OF GLOBAL STYLES ---- */
.yui-skin-sam .ssl-table-area .yui-dt > table > thead > tr > th {
    background: #e5e5e5 !important;
    border-right: none;
}

.ssl-table-area {
    margin-top: 20px;

    .yui-dt {
        border: 1px solid #ccc;

        /* Override styles */
        & tbody.yui-dt-data tr.yui-dt-rec td {
            vertical-align: inherit;

            &.yui-dt-col-certificate_modulus_length {
                text-align: center;
            }
        }
    }
    .sortable {
        padding: 0;
    }
}
/* ---- END WHM CANCELLATIONS OF GLOBAL STYLES ---- */
