/* ------------------------------------------------------------------------------ */
/* Notice Styles
/* ------------------------------------------------------------------------------ */
.cjt-pagenotice-container .bd {
    background: none no-repeat scroll 0 0 transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}
html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    background-position: 9px center;
    text-align: left;
}
html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
    background-position: 99% center;
    text-align: right;
}
.cjt-pagenotice-container .cjt-notice-content {
    font-size: 15px;
}

.cjt-dynamic-pagenotice a:link,
.cjt-dynamic-pagenotice a:active,
.cjt-dynamic-pagenotice a:visited {
    text-decoration: underline;
    color: #ffffff;
}

.cjt-pagenotice-container .cjt-notice .bd a:hover {
    text-decoration: none;
}
.cjt-notice-error .bd {
    background-color: #dd5952;
    background-image: url(/images/notice-error.png);
    border: 1px solid #990000;
}
.cjt-notice-error .close {
    text-shadow: 0 1px 0 #990000;
}
.cjt-notice-success .bd {
    background-color: #6cbd58;
    background-image: url(/images/notice-success.png);
    border: 1px solid #006600;
}
.cjt-notice-success .close {
    text-shadow: 0 1px 0 #006600;
}
.cjt-notice-info .bd {
    background-color: #65b9d9;
    background-image: url(/images/notice-info.png);
    border: 1px solid #3c829e;
}
.cjt-notice-info .close {
    text-shadow: 0 1px 0 #3c829e;
}
.cjt-notice-warn .bd {
    background-color: #f6c167;
    background-image: url(/images/notice-warning.png);
    border: 1px solid #da961f;
}
.cjt-notice-warn .close {
    text-shadow: 0 1px 0 #da961f;
}
.cjt-notice-closable {
    cursor: pointer;
}
.cjt-pagenotice-container .close {
    color: #ffffff;
    cursor: pointer;
    font-size: 28px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    -webkit-opacity: 0.2;
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}
.cjt-pagenotice-container .close:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.cjt-dynamic-pagenotice-close-button,
.cjt-dynamic-pagenotice-close-button:link,
.cjt-dynamic-pagenotice-close-button:visited {
    border-radius: 18px;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    color: inherit;
    width: 18px;
    height: 18px;
}
.cjt-dynamic-pagenotice-close-button:hover,
.cjt-dynamic-pagenotice-close-button:focus {
    background-color: rgba(255, 255, 255, 0.65);
    border-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover,
html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:focus {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cjt-notice-error .cjt-dynamic-pagenotice-close-button:hover,
.cjt-notice-error .cjt-dynamic-pagenotice-close-button:focus {
    color: #dd5952;
}

.cjt-notice-warn .cjt-dynamic-pagenotice-close-button:focus,
.cjt-notice-warn .cjt-dynamic-pagenotice-close-button:focus {
    color: #f6c167;
}

.cjt-notice-success .cjt-dynamic-pagenotice-close-button:hover,
.cjt-notice-success .cjt-dynamic-pagenotice-close-button:focus {
    color: #6cbd58;
}

.cjt-dynamic-pagenotice-close-link:link,
.cjt-dynamic-pagenotice-close-link:active,
.cjt-dynamic-pagenotice-close-link:visited {
    text-decoration: none;
}

.cjt-dynamic-pagenotice-close-link:hover,
.cjt-dynamic-pagenotice-close-link:focus {
    text-decoration: underline;
}

.cjt-notice-content {
    background-repeat: no-repeat;
    min-height: 14px;
    overflow: hidden;
}

.cjt-dynamic-pagenotice {
    position: relative;
}

.cjt-pagenotice-container .cjt-notice {
    margin-bottom: 18px;
}
html[dir="ltr"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 9px 45px 9px 45px;
}
html[dir="rtl"] .cjt-pagenotice-container .cjt-notice .bd {
    padding: 9px 45px 9px 45px;
}
.cjt-pagenotice-container .cjt-notice-content ul {
    margin-bottom: 0;
}

.cjt-dynamic-pagenotice {
    position: relative;
}

.cjt-dynamic-pagenotice-close-button,
.cjt-dynamic-pagenotice-close-button:link,
.cjt-dynamic-pagenotice-close-button:visited {
    position: absolute;
    top: 5px;
    right: 5px;
}

.cjt-dynamic-pagenotice-close-button:hover:active {
    box-shadow: none;
    top: 6px;
    right: 4px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button {
    left: 5px;
    right: auto;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-button:hover:active {
    left: 4px;
    right: auto;
}

.cjt-dynamic-pagenotice-close-link {
    display: inline-block;
    position: absolute;
    bottom: 2px;
    font-size: 8px;
}

html[dir="ltr"] .cjt-dynamic-pagenotice-close-link {
    right: 6px;
}

html[dir="rtl"] .cjt-dynamic-pagenotice-close-link {
    left: 6px;
}
