[%#
Variables passed in:

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%
    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl';

    NOTICE.email_reason = CPANEL.locale.maketext('New addon domain.');
%]

    <p>
        [%
            CPANEL.locale.maketext('The user “[_1]” added the addon domain: “[_2]”', NOTICE.user, NOTICE.new_addon_domain);
        %]
    </p>

[% END %]
