[%#
Variables passed in:

current_version - the current version of MySQL on the remote server

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%

    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";
    WRAPPER 'wrapper/main.html.tmpl'
        NOTICE.email_reason = CPANEL.locale.maketext("You must upgrade the [asis,MySQL] version on your remote [asis,MySQL] server.");

-%]
<p>
    [% CPANEL.locale.maketext("The version of [asis,MySQL] on your remote [asis,MySQL] server, [_1], is no longer supported. You must upgrade to one of the following options:", NOTICE.current_version); %]
    <ul>
        <li>MySQL 5.6</li>
        <li>MySQL 5.7</li>
        <li>MariaDB 10.0</li>
        <li>MariaDB 10.1</li>
        <li>MariaDB 10.2</li>
        <li>MariaDB 10.3</li>
    </ul>
</p>
<p>
    [% CPANEL.locale.maketext("If you do not upgrade your remote server, you may experience failures with the [asis,cPanel] integration.") -%]
</p>

[% END %]
