[%#
Variables passed in:

sbin_path            - the path to sbin
third_party_bin_path - the path to the cpanel 3rdparty bin
origin               - the system component from which the request originated

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]
[%

    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl'
        NOTICE.email_reason = CPANEL.locale.maketext("The [asis,clamavconnector] plugin is now an [asis,RPM] on “[_1]”." , NOTICE.host_server)

-%]

<p>
    [% CPANEL.locale.maketext("[asis,cPanel] [output,amp] [asis,WHM] now includes ”[asis,ClamAV Scanner]” as an [asis,RPM]. This upgrade has appended “[asis,.old]” to the names of the binaries in the “[_1]” directory. The system will replace them with a symlink to the new binaries in the “[_2]” directory." , NOTICE.sbin_path, NOTICE.third_party_bin_path) -%]
</p>
[% END %]
