[%#
Variables passed in:

None

For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%

    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl'
        NOTICE.email_reason = CPANEL.locale.maketext("The system repaired the [asis,cPHulk] configuration.");

-%]
<p>
    [% CPANEL.locale.maketext("The configured value for “[_1]” was less than the configured value for “[_2]”. In order for [asis,cPHulk] to properly block brute force attempts, “[_1]” must be greater than or equal to “[_2]”.", "mark_as_brute", "max_failures_byip") -%]
</p>
<p>
    [% CPANEL.locale.maketext("The system updated the “[_1]” value to equal the value configured for “[_2]”.", "mark_as_brute", "max_failures_byip") -%]
</p>

[% END %]
