[%#
Variables passed in:

package_source      - the name of the renamed file source
package_destination - the name of the renamed file destination


For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates

-%]

[%

    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl'
        NOTICE.email_reason = CPANEL.locale.maketext("The system has renamed the file “[_1]” to “[_2]”.",NOTICE.package_source,NOTICE.package_destination);

-%]
<p>
    [% CPANEL.locale.maketext("The package “[_1]” conflicts with this version of [asis,cPanel] [output,amp] [asis,WHM]. The system renamed the file “[_1]” to “[_2]”.", NOTICE.package_source, NOTICE.package_destination) -%]
</p>
<p>
    [% CPANEL.locale.maketext("The system will update all accounts that use the extension package to use the new filename.") -%]
</p>

[% END %]
