[%#
Variables passed in:

old_nameserver - the name of the name server being replaced
new_nameserver - the name of the name server being installed


For more information about how to customize notification templates, read our documentation at https://go.cpanel.net/notificationtemplates.

-%]

[%

    PROCESS "include/colors.tmpl";
    PROCESS "include/styles.tmpl";

    WRAPPER 'wrapper/main.html.tmpl'
        NOTICE.email_reason = CPANEL.locale.maketext("The system is switching from “[_1]” to “[_2]”.", NOTICE.old_nameserver, NOTICE.new_nameserver);

-%]
<p>
    [% CPANEL.locale.maketext("Your server is currently using the deprecated “[_1]” nameserver. The system will update it to “[_2]”.", NOTICE.old_nameserver, NOTICE.new_nameserver) -%]
</p>

[% END %]
