/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
/*
# cpanel - whostmgr/docroot/templates/transfer_tool/getacctlist.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/
.table-action-button-label:focus {
  background-color: #d4d4d4;color: #333333;
}
.table-action-button-label:hover {
  color: #333333;background-color: #d4d4d4;box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.1);border: 1px solid #bbbbbb;
}
.info-block {
  margin: 0 0 5px 0;
}
label {
  margin: 0 0 5px 0;
}
.help-block {
  margin-top: 3px;
  font-size: 13px;
}
.validation-container {
  margin-top: 5px;
}
a.list-group-item {
  color: #428bca;
  cursor: pointer;
}
.form-group {
  margin-bottom: 25px;
}
.toggle-switch-label {
  font-style: italic;
  font-weight: bold;
}
.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}
input.ng-invalid.ng-dirty {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.widget {
  padding: 0 10px 10px 10px;
  border-top: 2px solid #474747;
  margin-bottom: 40px;
}
.widget ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.widget li {
  margin-bottom: 12px;
  line-height: 1.5;
}
.form-section {
  margin: 50px 0;
}
.form-section-last {
  margin-bottom: 0;
}
h4.widget-title {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 2px solid #ddd;
  /* #474747;*/
}
h2.widget-title {
  margin-top: 0;
  margin-bottom: 0;
}
.storage-details {
  margin-top: 5px;
}
.widget-title {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 600;
}
html[dir="rtl"] .widget-title {
  text-align: right;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-20 {
  margin-top: 20px;
}
/* We used to display button text in ALLCAPS, so some localized phrases
may be improperly formatted (since the styling made it unimportant to have
proper Title Case). This ensures that any such phrases will continue to
display correctly. */
.btn {
  text-transform: capitalize;
}
.table > thead > tr > th {
  border-top: 1px solid #323232 !important;
}
.action-bar {
  margin-bottom: 10px;
}
th {
  font-weight: normal;
}
.action-column {
  padding-right: 20px !important;
  width: auto;
}
@media (min-width: 601px) {
  .action-column {
    width: 1%;
    padding-right: 0 !important;
  }
}
@media (min-width: 768px) {
  .action-column {
    white-space: nowrap;
  }
}
html[dir="rtl"] .action-column {
  text-align: left;
  padding-left: 20px !important;
}
@media (min-width: 601px) {
  html[dir="rtl"] .action-column {
    padding-left: 0 !important;
  }
}
.progress {
  height: 10px;
  border: 1px solid #b1b1b1;
}
.icon-arrow-up:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f077";
  position: relative;
  bottom: 0;
  left: 0;
}
.icon-arrow-down:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  position: relative;
  top: 0;
  left: 0;
}
.table-action-button-label {
  background: #eee;
  border-radius: 2px;
  border: 1px solid #ccc;
  line-height: 1.42857143;
  margin: 0;
  padding: 6px 12px;
  margin-right: 15px;
}
.table-action-button-label input[type="checkbox"] {
  margin: 0;
}
html[dir="rtl"] .table-action-button-label {
  margin-right: 0;
  margin-left: 15px;
}
.table-action-button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.table-action-button-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer;
}
.table-action-checkbox-label {
  padding: 5px;
  margin: 0;
}
.row-expand-container {
  display: table-cell;
  width: 40px;
}
.account-name {
  display: table-cell;
}
.list-panel {
  padding: 8px;
  overflow: hidden;
}
html[dir="ltr"] .list-panel {
  padding-left: 80px;
}
html[dir="rtl"] .list-panel {
  padding-right: 80px;
}
.table > tbody > tr > td.expand-panel-data {
  padding: 0;
  border: 0;
}
.wordbreak {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  white-space: normal;
}
.collapse-text {
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}
.expand-panel .expand-actions {
  text-align: left;
}
html[dir="rtl"] .expand-panel .expand-actions {
  text-align: right;
}
.expand-panel .expand-details dt {
  font-weight: 600;
}
.expand-panel .expand-details dd {
  margin-top: 3px;
  margin-bottom: 15px;
}
.info-spacing {
  padding-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .expand-actions button {
    display: inline-block;
  }
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  html[dir="ltr"] .radio-inline + .radio-inline,
  html[dir="ltr"] .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  html[dir="rtl"] .radio-inline + .radio-inline,
  html[dir="rtl"] .checkbox-inline + .checkbox-inline {
    margin-right: 0;
  }
  .responsive-table > tbody > tr,
  .responsive-table > tbody > tr > td {
    border: 0;
  }
  .responsive-table > tbody > tr:nth-child(2n + 2) {
    border-bottom: 1px solid #ccc;
  }
}
@media only screen and (max-width: 600px) {
  /* Overwrites master-ltr.cmb.min.css default table styles */
  .responsive-table > thead > tr {
    position: initial;
  }
  .responsive-table > tbody > tr > td:before {
    padding: 0;
  }
  .responsive-table > tbody > tr > td.expand-panel-data:before {
    content: none;
  }
  th.name-column {
    width: 100%;
  }
  .responsive-table tr {
    display: flex;
  }
  .responsive-table .data-row td:nth-child(2) {
    flex: 1 auto;
  }
  .responsive-table td:first-child {
    flex: 1 auto;
  }
}
/* Ensure this gets priority */
.table > tbody > tr > td.info,
.table > tbody > tr.info > td {
  background-color: #d7edf9 !important;
}
.table > tbody > tr > td.active,
.table > tbody > tr.active > td {
  background-color: #e0e0e0 !important;
  color: #323232;
}
/* "odd" rows */
.table-striped-child > tbody > tr:nth-child(4n + 1) > td,
.table-striped-child > tbody > tr:nth-child(4n + 2) > td,
.table-striped-child > tbody > tr:nth-child(4n + 1) > th,
.table-striped-child > tbody > tr:nth-child(4n + 2) > th {
  background-color: #f1f1f1;
}
/* "even" rows */
.table-striped-child > tbody > tr:nth-child(4n + 0) > td,
.table-striped-child > tbody > tr:nth-child(4n + 3) > td,
.table-striped-child > tbody > tr:nth-child(4n + 0) > th,
.table-striped-child > tbody > tr:nth-child(4n + 3) > th {
  background-color: #f8f8f8;
}
.radio-inline label {
  font-weight: normal;
}
.table-inline-label-container {
  display: table-cell;
}
.label-offset {
  margin-left: 10px;
}
html[dir="rtl"] .label-offset {
  margin-left: 0;
  margin-right: 10px;
}
.expand-actions {
  padding: 10px 0 5px 0;
}
.form-control:focus {
  color: #464a4c;
  background-color: #fff;
  border-color: #5cb3fd;
  outline: 0;
  box-shadow: none;
}
.table > tbody > tr > td.warning,
.table > tbody > tr.warning > td {
  background-color: #fcf8e1 !important;
}
.table > tbody > tr > td.danger,
.table > tbody > tr.danger > td {
  background-color: #f2dede !important;
}
/* Delete Warning Mode */
.delete-question-mark {
  font-size: 45px;
  color: #f1be38;
  font-weight: 700;
  position: relative;
  top: 0;
  padding-right: 10px;
}
html[dir="rtl"] .delete-question-mark {
  padding-right: 0;
  padding-left: 10px;
}
.list-panel .delete-question-mark {
  position: relative;
  top: -14px;
}
.delete-warning {
  padding-top: 20px;
}
.delete-message {
  font-weight: bold;
}
.delete-warning p {
  padding-top: 10px;
}
.display-table-cell {
  vertical-align: top;
  display: table-cell;
}
.display-table {
  display: table;
}
.box {
  margin-bottom: 20px;
}
.text-warning {
  color: #e9aa0b;
}
.callout-heading {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
  text-transform: capitalize;
}
.text-small {
  font-size: 85%;
}
.text-uppercase {
  text-transform: uppercase;
}
.callout {
  margin: 15px 0 15px 0;
  padding: 15px;
}
.dropdown-menu > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  white-space: nowrap;
}
html[dir="ltr"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="rtl"] .details-table th.name-column {
  padding-left: 50px;
}
html[dir="ltr"] .details-table td.check-column {
  padding-right: 0;
  width: 33px;
}
html[dir="rtl"] .details-table td.check-column {
  padding-left: 0;
}
.widget-item-description {
  margin-top: 30px;
}
.form-link {
  padding: 10px 0 0 0;
  text-transform: capitalize;
}
a,
a:active,
a:hover,
a:focus {
  cursor: pointer;
}
.page-title-section {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.page-title {
  display: block;
  font-size: 30px;
  text-transform: capitalize;
}
.pageSizeButtons {
  display: flex;
}
.pagination a {
  text-decoration: none;
}
.pagination > .disabled a,
.pagination > .disabled a:hover,
.pagination > .disabled a:focus {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
  text-decoration: none;
}
.panel-danger > .panel-heading {
  background: transparent;
  border: none;
}
.panel {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}
.panel-secondary,
.panel-secondary > .panel-heading,
.panel-secondary > .panel-footer,
.panel-secondary > .panel-body {
  border-color: #ddd;
  background-color: #fafafa;
}
.panel-secondary > .panel-heading {
  background-color: none;
}
.panel-secondary .list-group-item {
  background-color: #fafafa;
}
.stats-upgrade-link {
  text-align: center;
}
.list-section {
  margin: 15px 0 15px 0;
}
/* breadcrumb styles */
.breadcrumb .breadcrumb-separator {
  padding: 0 5px;
}
@-webkit-keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes highlight-changes {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #faebcc;
  }
  100% {
    background-color: transparent;
  }
}
html[dir="ltr"] .page-scripts5-account_copy_input .expanded-panel-save-btn {
  padding-left: 0;
}
html[dir="rtl"] .page-scripts5-account_copy_input .expanded-panel-save-btn {
  padding-right: 0;
}
.page-scripts5-account_copy_input {
  /*This is a fix for Chrome which trys to render the hidden dropdown in a menu and as such will make a table cell too large*/
  /* Fix for reseller chosen inline style zero width. */
  /*hack for */
  /*Chosen bootstrap*/
  /*End chosen bootstrap3*/
}
.page-scripts5-account_copy_input .advanced-checkbox {
  width: 68px;
}
.page-scripts5-account_copy_input div#reseller_select_chosen {
  width: 100% !important;
}
.page-scripts5-account_copy_input .table > tbody > tr.control-row > td,
.page-scripts5-account_copy_input .table > tbody > tr.control-row > th {
  background-color: #e4e4e4;
}
.page-scripts5-account_copy_input td .has-feedback .form-control-feedback {
  top: 0;
}
.page-scripts5-account_copy_input td .has-feedback .form-control {
  min-width: 112px;
}
.page-scripts5-account_copy_input td .form-group {
  margin-bottom: 0;
}
.page-scripts5-account_copy_input .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
.page-scripts5-account_copy_input .form-inline .page-size-controller {
  vertical-align: top;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container.chosen-container-single .chosen-single {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container.chosen-container-single .chosen-single div {
  top: 4px;
  color: #000;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-drop {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin: 2px 0 0;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-search input[type="text"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results {
  margin: 2px 0 0;
  padding: 5px 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  margin-bottom: 5px;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results li,
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results li.active-result {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background-image: none;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results li:hover,
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results li.active-result:hover,
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-results li.highlighted {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  background-image: none;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi .chosen-choices {
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-image: none;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: auto;
  padding: 5px 0;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
  background-image: none;
  padding: 3px 24px 3px 5px;
  margin: 0 6px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
  right: 6px;
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
.page-scripts5-account_copy_input select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
.page-scripts5-account_copy_input select.form-control + .chosen-container .chosen-search input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.page-scripts5-account_copy_input select.form-control + .chosen-container-multi .chosen-results li.result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
  background-color: white;
}
.page-scripts5-account_copy_input .form-group .chosen-container {
  display: block;
}
.page-scripts5-account_copy_input .search-row {
  position: relative;
  min-height: 60px;
}
.page-scripts5-account_copy_input .search-row .dropdown-menu {
  width: 350px;
  left: auto;
}
.page-scripts5-account_copy_input .search-row .dropdown-menu .form-group label {
  display: block;
}
.page-scripts5-account_copy_input .search-row .dropdown-menu .form-group input {
  float: none;
  display: inline-block;
}
.page-scripts5-account_copy_input .search-row .dropdown-menu .form-group label.dedicated-ip-label {
  display: inline-block;
}
.page-scripts5-account_copy_input .package-search-row {
  height: 39px;
}
.page-scripts5-account_copy_input #acct_tbl td {
  height: 39px;
}
.page-scripts5-account_copy_input #acct_tbl tr.control-row .advanced-checkbox-cell {
  line-height: initial;
}
.page-scripts5-account_copy_input .pagination li {
  cursor: pointer;
}
.page-scripts5-account_copy_input .search-labels-container {
  display: inline;
  /* TODO: Kill this once IE8 sleeps with the fishes. */
  zoom: 1;
  left: 0;
  position: absolute;
  top: 38px;
}
.page-scripts5-account_copy_input .search-labels-container:not(ie8) {
  display: inline-block;
}
.page-scripts5-account_copy_input .server-configuration-tabset .tab-content > .section-body {
  padding: 20px 0;
}
.page-scripts5-account_copy_input .service-configuration-table tbody td label {
  margin-bottom: 0;
}
.page-scripts5-account_copy_input .account-expand-panel .content-row .save-settings-section {
  border-left: 1px solid #ccc;
  min-height: 100%;
}
.page-scripts5-account_copy_input .account-expand-widget-info-block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-scripts5-account_copy_input .worker-node-select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  padding: 0.5em;
  padding-right: 1.5em;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.page-scripts5-account_copy_input .experimental-input-group-addon {
  padding: 4px 5px 5px;
}
.page-scripts5-account_copy_input .adjust-selected-overwrite {
  margin: 0 5px;
}
.page-scripts5-account_copy_input .table > thead > tr > th > .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
