body
{
	background-color: #ffffff;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	margin:0;
	padding:0;
}

#container {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	text-align: center;
}

a {
	color: #ff6c2c;
	text-decoration: none;
}

a:hover {
	color: #d03f00;
	text-decoration: underline;
}

h1 {
	color: #333;
	font-size: 24px;
	font-weight: 600;
	margin-top: 15px;
}

