/**
# cpanel - whostmgr/docroot/templates/common/revised_notices.less
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

@import "mixins.less";

.notice {
    .gradient(#65b9d9, #4a9cbc);
    .border-radius(4px);
    border: 1px solid #3c829e;
    font-size: 13px;
    font-weight: bold;
    min-height: 30px;
    position: relative;
    color: white;
    margin: 5px 0;
}

.notice-hidden {
    display: none;
}

.notice-error {
    .gradient(#BC3E33, #DD5952);
    border: 1px solid #990000;
}

.notice-success {
    .gradient(#6cbd58, #5fa74e);
    border: 1px solid #006600;
}

.notice-warning {
    .gradient(#fde5a8, #f9c51a);
    border: 1px solid #dfb528;
    color: #7c6829;
    text-shadow: 0 1px 0 #fde79e;
}

.notice-content {
    background-image: url(/images/notice-info.png);
    background-position: 9px center;
    background-repeat: no-repeat;
    padding: 9px 30px 9px 45px;
}

.error-notice-content {
    background-image: url(/images/notice-error.png);
}

.success-notice-content {
    background-image: url(/images/notice-success.png);
}

.warning-notice-content {
    background-image: url(/images/notice-warning.png);
}

div.cjt-pagenotice-container .cjt-notice-content {
    padding: 0;
}

.noticeClose {
    position: absolute;
    top: 0;
    right: 0;
    display: table-cell;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    .opacity(0.2);
    vertical-align: middle;
}

#iplisttbl #ipnotice-container .bd {
    border: 0;
}

.cjt-pagenotice-container .cjt-notice {
    box-shadow: none;
}

.cjt-pagenotice-container .cjt-notice .bd {
    outline-style: none;
}

.cjt-dynamicnotice-container .bd .cjt-notice-content {
    display: table-cell;
    vertical-align: middle;
    min-height: 28px;
}

.cjt-dynamicnotice-container .cjt-notice-error .bd {
    .gradient(#DD5952, #BC3E33);
    background-color: #bc3e33;
    text-shadow: 0 1px 0 #bc3e33;
    .gradient(#DD5952, #BC3E33);
    min-height: 28px;
}

.cjt-dynamicnotice-container .cjt-notice-error .bd:hover {
    .gradient( #BC3E33, #DD5952);
}

.cjt-dynamicnotice-container .cjt-notice-error .bd .cjt-notice-content {
    background-repeat: no-repeat;
    padding: 5px 0 5px 32px;
    background-image: url(/images/notice-error.png);
    background-position: 0 center;
    color: #ffffff;
    min-height: 28px;
}

.cjt-dynamicnotice-container .cjt-notice-warn .bd .cjt-notice-content {
    background-image: url(/images/notice-warning.png);
    background-position: 0 center;
    padding: 5px 0 5px 32px;
    min-height: 28px;
}

.cjt-dynamicnotice-container .cjt-notice-info .bd .cjt-notice-content {
    background-image: url(/images/notice-info.png);
    background-position: 0 center;
    padding: 5px 0 5px 32px;
    min-height: 28px;
}

.cjt-dynamicnotice-container .cjt-notice-success .bd .cjt-notice-content {
    background-image: url(/images/notice-success.png);
    background-position: 0 center;
    padding: 5px 0 5px 32px;
    min-height: 28px;
}

.close-notice {
    float: right;
    font-size: 21px;
    border: 0;
    background: 0;
    padding: 3px;
    color: inherit;
}
