/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.yui-panel .hd {
  background-color: #4c4c4c;
  border: 0px;
}
