:root {
  --primaryColorRegular: #28aade;
  --primaryColor100: #ced8eb;
  --primaryColor300: #28aade;
  --primaryColor400: #f6682d;
  --primaryColor500: #c93b02;
  --primaryColor600: #b43503;
  --seondaryColorRegular: #142031;
  --seondaryColor400: #273f61;
  --seondaryColor500: #0e1a2b;
  --thirdColorRegular: #FFDF95;
  --thirdColor400: #FFFBEC;
  --thirdColor500: #fad57f;
  --fourthColorRegular: #95E259;
  --fourthColor400: #9fec63;
  --fourthColor300: #a9ea76;
  --fourthColor500: #73ba3c;
  --signalColorErrorHigh: #F46565;
  --signalColorErrorHighLower: #fd9595;
  --signalColorErrorHighLowest: #fadbdb;
  --signalColorErrorMedium: #fdcb6e;
  --signalColorErrorMediumLower: #faefd9;
  --signalColorErrorLow: #2ecc71;
  --signalColorErrorLowLower: #74eaa6;
  --signalColorErrorLowLowest: #e0faec;
  --signalColorErrorNote: #f6e577;
  --navBarPrimaryBackground: white;
  --navBarSecondaryBackground: #e7f6fb;
  --navBarPrimaryText: #555;
  --navBarPrimaryAccent: #e7f6fb;
  --navBarPrimaryHighlight: #e7f6fb;
  --navBarSecondaryText: #333;
  --navBarSecondaryAccent: #28aade;
  --navBarSecondaryAccentText: #fcefeb;
  --navBarSecondaryLink: #333;
  --navBarSecondaryHover: #f8f3f2;
  --navBarSecondaryGroupHeader: #333;
  --navBarSecondaryScoreText: #366FA3;
  --navBarSecondaryScoreTextHighlight: #fff;
  --navBarSecondaryBaseScoreBackground: #28aade;
  --navBarIncidentText: #333;
  --navBarSeperator: #ccc;
  --checkProgressBackground: #fff;
  --checkProgressText: #333;
  --loginTopBackground: #fff;
}
