[%
  # No HTML encoding needed here as subjects do not display HTML
  CPANEL.locale.maketext('The process “[_1]” stalled while it processed statistics and bandwidth data for user “[_2]”.', NOTICE.command, NOTICE.user);
%]
