[%#
Variables passed in:

new_domain              - the new domain name
old_domain              - the old domain name
digest_disabled_users   - the list of users that have had their digest auth disabled

-%]

<p>
    [% CPANEL.locale.maketext("Since the domain name has changed, you must notify your [_1] users that their login has changed.", CPANEL.locale.maketext('Web Disk')) %]
</p>
<p>
    [% CPANEL.locale.maketext("The system has disabled [_1] for the [numerate,_2,user,users] [list_and_quoted,_3]", CPANEL.locale.maketext('Digest Authentication'), NOTICE.digest_disabled_users.size, NOTICE.digest_disabled_users) %]
</p>
<p>
    [% CPANEL.locale.maketext("Use the [_1] interface in [asis,cPanel] to re-enable [_2].", CPANEL.locale.maketext('Web Disk Accounts'), CPANEL.locale.maketext('Digest Authentication')) %]
</p>
