[%
    USE Whostmgr;
    USE NVData;
    USE JSON;
    WRAPPER 'master_templates/master.tmpl'
        header = locale.maketext('Edit System Mail Preferences')
        breadcrumburl = '/Server_Contacts/rootmail'
        theme = 'bootstrap',
        app_key='edit_system_mail_preferences';
-%]

<div class="callout callout-info">
    <strong>[% locale.maketext('Notes:'); %]</strong>
    <ul>
        <li>[% locale.maketext('Usually, the system sends emails about problems on the server and normal server activity to “[asis,root].”') %]</li>
        <li>[% locale.maketext('If you do not use [asis,suEXEC], the “[asis,nobody]” user receives bounce messages from email that [asis,CGI] scripts send.') %]</li>
    </ul>
</div>
<div ng-controller="MainController" ng-cloak class="ng-cloak">
    <div class="panel panel-default form-group" width="65%" ng-repeat="user in users | orderBy: 'user'" >
        <div class="panel-heading" data-invalid="{{user.invalid}}">
            <h3 class="panel-title" ng-bind-html="get_panel_title(user)"></h3>
        </div>
        <div class="panel-body">
            <div >
                <form novalidate >

                    <label for="fwd" ng-bind="get_forward_mail_label(user)"></label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <input type="text" name="fwd" id="{{ user.user }}-mail" class="form-control mail-field" ng-class="{'ng-invalid':user.invalid}" ng-model="user.newforward" ng-change="user.invalid = user.newforward != user.forward && !validate_user(user)">
                            <img src="" alt="" id="{{ user.user }}-mail_error" /> <br />
                            <span class="info-block">[% locale.maketext('To forward email to one or more users on the server, or email addresses, enter them in a comma-separated list.') %]</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <ul class="validation-container" ng-show="user.invalid">
                                <li class="validation validation-error" ng-repeat="error in user.errors">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    <span class="validation-message">{{ error }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button id="{{ user.user }}-submit"
                        id="{{ user.user }}-spinner"
                        ng-disabled="user.invalid"
                        cp-action="set_user_forward(user.user, user.newforward)">{{ get_submit_label(user) }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
[% END #wrapper -%]

<script type="text/javascript">
    var PAGE = PAGE || {};

    PAGE.users = [% JSON.stringify(data.forwardto) %];
    PAGE.local_users = [% JSON.stringify(data.local_users) %];
</script>

[% PROCESS 'master_templates/cjt2_header_include.tt' %]
