########################################################################################
# DO NOT ALTER THIS BLOCK
########################################################################################
#
# cPanel Default ACL Template Version: 116.001
# Template: universal.dist
#
########################################################################################
# DO NOT ALTER THIS BLOCK
########################################################################################

acl_not_smtp:

[% ACL_OUTGOING_NOTSMTP_CHECKALL_BLOCK %]

[% ACL_NOT_SMTP_BLOCK %]

acl_not_smtp_mime:

[% ACL_NOT_SMTP_MIME_BLOCK %]

acl_not_smtp_start:

[% ACL_NOT_SMTP_START_BLOCK %]

acl_smtp_auth:

[% ACL_SMTP_AUTH_BLOCK %]

acl_smtp_connect:

[% ACL_CONNECT_BLOCK %]
[% ACL_CONNECT_POST_BLOCK %]

acl_smtp_data:

# exiscan only
[% ACL_EXISCANALL_BLOCK %]
# exiscan only

[% ACL_OUTGOING_SMTP_CHECKALL_BLOCK %]

[% ACL_CHECK_MESSAGE_PRE_BLOCK %]
[% ACL_PRE_SPAM_SCAN %]
[% ACL_SPAM_SCAN_BLOCK %]

# exiscan only
[% ACL_EXISCAN_BLOCK %]
# exiscan only

[% ACL_RATELIMIT_SPAM_BLOCK %]
[% ACL_SPAM_BLOCK %]
[% ACL_CHECK_MESSAGE_POST_BLOCK %]

acl_smtp_etrn:

[% ACL_SMTP_ETRN_BLOCK %]

acl_smtp_helo:

[% ACL_SMTP_HELO_BLOCK %]
[% ACL_SMTP_HELO_POST_BLOCK %]

acl_smtp_mail:

[% ACL_MAIL_PRE_BLOCK %]
[% ACL_MAIL_BLOCK %]
[% ACL_MAIL_POST_BLOCK %]

acl_smtp_mailauth:

[% ACL_SMTP_MAILAUTH_BLOCK %]

acl_smtp_mime:

[% ACL_SMTP_MIME_BLOCK %]

acl_smtp_notquit:

[% ACL_NOTQUIT_BLOCK %]

acl_smtp_predata:

[% ACL_SMTP_PREDATA_BLOCK %]

acl_smtp_quit:

[% ACL_SMTP_QUIT_BLOCK %]

acl_smtp_rcpt:

[% ACL_RATELIMIT_BLOCK %]
[% ACL_PRE_RECIPIENT_BLOCK %]
[% ACL_RECIPIENT_BLOCK %]
#mailman only
[% ACL_RECIPIENT_MAILMAN_BLOCK %]
#mailman only
[% ACL_IDENTIFY_SENDER_BLOCK %]
[% ACL_WHITELIST_BLOCK %]
[% ACL_PRE_RECP_VERIFY_BLOCK %]
[% ACL_RECP_VERIFY_BLOCK %]
[% ACL_POST_RECP_VERIFY_BLOCK %]
[% ACL_TRUSTEDLIST_BLOCK %]
[% ACL_RBL_BLOCK %]
[% ACL_MAILAUTH_BLOCK %]
[% ACL_GREYLISTING_BLOCK %]
[% ACL_RCPT_HARD_LIMIT_BLOCK %]
[% ACL_RCPT_SOFT_LIMIT_BLOCK %]
[% ACL_SPAM_SCAN_CHECK_BLOCK %]
[% ACL_POST_SPAM_SCAN_CHECK_BLOCK %]
[% ACL_RECIPIENT_POST_BLOCK %]

acl_smtp_starttls:

[% ACL_SMTP_STARTTLS_BLOCK %]

acl_smtp_vrfy:

[% ACL_SMTP_SMTP_VRFY_BLOCK %]

acl_smtp_dkim:

[% ACL_SMTP_DKIM_BLOCK %]
