[%
   PROCESS "include/icons.tmpl";
   get_icon(icon='failed') _ " " _ CPANEL.locale.maketext('Failure: The Server Failed to Transfer Offloaded “[_1]” Functionality for the User “[_2]”.', NOTICE.worker_type, NOTICE.user);
%]