[%
   PROCESS "include/icons.tmpl";
   get_icon(icon='failed') _ " " _ CPANEL.locale.maketext('Failure: The Server Failed to Transfer “[_1]” for the User “[_2]”.', NOTICE.worker_type, NOTICE.user, NOTICE.worker_alias);
%]