[%-

  PROCESS "include/icons.tmpl";

  SET a_icon = get_icon(icon='warning');
  CPANEL.locale.maketext('[_1] Excessive Number of Failed Login Attempts from [_2] ([_3]:[_4])', a_icon, NOTICE.ip_address, NOTICE.country_name, NOTICE.country_code);
-%]
