[%-

    PROCESS "include/icons.tmpl";

   IF NOTICE.is_root;
        IF NOTICE.is_local;
          get_icon(icon='local_network') _ " " _ CPANEL.locale.maketext('[asis,Root] Login from Local Machine.');
        ELSIF NOTICE.known_netblock;
          get_icon(icon='known_network') _ " " _ CPANEL.locale.maketext('[asis,Root] Login from a Known Network IP Address [_1]', NOTICE.ip_address);
        ELSE;
          get_icon(icon='unknown_network') _ " " _ CPANEL.locale.maketext('[asis,Root] Login from an Unknown Network IP Address [_1]', NOTICE.ip_address);
        END;
    ELSE;
        IF NOTICE.is_local;
          get_icon(icon='local_network') _ " " _ CPANEL.locale.maketext('Login as [_1] from Local Machine.', NOTICE.user);
        ELSIF NOTICE.known_netblock;
          get_icon(icon='known_network') _ " " _ CPANEL.locale.maketext('Login as [_1] from a Known Network IP Address [_2]', NOTICE.user, NOTICE.ip_address);
        ELSE;
          get_icon(icon='unknown_network') _ " " _ CPANEL.locale.maketext('Login as [_1] from an Unknown Network IP Address [_2]', NOTICE.user, NOTICE.ip_address);
        END;
    END;
-%]
