/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
#contentContainer {
  /* HACK: webkit based browsers positioning of the open nav-action-container is off
       TODO: investigate this further and also review oher quicks noticed in IE */
  /* ------------------------------------------------------------------------------ */
  /* Unified Style Workarounds
    /* ------------------------------------------------------------------------------ */
  /* TODO: remove this workaround once phpless is upgraded */
  /* ------------------------------------------------------------------------------ */
  /* Backup Configuration Page
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Calendar styles (currently building on yui-skin-sam)
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Filter and pagination styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Notice Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Section Structure
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Button Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Utility and Mask Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Error Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Advanced/Wide Option Container Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Checkbox Dependent Inputs
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Table Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Key List Styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* User Selection Styles
    /* ------------------------------------------------------------------------------ */
  /* The next page button */
  /* ------------------------------------------------------------------------------ */
  /* Restore Page special styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Restore Page Tab styles
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Restore page select list styles.
    /* ------------------------------------------------------------------------------ */
  /* ------------------------------------------------------------------------------ */
  /* Restore page select action drop-down menu
    /* ------------------------------------------------------------------------------ */
}
#contentContainer #content {
  position: relative;
}
@media only screen and (max-width: 580px) {
  #contentContainer html #content .field,
  #contentContainer html #content .field-extra {
    width: 96%;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #contentContainer #content .nav-action-container {
    top: 36px;
    right: 2px;
  }
  #contentContainer #content #nav_bottom .nav-action-container {
    top: -152px;
  }
}
#contentContainer #content button {
  min-width: 0;
  text-align: center;
}
#contentContainer #content button.secondary,
#contentContainer #content .enable-action {
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}
#contentContainer .cjt-wrapped-select > .cjt-wrapped-select-skin {
  background-color: #ffffff;
  padding: 7px 4px;
  min-width: 100%;
}
#contentContainer html[dir="ltr"] .cjt-wrapped-select > .cjt-wrapped-select-skin {
  text-align: left;
}
#contentContainer html[dir="rtl"] .cjt-wrapped-select > .cjt-wrapped-select-skin {
  text-align: right;
}
#contentContainer .field-text + .field-extra > p {
  margin-top: 16px;
}
#contentContainer .field-extra > p {
  margin-bottom: 0;
}
#contentContainer .field-extra > p + p,
#contentContainer .field-extra > p + button {
  margin-top: 18px;
}
#contentContainer #content button:disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#contentContainer #content input[type="text"],
#contentContainer #content input[type="password"] {
  min-width: 0;
}
#contentContainer fieldset legend {
  text-indent: 1%;
}
#contentContainer fieldset legend h4 {
  margin-bottom: 0;
}
#contentContainer #content fieldset > div,
#contentContainer .wide-options-container,
#contentContainer .advanced-options-container {
  margin: 1% 10px;
  padding: 0;
}
#contentContainer #content .field {
  width: 46%;
}
#contentContainer #content .field-extra,
#contentContainer #content fieldset div.field,
#contentContainer #content fieldset div.inline {
  padding: 1%;
}
#contentContainer #content fieldset > div.cjt-notice {
  padding: 0px;
}
#contentContainer form.complex#destination_form,
#contentContainer form.complex#key_form {
  border-top: none;
  margin-top: -1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer form.complex.extended {
  border-bottom: none;
  margin-bottom: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer .field-left {
  float: left;
  margin-top: 7px;
}
#contentContainer .field-right {
  text-align: right;
}
#contentContainer .field-right * {
  text-align: left;
}
#contentContainer .form-actions-group {
  margin-bottom: 18px;
}
#contentContainer #content .yui-calcontainer {
  background-color: #e5e5e5;
  border-color: #d9d9d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer html #content .yui-calendar a.calnav {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: #c1c1c1;
  padding: 5px 10px;
}
#contentContainer #content .yui-calendar td.calcell {
  padding: 4px 8px;
}
#contentContainer #content .yui-calendar td.selected {
  background-color: #808080;
}
#contentContainer #content .yui-calendar td.calcell a:focus {
  border: none;
}
#contentContainer #content .yui-calendar td.calcell.selected a,
#contentContainer #content .yui-calendar td.calcell.calcellhover a {
  background: none;
  color: #ffffff;
}
#contentContainer #content .yui-calendar td.calcell.calcellhover {
  background-color: #0066cc;
}
#contentContainer #content .filter {
  color: #7d7d7d;
  padding-left: 25px;
  background: #ffffff url(/images/mag-glass.png) no-repeat 5px center;
  box-shadow: 0 1px 1px rgba(0, 0, 1, 0.094) inset;
}
#contentContainer html[dir="rtl"] #content .filter {
  background-position: 99% center;
  padding-left: 0;
  padding-right: 25px;
}
#contentContainer .filter-container {
  position: relative;
  display: inline-block;
}
#contentContainer .filter-container input {
  padding-right: 24px;
}
#contentContainer .clear-filter {
  background: url(/images/filter-cancel.png) 0 0 no-repeat;
  cursor: pointer;
  position: absolute;
  top: 5px;
  height: 24px;
  width: 24px;
  display: none;
}
#contentContainer html[dir="ltr"] .clear-filter {
  right: 5px;
}
#contentContainer html[dir="rtl"] .clear-filter {
  left: 5px;
}
#contentContainer .cjt-pagenotice-container .cjt-notice {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 2px #999999;
  -moz-box-shadow: 0 2px 2px #999999;
  -o-box-shadow: 0 2px 2px #999999;
  box-shadow: 0 2px 2px #999999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#999999')";
  /* For IE 8 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#999999");
  /* For IE 5.5 - 7 */
  margin-bottom: 18px;
}
#contentContainer .cjt-pagenotice-container .cjt-notice .bd {
  background: none no-repeat scroll 0 0 transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: none;
  color: #ffffff;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-content {
  font-size: 15px;
  word-wrap: break-word;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-content ul {
  margin-bottom: 0;
}
#contentContainer #content .cjt-pagenotice-container .cjt-notice .bd a:link,
#contentContainer #content .cjt-pagenotice-container .cjt-notice .bd a:active,
#contentContainer #content .cjt-pagenotice-container .cjt-notice .bd a:visited {
  text-decoration: underline;
  color: #ffffff;
}
#contentContainer #content .cjt-pagenotice-container .cjt-notice .bd a:hover {
  text-decoration: none;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-error,
#contentContainer div.error {
  background-color: #DD5952;
  background: -moz-linear-gradient(top, #DD5952 0%, #BC3E33 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DD5952), color-stop(100%, #BC3E33));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #DD5952 0%, #BC3E33 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #DD5952 0%, #BC3E33 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #DD5952 0%, #BC3E33 100%);
  /* IE10+ */
  background: linear-gradient(top, #DD5952 0%, #BC3E33 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DD5952", endColorstr="#BC3E33", GradientType=0);
  /* IE6-8 */
}
#contentContainer .cjt-pagenotice-container .cjt-notice-error .bd {
  background-image: url(/images/notice-error.png);
  border: 1px solid #990000;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-error .close {
  text-shadow: 0 1px 0 #990000;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-success {
  background-color: #6cbd58;
  background: -moz-linear-gradient(top, #6cbd58 0%, #5fa74e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cbd58), color-stop(100%, #5fa74e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6cbd58 0%, #5fa74e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6cbd58 0%, #5fa74e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6cbd58 0%, #5fa74e 100%);
  /* IE10+ */
  background: linear-gradient(top, #6cbd58 0%, #5fa74e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6cbd58", endColorstr="#5fa74e", GradientType=0);
  /* IE6-8 */
}
#contentContainer .cjt-pagenotice-container .cjt-notice-success .bd {
  background-image: url(/images/notice-success.png);
  border: 1px solid #006600;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-success .close {
  text-shadow: 0 1px 0 #006600;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-info {
  background-color: #65b9d9;
  background: -moz-linear-gradient(top, #65b9d9 0%, #4a9cbc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #65b9d9), color-stop(100%, #4a9cbc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #65b9d9 0%, #4a9cbc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #65b9d9 0%, #4a9cbc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #65b9d9 0%, #4a9cbc 100%);
  /* IE10+ */
  background: linear-gradient(top, #65b9d9 0%, #4a9cbc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#65b9d9", endColorstr="#4a9cbc", GradientType=0);
  /* IE6-8 */
}
#contentContainer .cjt-pagenotice-container .cjt-notice-info .bd {
  background-image: url(/images/notice-info.png);
  border: 1px solid #3c829e;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-info .close {
  text-shadow: 0 1px 0 #3c829e;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-warn {
  background-color: #F6C167;
  background: -moz-linear-gradient(top, #F6C167 0%, #F3B03B 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6C167), color-stop(100%, #F3B03B));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F6C167 0%, #F3B03B 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F6C167 0%, #F3B03B 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F6C167 0%, #F3B03B 100%);
  /* IE10+ */
  background: linear-gradient(top, #F6C167 0%, #F3B03B 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F6C167", endColorstr="#F3B03B", GradientType=0);
  /* IE6-8 */
}
#contentContainer .cjt-pagenotice-container .cjt-notice-warn .bd {
  background-image: url(/images/notice-warning.png);
  border: 1px solid #da961f;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-warn .close {
  text-shadow: 0 1px 0 #da961f;
}
#contentContainer .cjt-pagenotice-container .cjt-notice-closable {
  cursor: pointer;
}
#contentContainer .close {
  color: #ffffff;
  cursor: pointer;
  font-size: 28px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 5-7 */
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  /* Netscape */
  -moz-opacity: 0.2;
  /* Safari 1.x */
  -khtml-opacity: 0.2;
  /* Good browsers */
  opacity: 0.2;
  position: relative;
  top: 8px;
}
#contentContainer .close:hover {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}
#contentContainer #destinations_table .cjt-pagenotice-container .cjt-notice {
  margin-bottom: 0;
}
#contentContainer .section-heading {
  padding-top: 10px;
}
#contentContainer .section-body {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
#contentContainer button div.spinner {
  font-size: 14px;
  position: absolute;
  text-align: center;
  margin-left: -6px;
  display: none;
}
#contentContainer button div.button-text {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
  white-space: nowrap;
}
#contentContainer #content button.loading {
  background: #ffffff;
  border-color: #888888;
}
#contentContainer button.loading div.spinner {
  display: block;
}
#contentContainer button.loading div.button-text {
  color: #888888;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 5-7 */
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  /* Netscape */
  -moz-opacity: 0.2;
  /* Safari 1.x */
  -khtml-opacity: 0.2;
  /* Good browsers */
  opacity: 0.2;
}
#contentContainer .btn-cancel,
#contentContainer .btn-cancel {
  min-width: 102px;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 0 5px 0 5px;
  margin: 10px 4px 7px 4px;
  text-align: center;
}
#contentContainer .enable-all-box {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  padding: 2px 3px;
  font-size: 12px;
  color: #999999;
  line-height: 12px;
  border: 1px solid #cccccc;
}
#contentContainer .arrow-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #999999;
}
#contentContainer html[dir="rtl"] .arrow-toggle {
  margin-left: 0;
  margin-right: 4px;
}
#contentContainer .read-only {
  cursor: not-allowed;
}
#contentContainer .table-row-stripe-even {
  background-color: #f9f9f9;
}
#contentContainer .italic {
  font-style: italic;
}
#contentContainer .bold {
  font-weight: bold;
}
#contentContainer .focus {
  position: relative;
  z-index: 9000;
}
#contentContainer .center {
  text-align: center;
}
#contentContainer .hidden {
  display: none;
}
#contentContainer .block {
  display: block;
}
#contentContainer .inline-block {
  display: inline-block;
}
#contentContainer .float-content:after {
  content: ".";
  visibility: hidden;
}
#contentContainer .float-content > div {
  float: left;
}
#contentContainer html[dir="rtl"] .float-content > div {
  float: right;
}
#contentContainer .slideContainer {
  z-index: 9000;
}
#contentContainer #content div#focus_mask,
#contentContainer #content div#table_mask {
  position: absolute;
  z-index: 8000;
  background-color: #f3f3f3;
  margin: 0;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 5-7 */
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  /* Netscape */
  -moz-opacity: 0.6;
  /* Safari 1.x */
  -khtml-opacity: 0.6;
  /* Good browsers */
  opacity: 0.6;
  padding: 0;
}
#contentContainer div#focus_mask,
#contentContainer div#table_mask {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#contentContainer div#table_mask img {
  display: none;
}
#contentContainer div#table_mask.loading img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -32px;
}
#contentContainer #content div.error {
  color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer div.error .error-messages {
  background: url(/images/notice-error.png) no-repeat left center;
  min-height: 28px;
  padding-left: 28px;
  padding-top: 1px;
  width: 100%;
}
#contentContainer div.error input[type="text"],
#contentContainer div.error input[type="password"] {
  width: 98%;
}
#contentContainer .field.error > label {
  color: #ffffff;
}
#contentContainer div.error input {
  border: 1px solid #990000;
}
#contentContainer div.error-messages {
  margin: 5px 0 0;
  padding: 0;
}
#contentContainer div.error-messages * {
  display: none;
}
#contentContainer div.error-messages span.error {
  display: block;
  font-weight: bold;
  margin: 2px 2px 5px;
  padding: 2px 0;
}
#contentContainer .advanced-options-container div.field,
#contentContainer .wide-options-container div.inline {
  margin: 1%;
}
#contentContainer .advanced-options-container div.inline label:first-child {
  display: inline-block;
}
#contentContainer .advanced-options-container div.inline label:first-child {
  margin-left: 0px;
}
#contentContainer .advanced-options-container div.inline label {
  margin-left: 3%;
}
#contentContainer .wide-options-container h5 {
  padding: 7px 0 7px 32px;
  margin-bottom: 0;
}
#contentContainer .inactive {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}
#contentContainer .collapsed div,
#contentContainer .collapsed h5 {
  display: none;
}
#contentContainer .collapsed div:first-child {
  display: inline-block;
}
#contentContainer .collapsed div.inline:first-child {
  display: none;
}
#contentContainer .dependent-checkbox .advanced-options-container.collapsed {
  display: none;
}
#contentContainer .table td {
  vertical-align: middle;
}
#contentContainer .table td > img {
  vertical-align: text-bottom;
}
#contentContainer #content #new_destination_field {
  width: 96%;
}
#contentContainer #new_destination {
  vertical-align: top;
}
#contentContainer #destinations_table,
#contentContainer #table_restore {
  table-layout: fixed;
}
#contentContainer #restore_name_header {
  width: 15%;
}
#contentContainer #restore_type_header {
  width: 25%;
}
#contentContainer #restore_source_header {
  width: 20%;
}
#contentContainer #restore_status_header {
  width: 20%;
}
#contentContainer #restore_actions_header {
  width: 15%;
  min-width: 120px;
}
#contentContainer html[dir="rtl"] #restore_actions_label {
  padding-left: 60px;
}
#contentContainer #destinations_notice.cjt-pagenotice-container .cjt-notice,
#contentContainer #table_restore.cjt-pagenotice-container .cjt-notice {
  margin-top: 1%;
  margin-bottom: 0;
}
#contentContainer #destination_name_header {
  width: 20%;
}
#contentContainer #destination_type_header {
  width: 20%;
}
#contentContainer #destination_system_header {
  width: 10%;
}
#contentContainer #destination_status_header {
  width: 10%;
}
#contentContainer #destination_actions_header {
  width: 30%;
  text-align: center;
}
#contentContainer #destinations_table th,
#contentContainer #destinations_table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
#contentContainer html[dir="rtl"] #destinations_table.table thead th,
#contentContainer html[dir="rtl"] #destinations_table.table tbody td {
  text-align: right;
}
#contentContainer .edit-link,
#contentContainer .validate-link,
#contentContainer .predelete-link,
#contentContainer .delete-link,
#contentContainer .view-link {
  margin-right: 4px;
}
#contentContainer .row-actions button,
#contentContainer .row-actions button:disabled {
  border: 0;
  cursor: pointer;
  width: auto;
  padding: 5px 4px 5px 20px;
  text-decoration: underline;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 1px 4px;
  font-size: 13px;
  line-height: 16px;
  box-shadow: none;
}
#contentContainer html[dir="rtl"] .row-actions button,
#contentContainer html[dir="rtl"] .row-actions button:disabled {
  background-position: right 4px;
  padding: 5px 20px 5px 4px;
}
#contentContainer .row-actions button:focus {
  border-collapse: separate;
  outline: none;
}
#contentContainer .row-actions button:focus,
#contentContainer .row-actions button:hover {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 0px 1px #0066cc;
  -moz-box-shadow: 0px 0px 0px 1px #0066cc;
  -o-box-shadow: 0px 0px 0px 1px #0066cc;
  box-shadow: 0px 0px 0px 1px #0066cc;
}
#contentContainer .row-actions .edit-link {
  background-image: url(/images/m-ico-edit.png);
}
#contentContainer .row-actions .validate-link {
  background-image: url(/images/m-ico-validate.png);
}
#contentContainer .row-actions .delete-link,
#contentContainer .row-actions .predelete-link {
  background-image: url(/images/m-ico-delete.png);
}
#contentContainer .row-actions .view-link {
  background-image: url(/images/view-icon-24.png);
}
#contentContainer .row-actions .toggle-link,
#contentContainer .row-actions .canceldelete-link {
  background-image: url(/images/m-ico-disable.png);
}
#contentContainer ul#key_list {
  background-color: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-width: 0 1px 1px 1px;
  color: #000000;
  max-height: 145px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  margin: 0;
  z-index: 10;
  list-style: none;
  padding-left: 5px;
}
#contentContainer ul#key_list li:first-child {
  border-top: none !important;
}
#contentContainer ul#key_list li {
  padding: 1% !important;
}
#contentContainer ul#key_list li.selected {
  background-color: #0066cc;
  color: #ffffff;
}
#contentContainer ul#key_list li.select-key:hover {
  background-color: #4c4c4c;
  cursor: pointer;
  color: #ffffff;
}
#contentContainer ul#key_list li.generate-key {
  text-align: center;
}
#contentContainer .table-spinner {
  position: absolute;
  text-align: center;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 8000;
}
#contentContainer #content .table-spinner-loading {
  display: block;
  background: url(/images/loading-arrows-64.gif) no-repeat center;
}
#contentContainer .selector a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer .selector a:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #ABABAB;
  -moz-box-shadow: 0px 0px 0px 2px #ABABAB;
  -o-box-shadow: 0px 0px 0px 2px #ABABAB;
  box-shadow: 0px 0px 0px 2px #ABABAB;
}
#contentContainer #content select:focus + .cjt-wrapped-select-skin,
#contentContainer .jumper:focus {
  border: 1px solid #0066cc;
  outline: none;
}
#contentContainer .nav-container {
  height: 42px;
  width: 100%;
  margin-bottom: 8px;
  display: table;
}
#contentContainer .nav-container button,
#contentContainer .nav-container input,
#contentContainer .nav-container select {
  vertical-align: middle;
}
#contentContainer .nav-container > div {
  margin-top: 8px;
}
#contentContainer .nav-action-container {
  display: none;
  position: absolute;
  z-index: 100;
  top: 34px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
#contentContainer html[dir="ltr"] .nav-action-container {
  right: 0;
}
#contentContainer html[dir="rtl"] .nav-action-container {
  left: 0;
}
#contentContainer .nav-action-container.open {
  display: block;
}
#contentContainer #nav_bottom .nav-action-container {
  top: -154px;
}
#contentContainer .nav-action-container ul {
  list-style: none;
  padding: 10px 0 0 0;
  margin: 0;
  width: 100%;
  text-align: right;
}
#contentContainer html[dir="rtl"] .nav-action-container ul {
  margin: 0;
  text-align: left;
}
#contentContainer .nav-action-container ul:first-child {
  border-bottom: 1px solid #dddddd;
  padding: 0 0 10px 0;
}
#contentContainer .backup-enable-all {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: right;
  border: none;
  box-shadow: none;
}
#contentContainer .backup-enable-all:hover {
  color: #598fff;
  box-shadow: none;
}
#contentContainer .nav-left {
  float: left;
}
#contentContainer html[dir="rtl"] .nav-left {
  float: right;
}
#contentContainer #content .nav-search {
  padding-left: 25px;
}
#contentContainer .nav-right {
  float: right;
  position: relative;
  text-align: center;
}
#contentContainer html[dir="rtl"] .nav-right {
  float: left;
}
#contentContainer .jumper {
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #7d7d7d;
  cursor: pointer;
  min-width: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#contentContainer .nav-first {
  background: url(/images/dbl-left.png) no-repeat left;
  padding-left: 23px;
}
#contentContainer .nav-previous {
  background: url(/images/left.png) no-repeat left;
  width: 25px;
}
#contentContainer #content .nav-current {
  min-width: 50px;
  width: 50px;
  color: #7d7d7d;
  text-align: center;
}
#contentContainer .nav-next {
  background: url(/images/right.png) no-repeat right;
  width: 25px;
}
#contentContainer .nav-last {
  background: url(/images/dbl-right.png) no-repeat right;
  padding-right: 23px;
}
#contentContainer #content .nav-show {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  min-width: 100px;
}
#contentContainer #content .cjt-wrapped-select-skin {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-color: #d9d9d9;
  background-image: none;
  behavior: none;
}
#contentContainer #content .cjt-wrapped-select-icon {
  background-image: url(/images/down.png);
}
#contentContainer html[dir="rtl"] #content .cjt-wrapped-select-icon {
  background-position: left center;
}
#contentContainer .nav-total {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
#contentContainer a.slider-box {
  display: block;
}
#contentContainer a.slider-box:active,
#contentContainer a.slider-box:visited,
#contentContainer a.slider-box img {
  border: none;
  outline: none;
}
#contentContainer .sortable_row {
  cursor: pointer;
}
#contentContainer img.sliders {
  border: none;
  height: 27px;
  width: 94px;
}
#contentContainer #content .head_legacy_backup,
#contentContainer #content .head_backup {
  width: 94px;
  text-align: center;
}
#contentContainer #user_selection_table {
  margin-bottom: 0;
}
#contentContainer #destination_select.disabled,
#contentContainer #local_menuitem.disabled {
  opacity: 0.6;
}
#contentContainer #destination_container {
  margin-bottom: 10px;
}
#contentContainer #destination_container label {
  font-weight: normal;
}
#contentContainer #content td.calcell.restore-today {
  color: #000000;
}
#contentContainer #notice_area {
  padding: 0 10px;
}
#contentContainer html[dir="rtl"] #user_selection {
  margin-left: 4%;
}
#contentContainer #restore_options hr {
  border-top-color: #cccccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
#contentContainer html[dir="rtl"] #restore_selection {
  margin-left: 4%;
}
#contentContainer #restore_user {
  margin-top: 3px;
  height: 244px;
  min-width: 160px;
  display: block;
  margin-bottom: 4px;
  padding: 6px;
  font-size: 15px;
}
#contentContainer #user_selection,
#contentContainer #restore_selection {
  margin-top: 7px;
}
#contentContainer #content td.unavailable a {
  color: #e0e0e0;
}
#contentContainer #incremental_select,
#contentContainer #queue_add_user {
  margin-top: 3px;
}
#contentContainer #content .restore-button {
  margin-bottom: 50px;
}
#contentContainer #content button.add-to-queue:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #0066cc;
  -moz-box-shadow: 0px 0px 0px 1px #0066cc;
  -o-box-shadow: 0px 0px 0px 1px #0066cc;
  box-shadow: 0px 0px 0px 1px #0066cc;
}
#contentContainer button.secondary.selected {
  background-color: #b3d4ff;
  background-image: none;
  border-color: #ffffff;
  color: #0066cc;
}
#contentContainer #restore_options {
  margin-top: 9px;
  min-height: 278px;
  max-width: 350px;
  position: relative;
}
#contentContainer #restore_confirmation {
  height: 124px;
  display: block;
}
#contentContainer html[dir="rtl"] #restore_table.table thead th,
#contentContainer html[dir="rtl"] #restore_table.table tbody td {
  text-align: right;
}
#contentContainer #restore_table td.row-status img {
  margin-top: -3px;
  margin-right: 4px;
}
#contentContainer html[dir="rtl"] #restore_table td.row-status img {
  margin-left: 4px;
  margin-right: 0;
}
#contentContainer td.row-status img {
  display: inline;
}
#contentContainer td.row-actions img {
  display: none;
}
#contentContainer td.row-loading img {
  display: inline;
}
#contentContainer td.row-loading button {
  display: none;
}
#contentContainer #restore_table .row-actions {
  width: 72px;
}
#contentContainer td.cjt-notice-container .cjt-notice {
  margin-bottom: 4px;
}
#contentContainer .vertical-spacer-25 {
  min-height: 25px;
}
#contentContainer .vertical-spacer-52 {
  height: 52px;
}
#contentContainer .relative-div {
  position: relative;
}
#contentContainer .no-margins {
  margin: 0;
}
#contentContainer #content #user_selection.workflow-focus > div,
#contentContainer #content #restore_calendar.workflow-focus {
  -webkit-box-shadow: 0px 0px 0px 1px #0066cc;
  -moz-box-shadow: 0px 0px 0px 1px #0066cc;
  -o-box-shadow: 0px 0px 0px 1px #0066cc;
  box-shadow: 0px 0px 0px 1px #0066cc;
}
#contentContainer #content input[type="checkbox"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#contentContainer #content a:focus {
  font-weight: bold;
  white-space: nowrap;
}
#contentContainer #content .calheader a:focus,
#contentContainer #content th .relative-div a:focus {
  -webkit-box-shadow: 0px 0px 0px 1px #0066cc;
  -moz-box-shadow: 0px 0px 0px 1px #0066cc;
  -o-box-shadow: 0px 0px 0px 1px #0066cc;
  box-shadow: 0px 0px 0px 1px #0066cc;
}
#contentContainer .float-bottom {
  position: absolute;
  bottom: 0;
}
#contentContainer .tab-placer {
  position: absolute;
  z-index: 101;
  top: -5px;
}
#contentContainer .tab-style {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 10px;
  padding-left: 12px;
  padding-top: 12px;
  font-family: arial, helvetica;
  font-size: 14px;
  z-index: 49;
  color: #0066cc;
  cursor: pointer;
  border-color: none;
  border-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 4px;
}
#contentContainer html[dir="ltr"] .tab-style {
  margin-left: 8px;
}
#contentContainer html[dir="rtl"] .tab-style {
  margin-right: 8px;
}
#contentContainer .tab-style:hover {
  background-color: #dfdfdf;
  z-index: 0;
}
#contentContainer .active-tab {
  border-color: #dcdfe3;
  border-top: 1px solid #dcdfe3;
  border-left: 1px solid #dcdfe3;
  border-right: 1px solid #dcdfe3;
  height: 20px;
  margin-right: 0;
  padding: 10px;
  cursor: auto;
  color: #000000;
  background-color: #f3f3f3;
}
#contentContainer .active-tab:hover {
  background-color: #f3f3f3;
}
#contentContainer .tab-contianer {
  position: relative;
  height: 36px;
  margin-right: 5px;
}
#contentContainer .tab-content {
  margin-bottom: 60px;
}
#contentContainer #user_filter {
  border: 1px solid #cccccc;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
#contentContainer #restore_user_list {
  height: 242px;
  overflow: auto;
  background: #ffffff;
  padding: 5px;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 1, 0.094) inset;
  margin-top: 0;
}
#contentContainer .restore-user-option {
  display: block;
}
#contentContainer .restore-user-option.hidden {
  display: none;
}
#contentContainer #content #restore_user_list .restore-user-option {
  padding: 6px;
  margin: 4px 0;
  color: #000000;
}
#contentContainer #content #restore_user_list .restore-user-option:hover,
#contentContainer #content #restore_user_list .restore-user-option:focus {
  background: #0066cc;
  color: #ffffff;
}
#contentContainer #content #restore_user_list .selected-list {
  background-color: #808080;
  color: #ffffff;
}
#contentContainer #content #restore_user_list .disabled-list,
#contentContainer #content #restore_user_list .disabled-list:hover,
#contentContainer #content #restore_user_list .disabled-list:focus {
  color: #808080;
  background: #ffffff;
  cursor: auto;
}
#contentContainer #content .form-action-button-group {
  margin-top: 25px;
  position: absolute;
}
#contentContainer #content .gear {
  position: absolute;
  display: block;
  top: -3px;
  border: 1px solid #999999;
  border-radius: 3px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 26px;
  padding-bottom: 2px;
  cursor: pointer;
  background: #d6d6d6;
  z-index: 10001;
}
#contentContainer html[dir="ltr"] #content .gear,
#contentContainer html[dir="ltr"] #content .gear-active {
  right: 0;
}
#contentContainer html[dir="rtl"] #content .gear,
#contentContainer html[dir="rtl"] #content .gear-active {
  left: 0;
}
#contentContainer #content .gear-active {
  top: -3px;
  border-top: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#contentContainer .floating-menu {
  position: absolute;
  top: 22px;
  background: white;
  z-index: 10000;
  border: 1px solid #999999;
  width: 250px;
  padding: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 1px 3px 4px #666666;
}
#contentContainer html[dir="ltr"] .floating-menu {
  right: 0;
}
#contentContainer html[dir="rtl"] .floating-menu {
  left: 0;
}
#contentContainer #content #remove_menu .menu-item {
  display: block;
  color: #222222;
  font-weight: normal;
  background: white;
  cursor: pointer;
  padding: 5px;
}
#contentContainer #content #remove_menu .menu-item:hover,
#contentContainer #content #remove_menu .menu-item:focus {
  color: #ffffff;
  background: #0066cc;
  border-radius: 0;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
#contentContainer .arrow {
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 3px;
  color: #969696;
  font-size: 8pt;
}
#contentContainer .zero-width {
  width: 0;
  padding: 0;
  border: 0;
}
html[dir="ltr"] #contentContainer .cjt-pagenotice-container .cjt-notice .bd {
  background-position: 9px center;
  padding: 9px 45px 9px 45px;
  text-align: left;
}
html[dir="ltr"] #contentContainer .close {
  float: right;
  right: 4px;
}
html[dir="rtl"] #contentContainer .cjt-pagenotice-container .cjt-notice .bd {
  background-position: 99% center;
  padding: 9px 45px 9px 45px;
  text-align: right;
}
html[dir="rtl"] #contentContainer .close {
  float: left;
  left: 4px;
}
