/*
# ./apps/nginx-manager/src/assets/variables.scss
#                                                  Copyright 2022 cPanel, L.L.C.
#                                                           All rights Reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/**
* NOTE: This is a copy of /usr/local/cpanel/share/libraries/base_styles/src/variables.css.
* This file is in place to satisfy the build system which does not include this file when building the app RPM.
* CPANEL-33233
*/

/* ------------------------------------------------------------------------------ */
/* Global
/* ------------------------------------------------------------------------------ */

$font-family: "Open Sans", arial, sans-serif;

$border-radius: 2px;

$cpanel-orange: #ff6c2c;

$cpanel-dark-blue-gray: #293a4a;

/* ------------------------------------------------------------------------------ */
/* Sections
/* ------------------------------------------------------------------------------ */

$highlight-section-bg: #faebcc;
$highlight-section-border: #faebcc;

$section-body-border: #cccccc;

/* ------------------------------------------------------------------------------ */
/* Validation
/* ------------------------------------------------------------------------------ */

$validation-container-bg: #f8c9c4;
$validation-container-border: #a94442;

$validation-error-glyphicon-color: #a94442;

/* ------------------------------------------------------------------------------ */
/* Alert/callouts/status
/* ------------------------------------------------------------------------------ */

$info-block-color: #737373;
$help-block-color: #737373;

$danger-bg: #f2dede;
$danger-border: #d03f00;
$danger-box-shadow: #d03f00;
$danger-bg-dark: #e74c3c;

$success-bg: #dff2d5;
$success-border: #83b655;
$success-box-shadow: #83b655;
$success-bg-dark: #27ae60;

$warning-bg: #fcf8e1;
$warning-border: #f6c342;
$warning-box-shadow: #f6c342;
$warning-bg-dark: #f1c40f;

$info-bg: #d7edf9;
$info-border: #179bd7;
$info-box-shadow: #179bd7;
$info-border-dark: #2980b9;

$alert-message-color: #333333;

$callout-border-left: #eeeeee;

/* ------------------------------------------------------------------------------ */
/* Panels
/* ------------------------------------------------------------------------------ */
$panel-title-color: #ffffff;
$panel-default-heading-color: #333333;

/* ------------------------------------------------------------------------------ */
/* Buttons
/* ------------------------------------------------------------------------------ */

$btn-primary-bg: #3989cf;
$btn-primary-color: #ffffff;
$btn-primary-border: #2970b0;

$btn-primary-active-bg: #3276b1;
$btn-primary-active-border: #285e8e;

$btn-primary-focus-bg: #3276b1;
$btn-primary-focus-color: #ffffff;

$btn-primary-hover-color: #ffffff;
$btn-primary-hover-bg: #2970b0;

$btn-default-color: #333333;
$btn-default-bg: #eeeeee;
$btn-default-border: #cccccc;

$btn-default-active-bg: #d4d4d4;

$btn-link-disabled-color: #428bca;

/* ------------------------------------------------------------------------------ */
/* Table
/* ------------------------------------------------------------------------------ */

$table-th-border: #323232;

$table-td-active-border: #323232;
$table-td-active-bg: #e0e0e0;
$table-td-active-color: #323232;

/* ------------------------------------------------------------------------------ */
/* Promotions
/* ------------------------------------------------------------------------------ */

$promotion-bg: #f5f5f5;

/* ------------------------------------------------------------------------------ */
/* Responsive Breakpoints
/* ------------------------------------------------------------------------------ */
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
