@import "mixins.less";
#content legend {
    text-indent: 20px;
}
#content legend h4 {
    margin-bottom: 0;
}
.below-form-container {
    position: relative;
}
.button-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
form.closed-form {
    background: none;
    border: none;
}
form.closed-form .form-container {
    display: none;
}
form.closed-form input.secondary {
    display: none;
}
form.closed-form .below-form-container {
    position: relative;
}
form.closed-form .button-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.closed-form > .form-container {
    border: none;
}
#page_loader {
    position: relative;
}
#page_loader img {
    display: none;
}
#page_loader.loading img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}
#page_loader.loading {
    display: block;
    .opacity(0.5);
    z-index: 100;
}

/*
    Styles for form validation
*/
ul.error-messages {
    margin-top: 18px;
    list-style: none;
    padding: 0;
}
ul.error-messages li:before {
    content: "×";
}
html[dir="ltr"] ul.error-messages li:before {
    margin: 0 5px 0 -15px;
}
html[dir="rtl"] ul.error-messages li:before {
    margin: 0 -15px 0 5px;
}
.error-messages li {
    color: #ec3f41;
}
.error-messages li.valid {
    display: none;
}
.ng-dirty .ng-dirty.ng-valid {
    border-color: #3a7d34;
}
.ng-dirty .ng-dirty.ng-invalid {
    border-color: #ec3f41;
}

.description {
    margin-bottom: 20px;
}
/* HACK: proper line-height and margin for li elements */
.description li {
    line-height: inherit;
    margin: 1em;
}

form label {
    color: #666666;
    font-size: 13px;
}
td.range-info span {
    display: block;
}
td.range-info span.range-name {
    font-style: bold;
}
td.range-info span.range-note {
    line-height: 1.5;
    word-wrap: break-word;
}
td.range-info span.range-type-0 {
    display: block;
    text-transform: uppercase;
    color: #ff0000;
}
html[dir="rtl"] td.range-info span.range-value {
    direction: ltr;
    text-align: right;
}
html[dir="ltr"] td.range-info span.range-type-0 {
    float: right;
}
html[dir="rtl"] td.range-info span.range-type-0 {
    float: left;
}
html[dir="rtl"] .field-extra ul {
    margin: 0 1.924em 0.693em 0;
}
td.range-info span.range-type-1 {
    display: none;
}
.below-form-container .button-container .cjt-pagenotice {
    margin-bottom: 0;
}
.below-form-container .button-container input {
    margin-top: 6px;
}

.table > tbody > tr > td.range-actions {
    vertical-align: top;
}
