.bw-time-graph {
    text-align: center;

    &> svg {
        /* prevents clipping of horizontal axis on charts */
        overflow:visible;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: black;
    }

    .graph-key {
        .color-sample {
            display: inline-block;
            height: 1em;
            width: 1em;
            border: 1px solid #222;
        }

        .key-item {
            display: inline-block;
            margin: 0 2em;

            & > * {
                vertical-align: middle;
            }
        }
    }
}
