@{page-selector} {
    .cutoff_with_ellipses {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
    }

    a.btn {
        margin-top: 0;
    }

    .bottom-search-btn {
        vertical-align: top;
        margin: 0;
        box-shadow: none;
    }

    .fixed-width-table {
        table-layout: fixed;

        @media (min-width: @screen-xs-min) {
            table-layout: auto;
        }

        @media (min-width: @screen-sm-min) {
            table-layout: auto;
        }
    }

    .item-lister-table {
        th.name-column {
            padding-left: 8px;

            a.sort-link {
                padding: 6px 12px;
            }
        }

        thead th,
        tbody td {
            text-align: center;
            &:first-child {
                text-align: left;
            }
        }

        .list-panel {
            padding: 8px 20px;

            .btn:first-of-type {
                margin-left: 0;
            }
            .btn:last-of-type {
                margin-right: 0;
            }
        }
    }

    .domain-btn-link {
        text-transform: none;
    }

    .item-lister-table tbody td.domain-lister-view-actions {
        text-align: right;
    }

    .thead-desc {
        font-weight: normal;
        display: block;
        text-decoration: none;
        font-size: 0.8em;
    }

    .copy-field-directive {
        .btn-outline-primary.copying {
            background-color: #2a6496;
        }

        a.btn {
            margin-top: 0;
        }

        .copy-icon {
            opacity: 1;
            transition: opacity 1;
            transition-timing-function: ease-out;
        }
        .copy-success-icon {
            opacity: 0;
            transition: opacity 1;
            transition-timing-function: ease-in;
        }
        .copying {
            .copy-icon {
                opacity: 0.1;
            }
            .copy-success-icon {
                opacity: 1;
            }
        }
        .copy-field-data {
            cursor: text;
            white-space: nowrap;
            resize: none;
            font-family: monospace;
            background-color: #fff;

            &:not(.multi-line) {
                overflow: hidden;
            }
        }

        textarea.multi-line {
            height: auto;
            white-space: pre-wrap;
        }
        pre {
            display: block;
            white-space: normal;
            height: auto;
        }
    }

    .suggested-record-title {
        font-weight: bold;
    }

    .change-view {
        padding: 5px 10px;
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;

        a:focus {
            outline: 0.5px solid #000;
        }

        & > label {
            margin-bottom: 0;
            vertical-align: middle;
        }

        & > .btn-group {
            vertical-align: middle;
        }
    }
}

html[data-style="dark"] @{page-selector} {
    .table > tbody > tr.warning > td .panel {
        color: rgb(215, 215, 215);
    }

    .copy-field-directive {
        .form-control,
        .form-control:focus {
            color: #000;
        }
    }
}
