/**
# cpanel - base/sharedcss/jupiter.less             Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

/* Common styles for cPanel and WHM Jupiter. */

/* ---------------------------------------------------------------------- */
/* Public identifiers: */

@fontawesome_chevron-up: "\f077";
@fontawesome_chevron-down: "\f078";

@jupiter-chevron-icon-size: 14px;

@jupiter-shade-light: #f7f9fc;
@jupiter-shade-hard: #8f9bb3;

.jupiter-group-expand-collapse {
    color: @jupiter-shade-hard;

    &:active,
    &:hover,
    &:visited,
    &:focus {
        text-decoration: none;
    }
}

.jupiter-group-expander {
    &:before {
        content: @fontawesome_chevron-up;
    }
}

.jupiter-group-collapser {
    &:before {
        content: @fontawesome_chevron-down;
    }
}
@jupiter-shade-medium: #e4e9f2;

@jupiter-border-radius: 4px;

@jupiter-primary-dark: #0a2540;
@jupiter-primary-light: #e7ecfc;
@jupiter-background-color: #fafafa;

@jupiter-success-color: #64da73;
@jupiter-info-color: #60d4ea;
@jupiter-warning-color: #f5e634;
@juipter-error-color: #ff6b70;

@jupiter-box-shadow: fade(@jupiter-primary-dark, 5%);
@jupiter-box-shadow-active: fade(@jupiter-primary-dark, 25%);

.jupiter-main-menu-card {
    border-radius: @jupiter-border-radius;
    box-shadow: 0 3px 10px @jupiter-box-shadow;
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0 3px 10px @jupiter-box-shadow-active;
    }
}

.jupiter-group-header__title {
    font-weight: 600;
    font-size: 16px;
}

.jupiter-panel-header {
    padding: 15px;
    line-height: 18px;
}

.jupiter-group-icon {
    margin-right: 8px;
}

.jupiter-group-body-separate {
    border-top: 1px solid @jupiter-shade-medium;
}

.jupiter-tool-icon {
    margin-right: 10px;
}

@jupiter-tool-padding--mobile: 5px 15px;
