.ssl-results-panel {
    width: 450px;

    .yui-dt-scrollable .yui-dt-bd {
        overflow: auto;
    }

    .yui-dt-hd table,
    .yui-dt-bd table {
        border-spacing: 0;
        border-collapse: separate;
    }

    div.description {
        width: 380px;
        margin-left: 0;
        margin-right: 0;
    }

    .yui-dt-hd table tr,
    .yui-dt-bd table tr {
        cursor: pointer;
    }

    .yui-dt-bd {
        color: #333333;

        .yui-dt-odd {
            background-color: #f0f0f0;
        }

        .yui-dt-even {
            background-color: #ffffff;
        }

        tr.yui-dt-odd {
            td.yui-dt-asc,
            td.yui-dt-desc {
                background-color: #e1f1f2;
            }
        }

        tr.yui-dt-even {
            td.yui-dt-asc,
            td.yui-dt-desc {
                background-color: #f0faff;
            }
        }

        /* Make sure this has enough specificity to override the sort colors above. */
        tr.yui-dt-rec.yui-dt-selected td {
            background-color: #c0ffc0;
        }
    }

    .yui-dt {
        max-width: 439px;
    }

    .yui-dt ul {
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
    }

    .yui-dt-col-id {
        cursor: default;
        text-align: center;
    }

    .yui-dt-col-domains,
    .yui-dt-col-domains div,
    .yui-dt-col-issuerorganizationName,
    .yui-dt-col-issuerorganizationName div,
    .yui-dt-col-not_after,
    .yui-dt-col-not_after div,
    .yui-dt-col-friendly_name,
    .yui-dt-col-friendly_name div {
        overflow: hidden;
    }

    input[type="radio"] {
        margin: 3px;
    }

    label {
        margin-bottom: 5px;
    }

    select {
        margin-bottom: 10px;
    }

    div.sortable {
        border: none;

        table {
            border: 1px solid #cccccc;
            border-top: 0;
        }

        .yui-dt-hd table {
            border-bottom: 0;
        }

        .yui-dt-bd table {
            border-right: 0;
        }

        /* ScrollingDataTable adds a 1px border to the right of the <th> cells. */
        /* This compensates so the table borders still line up. */
        .yui-dt-bd table td.yui-dt-last div {
            padding-right: 1px;
        }
    }

    .yui-dt-message td {
        border: 1px solid #cccccc;
    }

    option.self {
        font-weight: bold;
    }

    .yui-dt-hd {
        th.yui-dt-asc .yui-dt-liner,
        th.yui-dt-desc .yui-dt-liner {
            padding-bottom: 5px;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        th.yui-dt-asc .yui-dt-liner {
            background-image: url(/cjt/images/dt-arrow-up.png);
        }

        th.yui-dt-desc .yui-dt-liner {
            background-image: url(/cjt/images/dt-arrow-dn.png);
        }
    }

    /* Seems to be necessary for IE, or :active has an ugly gray background. */
    th a:active {
        background-color: transparent;
    }
}

#certlist {
    padding-bottom: 0;
    padding-top: 0;
}

.success-popup {
    max-height: 250px;
    max-width: 400px;
    overflow: auto;
    color: #40473e;
    outline-color: #d8e1ce;
    background: none no-repeat scroll 0 0 transparent;
    background-image: url(/images/success.png);
    background-size: 19px 19px;
}

html[dir="ltr"] .success-popup {
    padding-left: 50px;
    padding-right: 5px;
    background-position: 10px center;
}
html[dir="rtl"] .success-popup {
    padding-left: 5px;
    padding-right: 50px;
    background-position: 97% 45%;
    background-position: right 10px center;
}

/* Forgotten (?) in YUI foundational CSS .. ? */
th.yui-dt-hidden,
td.yui-dt-hidden {
    display: none;
}
