html[dir=ltr] .ssl-table-area .yui-dt tbody.yui-dt-data td.yui-dt-last {
    border-right: none;
}
html[dir=rtl] .ssl-table-area .yui-dt tbody.yui-dt-data td.yui-dt-last {
    border-left: none;
}

.ssl-table-area {
    .yui-dt {
        display: inline-block;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        thead {
            th.yui-dt-asc .yui-dt-liner {
                background-image: url("/cjt/images/dt-arrow-up.png");
            }
            th.yui-dt-desc .yui-dt-liner {
                background-image: url("/cjt/images/dt-arrow-dn.png");
            }

            th a.yui-dt-sortable {
                padding: 0; /* cancel from combined-optimized.css */
            }

            th.yui-dt-asc .yui-dt-liner,
            th.yui-dt-desc .yui-dt-liner {
                background-position: center bottom;
                background-repeat: no-repeat;
                padding-bottom: 5px;
            }
        }

        td.yui-dt-col-docroot .yui-dt-liner {
            word-wrap: break-word;
        }

        & > table > thead th,
        tbody.yui-dt-data > tr > td {
            padding: 4px;
        }

        & > table {
            border-collapse: separate;
            border-spacing: 0;

            & > thead th {
                border-top: none;
                border-bottom: 1px solid #ccc;
            }
        }

        tbody.yui-dt-data {
            & > tr > td {
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }

            tr.yui-dt-last + tr.yui-dt-expansion > td {
                border-top: 1px solid #ccc;
                border-bottom: none;
            }

            & > tr.yui-dt-last > td {
                border-bottom: none;
            }

            & > tr.yui-dt-expansion > td,
            & > tr > td.yui-dt-last,
            tr.yui-dt-expansion > td {
                border-right: none;
            }

            tr.yui-dt-odd td {
                background-color: #f8f8f8;
            }
            tr td.yui-dt-asc,
            tr td.yui-dt-desc {
                background-color: #edf5ff;
            }
            tr.yui-dt-odd td.yui-dt-asc,
            tr.yui-dt-odd td.yui-dt-desc {
                background-color: #e2f0ff;
            }

            td.yui-dt-col-docroot,
            td.yui-dt-col-certificate_not_after {
                text-align: center;
            }

            tr.yui-dt-rec td {
                vertical-align: top;
            }

            .content-note {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                cursor: help;

                &.error {
                    background-image: url(/cjt/images/icons/error.png)
                }

                &.warning {
                    background-image: url(/cjt/images/icons/warning.png)
                }
            }
        }

        ul {
            list-style: none;
        }
        ul.elided-list {
            padding-left: 0;

            &.domain-list {
                margin-bottom: 0;
            }
        }

        li.working {
            font-weight: bold;

            i {
                color: green;
            }
        }

        li.not-working i {
            color: red;
        }

        .link-spacer {
            display: block;
            height: 0.5em;
            width: 1.5em;
        }
    }
}

/* Forgotten (?) in YUI foundational CSS .. ? */
th.yui-dt-hidden,
td.yui-dt-hidden {
    display: none;
}
