/**
# cpanel - base/sharedcss/zone_editor.less         Copyright 2022 cPanel, L.L.C.
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited
*/

#emailRoutingConfigLink {
    padding: 0;
}

.dropdown-menu-right,
html[dir="rtl"] .dropdown-menu-left {
    right: 0;
    left: auto;
}

.dropdown-menu-left,
html[dir="rtl"] .dropdown-menu-right {
    left: 0;
    right: auto;
}

.actionBtn {
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

html[dir="rtl"] .actionBtn {
    text-align: right;
}

.actionBtn:hover {
    background: #eee;
}

.actionBtn.disabled {
    color: #999999;
    border: none;
    cursor: not-allowed;
    background: none;
}
