/* CSS Document */
/* Make IE text scaleable*/
body,
p,
.help,
.descriptions,
.description,
#cpaddoncategory{
   /*font-size: 92%;10px*/
}
.body-content h1{
	/*font-size:100%;13px*/
}
.details,
#cpaddonname,
.output,
.formtbl,
.sortable,
.sortable caption,
.sortable th,
.sortable th a,
.sortable th a:active,
.sortable th a:visited,
.error,
.errortext{
   /*font-size:100%;13px*/
}
h2{
	height:20px;
}
#whats-new{
	margin-bottom:7px;
	margin-top:6px;
	margin:0;
	padding:0;
}
#mail, #advanced, #domains, #db, #logs, #files, #sec, #software, #pref,#mail-body, #advanced-body,
#domains-body, #db-body, #logs-body, #files-body, #sec-body, #software-body, #pref-body{
	margin:0;
	padding:0;
	/*border:1px dashed #009933;*/
}
.errortext{
	background-color:#FF0000;
	color:#FFFFFF;
	font-family:Arial, sans-serif;
	font-size:100%;
	padding:5px;
}

#content-stats{
	height:799px;
}
#stats table, #stats td, #stats tr{
	font:10px Verdana, sans-serif;
}
#boxes .item{
	padding:0;
	float:left;
	width:60px;
	height:68px;
	margin:0px 4px;
}
#boxes{
	margin-top:-9px;
}
.celldrop {
	height:1px;
	line-height:9px;
}
.cellbox{
	mar
}
/* ==== Reset IE6 browser styles ==== */

* html body {font-size:small;font:x-small;}
* html pre, code {font-size:100%;}
* html .clear {height: 0.01%; overflow: visible;}

/* ==== Custom IE6 + IE7 styles ==== */

* html .container, #content {height: 0.01%; overflow: visible;}
