.searchbox {
    background-color:#CFCFCF;
border:1px solid #AAAAAA;
       font-family:Verdana,Arial,helvetica,sans-serif;
       font-size:12px;
       font-weight:normal;
}
.searchshow {

}
.searchhide {
    display:none;
}
.smalltext {
    font-size: 9px;
}
.jumptext {
    font-size:11px;
}
.smalltext a {
    background-color: #dddddd;
border: 1px #aaa outset;
}

