/* Begin Legacy CSS */

.sortable .clickable {
cursor:pointer;
cursor:hand;
}

.greenstatus{
        color:#009900;
}
.doctitle {
        font-size:14px;
        text-align:center;
        font-weight: bold;
        color: #000000;
	padding-top:7px;
}
.layouttblstatus
{
        padding:20px;
        align:center;
	 backgound-color: #DDDDDD
}
.statuscelltext{
        align:right;
}
.statuscellbutton{
        align:left;
	font-size:11px;
}
.dialogheader {
   border-top: 2px #D4E4E8 solid;
   border-left: 2px #D4E4E8 solid;
   border-right: 2px #D4E4E8 solid;
   border-bottom: 2px #D4E4E8 solid;
   background-color: #C4D4D8;
   text-align: center;
   font-size: 11px;
   font-weight: bold;
   font-color: #000000;
   color: #000000;
   -moz-border-radius: 10px;
   -moz-background-clip: padding;
}
.dialogbg {
    background-color: #DFDFDF;
}
.dialogsubmit {
    background-color: #CCCCCC;
    text-align: center;
}
.tbl{
	font-size:12px;
}
.legendbg {
    background-color: #DDDDDD;
}
th {
    font-size: 13px;
}
.tablecomplex {
    background-color:#ffffff;
    /*border:2px #CCCCCC solid;*/
    text-align:center;
    margin: 0 auto;
}
.tablecomplex2 {
    text-align: center;
}
.tablecomplex th {
	font-size:12px;
}
.lightbg {
    background-color: #CCCCCC;
}
.mediumbg {
    background-color: #AAAAAA;
}
.heavybg {
    background-color: #DFDFDF;
}
.importanttext {
    font-color: #FF0000;
}
.tdredshade {
    background-color: #FF0000;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    font-size: 10px;
    font-weight: normal;
}
.b1, .b2, .b3 {
    font-size:11px;
    font-weight:bold;
}
.bu1 {
    font-weight:bold;
    text-decoration:underline;
}
.bu2 {
    font-weight:bold;
    text-decoration:underline;
}
.bu3 {
    font-weight:bold;
    text-decoration:underline;
}
.tableborder0, .tableborder0 td {
    border: 0px;
}
.tableborder1, .tableborder1 td {
    border: 1px solid #ccc;
}
.tableborder2, .tableborder2 td {
    border: 2px solid #ccc;
}
.tableborder3, .tableborder3 td {
    border: 3px solid #ccc;
}
.tableborder4, .tableborder4 td {
    border: 4px solid #ccc;
}
.layouttbldesc {
    padding:15px;
    width:300px;
}
table.tblheader{
   border-collapse:collapse;
}
tr.tblheader {
    background-color:#D0D0D0;
    border-bottom: 1px #ccc solid;
    font-weight: normal;
    color:#4C4C4C;
    padding:2px;
}
.tdshadeyellow {
   background-color: #FFFFAA;
   border-top: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshadered {
   background-color: #FFAAAA;
   border-top: 1px solid #CCCCCC;
   border-left: 1px solid #CCCCCC;
   border-right: 1px solid #CCCCCC;
   border-bottom: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshade1,.tdshade1_noborder {
   background-color: #fff;
   border: 1px solid #CCCCCC;
   font-weight: normal;
}

.tdshade2,.tdshade2_noborder {
   background-color: #f3f3f3;
   border: 1px solid #CCCCCC;
   font-weight: normal;
}
.tdshade1_noborder, .tdshade2_noborder {
    border: 0;
}
.invis {
   display: none;
}
.accept{
            background:url(/images/accept.gif) no-repeat;
width:16px;
height:16px;
}
.reject{
            background:url(/images/reject.gif) no-repeat;
width:16px;
height:16px;
}
.yui-panel .bd p.validation_msg, .panel .bd p.validation_msg, .validation_msg {
background:url(/images/reject.gif) no-repeat left top;
color:#FF0505;
      border-bottom:solid 1px #eee;
      font-weight:bold;
padding:0px 0 10px 20px;
}

/* End Legacy CSS */
